<?xml version="1.0" encoding="UTF-8"?>
{% load i18n %}
{% load miroutes_tags %}
<urlset
    xmlns="https://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:news="http://www.google.com/schemas/sitemap-news/0.9"
    xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">

{% spaceless %}
    {% for url in urlset %}
    <url>
        <loc>{{ url.location }}</loc>
        {% if url.lastmod %}<lastmod>{{ url.lastmod|date:"Y-m-d" }}</lastmod>{% endif %}
        {% if url.changefreq %}<changefreq>{{ url.changefreq }}</changefreq>{% endif %}
        {% if url.priority %}<priority>{{ url.priority }}</priority>{% endif %}
        {% if url.item.sitemap_images %}
            {% for img in url.item.sitemap_images %}
            <image:image>
            {% if img.url     %}<image:loc>{% absolute_url img.url %}</image:loc>{% endif %}
            {% if img.title   %}<image:title>{{ img.title }}</image:title>{% endif %}
            {% if img.caption %}<image:caption>{{ img.caption }}</image:caption>{% endif %}
            {% if img.geo_location %}<image:geo_location>{{ img.geo_location }}</image:geo_location>{% endif %}
            </image:image>
            {% endfor %}
        {% endif %}
        {% comment %}
        {% if url.item.news %}
            <news:news>
                {% if url.item.news.publication_date %}
                    <news:publication_date>{{ url.item.news.publication_date|date:"Y-m-d" }}</news:publication_date>
                {% endif %}
                {% if url.item.news.tags %}<news:keywords>{{ url.item.news.tags }}</news:keywords>{% endif %}
            </news:news>
        {% endif %}
        {% endcomment %}
    </url>
    {% endfor %}
{% endspaceless %}

</urlset>
