.zero-height {
  height: 0; }

.zero-width {
  width: 0; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.half-height {
  height: 50%; }

.almost-on-top {
  z-index: 9000; }

.on-top {
  z-index: 10000; }

.top-buffer-margin {
  margin-top: 1em; }

.top-buffer-margin-half {
  margin-top: .5em; }

.word-wrap-break-word {
  word-wrap: break-word; }

.cruxle-base-color {
  color: #34a81f; }

.hover-basecolor:hover {
  color: #34a81f; }

* {
  font-family: 'Montserrat', sans-serif; }

.grandstander-font {
  font-family: 'Grandstander-clean-font', sans-serif;
  text-rendering: optimizelegibility; }

html, body {
  height: 100%; }

.alert {
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  padding: 1px;
  padding-right: 35px; }

.alert-success {
  transition: visibility 0s 2s, opacity 2s linear; }

#greeter_container {
  text-align: center; }
  #greeter_container #greeter {
    display: inline-block;
    font-size: 3em; }
    #greeter_container #greeter #loading_spinner {
      opacity: 0;
      -webkit-transition: opacity 5s ease-in-out;
      -moz-transition: opacity 5s ease-in-out;
      -ms-transition: opacity 5s ease-in-out;
      -o-transition: opacity 5s ease-in-out;
      transition: opacity 5s ease-in-out; }

#check_update_reload {
  z-index: 95;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-size: 150%;
  background: #34a81f; }

#header {
  padding-top: 1ex;
  padding-bottom: 1ex;
  background-repeat: repeat-x;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #34a81f;
  /* ==== BURGER ==== */
  /* ==== user-menu ==== */ }
  #header .menu-cell {
    width: 2.5em; }
  #header .icon-line {
    height: 2.5em; }
  #header #header-logo-link {
    font-size: 2.5em;
    line-height: 0px;
    color: black;
    vertical-align: text-bottom; }
    #header #header-logo-link #logo {
      height: 2.5em; }
  #header #header-logo-link:hover {
    text-decoration: none; }
  #header #header-logo {
    padding: 0;
    text-align: center; }
  #header #header-icons {
    padding: 0; }
  #header #header_icon_search {
    height: 2.5em;
    vertical-align: middle;
    display: inline-block; }
    #header #header_icon_search #searchbutton-glyph {
      padding: 0; }
  #header #header_icon_login {
    vertical-align: middle;
    display: inline-block; }
  #header #header-burger {
    padding-right: 0; }
  #header #burgermenu-button {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer; }
  #header .hamburger-menu .dropdown-menu {
    z-index: 10000;
    width: 20em;
    max-width: 90vw; }
  #header .hamburger-menu {
    display: inline-block;
    height: 2.5em;
    width: 2.5em; }
    #header .hamburger-menu li {
      align-items: center; }
      #header .hamburger-menu li a.inactive {
        /* Make the disabled links grayish*/
        color: lightgray;
        /* And disable the pointer events */
        pointer-events: none; }
      #header .hamburger-menu li a {
        align-items: center;
        width: 100%;
        font-size: 125%; }
        #header .hamburger-menu li a div.left-col {
          width: 3em;
          float: left; }
          #header .hamburger-menu li a div.left-col img {
            height: 1.5em; }
  #header #login-menu {
    height: 2.5em;
    width: 2.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  #header .user-menu-button {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%; }
  #header #user-menu-message-badge {
    color: #1B8F06;
    position: absolute;
    right: -8px; }
  #header .user-menu-button:hover {
    opacity: 0.5; }
  #header #header-user-dropdown {
    width: 20em;
    max-width: 90vw;
    z-index: 10000; }
    #header #header-user-dropdown .login-social {
      padding: 0 1em; }
  #header .logout-entry {
    text-align: right; }
  #header .dropdown-menu > li.logout-entry > a {
    font-weight: bold; }
  #header #header-edit-pane {
    background-color: #1B8F06;
    border-radius: 0.5em;
    height: 2.5em; }
    #header #header-edit-pane #edit_pane #nav-logo {
      float: left;
      padding: 0 .5em;
      max-width: 50%;
      height: 2.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #header #header-edit-pane #edit_pane #nav-items {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #header #header-edit-pane #edit_pane #nav-items li {
        float: left; }
        #header #header-edit-pane #edit_pane #nav-items li a {
          display: inline-block;
          padding-top: 0.7em;
          padding-left: 0.5em;
          padding-right: 0.5em;
          padding-bottom: 0.5em;
          color: black; }
      #header #header-edit-pane #edit_pane #nav-items li.active {
        background-color: #34a81f; }
      #header #header-edit-pane #edit_pane #nav-items li.disabled a {
        color: lightgray;
        pointer-events: none; }
    #header #header-edit-pane #edit_pane #nav-dropdown a {
      display: inline-block;
      padding: 0.5em;
      color: black;
      text-decoration: none; }
  #header .btn-mitopo {
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    vertical-align: middle;
    color: #1B8F06;
    text-decoration: none; }
    #header .btn-mitopo span {
      line-height: inherit;
      font-size: 2.2em; }

.btn-mitopo:hover {
  color: #34a81f; }

.btn-sq-lg {
  width: 9em;
  margin: .2em; }

#base-container {
  height: calc(100% - 2.5em - 2*1ex - 2px);
  height: -webkit-calc(100% - 2.5em - 2*1ex - 2px);
  overflow: auto; }

.leaflet_map {
  padding: 1px; }
  .leaflet_map .leaflet-left {
    left: 20px; }

#slideoutwrapper {
  overflow: hidden;
  position: relative;
  height: 100%; }
  #slideoutwrapper #slideout {
    overflow: auto;
    height: 100%;
    max-height: 100%;
    padding-right: 1.2em; }
  #slideoutwrapper #slideout-toggle-area {
    background-color: #34a81f;
    width: 1.2em;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0; }
    #slideoutwrapper #slideout-toggle-area #slideout-toggle-button {
      position: absolute;
      top: 40%;
      right: .25em;
      width: .65em;
      color: black;
      transform: rotate(90deg) scale(5, 1);
      -webkit-transform: rotate(90deg) scale(5, 1);
      /* Safari and Chrome */
      -moz-transform: rotate(90deg) scale(5, 1);
      /* Firefox */
      -ms-transform: rotate(90deg) scale(5, 1);
      /* IE 9+ */
      -o-transform: rotate(90deg) scale(5, 1);
      /* Opera */ }
  #slideoutwrapper #slideout-toggle-area:hover {
    background-color: #1B8F06; }

.slideout-open {
  padding-right: 1.2em; }

.slideout-hidden {
  top: calc(2.5em + 2*1ex + 2px );
  height: calc(100% - 2.5em - 2*1ex - 2px) !important;
  width: 1.2em; }
  .slideout-hidden #slideout {
    display: none; }

/* search */
#search-wrapper .search-dropdown {
  max-width: 85vw; }
#search-wrapper .pre-scrollable {
  width: 600px;
  max-width: 100%;
  overflow: auto; }

#wall_detail_map {
  background: none; }

.tick-button, .comment-button {
  background: none;
  padding: 0px; }

#routetable th, #routetable td {
  padding-left: 3px;
  padding-right: 3px; }
#routetable tr {
  cursor: pointer; }
#routetable tr.row-highlight {
  background-color: #34a81f; }
#routetable .route-row-details {
  border-left: 0.5em solid #1B8F06; }
#routetable .routelist-gradefield {
  white-space: nowrap; }
#routetable .context-menu {
  display: none;
  position: absolute;
  background: #34a81f; }

.leaflet-div-icon {
  background: #fff;
  text-align: center;
  border: 1px solid #666;
  border-radius: 10px; }

.leaflet-interactive.active-active {
  background-color: #34a81f; }

.text-marker-text {
  background-color: #fff; }

.text-marker {
  background-color: #fff;
  border-radius: 5px;
  padding: 2px; }

.route-label, .route-label-highlight {
  line-height: 1.1;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 2px; }

.route-label-highlight {
  padding: 0px;
  font-size: large; }

.route-label-grade {
  border-top: 1px gray solid; }

.wall-info #small_map {
  height: 20em;
  max-height: 80%; }
.wall-info .sun-table td {
  padding: 5px;
  text-align: center; }
.wall-info .wall-sun-img {
  height: 40px;
  border-radius: 10px; }
.wall-info .wall-info-img {
  height: 40px;
  border-radius: 10px; }
.wall-info .approach-text {
  margin: 5px; }

.leaflet-control-container #leaflet-polyline-edit-confirm {
  background-color: #34a81f;
  height: 34px;
  width: 34px; }
  .leaflet-control-container #leaflet-polyline-edit-confirm span {
    vertical-align: middle; }
.leaflet-control-container #leaflet-polyline-edit-cancel {
  height: 34px;
  width: 34px; }
  .leaflet-control-container #leaflet-polyline-edit-cancel span {
    vertical-align: middle; }

.leaflet-draw-tooltip .leaflet-draw-tooltip-subtext {
  display: none; }

#help-modal .help-icon {
  font-size: large;
  color: #1B8F06;
  text-align: right;
  padding: .2em; }

#link-routes-table_wrapper div#link-routes-table_processing {
  top: 80%; }

.leaflet-container {
  z-index: 1;
  background: none; }

.route-info-img {
  height: 25px;
  vertical-align: top; }

tr.flagged-deprecated {
  background-color: red; }

div.wall-flagged-deprecated {
  margin: .5em 0;
  background-color: red;
  font-weight: bold; }

.route-grade-icon {
  color: #ff9835; }

#bs-grade-slider {
  margin-top: 40px; }

#bs-grade-slider.slider-disabled .slider-selection {
  background: lightgray; }
#bs-grade-slider.slider-disabled .slider-handle {
  background: lightgray; }
#bs-grade-slider.slider-disabled .tooltip {
  display: none; }

.mitopo-icon {
  height: 25px;
  font-size: 1.5em; }

.decorate-icon {
  background-color: #fff; }

.decorate-buttonsbar {
  width: 200px;
  max-width: 25vw; }
  .decorate-buttonsbar .decorate-icon {
    max-width: 100%; }
    .decorate-buttonsbar .decorate-icon span {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

#route-form-container .small-form-fields div {
  padding-bottom: 5px; }
#route-form-container .small-form-fields #id_name {
  width: 12em; }
#route-form-container .small-form-fields #id_style {
  width: 10em; }
#route-form-container .small-form-fields #id_grade_choices {
  width: 8em; }
#route-form-container .small-form-fields #id_linecolor {
  width: 3em; }

/* hide sorting icons on wall_detail routetable */
#routetable th.sorting:after,
#routetable th.sorting_asc:after,
#routetable th.sorting_desc:after {
  content: none !important; }

/* hide sorting icons on wall_detail routetable */
#marker-toolbox {
  background-color: whitesmoke;
  padding: 5px; }

.draw_route_tool_img {
  cursor: pointer;
  color: black; }

.large-modal-dialog {
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 0; }

.large-modal-content {
  height: 100%;
  border-radius: 0; }

#geom-carousel .snapshot-carousel-indicators {
  bottom: 0;
  left: 0;
  width: auto;
  margin-left: 0;
  position: relative;
  display: inline; }
  #geom-carousel .snapshot-carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #1B8F06; }
  #geom-carousel .snapshot-carousel-indicators li.snapshot {
    border-color: #1B8F06; }
#geom-carousel .routeinfo-route-thumb {
  margin: 0 auto;
  border-radius: 1em; }
#geom-carousel .snapshot-carousel-control {
  color: #1B8F06; }

#inbox-container .thread-rule {
  border-top: 5px solid #1B8F06;
  cursor: pointer;
  margin: .1em;
  display: block;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  padding: 10px 18px;
  vertical-align: top; }
  #inbox-container .thread-rule td {
    border-top: none; }
#inbox-container .thread-rule:hover {
  background-color: #34a81f; }
#inbox-container .thread-msg {
  border-left: 0.5em solid #1B8F06;
  display: block;
  background-color: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  padding: 10px 18px;
  vertical-align: top;
  margin: .75em; }
  #inbox-container .thread-msg td {
    border-top: none; }
#inbox-container .thread-msg-details {
  color: grey; }
#inbox-container .thread-msg-body {
  white-space: pre-line; }
#inbox-container .unread-thread {
  background-color: #34a81f; }
  #inbox-container .unread-thread h5 {
    font-weight: bold; }
#inbox-container .thread-party-thumb {
  text-align: center; }
  #inbox-container .thread-party-thumb img {
    border-radius: 50%; }
#inbox-container .thread-highlighted-msg {
  background-color: #dcf8c7; }

/* ==== LOADER ==== */
.loader, .overlay-loader {
  border: 0.2em solid #f3f3f3;
  /* Light grey */
  border-top: 0.2em solid #8c8c8c;
  /* Blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto; }

.loader-inline {
  border: 0.1em solid #f3f3f3;
  /* Light grey */
  border-top: 0.1em solid #8c8c8c;
  /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  display: inline-block; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Overlay that I put on the popup div when user clicks on a link*/
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.overlay-loader {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 33%;
  left: 33%; }

img.profile-avatar {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 2em;
  padding: 1em; }

#dev_wallmap, #pub_wallmap {
  background: none;
  padding: 0.1px; }

.publish-wall-label-box {
  height: 0;
  font-size: 120%;
  position: relative;
  text-align: center;
  top: 2em;
  z-index: 1000; }

#link-materials .placeholder {
  border: solid 1px #1B8F06;
  border-radius: .2em;
  padding: .5em; }
#link-materials .material_card {
  word-wrap: break-word; }

#wall_detail_navs li {
  width: 20%; }
  #wall_detail_navs li a {
    padding: 5px 5px; }

.fade_wall_loader {
  opacity: 0;
  -webkit-transition: opacity 15s ease-in;
  -moz-transition: opacity 15s ease-in;
  -ms-transition: opacity 15s ease-in;
  -o-transition: opacity 15s ease-in;
  transition: opacity 15s ease-in; }

.weather_table_daily_tr {
  cursor: pointer; }

.weather-icon {
  height: 3em;
  overflow: hidden;
  margin: -1em; }

.mintemp {
  color: blue; }

.maxtemp {
  color: red; }

.mitopo-qr-code-container {
  display: inline-block;
  position: relative;
  width: 20em;
  height: 20em; }
  .mitopo-qr-code-container .mitopo-qr-code {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .mitopo-qr-code-container .mitopo-qr-logo {
    position: absolute;
    left: 25%;
    top: 35%;
    z-index: 1;
    width: 50%; }

#about-page #about-page-heading .mitopo-qr-code-container {
  width: 8em;
  height: 8em;
  display: inline-block;
  vertical-align: middle; }
#about-page .about-content .faces .about-person-entry {
  margin-top: 2em; }
  #about-page .about-content .faces .about-person-entry .blockquote-reverse {
    font-size: inherit;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
  #about-page .about-content .faces .about-person-entry img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; }
#about-page .polaroid-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 30px; }
  #about-page .polaroid-container .polaroid-img {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5); }
    #about-page .polaroid-container .polaroid-img img {
      width: 100%; }

.wide_popover_container .popover {
  max-width: 80%; }

#panostitcher-status-div .panel {
  margin-bottom: 5px; }
#panostitcher-status-div .panel-heading {
  padding-top: 3px;
  padding-bottom: 3px; }
  #panostitcher-status-div .panel-heading .check_broebbler, #panostitcher-status-div .panel-heading .alert_broebbler {
    padding-left: 1em; }

.comment-box {
  width: 400px;
  max-width: 90%; }

div.comment-delete {
  display: inline-block;
  font-size: 80%; }

ul.commentlist {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.commentlist li {
    margin-top: 2ex; }
    ul.commentlist li .comment-userprofile-area {
      word-wrap: break-word;
      text-overflow: ellipsis;
      font-size: small; }
    ul.commentlist li .comment-date-header-area {
      font-size: xx-small; }
      ul.commentlist li .comment-date-header-area .comment-delete {
        font-size: medium; }
    ul.commentlist li img.comment-avatar {
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      float: left; }
    ul.commentlist li .comment-textarea {
      white-space: pre-wrap; }

#ascents-container #no-ascents-message {
  padding: 1em; }

ul.timeline-itemlist {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.timeline-itemlist li.timeline-item {
    padding-bottom: 1em;
    border-left: solid #34a81f 1px;
    min-height: 5em; }
    ul.timeline-itemlist li.timeline-item .timeline-version-li {
      list-style: none;
      white-space: nowrap; }
    ul.timeline-itemlist li.timeline-item .timeline-version-icon {
      height: 1.5em; }
    ul.timeline-itemlist li.timeline-item .timeline-item-avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%; }
    ul.timeline-itemlist li.timeline-item .timeline-item-user {
      margin-left: 0.5em;
      margin-right: 0.5em;
      float: left; }
    ul.timeline-itemlist li.timeline-item .timeline-item-text {
      margin-left: calc(40px + 1em); }
      ul.timeline-itemlist li.timeline-item .timeline-item-text ul {
        list-style: none;
        margin: 0;
        padding: 0; }
    ul.timeline-itemlist li.timeline-item .timeline-item-head {
      color: #1B8F06;
      display: inline-block;
      border-bottom: solid #34a81f 1px; }
      ul.timeline-itemlist li.timeline-item .timeline-item-head :after {
        display: block; }
      ul.timeline-itemlist li.timeline-item .timeline-item-head .timeline-item-date {
        padding-left: 0.5em; }

.star-full {
  color: #ffcc00; }

.star-stack .star-full {
  position: relative;
  left: -1.15em;
  margin-right: -1.15em; }

.star-empty {
  color: #a5a5a5; }

.rating-number {
  font-weight: bold; }

.star-rating-td {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.news-entry {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px solid #34a81f;
  border-radius: 15px; }
  .news-entry .news-user-thumb {
    border-radius: 50%;
    height: 30px;
    width: 30px; }
  .news-entry h1 {
    display: inline;
    font-size: 150%; }

#load-more, #news-spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15em; }

.news-load-more-section {
  margin-top: 3em;
  margin-bottom: 4em; }

.userpic-panel {
  height: 100%;
  overflow-x: hidden; }
  .userpic-panel div.userpic-entry {
    margin: .5em 0; }
  .userpic-panel img.userpic-avatar {
    width: 2em;
    height: 2em; }
  .userpic-panel div.userpic-desc {
    margin: .5em 0; }

.add-picture-button {
  width: 3em;
  height: 3em;
  text-align: center;
  padding: .8em 0;
  margin: 10px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px #666;
  z-index: 1; }

div.userpic-nav-control {
  margin: 0 auto;
  width: 15em; }

#activityfeed_content .feed_entry {
  margin-bottom: 1em;
  margin-top: 1em; }
  #activityfeed_content .feed_entry img {
    width: 50px; }
  #activityfeed_content .feed_entry img.sub_img {
    width: 30px; }

.clickable-row {
  cursor: pointer; }

#wallmap_export_map {
  width: 600px;
  height: 300px; }
  #wallmap_export_map .leaflet-control-attribution,
  #wallmap_export_map .leaflet-bar-part,
  #wallmap_export_map .leaflet-control-zoom-in,
  #wallmap_export_map .leaflet-control-zoom-out,
  #wallmap_export_map .leaflet-control-layers {
    display: none; }

.leaflet-popup {
  min-width: 18em;
  max-width: 70vw;
  margin: 3; }
  .leaflet-popup .popup-heading {
    background: #34a81f;
    font-size: 150%;
    vertical-align: middle;
    max-width: 65vw;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */ }
  .leaflet-popup .leaflet-popup-close-button {
    display: none; }
  .leaflet-popup .popup-content .row, .leaflet-popup .popup-content #pic, .leaflet-popup .popup-content #graph, .leaflet-popup .popup-content #content {
    margin: 0;
    padding: 0; }
  .leaflet-popup .popup-content #pic {
    text-align: center; }
    .leaflet-popup .popup-content #pic img {
      max-width: 20em;
      max-height: 8em;
      margin-bottom: 1em; }
  .leaflet-popup .wall_route_hist {
    width: 16em;
    height: 8em;
    max-width: 70vw; }

.popup-heading-wrapper {
  padding-top: 0.3em;
  padding-bottom: 0.5em; }
  .popup-heading-wrapper a.popup-heading {
    color: #000000; }

.leaflet-popup-content-wrapper {
  border-radius: 0;
  box-shadow: none;
  border: solid 5px rgba(0, 0, 0, 0.1);
  background-clip: padding-box; }
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0; }

.contactform-outer-wrapper .contactform-wrapper {
  display: inline-block; }
  .contactform-outer-wrapper .contactform-wrapper .sent-success {
    margin-top: 10em;
    font-size: 150%; }
.contactform-outer-wrapper .contactform input, .contactform-outer-wrapper .contactform textarea {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

a.paginate_button, a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer; }

a.paginate_button:hover {
  background-color: #34a81f; }

a.paginate_button.current {
  background-color: #34a81f; }

#ascent_sunburst_chart .nvd3 text {
  pointer-events: none;
  white-space: pre; }

#ascent_sunburst_chart .nvd3 .arc-container {
  cursor: pointer; }

.wall_route_hist .nvd3 .nv-axis line {
  display: none; }

#pdf-base-container .mitopo-qr-code-container {
  width: calc(2*(2.5em + 2*1ex + 2px));
  height: calc(2*(2.5em + 2*1ex + 2px)); }
#pdf-base-container .mitopo-icon {
  height: 1.1em; }
#pdf-base-container .wall-route-hist {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
#pdf-base-container .stay_together {
  page-break-inside: avoid;
  -webkit-region-break-inside: avoid; }
#pdf-base-container .page_break_before {
  page-break-before: always;
  -webkit-region-break-before: always; }
#pdf-base-container .page_break_after {
  page-break-after: always;
  -webkit-region-break-after: always; }

.license-chooser-must-be-checked {
  font-style: italic; }

/* FONT */
@font-face {
  font-family: 'mitopo-font';
  src: url("../fonts/mitopo-font.eot?rg00ro#iefix") format("embedded-opentype"), url("../fonts/mitopo-font.ttf?rg00ro") format("truetype"), url("../fonts/mitopo-font.woff?rg00ro") format("woff"), url("../fonts/mitopo-font.svg?rg00ro#mitopo-font") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="mitopo-"], [class*=" mitopo-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'mitopo-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mitopo-wall:before {
  content: "\e900"; }

.mitopo-icon:before {
  content: "\e901"; }

.mitopo-hamburger:before {
  content: "\e902"; }

.mitopo-route:before {
  content: "\e903"; }

@font-face {
  font-family: 'Grandstander-clean-font';
  src: url("../fonts/Grandstander-clean.otf?rg00ro") format("otf"), url("../fonts/Grandstander-clean.ttf?rg00ro") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=styles.css.map */
