{% extends "base.html" %}

{% load i18n %}

{% block title %}
    cruxle.org - Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
{% endblock %}

{% block content %}

    <div class="license col-xs-12 col-sm-10 col-lg-9">

        <h1>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</h1>

        {% trans 'licenses.cc-by-nc-sa-4.fulltext' %}

        <div>

{% endblock %}