{% extends "base.html" %}

{% load i18n %}

{% block title %}
    cruxle.org - Cruxle Contribution License (CCL)
{% endblock %}

{% block content %}
    <div class="license col-xs-12 col-sm-10 col-lg-9">

        <h1>Cruxle Contribution License (CCL)</h1>

        {% trans 'licenses.ccl.fulltext' %}

    </div>
{% endblock %}