{% load i18n %}

<p>
{% trans 'Over the years there have been so many people who contributed to the success of this page that it seems impossible to name all of you.' %}
<br>
{% trans 'A special thanks goes to Adrian Jaeschke for his contributions to the page design.' %}
<br>
{% trans "Last but not least, we would like to express our special gratitude to the relentless input and testing of" %}
<ul>
  <em>Berni, Albert & Hannah, Knalltöle, Hans, Diana, Tobi, Christina!</em>
</ul>
</p>

<hr>
<p>
{% trans 'This website makes extensive use of the following opensource projects:' %}

<ul>
    <li><a href="https://www.djangoproject.com/">Django</a> - is a high-level Python Web framework.</li>
    <li><a href="https://www.openstreetmap.org">OpenStreetMap</a> - has by far the most up to date informations on local paths and pretty much about anything. A testiment that collaborative community projects can thrive!</li>
    <li><a href="http://getbootstrap.com">Bootstrap</a> - popular front-end framework for responsive, mobile first projects.</li>
    <li><a href="https://github.com/Leaflet/Leaflet">leaflet</a> - for interactive maps and we also use it navigate giga pixel panoramas</li>
    <li><a href="https://github.com/Leaflet/Leaflet.markercluster">Leaflet.Markercluster</a> - Marker Clustering plugin for Leaflet. Good if you want to show a lot of markers on a map.</li>
    <li>And some more libraries: Jquery, Datatables, Nvd3, Leaflet.Locatecontrol, Leaflet.EasyButton, Croppie, montserrat-webfont</li>

    {% comment %}
    <li><a href="https://github.com/carhartl/jquery-cookie">jquery.cookie</a> () -</li>
    <li><a href="https://datatables.net">datatables.net-bs</a> (MIT) - DataTables for jQuery with styling for
        [Bootstrap](http://getbootstrap.com/)
    </li>
    <li><a href="https://github.com/Leaflet/Leaflet.draw">leaflet-draw</a> (MIT) - Vector drawing plugin for Leaflet
    </li>
    <li><a href="https://github.com/Foliotek/Croppie">Croppie</a> (MIT) - A javascript image cropper</li>
    <li><a href="https://github.com/guillaumepotier/Parsley.js">parsleyjs</a> (MIT) -</li>
    <li><a href="https://github.com/skounis/montserrat-webfont">montserrat-webfont</a> ([u'OFL-1.1', u'MIT']) -
        Montserrat Webfont Bower Package
    </li>
    <li><a href="https://datatables.net">datatables.net</a> (MIT) - DataTables for jQuery</li>
    <li><a href="http://getbootstrap.com">bootstrap</a> (MIT) - The most popular front-end framework for developing
        responsive, mobile first projects on the web.
    </li>
    <li><a href="https://github.com/Leaflet/Leaflet.markercluster">leaflet.markercluster</a> (MIT) - Marker Clustering
        plugin for Leaflet.
    </li>
    <li><a href="https://github.com/ericturpin/turfjs">turfjs</a> (MIT) -</li>
    <li><a href="http://www.nvd3.org">nvd3</a> (Apache-2.0) - Re-usable charts and chart components for d3.</li>
    <li><a href="https://github.com/seiyria/bootstrap-slider">seiyria-bootstrap-slider</a> (MIT) - a slider element for
        bootstrap 2/3
    </li>
    <li><a href="https://github.com/Leaflet/Leaflet">leaflet</a> (BSD-2-Clause) - JavaScript library for mobile-friendly
        interactive maps
    </li>
    <li><a href="https://github.com/domoritz/leaflet-locatecontrol">leaflet.locatecontrol</a> (MIT) - A useful control
        to geolocate the user with many options. Used by osm.org and mapbox among many others.
    </li>
    <li><a href="https://github.com/stones/bower-pt-sans">bower-pt-sans</a> (DBYD) - The Paratype PT sans font webkit
    </li>
    <li><a href="https://github.com/CliffCloud/Leaflet.EasyButtons">Leaflet.EasyButton</a> (MIT) - Easily add Font
        Awesome control buttons to Leaflet maps with attached callbacks
    </li>
    <li><a href="https://github.com/components/jqueryui">jquery-ui</a> (MIT) -</li>
    <li><a href="https://github.com/components/font-awesome">components-font-awesome</a> ([u'MIT', u'OFL-1.1']) - Font
        Awesome, the iconic font designed for use with Twitter Bootstrap.
    </li>
    <li><a href="https://github.com/ivaynberg/select2">select2</a> () - Select2 is a jQuery based replacement for select
        boxes. It supports searching, remote data sets, and infinite scrolling of results.
    </li>
    <li><a href="https://github.com/jquery-form/form">jquery-form</a> ((MIT OR LGPL-3.0)) - The jQuery Form Plugin
        allows you to easily and unobtrusively upgrade HTML forms to use AJAX.
    </li>
    {% endcomment %}
</ul>
</p>
