{% extends "base_edit.html" %}
{% load static %}

{% load i18n %}

{% load edit_spot_tags %}

{% block title %}
{% trans "cruxle.org - Decorate the Wall" %}
{% endblock %}

{% block extra_assets %}
    {% include "leaflet_base.html" %}
{% endblock %}

{% block overwrite_styles %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}" />
{% endblock %}


{% block content %}
  <div id='wallmap' class="leaflet_map full-height"></div>
  <script>
      $(function () {
        open_slideout();
        rtool = new RoutesTool();
      });

    function map_init(mapdiv_id) {
        window.map = wallmap_init_base(mapdiv_id, function(map){
            $(document).on("mitopo_layout_change", function(event) {
                map.invalidateSize();
            });

            var layerctrl = L.control.layers().addTo(map);

            var url = "{% url "miroutes:rest-route-list" %}?wallview={{ wallview.pk }}";

            $("#table-spinner").show();
            rtool.fetchAndDraw(url, map).then(function (){

                var $plainTable = rtool.simple_routetable({
                    id: "routetable",
                    namecol: "{% trans "Name" %}",
                    gradecol: "{% trans "Grade" %}",
                    emptynote: "{% trans "No routes on wall." %}"
                });
                $("#routetable-container").append($plainTable);

                $("#table-spinner").hide();

                // remove interactivity from routes
                $.each(rtool.routes, function (num) {
                    var fgroup = rtool.routes[num].fg;
                    if(fgroup){
		        fgroup.getLayers().forEach(function(lyr){
			    $(lyr._path).removeClass("leaflet-interactive");
		        });
                    }

                    var label = rtool.routes[num].label;
                    if(label){
                        label.marker.options.interactive = false;
                    }

                });

                layerctrl.addOverlay(rtool.featureGroup, 'Route Geometries')
            });

            {% if simple_markers %}
            // Add simple markers (bolts, belays etc)
            {% for marker in simple_markers %}

            map.addLayer(
                create_marker_from_json(
                    unescape("{{ marker.marker_json_edit | safe | escapejs }}"),
                    {
                        populate_popup_callback: populate_simple_popup,
                    }
                )
            );
            {% endfor %}

            {% endif %}

            {% if relational_markers %}
            // Add link markers
            {% for marker in relational_markers %}

            map.addLayer(
                create_marker_from_json(
                    unescape("{{ marker.marker_json_edit | safe | escapejs }}"),
                    {
                        populate_popup_callback: populate_relational_popup,
                    }
                )
            );
            {% endfor %}

            {% endif %}

            {% if text_markers %}
            // Add text markers
            {% for marker in text_markers %}

            map.addLayer(
                create_marker_from_json(
                    unescape("{{ marker.marker_json_edit | safe | escapejs }}"),
                    {
                        populate_popup_callback: populate_text_popup,
                    }
                )
            );
            {% endfor %}

            {% endif %}

            $(map).on('zoomend', function () {
                rtool.fixZoom();
                fixZoomTextMarkerSize(map);
            });

            fixZoomTextMarkerSize(map);
            
        });

    }



    function populate_simple_popup(url, popup){
        var container = $('<div />').attr('id', 'popup-div');;

        container.load(url, function (text, statusText) {
            if (statusText === "success") {
                popup.setContent(container[0]);
                popup.update();

                var delete_button = $('#simple_marker_form .delete-button');
                delete_button.on('click', function(event){
                    event.preventDefault();

                    var deleteurl = delete_button.attr('data-url');
                    if(deleteurl){
                        $("#simple_marker_form").ajaxSubmit({
                            url: deleteurl,
                            type: 'post',
                            success: messageCallback,
                        });
                    }

                    var marker = popup._source;
                    marker.closePopup();
                    marker.removeFrom(map);
                });


            }
            else if(statusText === "error"){
                popup.setContent('Error loading '+url+' :'+text);
            }
        });

    }

    function populate_relational_popup(url, popup){
        var container = $('<div />').attr('id', 'popup-div');;
        container.load(url, function (text, statusText) {
            if (statusText === "success") {
                popup.setContent(container[0]);
                popup.update();

                ajax_load_form(
                    $('#relational_marker_form'),
                    url,
                    popup,
                    populate_relational_popup
                );

            }
            else if(statusText === "error"){
                popup.setContent('Error loading '+url+' :'+text);
            }
        });

    }

    function populate_text_popup(url, popup){
        var container = $('<div />').attr('id', 'popup-div');
        container.load(url, function (text, statusText) {
            if (statusText === "success") {
                // load popup content
                popup.setContent(container[0]);
                popup.update();
                eval($(".callback_js").text());

                ajax_load_form(
                    $('#text_marker_form'),
                    url,
                    popup,
                    populate_text_popup
                );
            }
            else if(statusText === "error"){
                popup.setContent('Error loading '+url+' :'+text);
            }
        });


    }

    function ajax_load_form(form, url, popup, caller){

        // set event handlers
        var submit_button = form.find('.submit-button');

        form.on('submit', function(event){
            event.preventDefault();

            var submiturl = submit_button.attr('data-url');

            //var latlngs = latlng_from_geom(form.find('input[name=geom]').attr('value'));
            var csrftoken = $.cookie('csrftoken');
            form.ajaxSubmit({
                url: submiturl,
                type: 'post',
                dataType: 'json',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response){
                    messageCallback(response);
                    response = JSON.parse(unescape(response));
                    if(response.success){
                        var new_marker = create_marker_from_json(
                            response.data,
                            {
                                populate_popup_callback: caller,
                            }
                        );
                        new_marker.addTo(map);
                        if(typeof(newly_created_marker) !== 'undefined'){
                            newly_created_marker.removeFrom(map);
                            delete newly_created_marker;
                        }
                        var marker = popup._source;
                        marker.closePopup();
                        marker.removeFrom(map);

                    }else{
                        var messagediv = form.find(".form-errors");
                        messagediv.html("");
                        $.each(response.data, function (field, value) {
                            messagediv.append("<b>"+field+"</b>: "+value);
                        });
                    }
                }
            });


        });

        var delete_button = form.find('.delete-button');

        delete_button.on('click', function(event){
            event.preventDefault();
            var deleteurl = delete_button.attr('data-url');
            if(deleteurl){
                form.ajaxSubmit({
                    url: deleteurl,
                    type: 'post',
                    success: messageCallback,
                });
            }
            var marker = popup._source;
            marker.closePopup();
            marker.removeFrom(map);
            if(typeof(newly_created_marker) !== 'undefined'){
                newly_created_marker.removeFrom(map);
                delete newly_created_marker;
            }
        });


    }

    function delete_newly_created_marker(){
        if(typeof(newly_created_marker) !== 'undefined'){
            // remove DOM objects. Otherwise the objects are still there
            // after deletion and the event handlers wont work
            $('#popup-div').remove();
            newly_created_marker.removeFrom(map);
            delete newly_created_marker;
        }
    }


    function toggle_locate_marker_relational(urlstring, icon_config_json){
        window.map.off('click');
        window.map.on('click', function (e) {
            delete_newly_created_marker();
            // add latlngs to the url so that we can pre-populate
            // the form with the coordinates
            var marker = create_marker_from_json(
                icon_config_json, {
                    point: e.latlng,
                    populate_popup_callback: populate_relational_popup,
                    popup_url: add_latlngs(urlstring, e.latlng) + "&wall_id={{ wallview.wall.id }}"
                }
            );

            marker.addTo(map);
            newly_created_marker = marker;

            marker.openPopup();

        });
        $('.leaflet-container').css('cursor','crosshair');

    }

    function toggle_locate_marker_text(urlstring, icon_config_json){
        window.map.off('click');
        window.map.on('click', function (e) {
            delete_newly_created_marker();

            var marker = create_marker_from_json(
                icon_config_json, {
                    point: e.latlng,
                    populate_popup_callback: populate_text_popup,
                    popup_url: add_latlngs(urlstring, e.latlng)
                }
            );

            marker.addTo(map);
            newly_created_marker = marker;

            marker.openPopup();

        });
        $('.leaflet-container').css('cursor','crosshair');

    }

    function toggle_none(){
        window.map.off('click');
        $('.leaflet-container').css('cursor','auto');
    }



    $(document).ready(function () {
        $("#radio-none").prop('checked', true);
        map_init('wallmap');


        $(".tool").on('click', function (){
            // get image
            var img = $(this).children("img");
            if(img.length){
                $("#toolbox-header").html("<b>{% trans "Toolbox" %} | {% trans "Selected: " %}</b>");
                img.clone().appendTo($("#toolbox-header"));
            }else{
                $("#toolbox-header").html("<b>{% trans "Toolbox" %}</b>");
            }
        });


        $('body').on('change', 'select.grade-system-selector', function (){
            /* Add a handler for the grade system select box on the popup for the pitch marker.
             This handler works although the DOM element is not present at definition time.
            */
            var checked_val = parseInt($(this).find(":checked").val());
            if(checked_val > 0){
                var lower = (checked_val - 1)*1000;
                var upper = checked_val*1000;

                $("#id_grade > option").each(function(){
                    var option_val = parseInt($(this).val());
                    if(option_val < lower || option_val >= upper){
                        $(this).hide();
                    }else{
                        $(this).show();
                    }
                });
            }else{
                // show all grades
                $("#id_grade > option").each(function(){
                    $(this).show();
                });
            }
        });


        /* Function to create Easybuttons for the decorate functionality */
        function gen_decorate_button(displayname, callback, icon_url) {
            var btn = L.easyButton({
                id: displayname,
                states:[{
                    stateName: 'default',
                    onClick: function(button, map){
                        callback();
                        //$("button.active-active").removeClass('active-active').addClass('default-active');
                        $.each(globalVars.allbuttons, function () {
                            this.state('default');
                        });
                        button.state('active');
                    },
                    title: displayname,
                    icon: '<img src="'+icon_url+'" class="mitopo-icon">' + displayname,
                },
                {
                    stateName: 'active',
                    onClick: function(button, map){
                        toggle_none();
                        button.state('default');
                    },
                    title: displayname,
                    icon: '<img src="'+icon_url+'" class="mitopo-icon">'+displayname,
                }]
            });
            return btn;
        };


        /* Function to create an Easybutton Bar (this groups them together) */
        function create_buttons_bar(buttons) {
            var ebar = L.easyBar(buttons, {
                id: 'buttonsbar',
                leafletClasses: false  // we dont use default classes, they are too narrow
            }).addTo(map);

            // instead, after we added the buttons, give it a css class to style them
            for (key in buttons) {
                buttons[key].getContainer().classList.add('decorate-icon');
            };
            ebar.getContainer().classList.add('decorate-buttonsbar');
        };


        /* Create simple markers toolbox */
        globalVars.allbuttons = [];
        var buttons = [];
        {% for marker in toolbox_simple %}
            buttons.push(gen_decorate_button(
                        '{{ marker.get_markertype_display }}',
                        function() { toggle_locate_marker('{{ marker.add_url }}',populate_simple_popup); },
                        '{{ marker.icon_url }}'));
        {% endfor %}
        create_buttons_bar(buttons);
        globalVars.allbuttons.push.apply(globalVars.allbuttons, buttons);


        /* Create relational markers toolbox */
        var buttons = [];
        {% for marker in toolbox_relational %}
            buttons.push(gen_decorate_button(
                        '{{ marker.get_markertype_display }}',
                        function() { toggle_locate_marker_relational('{{ marker.popup_add_url }}','{{ marker.marker_json | safe | escapejs }}'); },
                        '{{ marker.icon_url }}'));
        {% endfor %}
        create_buttons_bar(buttons);
        globalVars.allbuttons.push.apply(globalVars.allbuttons, buttons);

        /* Create text markers toolbox */
        var buttons = [];
        {% for marker in toolbox_text %}
            buttons.push(gen_decorate_button(
                        '{{ marker.get_markertype_display }}',
                        function() { toggle_locate_marker_text('{{ marker.popup_add_url }}','{{ marker.marker_json | safe | escapejs }}'); },
                        '{{ marker.icon_url }}'));
        {% endfor %}
        create_buttons_bar(buttons);
        globalVars.allbuttons.push.apply(globalVars.allbuttons, buttons);

    });
    </script>
{% endblock %}


{% block mapobjects_info %}

<br/>
<h4>
    <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
    {{ wall.name }}
</h4>
<br/>

<p>
    <span class='fa fa-info-circle'></span>
    {% trans "Click on one of the buttons to place markers" %}
    <table>
      <tr>
        <td style="width: 3em;">
          <img src="{{ toolbox_simple.0.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "All kind of bolts." %}
        </td>
      </tr>
      <tr>
        <td>
          <img src="{{ toolbox_simple.1.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "A spot suited for belaying." %}
        </td>
      </tr>
      <tr>
        <td>
          <img src="{{ toolbox_simple.2.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "Anchor to do abseiling or to top-rope." %}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <img src="{{ toolbox_relational.0.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "Link a nearby wall in the direction of the arrow. Enables quick navigation between walls." %}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <img src="{{ toolbox_text.0.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "Point out unexpected issues or dangers. Use sparsely." %}
        </td>
      </tr>
      <tr>
        <td>
          <img src="{{ toolbox_text.1.icon_url }}" class="mitopo-icon">
        </td>
        <td>
          {% trans "Label the pitches of a multi-pitch route." %}
        </td>
      </tr>
    </table>
</p>
<hr>

<div id="decorate-routelist" class="top-buffer-margin">
  {% blocktrans with wallname=wall.name %}
  Routes on {{ wallname }}:
  {%endblocktrans%}

  <i id="table-spinner" class="fa fa-spinner fa-spin fa-2x style="display: none;"></i>

  <div id="routetable-container" class="top-buffer-margin"></div>
</div>

<hr>

<div id="navigation-buttons-footer" class="top-buffer-margin">
  <a id="back-button"
     href="{% url "edit_spot:draw_routes" wall_id=wallview.wall.id %}"
     role="button"
     class="btn btn-info">
    <i class="glyphicon glyphicon-arrow-left"></i> {% trans 'Draw Routes' %}
  </a>
  <a id="forward-button"
     href="{% url "edit_spot:publish_wall" wall_id=wall.pk %}"
     role="button"
     class="btn btn-success"
     title="{% trans "Publish Wall." %}">
    <i class="glyphicon glyphicon-flag"></i> {% trans "Publish Wall" %} <span class="glyphicon glyphicon-arrow-right"></i>
  </a>
</div>

{% endblock %}
