{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load static %}

{% block title %}
    cruxle.org - Delete Route
{% endblock %}

{% block content %}
{% endblock %}

{% block mapobjects_info %}

Permanently delete <b> {{ route.name }} </b>?
<br>
{% if request.is_ajax %}
    <form method="POST" action="{% url 'edit_spot:del_route' route_id=route.id %}{% if next %}?next={{ next }}{% endif %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </form>

{% else %}

    <form method="POST" action="{% url 'edit_spot:del_route' route_id=route.id %}{% if next %}?next={{ next }}{% endif %}" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
    </form>
    <form method="GET" action="{{ next }}" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">
            <i class="glyphicon glyphicon-remove"></i> Back
        </button>
    </form>

{% endif %}

{% endblock %}
