{% extends "base_edit.html" %}
{% load static %}
{% load i18n %}

{% load edit_spot_tags %}

{% block title %}
{% trans "cruxle.org - Draw Routes on the Wall" %}
{% endblock %}


{% block extra_assets %}
    {% include "leaflet_base.html" %}
{% endblock %}


{% block overwrite_styles %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}" />
{% endblock %}

{% block content %}
  <div id="wallmap" class="leaflet_map full-height"></div>
  <script>
    $(function() {
        open_slideout();

        // create global route tool
        rtool = new RoutesTool();
        window.activeRouteId = null;
    });

    function map_init(mapdiv_id) {

        wallmap_init_base(mapdiv_id, function(map){
            // global map object
            window.map = map;

            $(document).on("mitopo_layout_change", function(event) {
               window.map.invalidateSize();
            });
            // and the wall decorations
            var layerctrl = L.control.layers().addTo(map);

            var simple_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: simple_markers,
                url: "{% url "generic_markers:simple_wallmarkers" wallview_id=wallview.pk %}",
                layerctrl: layerctrl,
                layerlabel: 'Bolts, Belays etc.'
            });

            var relational_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: relational_markers,
                url: "{% url "generic_markers:relational_wallmarkers" wallview_id=wallview.pk %}?on_edit=True",
                layerctrl: layerctrl,
                layerlabel: 'Wall Links'
            });

            var text_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: text_markers,
                url: "{% url "generic_markers:text_wallmarkers" wallview_id=wallview.pk %}"
            });
            add_markers(map, {
                fgroup: text_markers,
                url: "{% url "generic_markers:pitch_wallmarkers" wallview_id=wallview.pk %}",
                layerctrl: layerctrl,
                layerlabel: "Additional Information"
            });


            // Now we initialize the existing route geometries
            refresh_routes();

            // map event handlers
            map.on('draw:created', function (e) {

		window.currentFeatureGroup.addLayer(e.layer);
                store_current_fG(activeRouteId).then(function (){
                     refresh_routes();
                });

            });

            map.on('draw:edited', function (e) {
                store_current_fG(activeRouteId).then(function (){
                     refresh_routes();
                });

            });
	    
            map.on('draw:deleted', function (e) {
		e.layers.eachLayer(function(lyr){
		    lyr.removeFrom(map);
		});
                store_current_fG(activeRouteId).then(function (){
                     refresh_routes();
                });

            });

            map.on('draw:deletestart', function (e) {
		window.currentFeatureGroup.eachLayer(function(lyr){
		    lyr.on('click', function(trgt){
			trgt.target.setStyle({
			    color: "grey"
			});
		    });
		});

            });
	    
            map.on('draw:deletestop', function (e) {
                     refresh_routes();
            });


            map.on('zoomend', function () {
                // routes and routelabels
                rtool.fixZoom();
                fixZoomTextMarkerSize(map);
            });

            $(map).on('mouseup touchend', function () {
                setTimeout(function () {
                    fixZoomDrawRouteMarkersSize(map)
                }, 100);
            });

        });
    }

    function routegeomURL(id){
        return "{% url "edit_spot:routegeometry-list" %}" + id + "/";
    }

    function store_current_fG(num){
        var geom = rtool.routes[num].geometry;

        if(typeof geom !== 'undefined'){
            var data = {
                geom_id: geom.id
            };

            // empty polyline triggers deletion
            var geoj = window.currentFeatureGroup;
            if(geoj && geoj.getLayers().length > 0){
                data.geojson = JSON.stringify(my2geoJSON(geoj));
            }
            return verboseJsonAjax({
                url: "{% url "edit_spot:store_geojson" wallview_id=wallview.pk %}",
                data: data
            }).then(function (){
                hasUnsavedChanges = false;
            });
        }
    }

    
    function my2geoJSON(geoj){
	var result = {
	    "type": "FeatureCollection",
	    "features": []
	};
	geoj.eachLayer(function(lyr){
	    var gj = lyr.toGeoJSON();
	    if(lyr.hasOwnProperty("_mRadius")){
		gj.properties["radius"] = lyr.getRadius();
	    }
	    result.features.push(gj);
	});
	return result;
    }

    function refresh_routes(){
        var url = "{% url "miroutes:rest-route-list" %}?wallview={{ wallview.pk }}";
        if($("#check-show-deprecated").prop('checked'))
            url += '&deprecated=true'
        $("#table-spinner").show();

        rtool.fetchAndDraw(url, map).then(function (){
            // add handler
            $.each(rtool.routes, function (num) {
                var geoj = rtool.routes[num].fg;
                if(geoj){
                    // add event handler
                    geoj.on('click', function (e){
                        activate_geomedit(num);
                    });

                    geoj.on('mouseover', function (e) {
                        highlight_row(num);
                    });
                    geoj.on('mouseout', function (e) {
                        un_highlight_row(num);
                    });
                }

                var label = rtool.routes[num].label;
                if(label){
                    label.marker.on('click', function (e) {
                        activate_geomedit(num);
                    });
                    label.marker.on('mouseover', function (e) {
                        highlight_row(num);
                    });
                    label.marker.on('mouseout', function (e) {
                        un_highlight_row(num);
                    });
                }

            });

	    if(window.activeRouteId !== null){

                var newFG = rtool.routes[window.activeRouteId].fg;
                if(newFG == null){
                    newFG = L.featureGroup();
                }
                // we have to remove the fG explicitly, otherwise just replacing
                // the object seems to not delete the old object from the map
                window.currentFeatureGroup.removeFrom(map);
                window.currentFeatureGroup = newFG;
                window.currentFeatureGroup.addTo(map);
		window.currentFeatureGroup.setStyle({
		    color: "blue"
		});
	    }
	    
	    if(window.drawControl !== undefined && window.drawControl !== null){
		// reload controls
		map.removeControl(window.drawControl);

		window.drawControl = new L.Control.Draw({
		    draw: {
			polyline: true,
			circle: true,
			polygon:true,
			rectangle:true,
			marker: false,
			circlemarker: false
		    },
		    edit: {
			featureGroup: window.currentFeatureGroup
		    }
		});
		window.drawControl.setPosition("topleft");
		map.addControl(window.drawControl);
	    }

            generate_routetable();
            $("#table-spinner").hide();
        });
    }

    function highlight_row(label){
        $('#routetablerow_'+label)
            .addClass('bg-success');
    }

    function un_highlight_row(label){
        $('#routetablerow_'+label)
            .removeClass('bg-success');
    }

    function add_buttons(){
        window.finish_button = L.easyButton({
            id: 'leaflet-polyline-edit-cancel',
            position: 'topleft',
            states:[{
                stateName: 'cancel-edit',
                onClick: function(button, map){
                    deactivate_geomedit();
		    if(isMobile()){
			open_slideout();
		    }
                },
                title: "{% trans "Finish Editing."%}",
                icon: 'fa-times fa-2x',
            }]
        }).addTo(map);

    }

    function activate_geomedit(num){
        /* Activate the editing or creation of a route geometry.
           Clean left-overs and store edits.
           Take care of row highlighting.
        */
        // clean existing active edit sessions
        if(window.activeRouteId !== null){
            deactivate_geomedit();
	    return(null);
        }
        // load the corresponding form
        {% if wall.gym %}
        loadFormContainer("{% url "edit_spot:edit_gym_route" wallview_id=wallview.pk %}", rtool.routes[num].id);
        {% endif %}
        // Store active num
        window.activeRouteId = num;
        // Clean existing handles
        // highlight row
        $('#routetablerow_'+num ).addClass('row-highlight');
        // Display accept and cancel buttons
        add_buttons();

        // bind deactivation on row click (toggle)
        $('#routetablerow_'+num ).off().on('click', function(){
            deactivate_geomedit();
        });

        // Check if there is a geometry string and create or edit
        var geoj = rtool.routes[num].fg;
        if(geoj){
	    window.currentFeatureGroup = geoj;
	    window.currentFeatureGroup.setStyle({
		color: "blue"
	    });

            window.drawControl = new L.Control.Draw({
		draw: {
		    polyline: true,
		    circle: true,
		    polygon:true,
		    rectangle:true,
		    marker: false,
		    circlemarker: false
		},
		edit: {
		    featureGroup: geoj
		}
            });
            window.drawControl.setPosition("topleft");
	    map.addControl(window.drawControl);

	    if(isMobile()){
		close_slideout();
	    }
	    rtool.focus(num);

        }else{
	    window.currentFeatureGroup = L.featureGroup();
	    window.currentFeatureGroup.addTo(map);
            window.drawControl = new L.Control.Draw({
		draw: {
		    polyline: true,
		    circle: true,
		    polygon:true,
		    rectangle:true,
		    marker: false,
		    circlemarker: false
		},
		edit: {
		    featureGroup: window.currentFeatureGroup
		}
            });
            window.drawControl.setPosition("topleft");
	    map.addControl(window.drawControl);

        }


    }

    function deactivate_geomedit(){
        /* Finish editing a route.
           Store polylines and remove highlighting.
           Recreate the routelist (because of the eraser symbol)
        */
	if(window.drawControl){
	    map.removeControl(window.drawControl);
	}
	window.drawControl = null;

	{% if wall.gym %}
        loadFormContainer("{% url "edit_spot:edit_gym_route" wallview_id=wallview.pk %}");
	{% endif %}

        if(typeof(window.finish_button) !== 'undefined'){
            window.finish_button.removeFrom(map);
            delete(window.finish_button);
        }

        window.activeRouteId = null;
        window.currentFeatureGroup = null;
	
	refresh_routes();

    }


    function generate_routetable(){
        $("#routetable-container").empty();

        if(Object.keys(rtool.routes).length > 0){
            $("#no-routes-note").hide();

            var $table = $("<table>", {
                "class": "table table-condensed table-hover routetable",
                "id": "routetable"
            });
            var $head = $("<thead>")
                .append($("<tr>")
                         .append($("<th>").text("#"))
                         .append($("<th>").text("{% trans "Name" %}"))
                         .append($("<th>")
                                 .append($("<span>", {class: 'fa fa-signal route-grade-icon'}))
                                 .append($("<span>").text("{% trans "Grade" %}"))
                                )
                         .append($("<th>"))
                        );
            var $body = $("<tbody>");

            $.each(rtool.routes, function (num) {
                var route = this;
                var $row = $('<tr>', {
                    'value': num,
                    'id': 'routetablerow_' + num
                });

                //label
                $row.append($('<td>')
                            .text(route.pos)
                           );
                //name
                $row.append($('<td>')
                            .text(route.name)
                           );
                //grade
                $row.append($('<td>')
                            .text(route.get_full_grade_display)
                           );
                //edit
                var $editcol =$('<td>');

                var $edit_icon = "glyphicon glyphicon-plus";
                if (rtool.routes[num].fg !== null) {
                    $edit_icon = "glyphicon glyphicon-pencil";
                }
                $editcol.append(
                    $('<i>')
                        .attr('class', $edit_icon + ' draw_route_tool_img')
                        .attr('title', "{% trans "Edit the route geometry." %}")
                );
                // trashcan to deprecate, shown if gym
                {% if wall.gym %}
                // we add a delete button
                var del = $('<a href="#" class="glyphicon glyphicon-trash draw_route_tool_img">', {
                    'tabindex': '0',
                    'role': 'button',
                    'data-toggle': 'popover',
                    'data-placement': 'bottom',
                    'data-trigger': 'focus',
                    })
                    .prop('title', '{% trans "Really?" %}')
                    .data('html', 'true')
                    .data('content', '<button class="btn btn-danger" onclick="deleteRoute(' + route.id + ');">{% trans "Do It!" %}</button>')
                    .on('click', function (evt){evt.stopPropagation();});
                del.popover();
                $editcol.append("&nbsp;").append(del);
		{% else %}

		// route details on rightclick
		var $menu = $('<div class="context-menu">')
		    .append(
			$('<a>', {
			    'href': "{% url "edit_spot:edit_route_noid" %}" + route.id + "?wall_id={{wall.id}}&next={% url "edit_spot:draw_routes" wall_id=wall.id %}"})
			    .on('click', function(e){
				e.stopPropagation();
				$(e.delegateTarget).children("i").remove();
				$(e.delegateTarget).prepend($('<i class="fa fa-spinner fa-spin">'));
			    })
			    .append($('<i>')
				    .attr('class', 'glyphicon glyphicon-info-sign draw_route_tool_img')
				    .attr('title', "{% trans "Edit the route details." %}")
				   )
			    .append($('<span>').text('{% trans "Edit Details" %}')));

		$editcol.append($menu);

		$row.contextmenu(function(event){
		    $(".context-menu").hide();
		    $menu.css({
			display: "block",
			top: event.pageY - 40,
			left: event.pageX + 10
		    });
		    return false;
		});
                {% endif %}

                $row.append($editcol);

                if(route.deprecated){
                    $row.addClass('flagged-deprecated');
                }

                // on-click handler
                $row.on('click', function(){
                    un_highlight_row(num);
                    activate_geomedit(num);
                });

                // hover
                $row.on( 'mouseenter', function () {
                    rtool.highlight(num);
                    highlight_row(num);
                });
                $row.on( 'mouseleave', function () {
                    rtool.un_highlight(num);
                    un_highlight_row(num);
                });

                $body.append($row);
            });/* END EACH ROUTE */
            $table.append($head);
            $table.append($body.find('tr').sort(function (a, b){
		var tda = $(a).find('td:eq(0)').text();
		var tdb = $(b).find('td:eq(0)').text();
		return tda > tdb ? 1
		    : tda < tdb ? -1
		    : 0;
	    }));
            $("#routetable-container").empty().append($table);

	    $(document).bind('contextmenu click',function(){
		$(".context-menu").hide();
	    });

	    // highlight active routes
	    if(window.activeRouteId !== null){
		$('#routetablerow_'+window.activeRouteId).addClass('row-highlight');
	    }
        }else{
            $("#no-routes-note").show();
            $("#add-routes-button").text(" {% trans "Add Routes" %}");

        }/* END IF ROUTES */
    }

    {% if wall.gym %}
    function deleteRoute(routeid){
        verboseJsonAjax({
            url: "{% url "edit_spot:deprecate_route" %}" + routeid,
            success: function (){
                deactivate_geomedit();
            }
        });

    }


    function loadFormContainer(url, routeid){
        $("#route-form-container").html('<i class="fa fa-spinner fa-spin fa-2x"></i>');
        if(typeof routeid === 'undefined')
            routeid = '';
        $.get(url + routeid, function (response){
            initForm(response, url, routeid);
        });
    }

    function initForm(response, url, routeid){
        if(typeof routeid === 'undefined')
            routeid = '';
        $("#route-form-container").html(response);

        // if we deal with a form for an existing route we display a button to clear the form
        var $saveButton = $('#route-form-container #submit-button');
        if($saveButton.length > 0){
            // adds a space between submit and new button
            $saveButton.parent().addClass('btn-toolbar');

            // clear/new form button
            $('<a href="#" class="btn btn-default">')
                .on('click', function(){
                    deactivate_geomedit();
                })
                .html('<span class="glyphicon glyphicon-asterisk"/> {% trans "Clear" %}')
                .insertAfter($saveButton);
        }

        // deactivate colorpicker when auto-color is selected
        $("#id_auto_color").on('change', function (){
            $("#id_linecolor").prop('disabled', this.checked);
        });

        // copy value of linecolor field to hidden color field if not checked
        if($("#id_color").val() !== "")
            $("#id_linecolor").val($("#id_color").val());

        $("#id_auto_color").change();

        $("#route-form").on('submit', function (evt) {
            evt.preventDefault();
            // see if auto-color is checked and ignore linecolor form element
            // or copy value
            if($("#id_auto_color").prop('checked'))
                $("#id_color").removeAttr("value");
            else
                $("#id_color").val($("#id_linecolor").val());

            var csrftoken = $.cookie('csrftoken');
            $("#route-form").ajaxSubmit({
                url: url + routeid,
                type: 'post',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response){
                    // initForm(response, url, routeid);
		    deactivate_geomedit();
                }
            });

        });
    }

    {% endif %}


    $(document).ready(function () {
        var url = "{% url "miroutes:rest-route-list" %}?wallview={{ wallview.pk }}";
        $("#table-spinner").show();

        rtool.fetch(url).then(function (){
            var $plainTable = rtool.simple_routetable({
                id: "routetable",
                namecol: "{% trans "Name" %}",
                gradecol: "{% trans "Grade" %}",
                emptynote: "{% trans "No routes on wall." %}"
            });
            $("#table-spinner").hide();
            $("#routetable-container").append($plainTable);
        });

        map_init('wallmap');
        //route_selector_setup();

        hasUnsavedChanges = false;

        // prompt user when he tries to leave the page and there are pending changes
        onbeforeunload = function (){
            if(hasUnsavedChanges){
                return "{% trans "There are unsaved changes to route geometries. Are you sure you want to leave?"%}";
            }
        };

        // refresh on toggle checkbox
        $("#check-show-deprecated").on('change', function(){
            refresh_routes();
        });
        {% if wall.gym %}
        loadFormContainer("{% url "edit_spot:edit_gym_route" wallview_id=wallview.pk %}");
        {% endif %}

    });
  </script>
{% endblock %}



{% block mapobjects_info %}
  <div id="draw-routes-info-area" class="top-buffer-margin">
    <h4 class="top-buffer-margin">
      <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
      {{ wall.name }}
    </h4>

    <p class="top-buffer-margin">
      <span class='glyphicon glyphicon-info-sign'></span>
      {% trans "Click on a route in the list or on the map to edit the route geometry." %}
    </p>
  </div>

  <div id="draw-routes-routelist-area" class="top-buffer-margin">
    {% if wall.gym %}
      <div id="route-form-container"></div>
    {% endif %}

    <legend>{% trans "Routelist" %}</legend>

    <i id="table-spinner" class="fa fa-spinner fa-spin fa-2x style="display: none;"></i>

    <div id="no-routes-note" style="display: none;">
      <p>
        {% trans "No routes attached to this wall." %}
      </p>
      {% if not wall.gym %}
        <p>
          <a href="{% url "edit_spot:add_route" %}?wall_id={{ wallview.wall.pk }}&next={% url "edit_spot:link_routes" wall_id=wall.id %}"
             class='btn btn-success'>
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add route" %}
          </a>
        </p>
      {% endif %}
    </div>
    <div id="routetable-container"></div>

    {% if not wall.gym %}
      <i>
        <input id="check-show-deprecated" type="checkbox" title="{% trans "Show deprecated Routes" %}">
        {% trans "Show deprecated Routes" %}
      </i>
    {% endif %}
  </div>

  <hr>


  <div id="draw-routes-buttons-footer" class="top-buffer-margin">
    {% if not wall.gym %}
      <a href="{% url "edit_spot:link_routes" wall_id=wall.id %}?next={{ request.path }}"
         role="button" class="btn btn-info">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Add/Remove Routes" %}
      </a>
    {% endif %}

    <a id="next-button" title="{% trans "Add Markers" %}"
       href="{% url "edit_spot:decorate_wall" wall_id=wall.pk %}"
       role="button" class="btn btn-success">
      <i class="glyphicon glyphicon-pushpin"></i>
      {% trans "Add Markers" %} <span class="glyphicon glyphicon-arrow-right"></span>
    </a>

  </div>

{% endblock %}
