{% extends "base_edit.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load thumbnail %}

{% load i18n %}

{% block title %}
{% if editing %}
  {% trans "cruxle.org - Edit Wall Info" %}
{% else %}
  {% trans "cruxle.org - Add New Wall" %}
{% endif %}
{% endblock %}

{% block extra_assets %}
  <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
  {% include "leaflet_base.html" %}
  {% include 'includes/upload_template.html' %}

  <script type="text/javascript">
    function map_init(mapdiv_id) {
        map = map_init_base(mapdiv_id);

        map.zoomControl.setPosition("topright");

        var all_marker_bounds = [];
        var wall_markers = new L.MarkerClusterGroup();

        // Add other wall markers to map
        walls = new L.MarkerClusterGroup();

        add_markers(map, {
            fgroup: walls,
            url: "{% url "generic_markers:wall_markers" %}?editwall_id={{ wall.pk }}",
        });

        {% if editing %}
        wall_marker_edit = create_marker_from_json(
            unescape("{{ wall.marker_json_edit | safe | escapejs }}"), {
                interactive: true
            }
        );
        //move_map_under_marker(wall_marker_edit);
        make_marker_draggable(wall_marker_edit);
        map.addLayer(wall_marker_edit);
        map.setView(wall_marker_edit.getLatLng(), 16);

        {% elif wall_template.pnt %}
        // this is the case if we are called by right-click on index
        wall_marker_edit = create_marker_from_json(
            unescape("{{ wall_template.marker_json_edit | safe | escapejs }}"), {
                interactive: true
            }
        );
        make_marker_draggable(wall_marker_edit);
        map.addLayer(wall_marker_edit);
        map.setView(wall_marker_edit.getLatLng(), 16);
        {% elif tiler.exif_location %}
        var latlng = L.latLng({{ tiler.exif_location }});
        var wallmarker = new_wallmarker(latlng);
        wallmarker.addTo(map);

        map.setView({{ tiler.exif_location }}, 16);
        {% else %}
        $('.leaflet-container').css('cursor', 'crosshair');
        {% endif %}

        L.easyButton('fa fa-map-pin fa-lg', function(btn, map){
            var pos = map.getCenter();
            if (typeof(wall_marker_edit) == "undefined") {
                new_wallmarker(pos).addTo(map);
            } else {
                wall_marker_edit.setLatLng(pos);
                document.getElementById("id_pnt").value = latlngToPoint(pos);
            }
        }).addTo(map);


        map.on('click', function (e) {
            if (typeof(wall_marker_edit) == "undefined") {
                new_wallmarker(e.latlng).addTo(map);
                $('.leaflet-container').css('cursor', 'auto');
            }
        });

        $("#history-button").on('click', function () {
            $("#history-modal").modal();
        });

        if (typeof(wall_marker_edit) == "undefined") {
            var info = $("<p>").html('<span class="glyphicon glyphicon-info-sign"></span>' +
                                     ' {% trans "Select the wall position by clicking on the map." %}');
            info.prependTo($(".info-div"));

        }else{
            var info = $("<p>").html('<span class="glyphicon glyphicon-info-sign"></span>' +
                                     ' {% trans "Drag the red marker to change the wall position." %}');
            info.prependTo($(".info-div"));

        }

    }

    function move_map_under_marker(marker){
        map.on('move', function (e){
            marker.setLatLng(map.getCenter());
            document.getElementById("id_pnt").value = latlngToPoint(map.getCenter());
        });
    }

    function make_marker_draggable(marker){
        marker.options.draggable = true;

        marker.on('dragend', function (e) {
            document.getElementById("id_pnt").value = latlngToPoint(e.target.getLatLng());
        });

    }

    function new_wallmarker(latlng){
        var json_string = unescape("{{ wall_template.icon_config_edit_json | safe | escapejs }}");

        wall_marker_edit = newMarker(
            latlng,
            JSON.parse(json_string),
            true
        );
        //move_map_under_marker(wall_marker_edit);
        make_marker_draggable(wall_marker_edit);
        document.getElementById("id_pnt").value = latlngToPoint(latlng);
        return wall_marker_edit;

    }

    function use_exif_location() {
        {% if tiler.exif_location %}
        var exif_location = {{ tiler.exif_location }};
        wall_marker_edit.setLatLng(exif_location);
        var latlon = wall_marker_edit.getLatLng();

        map.setView(latlon);
        document.getElementById("id_pnt").value = latlngToPoint(latlon);
        {% endif %}

    }

  </script>
{% endblock %}

{% block modals %}
  <div id="history-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">History of {{ wall.name }}</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "User" %}</th>
                  <th>{% trans "Comment" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for version in versions %}
                  <tr>
                    <td>{{ version.revision.date_created|date:"D d M Y" }} {{ version.revision.date_created|time:"H:i" }}</td>
                    <td>
                      {% if version.revision.user %}
                        <a href="{% url 'users:user_detail' user_id=version.revision.user.pk %}">{{ version.revision.user.username }}</a>
                      {% endif %}
                    </td>
                    <td>{{ version.revision.comment }}</td>
                    <td>
                      {% if not forloop.first %}
                        <a href="{% url "edit_spot:revert_wall" wall_id=wall.pk version_id=version.pk %}?next={{ request.path }}">{% trans 'Compare to current version' %}</a>
                    </td>
                  {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% if editing %}
    <form id="revision-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "edit_spot/revision_comment.html" %}
    </form>
  {% endif %}

  <div id="rotate-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span
                                     class="glyphicon glyphicon-alert"></span> {% trans "Really rotate the image?" %}</h4>
        </div>
        <div class="modal-body">
          {% trans "Rotating the image invalidates route geometries and markers." %}
        </div>

        <div class="modal-footer">
          <a href="#" type="button" id="doit-rotate" class="btn btn-danger">{% trans "Do It!" %}</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    $(document).ready(function () {
        var map = map_init('edit_wall_map');

        $("#wall-form").on('submit', function (evt) {
            evt.preventDefault();
            if ($("#wall-form")[0].checkValidity()) {
                if ($("#id_pnt").val()) {
                    {% if editing %}
                    $("#revision-modal").modal();
                    $("#revision-modal .btn-primary").off().on('click', function () {
                        if ($("#revision-form")[0].checkValidity()) {
                            $("#revision-form").children().appendTo($("#wall-form"));
                            $("#wall-form")[0].submit();
                        }
                    });
                    {% else %}
                    $("#wall-form")[0].submit();
                    {% endif %}
                } else {
                    append_message("{% trans "Select the wall position by clicking on the map." %}", "danger");
                    $("#base-container").scrollTop(0);
                }

            }
        });

        initUploadFields($('#wall-form'), {
            multiple: false
        });
        // This is inserted to make sure the slideout's event handler is not triggered.
        $("#wall-form").on('click', "input[name='qqfile']", function (evt) {
            evt.stopPropagation();
        });

        $(".rotate-button").on('click', function () {
            var modal = $("#rotate-modal");
            modal.modal();

            $("#doit-rotate").attr('href', $(this).data('url'));
        });

        $("#div_id_subwall_of label").append(
            $('<a href="#" tabindex="0" role="button" data-toggle="popover" title="{% trans "Tag as Subwall" %}" data-trigger="focus"' +
              'data-content="{% trans "A Subwall is not visible on maps. It can be accessed only by clickable links on nearby walls. This is intended for small sections of larger walls." %}">' +
              '<span class="glyphicon glyphicon-info-sign"></span></a>'));
        $('[data-toggle="popover"]').popover();
    });
  </script>
      <div class="col-xs-12 col-md-10 col-lg-11 col-md-push-2">
          <h4>
              {% if tiler.thumbnail_url_m %}
                  <img src='{{ tiler.thumbnail_url_s|urlencode }}'>
              {% else %}
                  <span class="wall-thumbnail-placeholder">
                      {% trans "After the next page reload, a thumbnail of the wall image is displayed here." %}
                  </span>
              {% endif %}

              <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
              {% if wall %}
                  {{ wall.name }}
              {% else %}
                  {% trans "New Wall" %}
              {% endif %}
          </h4>
      </div>

      <div class="col-xs-12 col-md-8 col-md-push-2 top-buffer-margin">
          <div class="info-div">
              <p>
              <span class='glyphicon glyphicon-info-sign'></span>
              {% trans "Provide as much information on the wall as possible in the form below the map." %}
              </p>
          </div>

          <div id="edit_wall_map" class="leaflet_map" style="height:400px;"></div>
          {% if tiler.exif_location %}
          <p class="bg-primary">{% trans "The image contains EXIF location data!" %}</p>
          <button type="submit" class="btn btn-default" onclick="use_exif_location()">
              <span class="glyphicon glyphicon-screenshot"></span>
              {% trans "Use EXIF Location to Locate Wall" %}
          </button>
          {% endif %}
      </div>

      <hr/>

      <div class="col-xs-12 top-buffer-margin">
          {% crispy form %}
      </div>
  {% endblock %}
