{% extends "base_edit.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load thumbnail %}

{% load i18n %}

{% block title %}
{% if tiler %}
  {% trans "cruxle.org - Edit Wall Image" %}
{% else %}
  {% trans "cruxle.org - Add New Wall Image" %}
{% endif %}
{% endblock %}

{% block extra_assets %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% include 'includes/upload_template.html' %}
{% endblock %}

{% block modals %}
    <div id="history-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans "Image History" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                              <th>{% trans "Date" %}</th>
                              <th>{% trans "User" %}</th>
                              <th>{% trans "Comment" %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for version in versions %}
                                <tr>
                                    <td>{{ version.revision.date_created|date:"D d M Y" }} {{ version.revision.date_created|time:"H:i" }}</td>
                                    <td>
                                        {% if version.revision.user %}
                                            <a href="{% url 'users:user_detail' user_id=version.revision.user.pk %}">{{ version.revision.user.username }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ version.revision.comment }}</td>
                                    <td>
                                        {% if not forloop.first %}
                                            <a href="{% url "edit_spot:revert_wall_img" tiler_id=tiler.pk version_id=version.pk %}?next={{ request.path }}">{% trans 'revert' %}</a>
                                            </td>
                                        {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="rotate-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span
                            class="glyphicon glyphicon-alert"></span> {% trans "Really rotate" %} {{ wall.name }}?</h4>
                </div>
                <div class="modal-body">
                    {% trans "Rotating the image invalidates route geometries and markers." %}
                </div>

                <div class="modal-footer">
                    <a href="#" type="button" id="doit-rotate" class="btn btn-danger">{% trans "Do It!" %}</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="help-modal" class="modal fade on-top" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans "How To Add A Wall" %}</h4>
                </div>
                <div class="modal-body">
                  <div class="help-content row">
                    <div class="col-xs-12">
                      {% trans "Follow the menu on top of the page." %}
                    </div>
                  </div>
                  <br>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="glyphicon glyphicon-plus fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% trans "Upload a wall image." %}
                    </div>
                  </div>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="glyphicon glyphicon-edit fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% trans "Add Information on the wall." %}
                    </div>
                  </div>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="fas fa-link fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% blocktrans %}
                      Select the Routes you want to draw on the Wall.
                      <ul>
                        <li>Select existing Routes from a pool.</li>
                        <li>Create Routes.</li>
                      </ul>
                    {% endblocktrans %}
                    </div>
                  </div>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="glyphicon glyphicon-pencil fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% blocktrans %}
                      Add and Draw Routes on top of the Wall image.
                    {% endblocktrans %}
                    </div>
                  </div>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="glyphicon glyphicon-pushpin fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% trans "Add Markers for Bolts, Belays or nearby Walls." %}
                    </div>
                  </div>
                  <div class="help-content row">
                    <div class="col-xs-1 help-icon">
                      <span class="glyphicon glyphicon-flag fa-lg" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                      {% trans "Finally, publish the wall and make it available to the community for editing." %}
                    </div>
                  </div>

                </div>

                <div class="modal-footer">
                  <label><input id="help-no-show" type="checkbox"> {% trans "Do not show this again!" %}</label>
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "OK" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-push-1">
        <br>
        <h4>
            {% if tiler %}{% trans "Edit Wall Image" %}{% else %}{% trans "New Wall Image" %}{% endif %}
            <a href="#" id="a-show-help" title="{% trans "Show Help" %}">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
        </h4>
        <br>
        <br>

      {% if tiler %}

          <div id="thumbnail-status">
            <i id="thumbnail-spinner" class="fa fa-spinner fa-spin fa-2x"></i>
            <br>
            {% trans "Generating thumbnail." %}
          </div>

          <div class="wide_popover_container">
            <a href="#"
               data-toggle='popover'
               title='{%trans "Additional Info and Exif-Data" %}'
               data-trigger='focus'
               data-placement='bottom'
               data-content="
               <a href='{{tiler.img.url}}'>{% trans 'Link to Original File' %} : {{tiler.img.name}}</a>
               <ul class='' title='Exif Tags'>
                 {% for key, value in tiler.exif_tags.items|dictsort:"0.lower" %}
                   <li class=''> <span class='label label-default'>{{key}}</span> {{value}} </li>
                 {% endfor %}
               </ul>">
               <img id="wall_thumbnail_img">
            </a>
          </div>
        <br>
        <br>
        <div id="tiler-status" {% ifequal tiler.status 4 %}style="display:none;"{% endifequal %}>
          <div class="tiler-status-container">
            <div class="tiler-spinner"><i class="fa fa-spinner fa-spin" style="font-size:60px;"></i></div>
            <div class="tiler-text"></div>
          </div>
        </div>
        <div id="rotate-buttons" {% ifnotequal tiler.status 4 %}style="display:none;"{% endifnotequal %}>
          <button class="rotate-button" class="btn btn-secondary"
                                      data-url="{% url "edit_spot:rotate_img_left" tiler_id=tiler.id %}">
            <i class="fas fa-undo" aria-hidden="true"></i>
            {% trans "Rotate Left" %}
          </button>
          <button class="rotate-button" class="btn btn-secondary"
                                      data-url="{% url "edit_spot:rotate_img_right" tiler_id=tiler.id %}">
            <i class="fas fa-redo" aria-hidden="true"></i>
            {% trans "Rotate Right" %}
          </button>
        </div>
      {% else %}
        <div id="non-empty-info">
            <p><span class='glyphicon glyphicon-info-sign'></span>
            {% trans "Upload a wall image by clicking on the button below." %}</p>
            <p><span class='glyphicon glyphicon-info-sign'></span>
              {% url "stitcher:add_pano" as panotool %}
              {% blocktrans with path=request.path %}
                To combine multiple pictures to a panoramic view, try our
                <a href="{{ panotool }}?next={{ path }}">
                  <i class="fa fa-columns" aria-hidden="true"></i> Experimental Panorama Tool
                </a>.
              {% endblocktrans %}
            </p>
        </div>
      {% endif %}
        <br>
        <br>
      {% if tiler %}
        <div id="replace-wall-img-panel" class="panel panel-default" {% ifnotequal tiler.status 4 %}style="display:none;"{% endifnotequal %}>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#ascent-collapse">
                        <span class="glyphicon glyphicon-collapse-down"></span> {% trans "Replace Wall Image" %}
                    </a>
                </h4>
            </div>
            <div id="ascent-collapse" class="panel-collapse collapse">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>

        <a id="continue-to-edit-wallinfo" href="{% if tiler.wall %}{% url "edit_spot:edit_wall" wall_id=tiler.wall.pk %}{% else %}{% url "edit_spot:add_wall" tiler_id=tiler.pk %}{% endif %}" class="btn btn-success">
          <i class="glyphicon glyphicon-pencil"></i> {% trans "Edit Wall Info" %} <span class="glyphicon glyphicon-arrow-right" />
        </a>
      {% else %}
          {% crispy form %}
      {% endif %}
    </div>


  <script type="text/javascript">
    $(document).ready(function () {
        $("#tiler-form").on('submit', function (evt) {
            evt.preventDefault();
            {% if not tiler %}
            // Check if one file is selected
            var numfiles = $(".file-uploader-container").fineUploader('getUploads', {status: qq.status.UPLOAD_SUCCESSFUL}).length;
            if (numfiles < 1) {
                append_message("{% trans "Select and upload a wall image." %}", "danger");
                return none;
            }
            {% endif %}
            $("#tiler-form")[0].submit();

        });

        initUploadFields($('#tiler-form'), {
            multiple: false
        });

        $(".rotate-button").on('click', function () {
            var modal = $("#rotate-modal");
            modal.modal();

            $("#doit-rotate").attr('href', $(this).data('url'));
        });

        $("#history-button").on('click', function () {
            $("#history-modal").modal();
        });

        $("#help-no-show").change(function () {
            $.cookie('no-help', this.checked, {expires: 365});
        });

        $("#a-show-help").on('click', function(){
            $("#help-modal").modal();
        });

        {% if tiler %}
        load_thumbnail();
        {% ifnotequal tiler.status 4 %}
        wait_for_tiler();
        {% endifnotequal %}
        {% else %}
        if(!$.cookie('no-help'))
            $("#help-modal").modal();

        {% endif %}
    });

    {% if tiler %}
    function load_thumbnail(){
        var resturl = '{% url "edit_spot:get_tiler" pk=tiler.pk %}';
        $.getJSON(resturl, function(tilerobj) {
            var thumbnail_url = tilerobj.thumbnail_url_m;
        $('#wall_thumbnail_img').load(thumbnail_url, function(response, status, xhr) {
            if (status == "error"){
                $("#thumbnail-status").show();
                setTimeout(function() {
                    load_thumbnail();
                }, 3000);
            }else{
                $("#thumbnail-status").hide();
                $('#wall_thumbnail_img').attr('src', thumbnail_url);
            }
        });
        });

    }

    function wait_for_tiler(){
        var intervalId = window.setInterval(function(){
            $.getJSON('{% url "edit_spot:get_tiler" pk=tiler.pk %}', function (tilerobj){
                $("#tiler-status .tiler-text").html('{% trans "Tiling image... This may take a while." %}<br>' +
                                      '{% trans "Tiling process status" %}: ' + tilerobj.get_status_display + ', (' + tilerobj.percentage + ' %)<br>' +
                                      '{% trans "Wait for tiler to finish if you want to rotate the image" %}.</div></div>');
                if(tilerobj.status == 4){
                    clearInterval(intervalId);
                    $("#tiler-status").hide();
                    $("#rotate-buttons").show();
                    $("#replace-wall-img-panel").show();
                }
            });

        }, 1000);

    }
    {% endif %}
  </script>
{% endblock %}
