{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load edit_spot_tags %}
{% load thumbnail %}

{% block title %}
cruxle.org - Link materials to {{ wall.name }}{{ route.name }}
{% endblock %}


{% block extra_assets %}
<link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
{% include "leaflet_base.html" %}
{% include 'includes/upload_template.html' %}
{% endblock %}

{% block modals %}
<div id="add-material-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-lg" data-dismiss="modal"><span class="fas fa-window-close fa-2x"></span></button>
                <h4 class="modal-title">
                    {% trans "Add Info Material" %}
                </h4>
            </div>
            <div class="modal-body">
                <div id="material-form-div">
                    {% crispy material_form %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "Save" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="materials-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="material-header" class="modal-header">
                <button type="button" class="close btn-lg" data-dismiss="modal"><span class="fas fa-window-close fa-2x"></span></button>
                <span id="material-header-description"></span>
            </div>
            <div id="material-body" class="modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="link-materials" class="col-xs-12 col-md-10 col-lg-8">
    <h4>
        {% blocktrans with wallname=wall.name routename=route.name %}Link Materials to {{ wallname }}{{ routename }}{% endblocktrans %}
    </h4>
    <div class="row">
      {% for material in matlist %}
        <div class="col-md-3 col-lg-2 material_card">
          <div class="thumbnail">
            <a href="#" onclick='on_thumb_click({{ forloop.counter0 }}, {{material.id}});'>
              <img src="{{ material.img|thumbnail_url:'materials' }}" style="width:100%">
            </a>
            <div class="caption">
              <p>
                <!-- spinner, check and uncheck (with popover) elements are all initialized, but only relevant elements are shown -->
                <i id="spin-{{material.pk}}" style="display:none;" class="fa fa-spinner fa-spin"></i>
                <a
                   id="unlink-{{material.pk}}"
                   href="#"
                   tabindex="0"
                   role="button"
                   title="{% trans "Unlink this piece of Information" %}"
                   data-toggle="popover"
                   data-html="true"
                   data-placement="right"
                   data-title="{% trans "Really unlink?" %}"
                   data-content='<button class="btn btn-danger" onclick="toggle_material({{material.pk}});">OK</button>'
                   data-trigger="focus"
                   {% if material.onthis is not True %}
                     style="display:none;"
                   {% endif %}
                   data-material-id="{{ material.pk }}">
                  <span class="glyphicon glyphicon-check"></span></a>
                <a
                   id="link-{{material.pk}}"
                   href="#"
                   title="{% trans "Link this piece of Information" %}"
                   onclick="toggle_material({{material.pk}});"
                   role="button"
                   {% if material.onthis %}
                     style="display:none;"
                   {% endif %}
                   data-linked="no"
                   data-material-id="{{ material.pk }}">
                  <span class="glyphicon glyphicon-unchecked"></span></a>
                {{ material.description }}</p>
              <p><small>{{ material.created_by.username }}, {{ material.created_at|date:"d M Y"}}
                  {% ifequal material.created_by request.user %}
                <a
                   href="#"
                   tabindex="0"
                   role="button"
                   title="{% trans "Delete this piece of Information?" %}"
                   data-toggle="popover"
                   data-html="true"
                   data-placement="right"
                   data-title="{% trans "Really delete?" %}"
                   data-content='<a class="btn btn-danger" href="{% url "miroutes:del_userpic" userpic_id=material.pk %}?next={{ request.path }}"> <span class="glyphicon glyphicon-trash"></span></a>'
                   data-trigger="focus">
                  <span class="glyphicon glyphicon-trash"></span></a>
                  {% endifequal %}
              </small></p>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-md-3 col-lg-2">
          <div class="placeholder">
            <span class="glyphicon glyphicon-exclamation-sign fa-lg"></span>
            {% trans "No additional information material available." %}
          </div>
        </div>

        {% endfor %}
    </div>
    <br>
    <a href="{% if next_page %}{{ next_page }}{% elif wall %}{% url "miroutes:wall_detail" wall_id=wall.pk %}{% elif route %}{% url "miroutes:route_detail" route_id=route.pk %}{% endif %}"
       class="btn btn-success" title="{% trans "Back to previous page." %}">
        <span class='glyphicon glyphicon-arrow-left'></span> {% trans "Back" %}
    </a>
    <a href="{% if wall %}{% url "edit_spot:add_material" wall_id=wall.pk %}{% else %}
    {% url "edit_spot:add_material" route_id=route.pk %}{% endif %}?next={{ request.path }}" title="{% trans "Add File" %}"
                                                                                             class="btn btn-primary">
        <span class='glyphicon glyphicon-plus'></span> {% trans "Add File" %}
    </a>

</div>
<script>
$(document).ready(function () {
    if (isMobile()) {
        var display_length = 5;
    } else {
        var display_length = 25;
    }


    initUploadFields($('#material-form'));

    $('body').on('keypress', '#add-material', function (args) {
        if (args.keyCode == 13) {
            $('#add-material').click();
            return false;
        }
    });
});

function toggle_material(material_id) {

    var $link = $("#link-" + material_id);
    var $unlink = $("#unlink-" + material_id);
    var $spinner = $("#spin-" + material_id);

    {% if wall %}
    var url = "{% url "edit_spot:toggle_link_material" wall_id=wall.pk %}" + material_id;
    {% elif route %}
    var url = "{% url "edit_spot:toggle_link_material" route_id=route.pk %}" + material_id;
    {% endif %}

    // if the el has a popover, it was linked before calling toggle
    $spinner.show();
    if ($link.is(":visible")) {
        $link.hide();
        verboseJsonAjax({
            url: url,
            success: function () {
                $spinner.hide();
                $unlink.show();
            }
            });
    } else {
        $unlink.hide();
        verboseJsonAjax({
            url: url,
            success: function () {
                $spinner.hide();
                $link.show();
            }
        });
    }
}

function on_thumb_click(material_count, material_id) {
    // show img in modal
    var url = "{% url "miroutes:userpic_stub" %}"+material_id;
    $("#materials-modal").modal();
    $("#material-header-description").html('<i class="fa fa-spinner fa-spin fa-2x"></i>');
    $("#material-body").load(url, function() {
        $("#material-header-description").text('');
    });
};
</script>

{% endblock %}

{% block mapobjects_info %}{% endblock %}
