{% extends "base_edit.html" %}
{% load static %}
{% load i18n %}

{% load edit_spot_tags %}

{% block title %}
{% blocktrans with wallname=wallview.wall.name %}
    cruxle.org - Add/Remove Routes to {{ wallname }}
{% endblocktrans %}
{% endblock %}

{% block extra_assets %}
{% include "leaflet_base.html" %}
{% endblock %}%

{% block modals %}
<div id="help-modal" class="modal fade on-top" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans "Add/Remove Routes to this Wall" %}</h4>
            </div>
            <div class="modal-body">
                <div class="help-content row">
                    <div class="col-xs-12">
                        {% trans "A route has to be linked to this wall before it can be drawn on the image." %}
                    </div>
                </div>
                <br>
                <div class="help-content row">
                    <div class="col-xs-2 help-icon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                        {% trans "Search the route you want to draw on this wall image." %}
                    </div>
                </div>
                <div class="help-content row">
                    <div class="col-xs-2 help-icon">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                        {% trans "Create a new route if it does not yet exist." %}
                    </div>
                </div>
                <div class="help-content row">
                    <div class="col-xs-2 help-icon">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                        {% trans "Add or remove routes to this wall using the checkbox in the list." %}
                    </div>
                </div>
                <div class="help-content row">
                    <div class="col-xs-2 help-icon">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10">
                        {% trans "Go to the `Draw` page and start drawing the selected routes." %}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "OK" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
  <script>
    function redraw_datatable() {
        selectable_table.draw();
    };

    $(document).ready(function () {

        var display_length = 10;

        selectable_table = $('#link-routes-table').DataTable({
            responsive: true,
            "scrollCollapse": true,
            "bSort": false,
            "dom": '<"toolbar">lftipr',
            "iDisplayLength": display_length,
            "ajax": {
                "url": '{% url "edit_spot:routelist_chunk" wall_id=wallview.wall.pk %}',
                "data": function (data, settings){
                    var checkbox = $("#show-deprecated");
                    if(checkbox.length !== 0){
                        data.show_deprecated = checkbox[0].checked;
                    }

                },
            },
            "rowCallback": function (row, data, index) {
                // $(row).attr('title', 'Click to edit ' + data[1]);
                $('td:first', row).data('routeid', data[0]);
                if (data[5]) {
                    $('td:first', row).html('<p hidden>0</p><input type="checkbox" checked />');
                } else {
                    $('td:first', row).html('<p hidden>1</p><input type="checkbox" {% if wallview.wall.deprecated %}disabled{% endif %} />');
                }
                var url = "{% url "edit_spot:edit_route_noid" %}" + data[0] + "?wall_id={{ wallview.wall.pk }}&next={{ request.path }}";
                $('td:eq(1)', row).html('<a title="{% trans "Click to edit "%}' + data[1] + '" href="' + url + '">' + data[1] + '</a>');
                if(data[6]){
                    $(row).addClass('flagged-deprecated');
                    if(!data[5])
                        $('td:first', row).children("input").prop("disabled", true);
                }
                // $('td:not(:first-child)', row).on('click', function () {
                //     return on_row_click(data[0]);
                // });
            },
            "columnDefs": [{
                targets: [0],
                orderData: [0, 3]
            }],
            "processing": true,
            "language": {
                "processing": '<i class="fas fa-circle-notch fa-spin fa-2x fa-fw"></i>{% trans "Loading" %}...',
                "emptyTable": '<a href="{% url "edit_spot:add_route" %}?wall_id={{ wallview.wall.pk }}&next={{ request.path }}">{% trans "No Routes. Click here to create a new Route." %}</a>'
            },
        });

        $("#link-routes-table").on('change', ":checkbox", function () {

            var route_id = $(this).parent().data('routeid');
            var url = "{% url "edit_spot:toggle_link_route_noid" wallview_id=wallview.pk %}" + route_id;
            var checkbox = $(this);
	    var $spinner = $("<span>", {class: "fa fa-spinner fa-spin"});

            var was_checked = !$(this).prop('checked');
            // let's restore checked state
	    $(this).prop('checked', was_checked);

            if (was_checked) {
                $("#unlink-modal").modal();
                $("#unlink-modal .btn-ok").off().one('click', function () {
		    // add spinner
		    $spinner.insertAfter(checkbox);
		    checkbox.hide();

                    verboseJsonAjax({
                        url: url,
                        success: function (response) {
                            response = JSON.parse(response);
                            if(response.success)
                                selectable_table.ajax.reload(null, false);
                        }
                    });
                    $("#unlink-modal").modal('hide');
                });
            } else {
		$spinner.insertAfter(checkbox);
		checkbox.hide();
                verboseJsonAjax({
                    url: url,
                    success: function (response) {
                        response = JSON.parse(response);
                        if(response.success)
                            selectable_table.ajax.reload(null, false);
                    }
                });
            }
        });


        $("div.toolbar").html('<input id="show-deprecated" type="checkbox"> {% trans "Show Deprecated" %}');
        $("#show-deprecated").change(function ( ){
            selectable_table.ajax.reload();
        });



        $('body').on('keypress', '#add-route', function (args) {
            if (args.keyCode == 13) {
                $('#add-route').click();
                return false;
            }
        });

        if(!$.cookie('link-help-showed'))
            $("#help-modal").modal();

        $('#help-modal').on('hidden.bs.modal', function (){
            $.cookie('link-help-showed', true);
        });
        $("#a-show-help").on('click', function(){
            $("#help-modal").modal();
        });

    });

  </script>

  <div class="col-xs-12 col-md-8 col-lg-7">
    <div id="link-routes-header-line">
    <h4 class="top-buffer-margin">
      <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
      {% blocktrans with wallname=wallview.wall.name %}
      Add / Remove Routes from {{ wallname }}
      {% endblocktrans %}
      <a href="#" id="a-show-help" title="{% trans "Show Help" %}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </a>
    </h4>
    <span class="mark">
    <i class="glyphicon glyphicon-info-sign"></i>
    {% blocktrans %}
    A single route can be visible on multiple wall images.
    You need to select which routes are present on this wall, before you can draw them.
    {% endblocktrans %}
    </span>
    <hr>
    <div class="hidden-xs top-buffer-margin">
    <p><span class='glyphicon glyphicon-search fa-lg'></span>
        {% trans "Search for the route(s) you want to add to the wall." %}</p>
    <p>
      <a href="{% url "edit_spot:add_route" %}?wall_id={{ wallview.wall.pk }}&next={{ request.path }}"
         title="{% trans "Create Route" %}">
        <span class='glyphicon glyphicon-plus fa-lg'></span>
        {% trans "Create routes that do not exist." %}
    </a></p>
    <p><span class='glyphicon glyphicon-check fa-lg'></span>
      {% trans "Add or remove routes using the checkbox in the list." %}</p>
    <br>
    </div>
    <table id="link-routes-table" class="table table-condensed">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-check" /></th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Grade' %}</th>
          <th>{% trans 'Dist. (km)' %}</th>
          <th>{% trans 'on Walls' %}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <br>
    <br>

    <a id="back-button"
       href="{% url "edit_spot:edit_wall" wall_id=wallview.wall.id %}"
       role="button"
       class="btn btn-info">
      <i class='glyphicon glyphicon-arrow-left'></i> {% trans 'Edit Wall Info' %}
    </a>
    <a href="{% url "edit_spot:add_route" %}?wall_id={{ wallview.wall.pk }}&next={{ request.path }}"
       class="btn btn-success new-route-button"
       title="{% trans "Create a new route." %}">
      <i class='glyphicon glyphicon-plus'></i> {% trans 'Create New Route' %}
    </a>
    <a id="forward-button"
       href="{% url "edit_spot:draw_routes" wall_id=wallview.wall.id %}"
       role="button"
       class="btn btn-success">
      <i class="glyphicon glyphicon-pencil"></i> {% trans 'Draw Selected Routes' %} <i class='glyphicon glyphicon-arrow-right'></i>
    </a>
    <br>
    <br>
  </div>
  <div class="modal fade" id="unlink-modal" tabindex="-1" role="dialog" aria-labelledby="Confirm unlink" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4>{% trans "Really unlink this route? The route path will be lost." %}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
          <a class="btn btn-danger btn-ok">{% trans "Unlink" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
