{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - {% trans "Add material." %}
    {% endblock %}
    {% load static %}

    {% block extra_assets %}
      <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
      {% include 'includes/upload_template.html' %}
    {% endblock %}
{% endif %}

{% load crispy_forms_tags %}
  {% include 'includes/upload_template.html' %}

{% block content %}
    <script type="text/javascript" id="material-form-scripts">
        function on_load_material_form() {
            initUploadFields($('#material-form'));
        };
        </script>

    {% if request.is_ajax is False %}
        <script>
            $(document).ready(function () {
                on_load_material_form();
            });
        </script>
    {% endif %}

    <div class="vertical-scrollable-box-with-padding">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-7 col-md-push-2 col-lg-push-1">
          <h4>
            {% trans "Add Info Material" %}
          </h4>
          <br>
          <div class="info-div">
            <p><span class='glyphicon glyphicon-info-sign'></span>
              {% trans "Provide an image (jpeg, png or tiff) or a pdf." %}</p>
            <br>
          </div>
        </div>
      </div>

    {% crispy material_form %}

    </div>
 {% endblock %}



