{% extends "base_edit.html" %}
{% load static %}
{% load i18n %}

{% load edit_spot_tags %}

{% block title %}
{% trans "cruxle.org - Publish the Wall" %}
{% endblock %}


{% block extra_assets %}
    {% include "leaflet_base.html" %}

{% endblock %}

{% block overwrite_styles %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
{% endblock %}


{% block content %}
  <script>
    $(function () {
        open_slideout();
        rtool = new RoutesTool();
    });

        window.layerdict = {};
        function map_init(mapdiv_id) {

            var map = wallmap_init_base(mapdiv_id);
            $(document).on("mitopo_layout_change", function(event) {
                map.invalidateSize();
            });

            $("#table-spinner").show();
            var url = "{% url "miroutes:rest-route-list" %}?wallview={{ devview.pk }}";
            var layerctrl = L.control.layers().addTo(map);

            rtool.fetchAndDraw(url, map).then(function (){

                var $plainTable = rtool.simple_routetable({
                    id: "routetable",
                    namecol: "{% trans "Name" %}",
                    gradecol: "{% trans "Grade" %}",
                    emptynote: "{% trans "No routes on wall." %}"
                });
                $("#routetable-container").append($plainTable);

                $("#table-spinner").hide();
                layerctrl.addOverlay(rtool.featureGroup, 'Route Geometries')
            });

            // and the wall decorations

            var simple_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: simple_markers,
                url: "{% url "generic_markers:simple_wallmarkers" wallview_id=devview.pk %}",
		"layerctrl": layerctrl,
		layerlabel: "Bolts"
            });

            var relational_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: relational_markers,
                url: "{% url "generic_markers:relational_wallmarkers" wallview_id=devview.pk %}",
		layerctrl: layerctrl,
		layerlabel: "Links"
            });

            var text_markers = new L.featureGroup();
            add_markers(map, {
                fgroup: text_markers,
                url: "{% url "generic_markers:text_wallmarkers" wallview_id=devview.pk %}",
		layerctrl: layerctrl,
		layerlabel: "Info Marker"
            });
            add_markers(map, {
                fgroup: text_markers,
                url: "{% url "generic_markers:pitch_wallmarkers" wallview_id=devview.pk %}",
            });

            return map;
        }

        $(document).ready(function () {
            var dev_map = map_init('wallmap');

            if(isMobile()) {
                setTimeout(function () {
                    dev_map.invalidateSize(false);
                }, 500)
            }

        });
  </script>
 <div id="wallmap" class="leaflet_map full-height"></div>
 {% endblock %}


{% block mapobjects_info %}
<h4 class="top-buffer-margin">
  <span class="glyphicon glyphicon-flag"></span>
  {% blocktrans with name=wall.name %}
  Congratulations! You are about to publish {{ name }}.
  {% endblocktrans %}
</h4>
{% if no_geom %}
<div class="alert alert-danger">
  <br>
  <span class="glyphicon glyphicon-warning-sign"></span>
  <b>{% trans "To publish, draw (or unlink) the following routes:" %}</b>
  <br>
  <ul>
    {% for rg in no_geom %}
    <li>{{ rg.route.name }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<hr>

<div id="non-empty-info" class="top-buffer-margin">
  <p>
    <i class='glyphicon glyphicon-info-sign'></i>
    {% trans "After publication, the wall is visible to other users on the map and can be edited by everyone." %}
  </p>
  <p>
    <i class='glyphicon glyphicon-info-sign'></i>
    {% url "edit_spot:edit_wall" wall_id=wall.id as edit_wall_url %}
    {% blocktrans %}
      As long as noone else contributed to the wall,
      you may still <a href="{{edit_wall_url}}"> delete or hide the wall.</a>
    {% endblocktrans %}
  </p>
  <p>
    <i class='glyphicon glyphicon-info-sign'></i>
    {% url "edit_spot:link_materials" wall_id=wall.pk as link_url %}
    {% blocktrans with path=request.path %}
      If you want to add additional graphical material (e.g., handrawn topos),
      <a href="{{ link_url }}?next={{ path }}">click here.</a>
    {% endblocktrans %}
  </p>
</div>

<hr>

<div id="publish-routelist" class="top-buffer-margin">
<i id="table-spinner" class="fa fa-spinner fa-spin fa-2x style="display: none;"></i>
    <div id="routetable-container"></div>
</div>

<hr>

<div id="publish-navigation-buttons-footer" class="top-buffer-margin">
  <a id="next-button"
     href="{% url "edit_spot:decorate_wall" wall_id=wall.pk %}"
     role="button"
     class="btn btn-info"
     title="{% trans "Add Markers" %}">
    <i class="glyphicon glyphicon-arrow-left"></i>
    {% trans "Add Markers" %}
  </a>
{# we use just an empty form to trigger the post-part of the decorate view #}
  <form method="POST" style="display:inline;">
    {% csrf_token %}
    <button href="{% url "edit_spot:publish_wall" wall_id=wall.pk %}"
            id="publish-wall"
            class="btn btn-success" {% if no_geom %}disabled{% endif %}>
      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      {% trans "Publish Wall" %}
    </button>
  </form>
</div>

{% endblock %}
