{% extends "base_edit.html" %}
{% load static %}
{% load i18n %}

{% load edit_spot_tags %}

{% block title %}
{% trans "cruxle.org - Publish the Wall" %}
{% endblock %}

{% block extra_assets %}
    {% include "leaflet_base.html" %}
{% endblock %}

{% block overwrite_styles %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
{% endblock %}

{% block modals %}
  <div id="history-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% blocktrans with name=wall.name %}History of {{ name }}{% endblocktrans %}</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "User" %}</th>
                  <th>{% trans "Comment" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for version in versions %}
                  <tr>
                    <td>{{ version.revision.date_created|date:"D d M Y" }} {{ version.revision.date_created|time:"H:i" }}</td>
                    <td>
                      {% if version.revision.user %}
                        <a href="{% url 'users:user_detail' user_id=version.revision.user.pk %}">{{ version.revision.user.username }}</a>
                      {% endif %}
                    </td>
                    <td>{{ version.revision.comment }}</td>
                    <td>
                      {% if not forloop.first %}
                        <a href="{% url "edit_spot:revert_wall" wall_id=wall.pk version_id=version.pk %}?next={{ request.path }}">{% trans 'Compare to current version' %}</a>
                    </td>
                  {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div id="reset-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-alert"></span> {% trans "Really reset" %} {{ wall.name }}?</h4>
        </div>
        <div class="modal-body">
          {% trans "You loose all your changes to route geometries and markers." %}
        </div>

        <div class="modal-footer">
          <a type="button" class="btn btn-danger" href="{% url "edit_spot:reset_dev_wall" wall_id=wall.pk %}?next={{ request.path }}">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> {% trans "Reset" %}
          </a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- The form redirects to the original url. The route_chooser dif is populated by hidden input elements -->
  <form method="POST">
    <span id="buttons" style="float:left;">
      {% csrf_token %}
      {% include "edit_spot/revision_comment.html" %}
    </span>
  </form>
{% endblock %}

{% block content %}
<div class="publish-wall-label-box">
  <span class="label label-info">{% trans "Staging Version" %}
        <a href={% url 'edit_spot:draw_routes' wall_id=wall.pk %}>
            <span class='glyphicon glyphicon-picture'></span>
        </a>
    </span>
</div>
  <div id="dev_wallmap" class="leaflet_map half-height" ></div>
<div class="publish-wall-label-box">
  <span class="label label-info">{% trans "Published Version" %}
        <a href={% url 'miroutes:wall_detail' wall_id=wall.pk %}>
            <span class='glyphicon glyphicon-eye-open'></span>
        </a>
    </span>
</div>
  <div id="pub_wallmap" class="leaflet_map half-height"></div>
    <script>
        $(function () {
            open_slideout();
        });
        window.layerdict = {};
        function map_init(mapdiv_id) {

            var current_map = wallmap_init_base(mapdiv_id);

            // Now we initialize the existing route geometries

            if (mapdiv_id === 'dev_wallmap') {
                {% for geom in dev_geomlist %}
                    {% if geom.geojson %}
                        // generate polylines with colors
		        add_feature(current_map,
                                "{{ geom.geojson_as_string|escapejs|safe }}",
                                {{ geom.route.id }},
                                '{{ geom.label }}');

                    {% endif %}
                {% endfor %}

                // and the wall decorations

                var simple_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: simple_markers,
                    url: "{% url "generic_markers:simple_wallmarkers" wallview_id=devview.pk %}",
                });

                var relational_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: relational_markers,
                    url: "{% url "generic_markers:relational_wallmarkers" wallview_id=devview.pk %}"
                });

                var text_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: text_markers,
                    url: "{% url "generic_markers:text_wallmarkers" wallview_id=devview.pk %}"
                });
                add_markers(current_map, {
                    fgroup: text_markers,
                    url: "{% url "generic_markers:pitch_wallmarkers" wallview_id=devview.pk %}"
                });

            }

            if (mapdiv_id === 'pub_wallmap') {
                {% for geom in pub_geomlist %}
                    {% if geom.geojson %}
                        // generate polylines with colors
                        // note the custom filter!
                        add_feature(current_map,
                                "{{ geom.geojson_as_string|escapejs }}",
                                {{ geom.route.id }},
                                '{{ geom.label }}');

                    {% endif %}
                {% endfor %}
                // and the wall decorations

                var simple_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: simple_markers,
                    url: "{% url "generic_markers:simple_wallmarkers" wallview_id=pubview.pk %}"
                });

                var relational_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: relational_markers,
                    url: "{% url "generic_markers:relational_wallmarkers" wallview_id=pubview.pk %}"
                });

                var text_markers = new L.featureGroup();
                add_markers(current_map, {
                    fgroup: text_markers,
                    url: "{% url "generic_markers:text_wallmarkers" wallview_id=pubview.pk %}"
                });
                add_markers(current_map, {
                    fgroup: text_markers,
                    url: "{% url "generic_markers:pitch_wallmarkers" wallview_id=pubview.pk %}"
                });

            }

            return current_map;
        }


        function add_feature(map, json, id, label) {
            var fg_json = JSON.parse(unescape(json));

	    var fg = L.geoJSON(fg_json.geojson, {
		    pointToLayer: (feature, latlng) => {
			if (feature.properties.radius) {
			    return new L.Circle(latlng, feature.properties.radius);
			} else {
			    return new L.Marker(latlng);
			}
		    },
		onEachFeature: (feature, layer) => {

			layer.setStyle({
			    color: fg_json.color,
			    opacity: 1
			});
		}});

            addToLayerdict(map, id, fg);

            var routelabel = addRoutelabel(fg_json.anchorpoint, label);

            routelabel.on('mouseover', function (e) {
                highlight_row(label);
                highlight_geometry(label);
            });
            routelabel.on('mouseout', function (e) {
                un_highlight_row(label);
                un_highlight_geometry(label);
            });


            routelabel.addTo(map);
        }


        function addToLayerdict(map, routeid, featureGroup) {
            // Utility function to add a pair of geomid and references
            // to the layer to a dict, add the onClick handler and the layer to the map.
            if (routeid in layerdict) {
                featureGroup.routeid = routeid;
                layerdict[routeid].push(featureGroup);
            } else {
                featureGroup.routeid = routeid;
                layerdict[routeid] = [featureGroup];
            }
            // add event handler
            featureGroup.on('mouseover', function (e) {
                highlight_geometry(e.target.routeid);
                highlight_row(e.target.routeid);
            });
            featureGroup.on('mouseout', function (e) {
                un_highlight_geometry(e.target.routeid);
                un_highlight_row(e.target.routeid);
            });
            featureGroup.addTo(map);
        }

        function highlight_geometry(routeid) {
            routeid = Number(routeid);
            if (typeof layerdict[routeid] !== 'undefined') {
                layerdict[routeid].forEach(function (featureGroup) {
                    featureGroup.eachLayer(function (layer) {
                        layer.setStyle({
                            weight: 8
                        });
                    })

                });

            }

        }

        function un_highlight_geometry(routeid) {
            routeid = Number(routeid);
            if (typeof layerdict[routeid] !== 'undefined') {
                layerdict[routeid].forEach(function (featureGroup) {
                    featureGroup.eachLayer(function (layer) {
                        layer.setStyle({
                            weight: 5
                        });
                    })

                });
            }
        }

        function highlight_row(label) {
            $('#routetablerow_' + label)
                    .addClass('row-highlight');
        }

        function un_highlight_row(label) {
            $('#routetablerow_' + label)
                    .removeClass('row-highlight');
        }

        $(document).ready(function () {
            var dev_map = map_init('dev_wallmap');
            var pub_map = map_init('pub_wallmap');

            $(document).on("mitopo_layout_change", function(event) {
                dev_map.invalidateSize();
                pub_map.invalidateSize();
            });

            // eventhandler for highlighting
            $('#routetable tbody')
                    .on('mouseenter', 'tr', function () {
                        var routeid = this.getAttribute('value');
                        highlight_geometry(routeid);
                        highlight_row(routeid);
                    });
            $('#routetable tbody')
                    .on('mouseleave', 'tr', function () {
                        var routeid = this.getAttribute('value');
                        un_highlight_geometry(routeid);
                        un_highlight_row(routeid);
                    });

            // init modals
            $("#publish-wall").on('click', function () {
                $("#revision-modal").modal();
            });

            $("#history-button").on('click', function () {
                $("#history-modal").modal();
            });
            $("#reset-button").on('click', function () {
                $("#reset-modal").modal();
            });

            if(isMobile()) {
                setTimeout(function () {
                    dev_map.invalidateSize(false);
                    pub_map.invalidateSize(false);
                }, 500)
            }
            pub_map.setView(dev_map.getCenter(), dev_map.getZoom());

            move_listeners_active = true;

            pub_map.on('moveend', function (e) {
                if(move_listeners_active){
                    move_listeners_active = false;
                    dev_map.setView(pub_map.getCenter(), pub_map.getZoom());
                    move_listeners_active = true;
                }
            });
            dev_map.on('moveend', function (e) {
                if(move_listeners_active){
                    move_listeners_active = false;
                    pub_map.setView(dev_map.getCenter(), dev_map.getZoom());
                    move_listeners_active = true;
                }
            });


            $("#changes").load("{% url "edit_spot:wallview_changeset" wallview1_id=wall.dev_view.pk wallview2_id=wall.pub_view.pk %}");

        });
    </script>

{% endblock %}


{% block mapobjects_info %}

    <br>
    <h4>
        <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
        {{ wall.name }} - {%trans "Publish" %}
    </h4>
    {% if no_geom %}
    <div class="alert alert-danger">
      <br>
      <span class="glyphicon glyphicon-warning-sign"></span>
      <b>{% trans "To publish, draw (or unlink) the following routes:" %}</b>
      <br>
      <ul>
	{% for rg in no_geom %}
	<li>{{ rg.route.name }}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    <br>
    <b>{% trans "Changes:" %}</b>
    <br>
    <div id="changes"></div>
    <br>
    <div id="routelist_div">
      {% if union_routelist %}
        <table id="routetable" style="width:100%">
            <thead>
            <tr>
                <th>{% trans "Route"      %}</th>
                <th>{% trans "Grade"     %}</th>
                <th>{% trans "staged"|truncatechars:15    %}</th>
                <th>{% trans "published" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for route in union_routelist %}
                <tr id="routetablerow_{{ route.id }}" value="{{ route.id }}">
                    <td>{{ route.name }}</td>
                    <td>
                        <span class="fa fa-signal route-grade-icon"></span>
                        {{ route.get_full_grade_display }}
                    </td>
                    <td>
                        {% if route.on_dev %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if route.on_pub %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      {% else %}
        <p>{% trans "No routes on wall." %}</p>
      {% endif %}
    </div>
    <br/>
    <br/>

    <button id="publish-wall" class="btn btn-success" {% if no_geom %}disabled{% endif %}>
      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> {% trans "Publish" %}
    </button>
    <button id="reset-button" title="{% trans "Discard your changes." %}" class="btn btn-warning">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> {% trans "Reset" %}
    </button>

    <button id="history-button" class="btn btn-secondary">
        <i class="fa fa-database" aria-hidden="true"></i>
        {% trans "History" %}
    </button>

    <br>

{% endblock %}
