{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block title %}
    cruxle.org - Compare versions of {{ wall.name }}
{% endblock %}

{% block extra_assets %}
    {% include "leaflet_base.html" %}
{% endblock %}%

{% block overwrite_styles %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
{% endblock %}

{% block modals %}
  <!-- The form redirects to the original url. The route_chooser dif is populated by hidden input elements -->
  <form method="POST">
    <span id="buttons" style="float:left;">
      {% csrf_token %}
      {% include "edit_spot/revision_comment.html" %}
    </span>
  </form>
{% endblock %}

{% block content %}
    <script>
        $(function () {
            open_slideout();

            $("#submit-button").click(function(){
                $("#revision-modal").modal();
            });

        });
        window.layerdict = {};
        function map_init(mapdiv_id) {

            var current_map = wallmap_init_base(mapdiv_id);

            // Now we initialize the existing route geometries

            if (mapdiv_id === 'new_wallmap') {
                {% for geom in new_routegeometries %}
                    {% if geom.geojson %}
                        // generate polylines with colors
		        add_feature(current_map,
                                "{{ geom.geojson_as_string|escapejs|safe }}",
                                {{ geom.route.id }},
                                '{{ geom.label }}');

                    {% endif %}
                {% endfor %}

                // and the wall decorations

                var markers = new L.featureGroup();
                {% for marker in new_markers %}

                markers.addLayer(
                    create_marker_from_json(
                        unescape("{{ marker.marker_json_edit | safe | escapejs }}")
                    )
                );
                {% endfor %}

                markers.addTo(current_map);
            }

            if (mapdiv_id === 'old_wallmap') {
                {% for geom in old_routegeometries %}
                    {% if geom.geojson %}
                        // generate polylines with colors
                        // note the custom filter!
		        add_feature(current_map,
                                "{{ geom.geojson_as_string|escapejs|safe }}",
                                {{ geom.route.id }},
                                '{{ geom.label }}');
                    {% endif %}
                {% endfor %}
                // and the wall decorations

                var markers = new L.featureGroup();
                {% for marker in old_markers %}

                markers.addLayer(
                    create_marker_from_json(
                        unescape("{{ marker.marker_json_edit | safe | escapejs }}")
                    )
                );
                {% endfor %}

                markers.addTo(current_map);

            }

            return current_map;
        }


        function add_feature(map, json, id, label) {
	    var fg_json = JSON.parse(unescape(json));

	    var fg = L.geoJSON(fg_json.geojson, {
		    pointToLayer: (feature, latlng) => {
			if (feature.properties.radius) {
			    return new L.Circle(latlng, feature.properties.radius);
			} else {
			    return new L.Marker(latlng);
			}
		    },
		onEachFeature: (feature, layer) => {

			layer.setStyle({
			    color: fg_json.color,
			    opacity: 1
			});
		}});

            addToLayerdict(map, id, fg);

            var routelabel = addRoutelabel(fg_json.anchorpoint, label);

            routelabel.on('mouseover', function (e) {
                highlight_row(label);
                highlight_geometry(label);
            });
            routelabel.on('mouseout', function (e) {
                un_highlight_row(label);
                un_highlight_geometry(label);
            });

            routelabel.addTo(map);
        }


        function addToLayerdict(map, routeid, featureGroup) {
        // Utility function to add a pair of geomid and references
            // to the layer to a dict, add the onClick handler and the layer to the map.
            if (routeid in layerdict) {
                featureGroup.routeid = routeid;
                layerdict[routeid] = [layerdict[routeid][0], featureGroup];
            } else {
                featureGroup.routeid = routeid;
                layerdict[routeid] = [featureGroup];
            }
            // add event handler
            featureGroup.on('mouseover', function (e) {
                highlight_geometry(e.target.routeid);
                highlight_row(e.target.routeid);
            });
            featureGroup.on('mouseout', function (e) {
                un_highlight_geometry(e.target.routeid);
                un_highlight_row(e.target.routeid);
            });
            featureGroup.addTo(map);

        }

        function highlight_geometry(routeid) {
            routeid = Number(routeid);
            if (typeof layerdict[routeid] !== 'undefined') {
                layerdict[routeid].forEach(function (featureGroup) {
                    featureGroup.eachLayer(function (layer) {
                        layer.setStyle({
                            weight: 8
                        });
                    })

                });

            }

        }

        function un_highlight_geometry(routeid) {
            routeid = Number(routeid);
            if (typeof layerdict[routeid] !== 'undefined') {
                layerdict[routeid].forEach(function (featureGroup) {
                    featureGroup.eachLayer(function (layer) {
                        layer.setStyle({
                            weight: 5
                        });
                    })

                });
            }
        }

        function highlight_row(label) {
            $('#routetablerow_' + label)
                    .addClass('highlight');
        }

        function un_highlight_row(label) {
            $('#routetablerow_' + label)
                    .removeClass('highlight');
        }

        function generate_routelist() {

        }

        $(document).ready(function () {
            var new_map = map_init('new_wallmap');
            var old_map = map_init('old_wallmap');

            $(document).on("mitopo_layout_change", function(event) {
                new_map.invalidateSize();
                old_map.invalidateSize();
            });

            // eventhandler for highlighting
            $('#routetable tbody')
                    .on('mouseenter', 'tr', function () {
                        var routeid = this.getAttribute('value');
                        highlight_geometry(routeid);
                        highlight_row(routeid);
                    });
            $('#routetable tbody')
                    .on('mouseleave', 'tr', function () {
                        var routeid = this.getAttribute('value');
                        un_highlight_geometry(routeid);
                        un_highlight_row(routeid);
                    });

            // init modals

            if(isMobile()) {
                setTimeout(function () {
                    new_map.invalidateSize(false);
                    old_map.invalidateSize(false);
                }, 500)
            }
            // old_map.setView(old_map.getCenter(), 0);
            // new_map.setView(new_map.getCenter(), 0);
            new_map.setView(old_map.getCenter(), old_map.getZoom());

            move_listeners_active = true;

            new_map.on('moveend', function (e) {
                if(move_listeners_active){
                    move_listeners_active = false;
                    old_map.setView(new_map.getCenter(), new_map.getZoom());
                    move_listeners_active = true;
                }
            });
            old_map.on('moveend', function (e) {
                if(move_listeners_active){
                    move_listeners_active = false;
                    new_map.setView(old_map.getCenter(), old_map.getZoom());
                    move_listeners_active = true;
                }
            });

        });
    </script>
      <div class="col-xs-12">
        <h4>{% blocktrans with name=wall.name date=target_revision.date_created|date:"D d M Y H:i" %}
          Changes for {{ name }} with respect to the version
          from {{ date }}
        {% endblocktrans %}
        </h4>
        <br>
      {% if changed_fields %}
        <p>
          <b>{% trans "Changes to wall metadata:" %}</b>
          <ul>
            {% for field, change in changed_fields.items %}
            <li>
              {% blocktrans with fieldname=field current_version=change.0 target_version=change.1 %}
              Field: {{ fieldname }} current version: `{{ current_version }}` target version: `{{ target_version }}`
              {% endblocktrans %}
            </li>
            {% endfor %}
          </ul>
        </p>
      {% else %}
        <p>
          <b>{% trans "No changes to wall meta for this revision." %}</b>
        </p>
      {% endif %}
      {% if changeset %}
        <p>
          <b>{% trans "Changes to routes and markers:" %}</b>
          <ul>
            {% for change in changeset %}
              <li>{{ change }}</li>
            {% endfor %}
          </ul>
        </p>
      {% else %}
        <p>
          {% trans "No changes to routes and markers for this revision." %}
        </p>
      {% endif %}
    <br>
    <div class="row">
      <div class="col-xs-12 col-lg-5">
        <table id="routetable" class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>{% trans "name"      %}</th>
              <th>{% trans "grade"     %}</th>
              <th>{% trans "target"    %}</th>
              <th>{% trans "current" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for route in union_routelist %}
              <tr id="routetablerow_{{ route.id }}" value="{{ route.id }}">
                <td>{{ route.name }}</td>
                <td>
                  <span class="fa fa-signal route-grade-icon"></span>
                  {{ route.get_full_grade_display }}
                </td>
                <td>
                  {% if route.on_new %}
                    <span class="glyphicon glyphicon-ok"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                  {% endif %}
                </td>
                <td>
                  {% if route.on_old %}
                    <span class="glyphicon glyphicon-ok"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                  {% endif %}
                </td>
              </tr>
        {% endfor %}
          </tbody>
        </table>
        <br>
        <button id="submit-button" type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-floppy-save"></span>{% trans "Revert" %}
        </button>
        <a href="{% if next_page %}{{ next_page }}{% else %}{% url "edit_spot:publish_wall" wall_id=wall.pk %}{% endif %}" role="button" class="btn btn-danger">Cancel</a>
      </div>
      <div class="col-xs-12 col-lg-7">
        <div style="height:20em;">
          <div class="publish-wall-label-box">
            <span class="label label-info">{% trans "target version" %} </span>
          </div>
          <div id="new_wallmap" class="leaflet_map full-height"></div>
        </div>
        <div style="height:20em;">
            <div class="publish-wall-label-box"><span class="label label-info">{% trans "current version" %}</span></div>
            <div id="old_wallmap" class="leaflet_map full-height"></div>
        </div>
      </div>
    </div>
      </div>

{% endblock %}


{% block mapobjects_info %}


{% endblock %}
