{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <script>
    $(document).ready(function () {
        $("#submit-button").click(function(){
            $("#revision-modal").modal();
        });
    });

  </script>

<h4>{% blocktrans with date=version.revision.date_created|date:"D d M Y H:i" %}Changes with respect to the version from {{ date }}{% endblocktrans %}</h4>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>{% trans 'Field' %}</th>
        <th>{% trans 'Current Version' %}</th>
        <th>{% trans 'Old Version' %}</th>
      </tr>
    </thead>

    <tbody>

      {% for field, change in changed_fields.items %}
        <tr>
          <td>{{field}}</td>
          <td>{{change.0}}</td>
          <td>{{change.1}}</td>
        </tr>

        {% empty %}
        <td><strong><i>
              {% trans '** This commit did not change anything' %}
        </i></strong></td>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>


<div class="row">

  <div class="col-xs-6 panel panel-primary">
    <div class="panel-heading">{% trans 'Current Version' %}</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          {{  route_form.as_table }}
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-6 panel panel-primary">
    <div class="panel-heading">{% trans 'Old Version' %}</div>
    <div class="panel-body">
      <form id="route-form" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            {{versioned_route_form.as_table}}
          </table>
        </div>
        <br>
        {% include "edit_spot/revision_comment.html" %}
      </form>
        <button id="submit-button" type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-floppy-save"></span>
          {% trans 'Revert to this version' %}
        </button>
        <a href="{{ next_page }}" role="button" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</div>

{% endblock %}
