<div id="revision-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please describe your Changes.</h4>
            </div>
            <div class="modal-body">
                <div class="fieldWrapper">
                    {{ revision_form.revision_comment.errors }}
                    {{ revision_form.revision_comment }}
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">
                    Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
