#route_list {
    list-style-type: none;
    overflow-y: auto;
    max-height: 500px;
}

.nav-link.active {
    background: #c2c3c4;
}

.button{
    color: #333;
    width: auto;
    text-align: center;
    padding: 5px 10px;
    margin: 3px;
    background: #f0f0f0;
    line-height: 1.5em;
    height: auto;
}

.button.active {
    background: #ea0000;
    color: #fff;
}

.draw_route_tool_img {
    width: 18px;
    cursor: pointer;
}

.left_pane{
    float: left;
    width: 42%;
}

.right_pane{
    width: 42%;
    margin-left: 45%;
}

.routelist_title{
    padding-bottom: 10px;
    font-weight: bold;
}

.table-spacing{
   border-spacing:5px;
}

/*.existing_routes_box {*/
/*max-height: 500px;*/
/*overflow-y: auto;*/
/*padding: 20px;*/
/*}*/
