{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}

<div class="col-lg-push-2 col-xs-12">
  {% if valid_form == True %}
  <script>
        $(document).ready(function () {
	    window.setTimeout(function () {
                window.location.href = "{{ next_page }}";
            }, 5000);
        });
  </script>
        <div class="contactform-outer-wrapper">
            <div class="contactform-wrapper">

                <div class="sent-success text-success">
                    {% blocktrans with url=next_page %}
                    Your message has been successfully sent.<br>
                    We will get back to you as soon as possible!<br>
                    <br>
                    Many Thanks!
		    <br>
		    <br>
                    <i class="fas fa-circle-notch fa-spin"></i>
                    You will be redirected to the <a href="{{ url }}">previous page</a> in 5 seconds.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="contactform-outer-wrapper vertical-scrollable-box">
            <div class="contactform-wrapper">

                <h1>{% trans 'Contact Us' %}</h1>
                <p>
                {% trans "Please drop us a line!"%}
                </p>

                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}
