{% load static %}
{% load i18n %}
{% if not html %}
    cruxle.org - {% trans 'Contact Form Submission' %}

    {% if mail_for_user %}
        {% trans 'You just submitted the following message to us via the contactform on the website.' %}
    {% endif %}

    {% if reason %}
        {% trans 'Reason' %}: {{ reason }}
    {% endif %}
    {% if src %}
        {% trans 'Source' %}: {{ src }}
    {% endif %}
    {% trans 'Message' %}:
    {{ message_body }}

    {% if user_id %}
        {% trans 'Received from' %} '{{ user_name }}':
        {{ base_url }}{% url 'users:user_detail' user_id=user_id %}
    {% else %}
        {% trans 'Received from' %}: {{ user_email }}
    {% endif %}






    {% trans "If you received this mail by mistake or you don't want to receive these kind of mails, please" %}
    {% trans 'contact us' %} support@cruxle.org

    cruxle.org Imprint: {{ base_url }}{% url 'miroutes:imprint' %}
{% else %}

    <html>
    <body>
    <h1>cruxle.org - {% trans 'Contact Form Submission' %}</h1>

    {% if mail_for_user %}
        {% trans 'You just submitted the following message to us via the contactform on the website.' %}<br/>
    {% endif %}

    {% if reason %}
        {% trans 'Reason' %}: {{ reason }}<br/>
    {% endif %}
    {% if src %}
        {% trans 'Source' %}: {{ src }}<br/>
    {% endif %}
    <h3>{% trans 'Message' %}</h3>
    <p>
        {{ message_body }}
    </p>

    {% if user_id %}
        {% trans 'Received from' %}
        <a href="{{ base_url }}{% url 'users:user_detail' user_id=user_id %}"><b>{{ user_name }}</b></a><br/>
    {% else %}
        {% trans 'Received from' %}: {{ user_email }}<br/>
    {% endif %}

    <p style="margin-top: 15ex; font-size: 12px;color:grey">
    {% trans "If you received this mail by mistake or you don't want to receive these kind of mails, please" %}
        <a href="mailto:support@cruxle.org">{% trans 'contact us' %}</a>
    <p>
    <p style="font-size: 12px;color:grey">
        cruxle.org <a href="{{ base_url }}{% url 'miroutes:imprint' %}">{% trans 'Imprint' %}</a>
    </p>
    </body>
    </html>

{% endif %}
