{% extends "base_popup.html" %}
{% load static %}

{% block content %}
Delete parking?
<br>

    <form id="parking_marker_form" method="POST">
        {% csrf_token %}
        <button type="submit" data-url="{% url "del_parking_marker" marker_id=marker.id %}" class="delete-button btn btn-primary">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </form>
{% endblock %}


