{% extends "base_popup.html" %}
{% load static %}

{% block content %}
Delete {{ marker.markertype }}?
<br>

    <form id="simple_marker_form" method="POST">
        {% csrf_token %}
        <button type="submit" data-url="{% url "generic_markers:del_simple_marker" marker_id=marker.id %}" class="delete-button btn btn-primary">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </form>
{% endblock %}
