{% extends "base_popup.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% trans "Add a note" %}
<br\>

<form id="text_marker_form" method="POST">
  <div class="form-errors"></div>
  {% if marker.id %}
  {% csrf_token %}
  {{ form.as_p }}
      <button data-url="{% url 'generic_markers:text_marker_detail' marker_id=marker.id %}" class="submit-button btn btn-success">
        <i class="glyphicon glyphicon-floppy-save"></i> Save
      </button>
      <button data-url="{% url 'generic_markers:del_text_marker' marker_id=marker.id %}" class="delete-button btn btn-primary">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    {% else %}
  {% csrf_token %}
  {{ form.as_p }}
      <button id="submit-form" data-url="{% url 'generic_markers:add_text_marker' wallview_id=wallview.id %}" class="submit-button btn btn-success">
        <i class="glyphicon glyphicon-floppy-save"></i> Save
      </button>
      <button id="delete-form" class="delete-button btn btn-primary">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    {% endif %}
</form>

{% endblock %}
