#activityfeed_content {
    .feed_entry {
        margin-bottom: 1em;
        margin-top: 1em;
        img {
            width: 50px;
        }
        img.sub_img {
            width: 30px;
        }
    }


}
