// disable pointer events on nvd3 chart... this is so that we may click through labels
#ascent_sunburst_chart .nvd3 text {
    pointer-events: none;
    white-space: pre; // allow line breaks in labels
}
#ascent_sunburst_chart .nvd3 .arc-container {
    cursor: pointer;
}

.wall_route_hist {
    .nvd3 .nv-axis line {
        display:none;
    }
}
