.comment-box {
    width: 400px;
    max-width: 90%;
}

div.comment-delete {
  display: inline-block;
  font-size: 80%;
}

ul.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        .comment-userprofile-area {
          word-wrap: break-word;
          text-overflow: ellipsis;
          font-size: small;
        }
        .comment-date-header-area {
          font-size: xx-small;
          .comment-delete {
            font-size: medium;
          }
        }
        margin-top: 2ex;
        img.comment-avatar {
            height: 2.5em;
            width:  2.5em;
            border-radius: 50%;
            float: left;
        }

        .comment-textarea {
            white-space: pre-wrap;  // pre environment preserves the newlines...
        }
    }

}
