.contactform-outer-wrapper {

    .contactform-wrapper {
        display: inline-block;

        .sent-success {
            margin-top: 10em;
            font-size: 150%;
        }
    }

    .contactform {

        input, textarea {
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
