.zero-height {
   height: 0;
}

.zero-width {
   width: 0;
}

.full-height {
   height: 100%;
}

.full-width {
   width: 100%;
}

.half-height {
   height: 50%;
}

.almost-on-top {
    z-index: 9000;
}

.on-top {
    z-index: 10000;
}

.top-buffer-margin {
    margin-top: 1em;
}

.top-buffer-margin-half {
    margin-top: .5em;
}

.word-wrap-break-word {
      word-wrap: break-word;
}

.cruxle-base-color {
  color: $base_color;
}

.hover-basecolor:hover {
    color: $base_color;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.grandstander-font {
    font-family: 'Grandstander-clean-font', sans-serif;
    text-rendering: optimizelegibility;
}

html, body {
  height: 100%;
}

.alert {
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  padding: 1px;
  padding-right: 35px;
}

.alert-success {
  transition: visibility 0s 2s, opacity 2s linear;
}

#greeter_container {
  text-align: center;

  #greeter {
    display: inline-block;
    font-size: 3em;
    #loading_spinner {
      opacity: 0;
      -webkit-transition: opacity 5s ease-in-out;
      -moz-transition: opacity 5s ease-in-out;
      -ms-transition: opacity 5s ease-in-out;
      -o-transition: opacity 5s ease-in-out;
      transition: opacity 5s ease-in-out;
    }
  }
}

#check_update_reload {
	z-index: 95;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-size: 150%;
  background: $base_color;
}

#header {
  padding-top: $header_padding;
  padding-bottom: $header_padding;
  background-repeat: repeat-x;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid $base_color;

  .menu-cell {
      width: $header_height;
  }

  .icon-line {
      height: $header_height;
  }

  #header-logo-link{
      font-size: 2.5em;
      line-height: 0px;
      color: black;
      vertical-align: text-bottom;

      #logo {
          height: $header_height;
      }
  }

  #header-logo-link:hover{
      text-decoration: none;
  }

  #header-logo {
      padding: 0;
      text-align: center;
  }

    #header-icons {
        padding: 0;
    }

    #header_icon_search {
      height: $header_height;
      vertical-align: middle;
      display: inline-block;

      #searchbutton-glyph {
          padding: 0;
      }
    }
    #header_icon_login {
      vertical-align: middle;
      display: inline-block;
    }

    #header-burger {
        padding-right: 0;
    }

    /* ==== BURGER ==== */

    #burgermenu-button {
        height: $header_height;
        width:  $header_height;
        cursor: pointer;
    }

    .hamburger-menu .dropdown-menu {
        z-index: 10000; // go beyond 1070 because tooltip from grade selector is that high
        width: 20em;
        max-width: 90vw;
    }

    .hamburger-menu {
        display: inline-block;

        height: $header_height;
        width:  $header_height;

        li {
            align-items: center;

            a.inactive{
                /* Make the disabled links grayish*/
                color: lightgray;
                /* And disable the pointer events */
                pointer-events: none;
            }
            a {
                align-items: center;
                width: 100%;
                font-size: 125%;
                div {
                    &.left-col {
                        width: 3em;
                        float: left;
                        img {
                            height: 1.5em;
                        }
                    }
                }
            }
        }

    }

    /* ==== user-menu ==== */
    #login-menu {
        height: $header_height;
        width:  $header_height;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .user-menu-button {
        height: $header_height;
        width:  $header_height;
        border-radius: 50%;
    }

    #user-menu-message-badge {
        color: $base_color_darker;
        position: absolute;
        right: -8px;
    }

    .user-menu-button:hover {
        opacity: 0.5;
    }

    #header-user-dropdown {
        width: 20em;
        max-width: 90vw;
        z-index: 10000;
        .login-social{
            padding: 0 1em;
        }
    }

    .logout-entry {
        text-align: right;
    }

    .dropdown-menu > li.logout-entry > a {
        font-weight: bold;
    }

    #header-edit-pane{
        background-color: $base_color_darker;
        border-radius: 0.5em;
        height: 2.5em;
        #edit_pane{
            #nav-logo{
                float: left;
                padding: 0 .5em;
                max-width: 50%;
                height: 2.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            #nav-items{
                list-style-type: none;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    a{
                        display: inline-block;
                        padding-top: 0.7em;
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        padding-bottom: 0.5em;
                        color: black;
                    }
                }
                li.active{
                    background-color: $base_color;
                }
                li.disabled{
                    a{
                        color: lightgray;
                        pointer-events: none;
                    }
                }
            }
            #nav-dropdown{
                a{
                    display: inline-block;
                    padding: 0.5em;
                    color: black;
                    text-decoration: none;
                }

            }
        }
    }

    .btn-mitopo {
        height: $header_height;
        line-height: $header_height;
        display: inline-block;
        vertical-align: middle;
        color: $base_color_darker;
        text-decoration: none;
        span{
            line-height: inherit;
            font-size: 2.2em;
        }
    }

} // end of #header


.btn-mitopo:hover {
    color: $base_color;
}

// large square button used in the wall_detail modal in case of help_wanted wall flags
.btn-sq-lg {
  width: 9em;
  margin: .2em;
}

$total-header-height: calc(#{$header_height} + 2*#{$header_padding} + 2px ); // this should be 3em for header, with 2ex padding, 2px border

#base-container{
    height: calc(100% - #{$header_height} - 2*#{$header_padding} - 2px);
    height: -webkit-calc(100% - #{$header_height} - 2*#{$header_padding} - 2px);
    overflow: auto;
}

.leaflet_map {
    padding: 1px;
    .leaflet-left
    {
        left: 20px; // we move the upper left controls on the maps a bit to the right so that it does not interfere with the slideout slide bar
    }
}

$slideout_width: 1.2em;

#slideoutwrapper {
    overflow: hidden;
    position: relative;
    height: 100%;

    #slideout {
        overflow: auto;
        height: 100%;
        max-height: 100%;
        padding-right: $slideout_width;
    }

    #slideout-toggle-area {
        background-color: $base_color;
        width: $slideout_width;
        height:100%;
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0;

        #slideout-toggle-button {
            position: absolute;
            top: 40%; // really putting it in the middle (50%) looks weird, move it up a bit
            right: .25em;
            width: .65em;

            color: black;

            transform: rotate(90deg) scale(5, 1);
            -webkit-transform: rotate(90deg) scale(5, 1); /* Safari and Chrome */
            -moz-transform:    rotate(90deg) scale(5, 1); /* Firefox */
            -ms-transform:     rotate(90deg) scale(5, 1); /* IE 9+ */
            -o-transform:      rotate(90deg) scale(5, 1); /* Opera */
        }
    }

    #slideout-toggle-area:hover {
        background-color: $base_color_darker;
    }
}


.slideout-open {
    padding-right: $slideout_width;
}

.slideout-hidden {
    // hiding the slideout is a bit tricky ...
    // as we do not want it to take any space in the layout:
    // we have to position it absolute this means that
    // we have to take care of the header heights,
    // so we position it total-header-height from the top
    // and reduce the height by the same
    top: $total-header-height;
    height: calc(100% - #{$header_height} - 2*#{$header_padding} - 2px) !important;
    width: $slideout_width;

    #slideout {
        display: none;
    }
}


/* search */

#search-wrapper {
    #search_input {
        // margin: 0 0.5em; // creates an overshoot on the right side of the dropdown
    }
    .search-dropdown {
        max-width: 85vw; // important on mobile so that it does not get too wide
    }
    .pre-scrollable {
        width: 600px;
        max-width: 100%;
        overflow: auto;
    }
}



// Wall Detail

#wall_detail_map {
    background: none;
}

.tick-button, .comment-button {
    background: none;
    padding: 0px;
}

#routetable {
    th, td {
        padding-left: 3px;
        padding-right: 3px;
    }
    tr {
       cursor: pointer;
    }
    tr.row-highlight {
	background-color: $base_color;
    }
    .route-row-details {
        border-left: .5em solid $base_color_darker;
    }
    .routelist-gradefield {
        white-space: nowrap;
    }
    .context-menu {
	display: none;
	position: absolute;
	background: $base_color;
    }
}

.leaflet-div-icon {
  background: #fff;
  text-align: center;
  border: 1px solid #666;
  border-radius: 10px;
}

.leaflet-interactive.active-active {
    background-color: $base_color;
}

.text-marker-text {
  background-color: #fff;
}

.text-marker {
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
}

.route-label {
    line-height: 1.1;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 2px;
}

.route-label-highlight {
    @extend .route-label;
    padding: 0px;
    font-size: large;
}

.route-label-grade {
    border-top: 1px gray solid;
}

// Wall Detail -> Map_info Tab

.wall-info {
    #small_map {
        height: 20em;
        max-height: 80%;
    }

    .sun-table {
        td {
            padding: 5px;
            text-align: center;
        }
    }

    .wall-sun-img {
        height: 40px;
        border-radius: 10px;
    }

    .wall-info-img {
        height: 40px;
        border-radius: 10px;
    }

    .approach-text {
        margin: 5px;
    }
}

.leaflet-control-container{
    #leaflet-polyline-edit-confirm {
        background-color: $base_color;
        height: 34px;
        width: 34px;
        span{
            vertical-align: middle;
        }
    }
    #leaflet-polyline-edit-cancel {
        height: 34px;
        width: 34px;
        span{
            vertical-align: middle;
        }
    }

}

// hide the distance label in the leaflet-draw polyline tooltip
.leaflet-draw-tooltip {
  .leaflet-draw-tooltip-subtext {
    display: none;
  }
}


#help-modal{
    .help-icon {
        font-size: large;
        color: $base_color_darker;
        text-align: right;
        padding: .2em;
    }
}

#link-routes-table_wrapper{
    div#link-routes-table_processing {
        top: 80%;
    }
}

.leaflet-container {
  z-index: 1;
//  height: 100%;
  background: none;
}

.route-info-img {
  height: 25px;
  vertical-align: top;
}

tr.flagged-deprecated{
    background-color: red;
}

div.wall-flagged-deprecated{
    margin: .5em 0;
    background-color: red;
    font-weight: bold;
}

.route-grade-icon {
  color: #ff9835;
}

#bs-grade-slider {
    margin-top: 40px;
}

#bs-grade-slider.slider-disabled {
    .slider-selection{
        background: lightgray;
    }
    .slider-handle{
        background: lightgray;
    }
    .tooltip {
        display: none;
    }
}

.mitopo-icon {
  height: 25px;
  font-size: 1.5em;
}

.decorate-icon {
  background-color: #fff;
}

.decorate-buttonsbar {
  width: 200px;
  max-width: 25vw;
  .decorate-icon {
      max-width: 100%;
      span {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}

#route-form-container {
    .small-form-fields {
        div {
            padding-bottom: 5px;
        }
        #id_name {
            width: 12em;
        }
        #id_style {
            width: 10em;
        }
        #id_grade_choices {
            width: 8em;
        }
        #id_linecolor {
            width: 3em;
        }
    }

}


/* hide sorting icons on wall_detail routetable */
#routetable th.sorting:after,
#routetable th.sorting_asc:after,
#routetable th.sorting_desc:after{
        content: none !important;
}
/* hide sorting icons on wall_detail routetable */

#marker-toolbox {
  background-color: whitesmoke;
  padding: 5px;
}

.draw_route_tool_img {
    cursor: pointer;
    color: black;
}

.large-modal-dialog {
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 0;
}

.large-modal-content {
  height: 100%;
  border-radius: 0;
}

#geom-carousel{
    .snapshot-carousel-caption{
    }
    .snapshot-carousel-indicators {
        .active {
            width: 12px;
            height: 12px;
            margin: 0;
            background-color: $base_color_darker;
        }
        li.snapshot {
            border-color: $base_color_darker;
        }
        bottom: 0;
        left: 0;
        width: auto;
        margin-left: 0;
        position: relative;
        display: inline;
    }

    .routeinfo-route-thumb {
        margin: 0 auto;
        border-radius: 1em;
    }

    .snapshot-carousel-control {
        color: $base_color_darker;
    }
}
// INBOX
#inbox-container {
    .thread-rule{
        border-top: 5px solid $base_color_darker;
        cursor: pointer;
                margin: .1em;
        display: block;

                background-color: #F2F2F2;
                border-radius: 5px;
                box-shadow: 0 0 6px #B2B2B2;
                padding: 10px 18px;
                vertical-align: top;

                td{
                        border-top: none; // same here, remove it otherwise we get a small line at the top of the table entries
                }
    }
        .thread-rule:hover {
                background-color: $base_color;
        }
        .thread-msg {
                border-left: .5em solid $base_color_darker;
                display: block; // override this here which is otherwise set as table-row and remove margin etc
                background-color: #FAFAFA;
                border-radius: 5px;
                box-shadow: 0 0 6px #B2B2B2;
                padding: 10px 18px;
                vertical-align: top;
                margin: .75em;
                td{
                        border-top: none; // same here, remove it otherwise we get a small line at the top of the table entries
                }
        }
        .thread-msg-details{
            color: grey;
        }
        .thread-msg-body{
            white-space: pre-line;
        }
        .thread-msg.in {
    }

    .unread-thread{
        background-color: $base_color;
        h5{
            font-weight: bold;
        }
    }
    .thread-party-thumb {
        text-align: center;
        img {
            border-radius: 50%;
        }
    }
    .thread-highlighted-msg {
        background-color: $base_color_lighter;
    }
}

/* ==== LOADER ==== */
.loader {
  border: 0.2em solid #f3f3f3; /* Light grey */
  border-top: 0.2em solid #8c8c8c; /* Blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.loader-inline {
  border: 0.1em solid #f3f3f3; /* Light grey */
  border-top: 0.1em solid #8c8c8c; /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Overlay that I put on the popup div when user clicks on a link*/
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay-loader {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 33%;
  left: 33%;
  @extend .loader;
}

img.profile-avatar {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 2em;
    padding: 1em;
}

#dev_wallmap, #pub_wallmap {
    background: none;
    padding: 0.1px;
}

.publish-wall-label-box {
    height: 0;
    font-size: 120%;
    position: relative;
    text-align: center;
    top: 2em;
    z-index: 1000;
}

#link-materials{
    .placeholder {
        border: solid 1px $base_color_darker;
        border-radius: .2em;
        padding: .5em;
    }

    .material_card {
      word-wrap: break-word;
    }
}

#wall_detail_navs li {
   width: 20%; // 5 buttons horizontally
   a {
   padding: 5px 5px; // decrease padding from bootstrap 10px 15px so that navtabs dont break line on mobile
 }}

.fade_wall_loader {
   opacity: 0;
   -webkit-transition: opacity 15s ease-in;
      -moz-transition: opacity 15s ease-in;
       -ms-transition: opacity 15s ease-in;
        -o-transition: opacity 15s ease-in;
           transition: opacity 15s ease-in;
}

.weather_table_daily_tr {
    cursor: pointer;
}

.weather-icon { // by default the weather icons have a lot of space around them, so we set them to 3em size and put a margin around them and let that overflow, this practically crops the icons
    height: 3em;
    overflow: hidden;
    margin: -1em;
}

.mintemp {
    color: blue;
}
.maxtemp {
    color: red;
}

.mitopo-qr-code-container {  // css settings to overlay the mitopo logo(biner) onto svg qr codes
    display: inline-block;
    position: relative;
    width: 20em;
    height: 20em;
    .mitopo-qr-code {
        position: absolute;
        left: 0px;
        top:0px;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .mitopo-qr-logo {
        position: absolute;
        left: 25%;
        top:35%;
        z-index: 1;
        width: 50%;
        // height:40%;
        // background-color: rgba(255, 255, 255, 0.5);
    }
}

#about-page {

    #about-page-heading {
        .mitopo-qr-code-container {
            width: 8em;
            height: 8em;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .about-content .faces {
      .about-person-entry {
        margin-top: 2em;

        .blockquote-reverse {
          font-size: inherit;
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          width: 150px;
          height: 150px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
        }
      }
    }

    .polaroid-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom:30px;

        .polaroid-img {
            box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);

            img {
                width: 100%;
            }
        }
    }
}

.wide_popover_container {
  .popover {
    max-width: 80%;
  }
}

#panostitcher-status-div {
    .panel {
        margin-bottom: 5px;
    }
    .panel-heading {
        padding-top: 3px;
        padding-bottom: 3px;
        .check_broebbler, .alert_broebbler {
            padding-left: 1em;
        }
    }
}
