#wallmap_export_map {
  width: 600px;
  height: 300px;
  .leaflet-control-attribution,
  .leaflet-bar-part,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-layers {
    display: none;
  }
}