.news-panel {
}

.news-entry {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px solid $base_color;
  border-radius: 15px;

  img.wall-thumb {
  }

  .news-user-thumb {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  h1 {
    display: inline;
    font-size: 150%;
  }

  // I would love to have the table to be responsive, i.e. scroll horizontally but this does not work on iphones.
  // Internet says to fix it as suggested below but I tried various permutations and this just does not work :(
  .news-col-right,.table-responsive,.table { 
      // overflow-y: auto;
      // -webkit-overflow-scrolling: touch;
  }
}

#load-more, #news-spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15em;
}

.news-load-more-section {
  margin-top: 3em;
  margin-bottom: 4em;
}
