$half-header-height: calc(0.5*(#{$header_height} + 2*#{$header_padding} + 2px)); // this should be 3em for header, with 2ex padding, 2px border
$total-header-height: calc(#{$header_height} + 2*#{$header_padding} + 2px); // this should be 3em for header, with 2ex padding, 2px border
$twice-header-height: calc(2*(#{$header_height} + 2*#{$header_padding} + 2px)); // this should be 3em for header, with 2ex padding, 2px border

#pdf-base-container {
    .mitopo-qr-code-container {  // css settings to overlay the mitopo logo(biner) onto svg qr codes
        width:  $twice-header-height;
        height: $twice-header-height;
    }

    .mitopo-icon {
        height: 1.1em;
    }

    .wall-route-hist {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .stay_together {
      page-break-inside: avoid;
      -webkit-region-break-inside: avoid;
    }
    .page_break_before {
      page-break-before: always;
      -webkit-region-break-before: always;
    }
    .page_break_after {
      page-break-after: always;
      -webkit-region-break-after: always;
    }
}
