.leaflet-popup {

  min-width: 18em;
  max-width: 70vw;
  margin: 3;

  .popup-heading {
      background: $base_color;
      font-size: 150%;
      vertical-align: middle;
      max-width: 65vw;
      white-space: pre-wrap; /* CSS3 */
      white-space: -moz-pre-wrap; /* Firefox */
      white-space: -pre-wrap; /* Opera <7 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* IE */
  }

  .leaflet-popup-close-button {
      display: none;
  }

  .popup-content {
      .row, #pic, #graph, #content {
          margin: 0;
          padding: 0;
      }
  }

  .popup-content #pic {
      text-align: center;
      img {
          max-width: 20em;
          max-height: 8em;
          margin-bottom: 1em;
      }
  }

  .wall_route_hist{
      width:  16em;
      height: 8em;
      max-width: 70vw;
  }
}


.popup-heading-wrapper {
  padding-top: 0.3em;
  padding-bottom: 0.5em;

  a.popup-heading {
      color: #000000;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  box-shadow: none;
  border: solid 5px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  .leaflet-popup-content {
      margin: 0;
  }
}
