.star-full {
  color: #ffcc00;
}

.star-stack {
  .star-full {
    position: relative;
    left: -1.15em;
    margin-right: -1.15em;
  }
}

.star-empty {
  color: #a5a5a5;
}

.rating-number {
    font-weight: bold;
}

.star-rating-td {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
