ul.timeline-itemlist {
        list-style: none;
        margin: 0;
        padding: 0;

        li.timeline-item {
                padding-bottom: 1em;
                border-left: solid $base_color 1px;
                // min height to display at least the avatar
                min-height: 5em;

                .timeline-item-body{
                }

                .timeline-item-what{
                }

                .timeline-version-li{
                        list-style: none;
                        white-space: nowrap;
                }

                .timeline-version-icon{
                        height: 1.5em;
                }

                .timeline-item-avatar {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                }

                .timeline-item-user {
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                        float: left;
                }
                .timeline-item-subject{
                }
                .timeline-item-text {
                    margin-left: calc(40px + 1em);
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                }
                .timeline-item-head {
                        color: $base_color_darker;
                        display: inline-block;
                        border-bottom: solid $base_color 1px;
                        :after {
                                display: block;
                        }
                        .timeline-item-date{
                            padding-left: 0.5em;
                        }
                }
        }
}
