.userpic-panel {
    height: 100%;
    overflow-x: hidden;

    div.userpic-entry{
        margin: .5em 0;
    }


    img.userpic-avatar{
        width: 2em;
        height: 2em;
    }

    div.userpic-desc{
        margin: .5em 0;
    }
}

.add-picture-button {
    width: 3em;
    height: 3em;
    text-align: center;
    padding: .8em 0;
    margin: 10px;
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #666;
    z-index: 1;
}

div.userpic-nav-control {
    margin: 0 auto;
    width: 15em;
}

