{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load miroutes_tags %}

{% block title %}
cruxle.org - {% trans 'About cruxle.org' %}
{% endblock %}

{% block extra_assets %}{% endblock %}

{% block content %}
<div id='about-page'>
    <div class="about-content col-xs-12 col-md-10 col-lg-9 col-md-push-1">
        <div class="row">
            {% comment %}
            <div class="col-xs-12 col-sm-4 top-buffer-margin">
                <div class="polaroid-container">
                    <img class="img-responsive polaroid-img"
                    src="{% static 'topo/img/about/pidgeon_bugaboos.jpg' %}"/>
                </div>
            </div>
            {% endcomment %}
        </div> <!-- end row -->
    </div>

    <div class="about-content col-xs-12 col-md-8 col-lg-8 col-md-push-1 top-buffer-margin-2em">
        <div class="row faces">

            <div class="col-xs-12 col-sm-8 top-buffer-margin">
                {% blocktrans %}
                <h3>cruxle.org - collaborative climbing topos</h3>
                <br>
                <p>
                cruxle.org is a database for climbing metadata
                and climbing topos presented as overlays on zoomable wall photographs.
                </p>
                <p>
                It is the wikipedia idea applied to topos and climbing information.
                Everything can be edited by everyone - no paywalls.
                You can contribute by uploading new topos or adding routes and
                descriptions to existing ones.
                </p>
                <p>
                The full software stack is opensource and available under the GNU Affero GPL at:
                <a href="https://gitlab.com/cruxle/cruxle" target="_blank">https://gitlab.com/cruxle/cruxle</a>
                Contributions are welcome!
                <p>
                All pictures and routes are created by members of the cruxle.org community
                and get published under the Creative Commons License
                to ensure that the work you put in is free to use for everyone and will stay free in the future.
                <br>
                Join your fellow cruxlers and help to provide the best topo guides to the climbing community!
                </p>
                <p>
                Your cruxle.org team
                <br/>
                Fabi, Al and Jonas
                </p>
                </p>
                <h3>Support Us</h3>
                <p>
                cruxle.org is free of charge, but running our infrastructure isn't.
                If you want to help us out, use the following account:
                <p style="font-family:'Lucida Console', monospace">
                mitopo.UG<br>
                IBAN / BIC:<br>
                DE16 7015 0000 1004 9803 12 / SSKMDEMMXXX
                </p>
                {% endblocktrans %}

                <h3>History</h3>
                {% blocktrans %}
                <p>
                The idea for cruxle was born 2015 in the evening after a long climbing tour out of
                frustration about the
                quality of commercial topos.
                </p>
                <p>
                A vision emerged:
                Easy creation and editing functionalities provided to a lively community
                should be the key ingredients for up-to-date topos, decreasing climbers frustration and
                increasing their safety.
                The wikipedia idea applied to topos and climbing information.
                </p>
                <p>
                Developing the project only on our free time, it took us about three years to finally move it online.
                So in 2018, we present <b class="fa-lg">cruxle.org, a platform for sharing climbing topos</b>.
                </p>
                {% endblocktrans %}


                <h3>{% trans 'Credits' %}</h3>

                {% include "miroutes/parts/credits_to.html" %}

            </div>
        </div>
    </div>
    <div class="about-content col-xs-12 col-md-3 col-lg-3">
        <div class="row faces">
            <div class="about-person-entry col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="img-responsive" src="{% static 'topo/img/about/alois.jpg' %}"/><br/>
                <blockquote class="blockquote-reverse about-quote">
                    <p class="mb-0">«
                    {% blocktrans %}
                    I moved to Berlin and since then I mostly go Bouldering indoors.
                    What I miss most about climbing actual mountains is the opportunity to wear my
                    collection of fancy fashionable helmets.
                    At least I can remember the good ol' days with my pictures from cruxle.org.
                    {% endblocktrans %}
                    »</p>
                    <footer>Alois Dirnaichner</footer>
                </blockquote>
            </div>
            <div class="about-person-entry col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="img-responsive" src="{% static 'topo/img/about/jonas.jpg' %}"/><br/>
                <blockquote class="blockquote-reverse about-quote">
                    <p class="mb-0">«
                    {% blocktrans %}
                    I like to hike and watch the walls from a safe distance ;).
                    For me, the great thing about cruxle.org is that I can fully contribute my skillset
                    as a software engineer and system administrator and I leave the climbing
                    to my fellow cruxlers.
                    {% endblocktrans %}
                    »</p>
                    <footer>Jonas Hahn</footer>
                </blockquote>
            </div>
        </div>
        <div class="row faces">
            <div class="about-person-entry col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="img-responsive" src="{% static 'topo/img/about/fabian.jpg' %}"/><br/>
                <blockquote class="blockquote-reverse about-quote">
                    <p class="mb-0">«
                    {% blocktrans %}
                    I love to climb moderate but long trad routes.
                    Otherwise I am trying to learn more about the weather and clouds (Meteorologist).
                    One distinct feature I like a lot about the project is the panorama stitcher
                    which allows me to create stunning high resolution images with low-end camera gear.
                    {% endblocktrans %}
                    »</p>
                    <footer>Fabian Jakub</footer>
                </blockquote>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
