{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - {% blocktrans with name=route.name %}Tick `{{name}}`.{% endblocktrans %}
    {% endblock %}
    {% load static %}

    {% block extra_assets %}
      <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% endblock %}
{% endif %}

{% load crispy_forms_tags %}

{% block content %}
  {% if request.is_ajax is False %}
    <div class="col-xs-12 col-md-10 col-lg-8">
      <h4>{% trans "Ascent Details" %}</h4>
      {% crispy form %}
    </div>
  {% else %}
    {% crispy form %}
  {% endif %}
{% endblock %}
