{% extends "base.html" %}
{% load i18n %}

{% block title %}
    cruxle.org - {% trans 'Help / FAQ' %}
{% endblock %}
{% block extra_assets %}
    <script>
        $(function () {
            $('#content').addClass("about-wrapper");
        });
    </script>
{% endblock %}
{% block content %}
    <div class="imprint col-xs-12">

        <h1>{% trans 'Help / FAQ' %}</h1>

        <h2><u>{% trans 'How to contribute?' %}</u></h2>
        {% blocktrans %}
        <p>
        We as the climbing community heavily rely on the information of route setters and developers as well as on up to date reports from climbers that repeat ascents.<br>
        The core concept of Cruxle.org is that everyone can help to gather all necessary information about crags and keep everything up to date.<br>
        </p>
        <p>
        As a registered user you may:
        <ul>
            <li>Add new walls</li>
            <li>Create new routes</li>
            <li>Draw routes, markers, etc. on the walls</li>
            <li>Add additional materials, like for example self-drawn topo maps</li>
        </ul>
        </p>
        <p>
        Also, even if your local crag is already published, maybe you could supply addition info, enhance the description, provide pictures of the surroundings or draw detailed topo's...
        <br>
        We would love if this site is of help to you and we hope to welcome you in our effort to map the worlds climbing spots!
        </p>
        <span class='text-success'>P.S. If you find a bug or bad content please let us know! - We would be forever grateful if you could tell us, ... really!</span>
        {% endblocktrans %}

        <h2><u>{% trans 'Link Walls, Routes and Users in Messages' %}</u></h2>
        {% blocktrans %}
            You can point other users to routes, walls, users and
        panorama images using simple markup in your private messages and comments:
        To link a
            <ul>
                <li>Route, use #Route&lt;ID&gt;</li>
                <li>Wall, use #Wall&lt;ID&gt;</li>
                <li>User, use #User&lt;ID&gt;</li>
                <li>Panorama, use #Pano&lt;ID&gt;</li>
            </ul>
            The ID of the object can be found when hovering over the name on the page showing the
            details of the object in question, i.e., the wall and route pages or the user profile.
            Alternatively, the ID can be found in the adress bar for these pages. E.g.,
            <code>
              https://cruxle.org/en-us/users/user_detail/11
            </code>
            is the profile page for user #11.
        {% endblocktrans %}

        <h2><u>{% trans 'How to delete my cruxle.org account?' %}</u></h2>
        {% url 'users:profile' as profile_url %}
        {% blocktrans %}
        You may change or delete your account on your
        <a href="{{profile_url}}">private profile page</a>.
        {% endblocktrans %}
    </div>
{% endblock %}
