{% extends "base.html" %}
{% load i18n %}

{% block title %}
cruxle.org - {% trans 'Imprint' %}
{% endblock %}
{% block extra_assets %}
<script>
$(function () {
    $('#content').addClass("about-wrapper");
});
</script>
{% endblock %}
{% block content %}

<div class="imprint col-xs-12 col-sm-10 col-lg-9">

    <h1>{% trans 'Imprint' %}</h1>


    <h2>{% trans 'Contact address' %}</h2>

    {% url 'micontactform:contact_form' as contact_url %}
    {% blocktrans %}
    Mitopo UG (haftungsbeschränkt)<br/>
    Fabian Jakub<br/>
    Isartalstr. 12<br/>
    80469 Munich, Germany<br/>
    <br/>
    or via the
    <a href="{{ contact_url }}">contact form</a>
    {% endblocktrans %}


    <h2>{% trans 'Allgemeine Geschäftsbedingungen' %}</h2>

      <b>Präambel</b>

      <p>Die folgenden Allgemeinen Geschäftsbedingungen regeln das Vertragsverhältnis zwischen der mitopo UG, Isartalstr. 12, 80469 Munich, Bundesrepublik Deutschland,
      eingetragen im Handelsregister des Amtsgerichts München unter HRB 236732 (nachfolgend "MITOPO" genannt) und den Nutzern, die Services von MITOPO nutzen, und definieren die Bedingungen, unter denen die Benutzung der MITOPO-Services erfolgt.
      Mit der Anmeldung bei MITOPO z. B.: unter https://cruxle.org (nachfolgend "Website" genannt) und aller darauf verweisenden Domains
      sowie in den mobilen Apps für IOS- und Android-Geräten (nachfolgend „mobile Apps“ genannt) erklärt sich der Nutzer mit den unten aufgeführten Geschäftsbedingungen einverstanden.
      Sollte der Nutzer mit den Geschäftsbedingungen nicht einverstanden sein, muss auf die Anmeldung verzichtet werden.
      Diese Allgemeinen Geschäftsbedingungen gelten für alle Webseiten und mobilen Apps des Betreibers MITOPO.</p>
      <ol>
        <li><b>Gültigkeit</b><br>
          Die hier aufgeführten Geschäftsbedingungen regeln die Richtlinien, unter denen die Benutzung der Website cruxle.org und der mobilen Apps der mitopo UG erfolgt.
          Die Geschäftsbedingungen finden auch dann Anwendung, wenn der Dienst von außerhalb der Bundesrepublik Deutschland genutzt wird.
          Durch die Registrierung bei MITOPO erkennt der Nutzer an, die Allgemeinen Geschäftsbedingungen gelesen und verstanden zu haben und diese zu akzeptieren.
          Abweichende Regelungen und insbesondere Bedingungen des Nutzers, die mit den Geschäftsbedingungen in Widerspruch stehen, bedürfen der schriftlichen Einwilligung des Betreibers.
        </li>
        <li><b>Beendigung der Mitgliedschaft</b><br>
          <ol>
            <li>Der Nutzer ist berechtigt die Mitgliedschaft bei MITOPO jederzeit zu kündigen. Dazu findet er in seinen Konto-Einstellungen auf der Webseite im Benutzerprofil eine entsprechende Konto-Löschen-Funktion.
              Auch eine Kündigung per E-Mail ist möglich.</li>
            <li>Die Mitgliedschaft ist durch MITOPO ohne Einhaltung einer Kündigungsfrist außerordentlich kündbar, wenn der Nutzer gegen die vorliegenden Allgemeinen Nutzungsbedingungen verstößt.</li>
            <li>MITOPO behält sich das Recht vor, die Registrierung von Nutzern ohne Angabe von Gründen abzulehnen.</li>
            <li>Nach Beendigung der Mitgliedschaft werden alle Daten des Nutzers aus der MITOPO Datenbank zeitnah gelöscht, soweit diese nicht zu
              Nachweiszwecken einer rechtswidrigen Handlung des Nutzers, über die Vertragsbeendigung hinausgehend, benötigt werden.</li>
            <li>Außerdem werden bei Beendigung der Mitgliedschaft alle Beiträge (z.B. Kommentare) des Nutzers anonymisiert.</li>
          </ol>
        </li>
        <li><b>Pflichten des Nutzers</b><br>
          <ol>
            <li>Der Nutzer ist für den Inhalt seiner Anmeldung und somit für die Daten, die er über sich macht, alleine verantwortlich.
              Insbesondere verpflichtet er sich keine rassistischen, beleidigenden, diskriminierenden, belästigenden, verleumderischen,
              sexuellen, pornografischen, gewaltverherrlichenden oder sonstige rechtswidrige Inhalte, Personen oder Darstellungen zu speichern,
              zu veröffentlichen, zu übermitteln und zu verbreiten.
              Des Weiteren wird der Nutzer ausdrücklich darauf hingewiesen, dass es verboten ist rechtlich geschützte
              Begriffe, Namen, Bilder, Videos, oder andere Materialien zu verwenden.</li>
            <li>Ferner ist der Nutzer verpflichtet, geeignete Maßnahmen zu treffen, um eine unautorisierte
              Nutzung seiner Daten insbesondere Kennwörter durch Dritte zu verhindern. Er verpflichtet sich,
              MITOPO unverzüglich über eine bemerkte oder vermutete unautorisierte Nutzung seines Accounts zu informieren.</li>
            <li>Der Nutzer versichert, dass er keine Lichtbilder oder sonstigen Werke einstellt, ohne nach den geltenden urheberrechtlichen Regelungen hierzu berechtigt zu sein.</li>
            <li>Der Nutzer verpflichtet sich, MITOPO schadlos von jeder Art von Klagen, Schäden, Verlusten oder
              Forderungen zu halten, die durch seine Anmeldung und / oder die Teilnahme an diesem Service entstehen können, insofern diese Schäden nicht auf Vorsatz oder Fahrlässigkeit MITOPOs, bzw. dessen gesetzlicher Vertreter oder Erfüllungsgehilfen beruhen. Besonders verpflichtet sich der Nutzer, MITOPO
              von jeglicher Haftung und von allen Verpflichtungen, Aufwendungen und Ansprüchen, die sich aus Schäden wegen übler Nachrede, Beleidigung, Verletzung von Persönlichkeitsrechten, wegen dem Ausfall
              von Dienstleistungen für Nutzer, wegen der Verletzung von Immaterialgütern oder sonstiger Rechte ergeben, freizusprechen.</li>
            <li>Der Nutzer verpflichtet sich, nicht vorsätzlich die Daten dritter Personen (inkl. E-Mail-Adresse)
              als seine eigenen anzugeben. Insbesondere verpflichtet er sich dazu, nicht in
              betrügerischer Absicht die Bankverbindung oder die Kreditkartendaten Dritter anzugeben.</li>
            <li>Der Nutzer verpflichtet sich des Weiteren, bei Anmeldung und Nutzung des Angebots unter
              cruxle.org oder der mobilen Apps die jeweils anwendbaren Gesetze einzuhalten.</li>
            <li>Ferner verpflichtet sich jeder einzelne Nutzer, den Service nicht missbräuchlich zu benutzen,
              insbesondere:
              <ul>
                <li>über ihn kein diffamierendes (z. B. üble Nachreden), anstößiges oder in sonstiger Weise
                  rechtswidriges Material oder solche Informationen weiterzugeben</li>
                <li>ihn nicht zu benutzen, um andere Personen / Nutzer zu bedrohen, belästigen oder die Rechte
                  (einschließlich Persönlichkeitsrechte) Dritter zu verletzen</li>
                <li>keine Daten hochzuladen, die einen Virus beinhalten (infizierte Software). Generell keine
                  Software oder anderes Material hochzuladen, das urheberrechtlich geschützt ist, es sei denn, der
                  Nutzer hat die Rechte daran oder die erforderlichen Zustimmungen - hier kann durch den Betreiber ein schriftlicher Nachweis gefordert werden</li>
                <li>ihn nicht auf eine Art und Weise zu nutzen, welche die Verfügbarkeit der Leistungsangebote für andere Nutzer nachteilig beeinflusst</li>
                <li>keine E-Mails abzufangen und dies auch nicht zu versuchen</li>
                <li>keine Werbung für andere Internetportale zu betreiben</li>
                <li>keine Kettenbriefe oder Chatnachrichten zu verfassen und an mehreren Personen gleichzeitig zu versenden</li>
                <li>in den persönlichen und freiwilligen Angaben (Nutzer-Profil) keine Namen, Adressen, Telefon- oder Faxnummern sowie E-Mail Adressen zu nennen.</li>
              </ul>
            </li>
            <li>Folgende Bilder dürfen nicht hochgeladen werden:
              <ul>
                <li>Bilder, die Nacktheit; sexuelle und/oder pornografische Handlungen andeuten oder zeigen</li>
                <li>Urheberrechtlich geschütze Bilder / gestohlene Bilder (z.B. Bilder aus dem Internet)</li>
                <li>Bilder, die Gewalt, Drogen, Waffen oder Ähnliches abbilden</li>
                <li>Bilder die den Konsum von Alkohol, Zigaretten, Shisha etc. von Personen unter 18 Jahren zeigen</li>
                <li>Bilder, die Text und/oder Kontaktdaten enthalten bzw. Rückschlüsse auf persönliche Daten ermöglichen</li>
                <li>Bilder, die verbotene Symbole, Fahnen oder sonstige Zeichen und offensive Gesten jeder Art (Ausnahme: anerkannte Staatsflaggen)</li>
                <li>Bilder von geschützten Markenzeichen</li>
                <li>Bilder, auf fremde Webseiten verweisen oder andere kommerzielle Inhalte zeigen</li>
              </ul>
            </li>
          </ol>
        </li>
        <li><b>Verstoß gegen Nutzerpflichten</b>
          <ol>
            <li>MITOPO hat das Recht, Inhalte, Personen oder Darstellungen, die gegen die vorliegenden
              Allgemeinen Nutzungsbedingungen verstoßen oder rechtwidrig sind, z.B. gegen Gesetzes- und
              Rechtsvorschriften, insbesondere Jugendschutz, Datenschutz, Schutz des Persönlichkeitsrechts,
              Schutz vor Beleidigung, Urheberrechte, Markenrechte verstoßen selbst zu entfernen.</li>
            <li>Ein Anspruch auf Wiederherstellung der durch MITOPO gelöschten Informationen besteht nicht.</li>
            <li>Darüber hinaus ist MITOPO berechtigt den Benutzer bei Nichtbeachtung der
              Allgemeinen Nutzungsbedingungen zu verwarnen, temporär oder endgültig von den MITOPO Diensten auszuschließen.
              Je nach Schwere bzw. Art und Weise des Vergehens kann ein Verstoß auch zivil- und strafrechtliche
              Folgen für den Nutzer selbst mit sich bringen.</li>
            <li>Die Geltendmachung weiterer Ansprüche, insbesondere Schadensersatzansprüche, bleibt MITOPO ausdrücklich vorbehalten.</li>
          </ol>
        </li>
        <li><b>Nutzungsrechte</b>
          <ol>
            <li>MITOPO gestattet seinen registrierten Nutzern das angebotene Produkt- und Dienstleistungsportfolio unter Berücksichtigung der gesetzlichen Bestimmungen und der vorliegenden Allgemeinen Geschäftsbedingungen zu nutzen, um
              Inhalte hochzuladen, zu speichern, zu veröffentlichen, zu verbreiten, zu übermitteln und mit anderen Nutzern zu teilen.</li>
            <li><b>Nutzungsrechte an Lichtbildern des Nutzers:</b>
              Der Nutzer (Lizenzgeber) räumt mitopo (Lizenznehmer) betreffend der von Ihm auf cruxle.org hochgeladenen Lichtbilder die auf
              Dritte übertragbaren, räumlich unbeschränkten (weltweiten),
              zeitlich unbeschränkten (für die Dauer der für das lizenzierte Werk nach dem
              deutschen Urheberrechtsgesetz vorgesehenen Schutzfrist) und inhaltlich
              unbeschränkten (z.B. für Darstellung auf cruxle.org oder einer anderen Webseite der mitopo UG, Darstellung in einer Smartphone Applikation,
              Darstellung als Teil anderer Werke, Darstellung und Download als Teil von Werken die zum Druck vorgesehen sind,
              Download des Werkes, Weitergabe des Werkes in analoger, digitaler oder abgeleiteter Form an Dritte,
              Druck des Werkes, Druck des Werkes durch Dritte, Bearbeiten des Werkes, Versenden des Werkes in digitaler und analoger Form, Speichern des Werkes)
              Nutzungsrechte ein. MITOPO ist daher berechtigt die Inhalte für Werbezwecke oder sonstige Veröffentlichungen,
              sowohl in Teilen oder im Ganzen, in jedem Format oder Medium zu nutzen. Der Nutzer räumt MITOPO in diesem Zusammenhang
              Urheberpersönlichkeitsrechte ein, wobei MITOPO ausdrücklich darauf hinweist, dass MITOPO keine Inhaberschaft an der von den
              Nutzern bereitgestellten Inhalten erhält und somit keine Aufsichtsfunktion der Inhalte durch MITOPO stattfindet.
              MITOPO erhebt keinen Anspruch auf das ausschließliche Nutzungsrecht.</li>
            <li><b>Zustandekommen des Vertrags:</b> Der Nutzer willigt durch den Upload des Lichtbildes (durch Klick auf die jeweils
              gekennzeichnete Schaltfläche z.B. bei der Erstellung einer Wand ("Wall"),
              bei der Bereitstellung von Informationsmaterialien oder der Bereitstellung von Userbildern) in diese Nutzungsrechte ein.</li>
            <li><b>Speichern der Vertragsdaten:</b> mitopo.de speichert die Details des Vertragsabschlusses in einer Datenbank.</li>
            <li>MITOPO weist den Nutzer ausdrücklich darauf hin, dass Inhalte gespeichert und an Dritte weitergegeben werden dürfen, soweit dies
              gesetzlich vorgeschrieben oder nach pflichtgemäßem Ermessen notwendig und rechtlich zulässig ist.</li>
            <li>Ferner weist MITOPO ausdrücklich darauf hin, dass Nutzer-Daten zu jeder Zeit ohne Angaben von Gründen und ohne
              Benachrichtigung der betroffenen Nutzer entfernt werden können.</li>
          </ol>
        </li>
        <li><b>Verbot gewerblicher oder geschäftlicher Nutzung, Verbot von Spamming</b><br>
          <ol>
            <li>Der Nutzer versichert, dass er im Zusammenhang mit seiner Nutzung keine gewerblichen und / oder geschäftlichen
              Hintergründe verfolgt. Er verpflichtet sich, die MITOPO Webseite und die mobilen Apps nicht gewerblich oder geschäftlich
              zu nutzen.</li>
            <li>Gewerbliche oder geschäftliche Benutzung, zu deren Unterlassung der Nutzer sich hiermit verpflichtet, sind insbesondere:
              <ul>
                <li>das Anbieten von Waren oder Dienstleistungen gegen Geldwert, die Aufforderung ein
                  entsprechendes Angebot abzugeben oder der Verweis auf ein an anderer Stelle erreichbares
                  entsprechendes Angebot (etwa durch Verweis auf spezielle Internet-Auktionen)</li>
                <li>die Werbung für gewerbliche Internet-Seiten, oder mobile Apps d.h. insbesondere Seiten, die:</li>
                <li>Waren oder Dienstleistungen entgeltlich anbieten,</li>
                <li>der Darstellung oder zur Werbung von Unternehmen dienen oder</li>
                <li>andere gewerbliche Internet-Portale bewerben. Dies gilt insbesondere für Bewerbung von
                  Unternehmen in Form von Pop-Ups, Banner-Werbung oder durch besonders hervorgehobene oder auffällige Links. Eine Internet-Seite gilt insbesondere auch dann als gewerblich,
                  wenn von ihr aus direkt oder indirekt auf das gewerbliche Internetportal eines anderen Betreibers verlinkt wird</li>
                <li>das Sammeln der im Rahmen des Internetportals zugänglichen Profil-Daten oder in Erfahrung
                  bringen von Daten (z.B. Telefon-/Handynummer) einzelner Nutzer mit dem Hintergrund der
                  kommerziellen Benutzung, Werbung oder des Weiterverkaufes an Dritte.</li>
              </ul>
            </li>
            <li>Der Nutzer verpflichtet sich dazu, es zu unterlassen, anderen Nutzern des hier angebotenen Dienstes oder sonstigen Nutzern Werbung in jeglicher Form für kommerzielle Angebote zu machen und keine Nachrichten (Private Messages oder E-Mails) zu versenden, die einem gewerblichen Zweck dienen. Dies bezieht sich auch auf das Setzen oder Nennen von dementsprechenden Links in denen anderen Nutzern oder sonstigen Nutzern dieses Dienstes zugänglichen Profilen oder auf den Versand
              von Nachrichten mit den internen Nachrichtenaustausch-Systemen (z.B. Nachrichtenversand, Foren
              und Profildaten).</li>
          </ol>
        </li>
        <li><b>Haftung durch mitopo</b><br>
          <ol>
            <li>Für auftretende Schäden, psychischer, physischer oder finanzieller Art, die mit dem angebotenen
              Service in Verbindung stehen, haftet MITOPO nur, insofern dieser Schaden auf einer grob fahrlässigen
              Pflichtverletzung von MITOPO, bzw. dessen gesetzlichen Vertretern oder Erfüllungsgehilfen oder auf Vorsatz von
              MITOPO, bzw. dessen gesetzlicher Vertreter oder Erfüllungsgehilfen entsteht.</li>
            <li>Für Schäden, die mit dem angebotenen Service in Verbindung stehen und die an anderen Rechtsgütern als
              Leben, Körper oder Gesundheit auftreten, haftet MITOPO, soweit dieser Schaden auf einer grob fahrlässigen
              Pflichtverletzung von MITOPO, bzw. dessen gesetzlicher Vertreter oder
              Erfüllungsgehilfen oder auf Vorsatz des Betreibers, bzw. dessen gesetzlicher Vertreter oder Erfüllungsgehilfen beruht.</li>
            <li>MITOPO kann nicht für unkorrekte Angaben des Nutzers, insbesondere zu Wand- und Routeninformationen, rechtlich belangt werden.</li>
            <li>MITOPO haftet nicht für unbefugte Kenntniserlangung durch Dritte von persönlichen Daten der Nutzer (z. B. durch unbefugten
              Zugriff von "Hackern" auf die Datenbank), soweit MITOPO unter Berücksichtigung der Einschränkung
              der Absätze 1 und 2 dieses Paragraphen nicht eigenes Verschulden, bzw. ein Verschulden seiner gesetzlicher Vertreter
              oder Erfüllungsgehilfen trifft. MITOPO ist berechtigt, aber nicht verpflichtet, den Inhalt jedes Textes sowie
              eingesendeter / hochgeladener Fotos bzw.
              Grafikdateien auf die, diesen AGB zu Grunde liegenden Bestimmungen hin zu überprüfen und, falls erforderlich, zu ändern oder zu entfernen / löschen.</li>
            <li>MITOPO kann für signifikante Beeinträchtigungen des Dienstes nicht haftbar gemacht werden.</li>
            <li>Des Weiteren haftet MITOPO nicht für von diesem nicht zu verantwortende Ausfälle des Dienstes, z. B. durch höhere Gewalt oder technischen Störungen des Internets.</li>
            <li>Für die Inhalte Dritter sowie externer Links kann MITOPO keine Verantwortung übernehmen.
              Bei von den Nutzern verfassten und unter cruxle.org veröffentlichten Inhalten handelt es sich um
              fremde Inhalte im Sinne des § 5 des Teledienstegesetzes (TDG) in der Fassung vom 22.7.1997, weshalb für diese von
              MITOPO keinerlei Verantwortung übernommen wird.</li>
          </ol>
        </li>
        <li><b>Änderungen der AGB</b>
          <ol>
            <li>MITOPO behält sich das Recht vor, die allgemeinen Geschäftsbedingungen zu ändern.</li>
            <li>Der Nutzer erklärt, mit der Anwendung der geänderten Allgemeinen
              Geschäftsbedingungen (AGB) auf bereits vor der Änderung geschlossene Verträge
              einverstanden zu sein, wenn MITOPO den Nutzer darauf hinweist, dass eine Änderung der
              AGB stattgefunden hat und der Nutzer nicht innerhalb einer Frist von zwei Wochen,
              beginnend mit dem Tag, der auf die Änderungsmitteilung folgt, der Abänderung
              widerspricht.</li>
            <li>Die Mitteilung der Änderung muss noch einmal den Hinweis auf die Möglichkeit
              und Frist des Widerspruchs, sowie die Bedeutung, bzw. Folgen des Unterlassens eines
              Widerspruches enthalten. Sie kann per E-Mail an die vom Nutzer angegebene
              E-Mail-Adresse erfolgen.</li>
          </ol>
        </li>
        <li><b>Schlussbestimmung</b><br>
          Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach Vertragsschluss unwirksam oder undurchführbar werden,
          bleibt davon die Wirksamkeit des Vertrages im Übrigen unberührt.
          An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und durchführbare Regelung treten,
          deren Wirkungen der wirtschaftlichen
          Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen
          bzw. undurchführbaren Bestimmung verfolgt haben. Die vorstehenden Bestimmungen
          gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist.
        </li>
      </ol>

    <h2>{% trans 'Licenses' %}</h2>

    <ul>
        {% for license in licenses %}
            <li>
                <a target="_blank"
                   href="{% url 'miroutes:license' license_key=license.translation_key %}">{{ license.long_name }}
                    ({{ license.short_name }})</a>
            </li>
        {% endfor %}

    </ul>

</div>



{% endblock %}
