{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block meta_description %}{% trans "cruxle.org - A global map of climbing destinations" %}{% endblock %}

{% block title %}
{% trans "cruxle.org - a collaborative platform for climbing topos" %}
{% endblock %}

{% block extra_assets %}

{% include "leaflet_base.html" %}

<script type="text/javascript">

function map_init(mapdiv_id) {

    var map = map_init_base(mapdiv_id);
    map.zoomControl.setPosition("topright");
    map.on('contextmenu',function(event){
        var url = "{% url "edit_spot:add_wall_img" %}?wall_lat=" + event.latlng.lat + "&wall_lng=" + event.latlng.lng;
        var popup = L.popup()
            .setLatLng(event.latlng)
            .setContent('<a href=' + url +' ><span class="glyphicon glyphicon-plus"></span> {% trans "Add Wall" %}</a>');
        popup.openOn(map);
    });
    return map;
}
</script>

{% endblock %}


{% block infobar %}
{% endblock %}

{% block mapobjects_info %}
<h4>{% trans "Filter" %}</h4>
<i id="slideout-wall-filter-spinner" class="fa fa-2x fa-spinner fa-spin pull-right on-top"></i>

<ul id="wall-filter-entries" class="list-group">
    <li class="list-group-item">
        <label>{% trans "Filter Walls by selecting a Range of Grades" %}:</label>
        <br>
        <select id="grade-system-selector" title="{% trans "Select Grading System" %}">
            {% for num, grade_sys in grade_systems %}
            <option value="{{ num }}">{{ grade_sys }}</option>
            {% endfor %}
        </select>
        <br>
        <input id="grade-slider" type="text" class="span2 grade-slider" value="" data-slider-step="1" data-slider-value="[0, 9]" data-slider-handle="square" />
    </li>
    <li class="list-group-item">
        <label>
            <input type="checkbox" class="style-select filter" value="0" checked="checked"> {% trans "Sport Climbs" %}
        </label>
        <br>
        <label>
            <input type="checkbox" class="style-select filter" value="1" checked="checked"> {% trans "Boulders" %}
        </label>
        <br>
        <label>
            <input type="checkbox" class="style-select filter" value="2" checked="checked"> {% trans "Alpine Climbs" %}
        </label>
    </li>
    <li class="list-group-item">
        <label>
          <input type="checkbox" id="trad-climbs" class="filter" checked="checked"> {% trans "Show walls with trad climbs."|truncatechars:28 %}
          <a href="#"
             tabindex="0" role="button"
             title="{% trans "Walls with trad routes" %}"
             data-toggle="popover"
             data-trigger="focus"
             data-placement="top"
             data-container="body"
             data-content="{% trans 'Show walls with trad climbs. I.e. routes where you have to take of protection(bolts etc.) yourself.' %}">
            <span class="fa fa-info-circle fa-lg"></span>
          </a>
        </label>
        <br>
        <label>
          <input type="checkbox" id="empty-walls" class="filter" checked="checked"> {% trans "Show walls without routes"|truncatechars:28 %}
          <a href="#"
             tabindex="0" role="button"
             title="{% trans "Walls without routes" %}"
             data-toggle="popover"
             data-trigger="focus"
             data-placement="top"
             data-container="body"
             data-content="{% trans 'Walls without routes are shown by default.' %}">
            <span class="fa fa-info-circle fa-lg"></span>
          </a>
        </label>
        <br>
        <label>
            <input type="checkbox" id="deprecated-walls" class="filter"> {% trans "Show deprecated walls"|truncatechars:28 %}
            <a href="#"
               tabindex="0" role="button"
               title="{% trans "Deprecated Walls" %}"
               data-toggle="popover"
               data-trigger="focus"
               data-placement="top"
               data-container="body"
               data-content="{% trans 'Walls are usually marked as deprecated if they contain old or erroneous information or if there is a newer/better version.' %}">
              <span class="fa fa-info-circle fa-lg"></span>
            </a>
        </label>
        <br>
        <label>
            <input type="checkbox" id="unpublished-walls" class="filter"> {% trans "Show unpublished walls"|truncatechars:28 %}
            <a href="#"
               tabindex="0" role="button"
               title="{% trans "Unpublished Walls" %}"
               data-toggle="popover"
               data-trigger="focus"
               data-placement="top"
               data-container="body"
               data-content="{% trans 'Unpublished walls are those that were recently uploaded and are <b>not yet ready</b> for the public. I.e. the creator hasn`t published them yet. Enable this option here to get a sneak preview. 😉' %}">
               <span class="fa fa-info-circle fa-lg"></span>
            </a>
        </label>
        <br>
        <label>
            <input type="checkbox" id="sub-walls" class="filter"> {% trans "Show subwalls"|truncatechars:28 %}
        </label>
        <a href="#"
           tabindex="0" role="button"
           title="{% trans "Subwalls" %}"
           data-toggle="popover"
           data-trigger="focus"
           data-placement="top"
           data-container="body"
           data-content="{% trans 'Subwalls display <b>sub-sections of regular walls</b>. They are not shown on the global map by default and can be reached through links on other walls.' %}">
           <span class="fa fa-info-circle fa-lg"></span>
        </a>
    </li>
</ul>
<br/>
<button id="reset-filter-button" class="btn btn-secondary"><b>{% trans "Reset Filters" %}</b></button>
{% endblock %}


{% block content %}
<script type="text/javascript">


$(document).ready(function () {
    map = map_init('index_map');

    $(document).on("mitopo_layout_change", function(event) {
        map.invalidateSize();
    });

    {% if filter %}
        open_slideout();
    {% endif %}

    function reset_filter(){
        $("#grade-slider").bootstrapSlider('setValue', globalVars.defaultFilterOptions.grades);
        $(".style-select").each(function (num) {
            if($.inArray(num, globalVars.defaultFilterOptions.styles))
                $(this).prop('checked', true);
        });
        $("#trad-climbs").prop('checked', globalVars.defaultFilterOptions.show_trad ? true : false);
        $("#empty-walls").prop('checked', globalVars.defaultFilterOptions.show_empty ? true : false);
        $("#deprecated-walls").prop('checked', globalVars.defaultFilterOptions.show_deprecated ? true : false);
        $("#unpublished-walls").prop('checked', globalVars.defaultFilterOptions.show_unpublished ? true : false);
        $("#sub-walls").prop('checked', globalVars.defaultFilterOptions.show_sub ? true : false);
        update_wallmarkers(map);
        append_message("{% trans "Filters deactivated ..." %}", "success");
    }

    function applyFilterOptions(filterOptions){
        $("#grade-slider").bootstrapSlider('setValue', filterOptions.grades);
        $(".style-select").each(function (){
            if($.inArray(String($(this).val()), filterOptions.styles) > -1){
                $(this).prop('checked', true);
            }else{
                $(this).prop('checked', false);
            }
        });

        if(filterOptions.show_empty){
            $("#empty-walls").prop('checked', true);
        }else{
            $("#empty-walls").prop('checked', false);
        }

        if(filterOptions.show_trad){
            $("#trad-climbs").prop('checked', true);
        }else{
            $("#trad-climbs").prop('checked', false);
        }

        if(filterOptions.show_deprecated){
            $("#deprecated-walls").prop('checked', true);
        }else{
            $("#deprecated-walls").prop('checked', false);
        }

        if(filterOptions.show_unpublished){
            $("#unpublished-walls").prop('checked', true);
        }else{
            $("#unpublished-walls").prop('checked', false);
        }

        if(filterOptions.show_sub){
            $("#sub-walls").prop('checked', true);
        }else{
            $("#sub-walls").prop('checked', false);
        }

        update_wallmarkers(map);
    }


    map.on('moveend', function(e) {
        save_mapview(map);
    });

    map.on('baselayerchange', function (e) {
        save_baselayer(e.name);
    });



    $("#grade-slider").bootstrapSlider({
        id: 'bs-grade-slider',
        tooltip: 'always',
        formatter: function(value) {
            return value[0] + " : " + value[1];
        },
        ticks: [0, 9],
        ticks_positions: [0, 100],
        enabled: false
    });
    $("#grade-system-selector").on('change', function (e) {
        var selected = $("#grade-system-selector option:selected").val();
        if(selected > 0){

            $("#grade-slider").bootstrapSlider('enable');
            var grades = $("#grade-slider").bootstrapSlider('getValue');

            $.getJSON("{% url "miroutes:filter_labels_ng" %}" + selected, function (response){
                response = JSON.parse(response);
                if(response.success){
                    $("#grade-slider").bootstrapSlider({
                        id: 'bs-grade-slider',
                        tooltip: 'always',
                        formatter: function(value) {
                            return response.data.labels[value[0]] + " : " + response.data.labels[value[1]];
                        },
                        ticks: [0, 9],
                        ticks_positions: [0, 100],
                    });
                    $.cookie('grade-system-selection', selected);
                    $("#grade-slider").bootstrapSlider('setValue', grades);
                }else{
                    console.log(response.message);
                }
            });
        }else{
            $("#grade-slider").bootstrapSlider('disable');
        }
    });

    $("#grade-system-selector option[value=0]").text("{% trans "Select a Grading System"%}");

    var filterOptions = loadFilterOptions();
    applyFilterOptions(filterOptions);
    if(!!$.cookie('grade-system-selection'))
        $("#grade-system-selector").val($.cookie('grade-system-selection')).change();


    // init markers
    // bind on-change handlers
    //$("#grade-slider").change(update_wallmarkers);
    $(".filter").change(function (){
        update_wallmarkers(map);
    });

    // Some sugar to avoid spamming ajax requests for wall markers.
    // slideStart is set as long as we are sliding and returning ajax calls are ignored
    globalVars.slideStart = false;

    $("#grade-slider").on('slideStart', function () {
        globalVars.slideStart = true;
        // we store values to check for changes
        globalVars.slideVals = $("#grade-slider").bootstrapSlider('getValue');
        // we call update_wallmarkers with a delay. If we are waiting for one when starting
        // we cancel the former call.
        clearTimeout(globalVars.slideTimer);
    });
    $("#grade-slider").on('slideStop', function () {
        globalVars.slideStart = false;
        var slideVals = $("#grade-slider").bootstrapSlider('getValue');
        if(slideVals[0] !== globalVars.slideVals[0] || slideVals[1] !== globalVars.slideVals[1]){
            globalVars.slideTimer = setTimeout(function (){
                update_wallmarkers(map);
            }, 500);
        }
    });

    {% if goto_map_location %}
    var loc = {{goto_map_location|safe}};
    map.setView(loc.center, loc.zoom);
    save_mapview(map);
    {% endif %}

    $("#reset-filter-button").on('click', function(){
        reset_filter();
    });

});

function readFilterOptions(){
    /*
       Reads filter options from input elements.
     */
    var filterOptions = {};
    filterOptions.grades = $("#grade-slider").bootstrapSlider('getValue');
    var styles = [];
    $(".style-select").each(function () {
        if($(this).is(':checked')){
            styles.push($(this).val());
        }
    });
    filterOptions.styles = styles;

    filterOptions.show_trad = $("#trad-climbs").is(':checked') ? 1 : 0;

    filterOptions.show_empty = $("#empty-walls").is(':checked') ? 1 : 0;

    filterOptions.show_deprecated = $("#deprecated-walls").is(':checked') ? 1 : 0;

    filterOptions.show_unpublished = $("#unpublished-walls").is(':checked') ? 1 : 0;

    filterOptions.show_sub = $("#sub-walls").is(':checked') ? 1 : 0;

    return filterOptions;

}

globalVars.defaultFilterOptions = {
    grades: [0, 9],
    styles: ["0", "1", "2"],
    show_trad: 1,
    show_empty: 1,
    show_deprecated: 0,
    show_unpublished: 0,
    show_sub: 0
}


function loadFilterOptions(){
    /*
       Tries to load filter options from cookie. Returns default values if no cookie is found.
     */
    try{
        var filtersettings = JSON.parse($.cookie('filtersettings'));
    }catch(err){
        var filtersettings = globalVars.defaultFilterOptions;
        console.log("No stored filter options.");
    }
    return filtersettings;
}


function saveFilterOptions(filterOptions){
    $.cookie('filtersettings', JSON.stringify(filterOptions));
}

function update_wallmarkers (map){
    // At the top of the filter settings we put a spinner as long as new walls are loaded
    $("#slideout-wall-filter-spinner").show();

    // Wall loader button is a Leaflet spinner button to tell the user that walls are currently loading
    wall_loader_click_text = 'We found you some walls, enjoy! :)';

    // first remove any existing buttons
    if ("wall_loader_btn" in window) {
        wall_loader_btn.remove();
    };

    wall_loader_btn = L.easyButton({
        id: 'wall_loader_btn',
        states: [{
            stateName: 'loading',
            onClick: function(btn, map) { // do nothing important if clicked
                alert('We are searching for climbing walls as fast as we can... Imagine a monkey fetching Bananas and ask Alois for a visualization!');
            },
            title: 'Loading walls...',
            icon: 'fa fa-spinner fa-spin'
        },
        {
            stateName: 'finished',
            onClick: function(btn, map) { // do nothing important if clicked
                alert(wall_loader_click_text);
            },
            title: 'Successfully loaded walls...',
            icon: 'glyphicon glyphicon-ok btn-success'
        }]
    })

    setTimeout( function () {  // If the response is really fast, we dont show the button at all
        if( wall_loader_btn._currentState.stateName !== 'finished' ) {
            wall_loader_btn.addTo(map);
        }
    }, 2000);

    var wall_loader_label = $('<div></div>');
    wall_loader_label.html(' loading walls...');
    wall_loader_label.addClass('label label-info pull-right');
    wall_loader_label.prependTo(wall_loader_btn.getContainer());

    var filterOptions = readFilterOptions();
    saveFilterOptions(filterOptions);
    $.ajax({
        url: "{% url "miroutes:wall_selection" %}",
        data: filterOptions,
        success: function(response){
            // note that we will not update if user is sliding!
            if(globalVars.slideStart)
                return;
            // Make clear that we loaded the data...
            wall_loader_btn.disable();

            // delete old markers
            if(typeof(walls) !== 'undefined'){
                map.removeLayer(walls);
                delete(walls);
            }

            // create new wall markers
            walls = new L.MarkerClusterGroup({
                maxClusterRadius: 20,
            });

            var marker_data = JSON.parse(unescape(response));
            $.each(marker_data, function (index, marker_json){
                walls.addLayer(
                        create_marker_from_json(marker_json)
                        )
            });
            walls.addTo(map);

            // After a Timeout, remove the loading spinner...
            wall_loader_btn.state('finished');
            wall_loader_btn.enable();
            wall_loader_click_text = 'We found you '+ marker_data.length +' walls, enjoy! :)';
            wall_loader_label.html('{% trans "walls loaded" %}'); // + marker_data.length);
            $(wall_loader_btn.getContainer()).addClass('fade_wall_loader');
            $("#slideout-wall-filter-spinner").hide();
        }
    });

    // If Filters have changed compared to defaults, give status message to users:
    if(JSON.stringify(loadFilterOptions()) != JSON.stringify(globalVars.defaultFilterOptions)) {
        append_message("{% trans "Filters activated ..." %}", "success");
    }
}

</script>

<div id='index_map' class="full-height leaflet_map"></div>
{% endblock %}
