{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block extra_assets %}
    <script src="{% static "topo/js/topo/components/news.js" %}?cb={{ settings.CACHE_BUSTER }}"
            type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block title %}
    cruxle.org - News
{% endblock %}

{% block content %}

    <script type="text/javascript">
        $(function () {
            new Vue({
                el: '#news-container'
            });
        });
    </script>

    <div id="news-container" class="col-xs-12 col-md-8 col-lg-7 col-md-push-2 col-lg-push-1">

        <h3>
            <span class="far fa-newspaper fa-lg"></span>
            {% trans "Latest Contributions" %}
        </h3>

        <news button_text="{% trans 'Show More' %}"></news>
    </div>
{% endblock %}
