{% extends "plain.html" %}
{% load i18n %}
{% load miroutes_tags %}
{% load static %}

{% block extra_assets %}
{% if not request.is_ajax %}
{% include "includes/css.html" %}
{% include "includes/js.html"  %}
{% include "leaflet_base.html" %}
<link rel="stylesheet" type='text/css' href="{% static "topo/css/styles.css" %}?cb={{ settings.CACHE_BUSTER }}"/>
{% endif %}
{% endblock %}

{% block content %}

{% url "miroutes:route_detail" route_id=route.id as qr_url %}
{% absolute_url qr_url as abs_qr_url %}

<div id="qrcode_container" class="top-buffer-margin">
    <div class="col-xs-4 col-sm-4">
        <div class="text-center">
            {% ifequal qrcode_type "svg" %}
            <div class="mitopo-qr-code-container">
                <img class="mitopo-qr-code" src="{{ abs_qr_url|qrcode_svg }}" onerror="this.src='{{ abs_qr_url|qrcode_img }}'">
                <img class="mitopo-qr-logo" src="{% static 'topo/img/mitopo_icon_whiteborder.svg' %}">
            </div>
            {% else %}
                <img width='128' src="{{ abs_qr_url|qrcode_img }}">
            {% endifequal %}
            <br>
            <i>
                <a href='{{abs_qr_url}}'>{{abs_qr_url}}</a>
            </i>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8">
        <table id="route_info_table" class="table table-condensed table-responsive table-hover routeinfo-table-bg">
            <tbody>
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Route"%}{% endfilter %}</td>
                    <td>
                        {% url 'miroutes:route_detail' route_id=route.id as route_detail_url %}
                        {% absolute_url route_detail_url as abs_route_detail_url %}
                        <a href="{{abs_route_detail_url}}">{{ route.name }}</a>
                    </td>
                </tr>

                {% if route.grade %}
                <tr>
                    <td>
                        <span data-toggle="tooltip" title="{% trans "Grade"%}">
                        {% filter truncatechars:15 %}{% trans "Grade"%}{% endfilter %}
                        </span>
                    </td>
                    <td>
                        {{route.get_full_grade_display}}
                        <small>{{route.grading_system|grade_system_display}}</small>
                    </td>
                </tr>
                {% endif %}

                {% if route.length %}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Length"%}{% endfilter %}</td>
                    <td>{{route.length}}m</td>
                </tr>
                {% endif %}

                {% if route.description %}
                <tr>
                    <td>
                        <span data-toggle="tooltip" title="{% trans "Description"%}">
                        {% filter truncatechars:15 %}{% trans "Description"%}{% endfilter %}
                        </span>
                    </td>
                    <td>{{route.description|escape|markdownify|safe}}</td>
                </tr>
                {% endif %}


                {% if route.additional_gear %}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Gear"%}{% endfilter %}</td>
                    <td>{{route.additional_gear}}</td>
                </tr>
                {% endif %}


                {% if route.number_of_bolts %}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Bolts"%}{% endfilter %}</td>
                    <td>
                    {{route.number_of_bolts}}
                    </td>
                </tr>
                {% endif %}


                {% if route.bolt_quality %}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Protection"%}{% endfilter %}</td>
                    <td>
                        <img class="route-info-img" alt="{% trans "Bolt quality" %}: {{ route.get_bolt_qualitiy_display }}"
                        title="{% trans "Bolt quality" %}: {{ route.get_bolt_quality_display }}"
                        {% if route.bolt_quality == 1 %}
                        src="{% static "topo/img/bolts/1.svg" %}"
                        {% elif route.bolt_quality == 2 %}
                        src="{% static "topo/img/bolts/2.svg" %}"
                        {% elif route.bolt_quality == 3 %}
                        src="{% static "topo/img/bolts/3.svg" %}"
                        {% elif route.bolt_quality == 4 %}
                        src="{% static "topo/img/bolts/4.svg" %}"
                        {% elif route.bolt_quality == 5 %}
                        src="{% static "topo/img/bolts/5.svg" %}"
                        {% endif %}>
                    </td>
                </tr>
                {% endif %}

                {% if route.developer or route.developed_year%}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "First Ascent"%}{% endfilter %}</td>
                    <td>
                    {{route.developer}} {{route.developed_year}}
                    </td>
                </tr>
                {% endif %}

                {% if route.created_by %}
                <tr>
                    <td>{% filter truncatechars:15 %}{% trans "Route setter"%}{% endfilter %}</td>
                    <td>
                        {% url 'users:user_detail' user_id=route.created_by.id as user_detail_url %}
                        {% absolute_url user_detail_url as abs_user_detail_url %}
                        <a href="{{abs_user_detail_url}}">{{route.created_by}}</a>
                        @ {{route.created_at|date}}
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>

        {% if request.is_ajax %}
        <a href='{% url 'miroutes:route_qrcode' route_id=route.id %}' target='_blank'>
            <span class='pull-right'>
                <i class='fa fa-print fa-lg'></i>
                {% trans 'show printer friendly version' %}
            </span>
        </a>
        {% endif %}
    </div>

</div>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>

</div>

{% endblock %}
