{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load miroutes_tags %}
{% load thumbnail %}
{% load static %}

{% block meta_description %}
{{route.name}}
{% if route_geometries %}
 @ {% for g in route_geometries %}{{g.on_wallview.wall.name}}{%if not forloop.last %}, {%endif%}{%endfor%}
{% endif %}
{% blocktrans %}
- climbing route on cruxle.org
{% endblocktrans %}
{% endblock %}

{% block title %}
{{route.name}}
{% if route_geometries %}
 @ {% for g in route_geometries %}{{g.on_wallview.wall.name}}{%if not forloop.last %}, {%endif%}{%endfor%}
{% endif %}
{% blocktrans %}
- climbing route on cruxle.org
{% endblocktrans %}
{% endblock %}

{% block extra_assets %}
{% if geom %}
{% with geom.on_wallview.wall as wall %}
{% include "leaflet_base.html" %}
{% endwith %}
{% endif %}
{% endblock %}

{% block mapobjects_info %}
{% endblock %}

{% block modals %}
<div id="userpics-modal" class="modal fade" role="dialog"></div>
<div id="tick-modal" class="modal fade tick-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="col-xs-12"> <!-- col with name and views -->
    <h4 title="#Route{{ route.pk }}">
      <span class='mitopo-route'></span> {{ route.name }}
    </h4>
  </div> <!-- col with name and views -->

  <div class="col-xs-12"> <!-- icon bar -->
    {% if next_page %}
      <a href="{{ next_page }}" class="btn btn-default btn-sm" title="{% trans "Go Back" %}">
        <span class='glyphicon glyphicon-chevron-left'></span>
      </a>
    {% endif %}
    {% if materials %}
      <button class="btn btn-info btn-sm" title="{% trans "Show Materials" %}"
              onclick="$('#userpics-modal').load('{% url 'miroutes:show_userpics' route_id=route.id %}?content=info');">
        <span class="glyphicon glyphicon-paperclip"></span><small>{{ materials|length }}</small>
      </button>
    {% else %}
      <a class="btn btn-default btn-sm" href="{% url "edit_spot:link_materials" route_id=route.pk %}?next={% url "miroutes:route_detail" route_id=route.pk %}"
         title="{% trans "Add Info Material" %}">
        <span class="glyphicon glyphicon-paperclip"></span>+
      </a>
    {% endif %}
    {% if userpics %}
      <button class="btn btn-info btn-sm" title="{% trans "Show Userpics" %}"
              onclick="$('#userpics-modal').load('{% url 'miroutes:show_userpics' route_id=route.id %}?content=personal');">
        <span class="glyphicon glyphicon-camera fa-lg"></span><small>{{ userpics|length }}</small>
      </button>
    {% else %}
      <a class="btn btn-default btn-sm" href="{% url "miroutes:add_userpic" route_id=route.pk %}?next={% url "miroutes:route_detail" route_id=route.pk %}"
         title="{% trans "Add Picture" %}">
        <span class="glyphicon glyphicon-camera fa-lg"></span>+
      </a>
    {% endif %}
    {% if user.is_anonymous %}
      {% url "users:django.contrib.auth.views.login" as login_url %}
      <a href="javascript:(function () {$('#user-dropdown-menu').addClass('open');})();"
         tabindex="0" role="button" 
         class="btn btn-default btn-sm"
         data-toggle="popover"
         data-placement="right"
         data-content='{% blocktrans with href=login_url|add:"?next="|add:request.path %}Please <a href="{{ href }}">login</a> to rate the Route.{% endblocktrans %}'
         data-trigger="focus">
        <span title="{% trans "Tick Route (Login required)" %}"
              class='glyphicon glyphicon-unchecked'></span>
      </a>
    {% else %}
      <button class="btn btn-default btn-sm on-tick" title="{% trans 'Tick Route' %}">
        {% if ascents %}
          <span class="glyphicon glyphicon-check fa-lg"></span><small>{{ascents|length}}</small>
        {% else %}
          <span class="glyphicon glyphicon-unchecked fa-lg"></span>
        {% endif %}
      </button>
    {% endif %}
    <button class="share-button btn btn-default btn-sm">
      <span class="fa fa-share-alt fa-lg"></span>
    </button>

  <br>
  <br>
  <ul class="routeinfo-navbuttons nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#infos"    data-toggle="tooltip" title="{% trans 'Info' %}">
        <span class="fa fa-info-circle fa-lg"></span><span class="hidden-xs"> {% trans "Info" %}</span>
    </a></li>
    <li><a id="timeline-tab" data-toggle="tab" href="#timeline" data-toggle="tooltip" title="{% trans 'Timeline' %}">
        <span class="fa fa-history fa-lg"></span><span class="hidden-xs"> {% trans "Timeline" %}</span>
    </a></li>
    <li><a data-toggle="tab" href="#comments" data-toggle="tooltip" title="{% trans 'Comments' %}">
        <span class="glyphicon glyphicon-comment fa-lg"></span><span class="hidden-xs"> {% trans "Comments" %}</span></a></li>
    <li>
      <a id="qrcode_navbtn"
         href="#qrcode"
         data-toggle="tab"
         data-toggle="tooltip"
         title="{% trans 'QR-Code' %}">
        <span class="fa fa-qrcode fa-lg"></span><span class="hidden-xs"> {% trans "QR-Code" %}</span>
      </a>
    </li>
  </ul>

  <!-- Info Tab -->
  <div class="tab-content">
    <div id="infos" class="tab-pane fade in active">
      <div class="row">
        <div class="col-xs-12 col-md-6 route-info">
          {% if route_geometries %}
            <div id="geom-carousel" class="carousel slide">

              <!-- Wrapper for slides -->
              <div class="carousel-inner snapshot-carousel-inner">
                {% for geom in route_geometries %}
                  <div class="item{% if forloop.first %} active{% endif %}">

                    <!-- Caption -->
                    <div class="snapshot-carousel-caption text-center">
                      {% url "miroutes:wall_detail" wall_id=geom.on_wallview.wall.id as wall_detail_url %}
                      <h5>{% blocktrans with routename=geom.route.name wallname=geom.on_wallview.wall.name %}
                        <span class="mitopo-route"></span> {{ routename }} on
                        <a href="{{ wall_detail_url }}">
                            {{ wallname }}
                        </a>
                        {% endblocktrans %}
                        &nbsp;
                        <a class="far fa-map fa-lg"
                           aria-hidden="true"
                           href="{% url "miroutes:wall_on_map" wall_id=geom.on_wallview.wall.id %}">
                        </a>
                      </h5>
                    </div>

                    <a href="{% url "miroutes:wall_detail" wall_id=geom.on_wallview.wall.id %}">
                      <img class="img-responsive routeinfo-route-thumb"
                           src="{{ geom.snapshot.img.url }}"
                           alt="{{ geom.route.name }} @ {{ geom.on_wallview.wall.name }}:">
                    </a>
                  </div>

                {% endfor %}
              </div>
              <!-- Indicators -->
              {% if route_geometries|length > 1 %}
                <div class="carousel-control-div text-center">

                  <!-- Left and right controls -->
                  <a class="snapshot-carousel-control left" href="#geom-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left fa-lg"></span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                  </a>

                  <ol class="carousel-indicators snapshot-carousel-indicators">
                    {% for geom2 in route_geometries %}
                      <li data-target="#myCarousel"
                          data-slide-to="{{ forloop.counter0 }}"
                          class="snapshot {% if forloop.first %}active{% endif %}">
                      </li>
                    {% endfor %}
                  </ol>

                  <a class="snapshot-carousel-control right" href="#geom-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right fa-lg"></span>
                    <span class="sr-only">{% trans "Next" %}</span>
                  </a>

                </div>
              {% endif %}
              <!-- End Indicators -->

            </div> <!-- geom-carousel -->

          {% else %}
            {% trans "This route is not linked to any walls." %}
          {% endif %}

        </div>

        <div class="col-xs-12 col-md-6">
          {% include "miroutes/route_info.html" %}
          <br>
          {% if user.is_anonymous %}
            {% url "users:django.contrib.auth.views.login" as login_url %}
            <a href="javascript:(function () {$('#user-dropdown-menu').addClass('open');})();"
               tabindex="0" role="button"
               data-toggle="popover"
               data-placement="right"
               data-content='{% blocktrans with href=login_url|add:"?next="|add:request.path %}Please <a href="{{ href }}">login</a> to rate the Route.{% endblocktrans %}'
               data-trigger="focus">
              <span title="{% trans "Tick Route (Login required)" %}"
                    class='glyphicon glyphicon-unchecked'></span>
              {% trans "Tick It!" %}
            </a>
          {% else %}
            <button class="btn btn-default tick-button on-tick">
              {% if ascents %}
                <span class="glyphicon glyphicon-check fa-lg"></span><small>{{ascents|length}}</small>
              {% else %}
                <span class="glyphicon glyphicon-unchecked fa-lg"></span>
              {% endif %}
              {% trans "Tick It!" %}
            </button>
          {% endif %}
          <br>
        </div>

      </div> <!-- infos tab row -->
    </div> <!-- infos tab -->

    <!-- Timeline Tab -->
    <div id="timeline" class="tab-pane fade">
      <br>
      <div id="timeline-container"></div>
    </div>

    <!-- Comments Tab -->
    <div id="comments" class="tab-pane fade">
      <br>
      {% include 'micomments/show_comments.html' with thread_id=comment_thread chunk_size=5 %}
    </div>
    <!-- QR Code Tab -->
    <div id="qrcode" class="tab-pane fade">
      <div id="qrcode_content"><span id="qrcode_content_spinner" class="fa fa-spinner fa-4x"></span></div>
    </div>
  </div> <!-- tab content -->

  </div> <!-- tabs col -->

  <div class="col-xs-12">
    <br>
    <i>
      {% if route.created_by %}
        {% trans "provided by:" %} <a href="{% url "users:user_detail" user_id=route.created_by.id %}">{{ route.created_by }}</a>
      <br>
    {% endif %}
    {% if route.last_edit_user %}
      {% trans "last edit:"%}
      <a href="{% url "users:user_detail" user_id=route.last_edit_user.id %}">{{ route.last_edit_user }}</a>
      @ {{ route.last_edit_date|tzify }}
    {% endif %}
    </i>
    <br>
    <br>
    <a href="{% url "edit_spot:edit_route" route_id=route.id %}?next={{ request.path }}"
       title="{% trans 'Edit Route' %} {{ route.name }}"
       class="btn btn-primary" role="button">
      <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit Route' %} {{ route.name }}
    </a>

    {% include "includes/report_content_element.html" %}


  </div> <!-- edit col -->

  <script>
    function goto_hash(prefix){
        var hash = document.location.hash;
	if(hash == ""){
	    // replaceState does not *break* back button functionality by adding
	    // a meaningless entry to the history
	    history.replaceState(undefined, undefined, "#" + prefix + "infos")
        }else{
            $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').click();
        }
    }

    $(document).ready(function () {
        var walltable = $('#walltable').DataTable({
            "scrollCollapse": true,
            "paging": false,
            "bFilter": false,
            "bInfo": false,
            "bSort": false,
        });
        var versiontable = $('#versiontable').DataTable({
            "scrollCollapse": true,
            "paging": false,
            "bFilter": false,
            "bInfo": false,
            "bSort": false,
        });

        $.each($(".routeinfo-route-thumb"), function(){
            if($(this).attr('src') === ""){
                $(this).attr('src', '{% static "topo/img/image_not_found.png" %}');
            }
        });

        $("#qrcode_navbtn").click(function() {
            document.getElementById("qrcode_content_spinner").classList.add("fa-spin");
            $("#qrcode_content").load("{% url 'miroutes:route_qrcode' route_id=route.id %}");
        });

        // Javascript to enable link to tab
        var prefix = "navtab=";
        {% if navtab %}
        if (! document.location.hash) { // only use django-view navtab info if no hash is available
            document.location.hash = prefix+"{{navtab}}";
        }
        {% endif %}

        var timeline = new TimelineApi(
            '#timeline-container', '{% url "miroutes:rest_route_activity" route_id=route.id %}',
            {dump_data: false},
            {
                ticked: "{% trans "ticked" %}",
                edited: "{% trans "edited" %}",
                rated: "{% trans "rated" %}",
                empty: "{% trans "No items to display." %}",
                more: "{% trans "Show More" %}"
            });

        $("#timeline-tab").one("click", function() {
            timeline.renderMore();
        });

        goto_hash(prefix);

        $(window).on('hashchange', function(){
          goto_hash(prefix);
        });

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });

        $(".on-tick").on('click', function(){
            $("#tick-modal .modal-content").html('<div class="modal-load-spinner"><i class="fas fa-circle-notch fa-spin"></i></div>');
            $("#tick-modal").modal();
            // load ascent form
            $.get({
                url: '{% url "miroutes:tick_route" route_id=route.pk %}',
                success: function (response) {
                    $("#tick-modal .modal-content").html(response);
                }
            });

        });

        {% if not user.is_anonymous %}
        // update buttons
        $("#tick-modal").on("hidden.bs.modal", function(){
            $.get({
                url: "{% url "users:rest_user_ascents" user_id=user.pk %}",
                data: {
                    route: {{ route.pk }}
                },
                success: function (response){
                    var count = response.length;
                    if(count > 0){
                        var btn = $('<span class="glyphicon glyphicon-check fa-lg"></span>');
                        $(".on-tick span").replaceWith(btn);
                        var index = $('.on-tick small');
                        if(index.length > 0)
                            index.text(count);
                        else
                            $('<small>').text(count).insertAfter($(".on-tick span"));
                    }else{
                        var btn = $('<span class="glyphicon glyphicon-unchecked fa-lg"></span>');
                        $(".on-tick span").replaceWith(btn);
                        $(".on-tick small").remove();

                    }
                }
            })
        });
        {% endif %}


        document.querySelector('.share-button').addEventListener('click', function() {
          if(navigator.share) {
            navigator.share({
              title: "{% trans "Route" %} {{route.name|truncatechars:30|escapejs}}",
              text:  "{% if route.description %}{{route.description|truncatechars:200|escapejs}}\n{%endif%}",
              url:   "{{ request.build_absolute_uri }}{{ object.get_absolute_url }}",
              fbId: '233716447847234',
              hashtags: ['climbing', 'topo', 'cruxle_org'],
            }, { print: false, skype: false } );
          } else {
            window.location.href = 'mailto:?subject={% trans "Route" %} {{route.name|truncatechars:30}}'
              +'&body={% trans "Check out the route" %} {{route.name}}'
              +'%0D%0A {{ request.build_absolute_uri }}{{ object.get_absolute_url }}'
              +'%0D%0A%0D%0A{% if route.description %}{% trans "Description" %}: {{route.description}}{%endif%}';
          }
        });
    });

  </script>

{% endblock %}
