{% load i18n %}
{% load miroutes_tags %}
{% load static %}

<table id="route_info_table" class="table table-condensed table-responsive table-hover routeinfo-table-bg">
  <tbody>
    {% url "route_detail" route_id=route.id as detail_url %}
    {% ifequal request.path detail_url %}
        <tr>
            <td>{% filter truncatechars:15 %}{% trans "Rating"%}{% endfilter %}</td>
            <td><span id="route_info_rating-{{ route.pk }}"></span></td>
        </tr>
        {% endifequal %}
        {% if route.deprecated %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "If this route is marked deprecated"%}">
                    {% filter truncatechars:15 %}{% trans "Status"%}{% endfilter %}
                </span>
            </td>
            <td>
              <span class="text-danger">{% trans "Deprecated" %}</span>
            </td>
        </tr>
        {% endif %}

        {% if route.grade %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Grade"%}">
                    {% filter truncatechars:15 %}{% trans "Grade"%}{% endfilter %}
                </span>
            </td>
            <td>
                {{route.get_full_grade_display}}
                <small>{{route.grading_system|grade_system_display}}</small>
            </td>
        </tr>
        {% endif %}

        {% if route.length %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Length"%}">
                    {% filter truncatechars:15 %}{% trans "Length"%}{% endfilter %}
                </span>
            </td>
            <td>{{route.length}}m</td>
        </tr>
        {% endif %}

        {% if route.description %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Description"%}">
                    {% filter truncatechars:15 %}{% trans "Description"%}{% endfilter %}
                </span>
            </td>
            <td>{{route.description|escape|markdownify|safe}}</td>
        </tr>
        {% endif %}


        {% if route.additional_gear %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Additional Gear"%}">
                    {% filter truncatechars:15 %}{% trans "Gear"%}{% endfilter %}
                </span>
            </td>
            <td>{{route.additional_gear|escape|markdownify|safe}}</td>
        </tr>
        {% endif %}


        {% if route.number_of_bolts %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Number of Bolts"%}">
                    {% filter truncatechars:15 %}{% trans "Bolts"%}{% endfilter %}
                </span>
            </td>
            <td>
                {{route.number_of_bolts}}
            </td>
        </tr>
        {% endif %}


        {% if route.bolt_quality %}
        <tr>
            <td>
                <span data-toggle="tooltip" title="{% trans "Level/Difficulty of Protection"%}">
                    {% filter truncatechars:15 %}{% trans "Protection"%}{% endfilter %}
                </span>
            </td>
            <td>
                <img class="route-info-img" alt="{% trans "Bolt quality" %}: {{ route.get_bolt_qualitiy_display }}"
                                            title="{% trans "Bolt quality" %}: {{ route.get_bolt_quality_display }}"
                                            {% if route.bolt_quality == 1 %}
                                            src="{% static "topo/img/bolts/1.svg" %}"
                                            {% elif route.bolt_quality == 2 %}
                                            src="{% static "topo/img/bolts/2.svg" %}"
                                            {% elif route.bolt_quality == 3 %}
                                            src="{% static "topo/img/bolts/3.svg" %}"
                                            {% elif route.bolt_quality == 4 %}
                                            src="{% static "topo/img/bolts/4.svg" %}"
                                            {% elif route.bolt_quality == 5 %}
                                            src="{% static "topo/img/bolts/5.svg" %}"
                                            {% endif %}>
            </td>
        </tr>
        {% endif %}

        {% if route.developer or route.developed_year%}
        <tr>
            <td>{% filter truncatechars:15 %}{% trans "First Ascent"%}{% endfilter %}</td>
            <td>
                {% if route.developer %} {{route.developer}} {% endif %}
                {% if route.developed_year %} {{route.developed_year}} {% endif %}
            </td>
        </tr>
        {% endif %}

    </tbody>
</table>

<script>
$('[data-toggle="tooltip"]').tooltip();
rating($('#route_info_rating-{{ route.pk }}'), {{ route.rating }}, false);
</script>
