{% load i18n %}
<ul id="route-timeline" class="timeline-itemlist">
</ul>
<button id='load-id' type='submit' data-page="1" onclick="loadTimeline();">{% trans "Show More" %}</button>
<script>
function format_date(date) {
    return date.toLocaleString();
}

function get_newsitem(data){
    return "<li>" +
        "<div class='timeline-item-date'>" + data.itemicon + " " + format_date(new Date(data.date)) + ":</div>" +
        "<div class='timeline-item'>" +
        "<div class='timeline-item-user'>" +
        "<a href='{%url 'users:user_detail_ajaxstub' %}" + data.user_id + "'>" + data.user_name + "</a>" +
        "<span class='timeline-item-what'> " + data.what + ":</span>" +
        "</div>" +
        "<img class='timeline-item-avatar' src='" + data.avatar + "' />" +
        "<div class='timeline-item-text'>" + data.text + "</div></div></li>";

}

function loadTimeline(){
    $.get(
        "{% url "miroutes:route_timeline_chunk" route_id=route.pk %}",
        {"page_num": $("#load-id").data('page')},
        function (data){
            var page = $("#load-id").data('page');
            if(data.length < 10)
                $("#load-id").hide();
            if(data.length == 0){
                if(page == 1)
                    $("#route-timeline").append("<li>{% trans "No events to show." %}</li>");
                return;
            }

            $.each(data, function (idx, item){
                if(typeof(item.comment) !== 'undefined'){
                    var comment_div = get_newsitem({
                        itemicon: '<i class="glyphicon glyphicon-comment timeline-item-icon"></i>',
                        date: item.comment.created,
                        user_id: item.comment.user_id,
                        user_name: item.comment.user_name,
                        what: "{% blocktrans with name=route.name %}commented on {{ name }}{% endblocktrans %}",
                        avatar: item.comment.avatar,
                        text: item.comment.comment
                    })
                    $("#route-timeline").append(comment_div);
                }else if(typeof(item.ascent) !== 'undefined'){
                    var ascent_div = get_newsitem({
                        itemicon: '<i class="glyphicon glyphicon-check timeline-item-icon"></i>',
                        date: item.ascent.date,
                        user_id: item.ascent.user_id,
                        user_name: item.ascent.user_name,
                        what: item.ascent.style + " {{ route.name }}",
                        avatar: item.ascent.avatar,
                        text: "{% trans "Rating" %}: " + item.ascent.rating
                    })
                    $("#route-timeline").append(ascent_div);
                }

            });
            $("#load-id").data('page', page + 1);
        });
    }
loadTimeline();
</script>
