{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load static %}
{% load i18n %}

{% block extra_assets %}
    {% if not request.is_ajax %}
        <link media="all"
              href="{% static "topo/bower_components/nvd3/build/nv.d3.min.css"%}"
              type="text/css"
              rel="stylesheet"/>
        <link media="all"
              href="{% static "miroutes/css/nvd3_routes.css"%}"
              type="text/css"
              rel="stylesheet"/>
        <script src="{% static "topo/bower_components/d3/d3.min.js" %}"
                type="text/javascript"
                charset="utf-8">
        </script>
        <script src="{% static "topo/bower_components/nvd3/build/nv.d3.min.js" %}"
                type="text/javascript"
                charset="utf-8">
        </script>
    {% endif %}

    {% if showlabel == "False" %}
        <style>
        .tick{display:none;}
        .nv-bar text{display: none;}
        </style>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="nvd3_route_histogram_{{wall.id}}" class="wall_route_hist" style="width:100%; height:120px"><svg></svg></div>

    <!--pre id="data_dump"></pre-->
    <script>


var div_id = '#nvd3_route_histogram_{{wall.id}}';
var url = "{% url 'miroutes:rest_wall' pk=wall.id %}";

wall_route_histogram_chart(div_id, url, {
    populate_all: true,
    //yaxis_label: true,
    //xaxis_label: true,
    //datadump_id: '#data_dump',
});
    </script>

{% endblock %}

