{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load thumbnail %}
{% load i18n %}

{% if request.is_ajax is False %}
    {% block title %}
    {% if content == "personal" %}
    cruxle.org - {% trans "Userpics" %}
    {% else %}
    cruxle.org - {% trans "Info Material" %}
    {% endif %}
    {% endblock %}
{% endif %}


{% block header %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="userpic-nav-control">
      <a href="javascript:;" onclick="show_prev_userpic()"><span class="glyphicon glyphicon-chevron-left btn btn-lg fa-2x"></span></a>
      <span id="userpic-header-description"></span>
      <a href="javascript:;" onclick="show_next_userpic()"><span class="glyphicon glyphicon-chevron-right btn btn-lg fa-2x"></span></a>
    </div>
  </div>
</div>

<div id="single-userpic"></div>

<script>
var USERPIC_IDS = {{pic_ids | safe}};
{% if start_id %}
var CURRENT = USERPIC_IDS.indexOf({{ start_id }});
{% else %}
var CURRENT = 0; // this is the index pointer on USERPIC_IDS
{% endif %}

var show_prev_userpic = function () {
    CURRENT = CURRENT===0 ? USERPIC_IDS.length-1 : CURRENT-1;
    load_userpic(USERPIC_IDS[CURRENT]);
};

var show_next_userpic = function () {
    CURRENT = (CURRENT+1) % USERPIC_IDS.length;
    load_userpic(USERPIC_IDS[CURRENT]);
};

var load_userpic = function (id) {
    var url = "{% url "miroutes:userpic_stub" %}"+id;
    $("#userpic-header-description").html('<i class="fa fa-spinner fa-spin fa-2x"></i>');
    $("#single-userpic").load(url, function() {
	$("#userpic-header-description").text((CURRENT+1)+" / "+USERPIC_IDS.length);
    });
}

if(USERPIC_IDS[CURRENT]) {
    load_userpic(USERPIC_IDS[CURRENT]);
} else {
    $("#userpic-header-description").text('0 / 0');

    $("#single-userpic").append('<div class="placholder-text">{% if content == "personal" %}{% trans "No Userpics available." %}{% else %}{% trans "No Info Material available." %}{% endif %}</div>');

};
</script>
{% endblock %}
