{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - Tick {{ route.name }}
    {% endblock %}
    {% load static %}
{% endif %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4>
      <i class="glyphicon glyphicon-check"></i> {% blocktrans with name=route.name %}Tick {{ name }}{% endblocktrans %}
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-errors"></div>
    <div id="ascent-form-container">
      {% crispy form %}
    </div>
    <div id="ascent-list-container">
      <h4 class="panel-title">
        <a href="#" onclick="$('#ascent-list').slideToggle();">
          <span class="glyphicon glyphicon-collapse-down"></span> {% trans "Other Ascents" %}
        </a>
      </h4>
      <br>
      <div id="ascent-list"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">{%trans "Cancel"%}</button>
    <button id="submit-button" class="submit-button btn btn-success">
      <i class="glyphicon glyphicon-check"></i> {% trans "Tick Route" %}
    </button>
  </div>

  <script>

    function displayAscentTable(){
        {% if request.user.is_anonymous %}
        $("#ascent-list-container").hide();
        {% else %}
        var url = '{% url "users:rest_user_ascents" user_id=request.user.pk %}';
        {% endif %}
        $.get({
            url: url,
            data: {
                route: {{ route.pk }}
            },
            success: function (response) {
                var table = $('<table/>').addClass('table table-hover table-responsive table-condensed table-striped');
                var body = $('<tbody/>');
                $.each(response, function(){
                    var id = this.id;
                    var date = new Date(this.date);
                    var note = '';
                    if(this.note) {
                        note = this.note.length > 20 ? this.note.substring(0, 20) + '...' : this.note;
                    }
                    // use this button to delete ascents but warn with popover
                    var $del = $('<a href="#" class="glyphicon glyphicon-trash">', {
                        'tabindex': '0',
                        'role': 'button',
                        'data-toggle': 'popover',
                        'data-placement': 'bottom',
                        'data-trigger': 'focus',
                      }).prop('title', '{% trans "Really?" %}')
                        .data('html', 'true')
                        .data('content', '<button class="btn btn-danger" onclick="delete_ascent(' + id + ');">{% trans "Do It!" %}</button>');
                   $del.popover();

                   var row = $('<tr>').attr('id', 'ascent' + this.id)
                        .append($('<td>').html(date.toLocaleDateString()))
                        .append($('<td>').html(note))
                        .append($('<td>').html(this.get_style_display))
                        .append($('<td>').html('<span class="ascent-rating"></span>'))
                        .append($('<td>')
                                .append($('<a href="#">')
                                        .on('click', function(){edit_ascent(id)})
                                        .append($('<span class="glyphicon glyphicon-pencil">'))))
                        .append($('<td>')
                                .append($del));

                    body.append(row);
                    rating(row.find("span.ascent-rating"), this.rating);

                });
                $('#ascent-list').empty().append(table.append(body));

                // manage display
                if(response.length > 0){
                    $("#ascent-list-container").show();

                    // only collapse if more than 3 entries
                    if(response.length > 3)
                        $("#ascent-list").slideUp();
                    else
                        $("#ascent-list").slideDown();
                }
                else
                    $("#ascent-list-container").hide();
            }
        });

    }

    function delete_ascent(ascentid){
        verboseJsonAjax({
            url: "{% url "miroutes:del_ascent" %}" + ascentid,
            success: function(){
                displayAscentTable();
            }
        });
    }

    function edit_ascent(ascentid){
        var submiturl = '{% url "miroutes:ascent_details" %}' + ascentid;
        $.get({
            url: submiturl,
            success: function (response) {
                $("#ascent-form-container").html(response);
                handle_ajax_form(submiturl);
            }
        });

    }

    function handle_ajax_form(submiturl) {
        /*
          Handle the click on submit and load a new form or close the
          parent modal if there is one (should have class .tick-modal).
         */

        var submit_button = $('.modal-footer #submit-button');

        submit_button.off().one('click', function (event) {
            event.preventDefault();

            var form = $("#ascent_form");
            var csrftoken = $.cookie('csrftoken');
            form.ajaxSubmit({
                url: submiturl,
                type: 'post',
                dataType: 'json',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    messageCallback(response);
                    response = JSON.parse(unescape(response));
                    if (response.success) {
                        // if we find a modal with class .tick-modal we close it
                        var modal = $(".tick-modal");
                        if(modal.length > 0)
                            modal.modal('hide');
                        else
                            displayAscentTable();
                    } else {
                        var messagediv = modal.find(".form-errors");
                        messagediv.html("Errors:<br><ul>");
                        $.each(response.data, function (field, value) {
                            messagediv.append("<li><b>" + field + "</b>: " + value + "</li>");
                        });
                        messagediv.append("</ul><br>");
                        handle_ajax_form(submiturl);
                    }
                }
            });
        });
    }

    $(document).ready(function () {
        handle_ajax_form("{% url "miroutes:add_ascent" route_id=route.pk %}");
        displayAscentTable();
    });
  </script>
{% endblock %}
