{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load thumbnail %}
{% load i18n %}

{% if request.is_ajax is False %}
    {% block title %}
    {% if content == "personal" %}
    cruxle.org - {% trans "Userpics" %}
    {% else %}
    cruxle.org - {% trans "Info Material" %}
    {% endif %}
    {% endblock %}
{% endif %}

{% block content %}
  {% for userpic in pics %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail">
	<img onclick="show_pic({{ userpic.pk }});" src="{{ userpic.img|thumbnail_url:'materials' }}" style="cursor: pointer;width:100%;">

	  <div class="caption word-wrap-break-word">
	    <small>
	      <p>{{ userpic.description|safe|truncatechars_html:30 }}</p>
	      <p>{{ userpic.created_by.username }}, {{ userpic.created_at|date:"d M Y"}}
	    {% ifequal userpic.created_by request.user %}
	      <a href="#" tabindex="0" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="{% trans "Confirm" %}" data-html="true"
		  data-content="{% include "miroutes/userpic_delete_confirmation.html" with pic=userpic %}">
		    <span class="glyphicon glyphicon-trash"></span>
	      </a>
	    {% endifequal %}
	      </p>
	      <small style="color: gray;">
		{% trans "Linked to:" %}
		{% for links in userpic.on_wall.all %}
		<p><span class="mitopo-wall"></span> {{ links.name }}</p>
		{% endfor %}
		{% for links in userpic.on_route.all %}
		<p><span class="mitopo-route"></span> {{ links.name }}</p>
		{% endfor %}
	      </small>
	    </small>
	  </div>
      </div>
    </div>
    {% empty %}
    <div class="placholder-text">{% if content == "personal" %}{% trans "No Userpics available." %}{% else %}{% trans "No Info Material available." %}{% endif %}</div>
  {% endfor %}

  <script>
    $(document).ready(function(){
	$('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}
