{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load thumbnail %}
{% load i18n %}

{% if request.is_ajax is False %}
{% block title %}
    {% if content == "personal" %}
    cruxle.org - {% trans "Userpics" %}
    {% else %}
    cruxle.org - {% trans "Info Material" %}
    {% endif %}
{% endblock %}
{% endif %}


{% block header %}
{% endblock %}

{% block content %}
<div class="userpic-panel">
    {% for userpic in pics %}
    <div class="row userpic-entry">
	<div class="col-xs-12 col-md-8 col-lg-6">
	    <a class='wall-thumb' href='{{ userpic.img.url }}'>
		<img src="{{ userpic.img|thumbnail_url:'materials_large' }}" class="img-responsive center-block">
	    </a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-6">
	    <div class="userpic-desc word-wrap-break-word">
		<h4>
		{{ userpic.description | safe | truncatewords_html:5 }}
		</h4>
	    </div>

	    <div class="userpic-details">
		{% trans "Posted by" %}
		<a href="{% url "users:user_detail" user_id=userpic.created_by.pk %}">
		    <!--img class="userpic-avatar" src="{{ userpic.created_by.userprofile.thumb_url }}"/-->
		    {{userpic.created_by.username}}
		</a>
		({{ userpic.created_at|date:"D d M Y" }})
		{% ifequal userpic.created_by request.user %}
		<a href="{% url "miroutes:userpic_edit" userpic_id=userpic.pk %}?next={{request.path}}">
		    <span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a href="#"
		   tabindex="0" role="button"
		   data-toggle="popover"
		   data-trigger="focus"
		   data-placement="bottom"
		   data-title="{% trans "Confirm" %}"
		   data-html="true"
		   data-content="{% include "miroutes/userpic_delete_confirmation.html" with pic=userpic %}">
		    <span class="glyphicon glyphicon-trash"></span>
		</a>
		{% endifequal %}
		<div>
		  <small style="color: gray;">
		    {% trans "Linked to:" %}
		    {% for links in userpic.on_wall.all %}
		    <p><span class="mitopo-wall"></span> {{ links.name }}</p>
		    {% endfor %}
		    {% for links in userpic.on_route.all %}
		    <p><span class="mitopo-route"></span> {{ links.name }}</p>
		    {% endfor %}
		  </small>
		</div>

	    </div>

	    <br>

	    <div class="userpic-ext-url">
		{% if userpic.external_url %}
		<a href="{{userpic.external_url}}"
		   target="_blank">
		   <span class="glyphicon glyphicon-globe"></span> {% trans "External Source:" %} {{userpic.external_url|urlizetrunc:20}}
		</a>
		{% endif %}
	    </div>

	    {% if userpic.description|wordcount > 5 %}
	    <div class="userpic-desc">
		{{ userpic.description | safe }}
	    </div>
	    {% endif %}

	    <div class="userpic-comments">
		{% include 'micomments/show_comments.html' with thread_id=userpic.comment_thread chunk_size=5 %}
	    </div>

	</div> <!-- col description -->
    </div>

    <hr>

    {% empty %}
    <br>
    <div class="placholder-text">{% if content == "personal" %}{% trans "No Userpics available." %}{% else %}{% trans "No Info Material available." %}{% endif %}</div>
    {% endfor %}
    </div>
  <script>
    $(document).ready(function(){
	$('[data-toggle="popover"]').popover();
    });
  </script>

{% endblock %}
