{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% include 'includes/upload_template.html' %}

{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - {% if editing %}{% trans "Edit Picture" %}{% else %}{% trans "Add a Picture." %}{% endif %}
    {% endblock %}
    {% load static %}

    {% block extra_assets %}
      <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
      {% include 'includes/upload_template.html' %}
    {% endblock %}
{% endif %}

{% block content %}
    <script type="text/javascript" id="material-form-scripts">
        function on_load_userpic_form() {
            initUploadFields($('#userpic-form'));
        };
        </script>

    {% if request.is_ajax is False %}
        <script>
            $(document).ready(function () {
                on_load_userpic_form();
            });
        </script>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-7 col-md-push-2 col-lg-push-1">
            <h4>
              <img src="{% static "generic_markers/img/wall_icon.png" %}" class='mitopo-icon'>
              {% if editing %}
                {% trans "Edit Picture" %}
              {% else %}
                {% blocktrans with name=obj.name %}Add a Picture to {{ name }}{% endblocktrans %}
              {% endif %}
            </h4>
            <br>
            <div class="info-div">
                <p><span class='glyphicon glyphicon-info-sign'></span>
                {% trans "Provide an image (jpeg, png or tiff)." %}</p>
                <br>
            </div>

            {% crispy userpic_form %}

        </div>
    </div>
 {% endblock %}
