{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load i18n %}
{% load thumbnail %}

{% if request.is_ajax is False %}
    {% block title %}
      cruxle.org -
      {% ifequal content "info" %}
          {% trans "Additional Materials" %}
      {% else %}
        {{ wall.name }} - {% trans "Pictures" %}
      {% endifequal %}
    {% endblock %}
{% endif %}


{% block header %}
{% endblock %}

{% block content %}

<div class="modal-dialog large-modal-dialog">
    <div class="modal-content large-modal-content">
      <div id="userpic-header" class="modal-header text-center">

      {% ifequal content "info" %}
        <a class="btn btn-primary pull-left"
           href="{% if wall %}{% url "edit_spot:link_materials" wall_id=wall.pk %}?next={% url "miroutes:wall_detail" wall_id=wall.pk %}{% else %}{% url "edit_spot:link_materials" route_id=route.pk %}?next={% url "miroutes:route_detail" route_id=route.pk %}{% endif %}"
           title="{% trans "Add Info Material!" %}">
          <span class="fa fa-plus fa-2x"></span>
        </a>
      {% else %}
        <a class="btn btn-primary pull-left"
           href="{% if wall %}{% url "miroutes:add_userpic" wall_id=wall.pk %}?next={% url "miroutes:wall_detail" wall_id=wall.pk %}{% else %}{% url "miroutes:add_userpic" route_id=route.pk %}?next={% url "miroutes:route_detail" route_id=route.pk %}{% endif %}" title="{% trans "Add Picture!" %}">
          <span class="fa fa-plus fa-2x"></span>
        </a>
      {% endifequal %}
        <div class="btn-group" role="group" aria-label="{% trans "Select View modes" %}">
          <button id="tiles-btn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-th"></span>
          </button>
          <button id="single-btn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-picture"></span>
          </button>
          <button id="list-btn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
        <button type="button" class="close btn" data-dismiss="modal"><span class="fas fa-window-close fa-2x"></span></button>
      </div>
      <div id="userpic-body" class="modal-body"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
</div>


<script>

var displaystyle = "tiles";

$("#single-btn").on('click', function () {
    displaystyle = "single";
    reload_body();
});
$("#list-btn").on('click', function () {
    displaystyle = "list";
    reload_body();
});
$("#tiles-btn").on('click', function () {
    displaystyle = "tiles";
    reload_body();
});

function reload_body(){
    $("#userpic-body").load("{% if wall %}{% url "miroutes:userpic_display" wall_id=wall.pk %}{% else %}{% url "miroutes:userpic_display" route_id=route.pk %}{% endif %}?style=" + displaystyle + "&content={{ content }}");
}

function delete_pic(id){
    verboseJsonAjax({
        url: "{% url "miroutes:del_userpic_noid" %}" + id,
        success: function (){
            reload_body();
        }
    });
}

function show_pic(id){
    $("#userpic-body").load("{% if wall %}{% url "miroutes:userpic_display" wall_id=wall.pk %}{% else %}{% url "miroutes:userpic_display" route_id=route.pk %}{% endif %}?style=single&content={{ content }}&start_id=" + id);
}

$("#userpic-body").load("{% if wall %}{% url "miroutes:userpic_display" wall_id=wall.pk %}{% else %}{% url "miroutes:userpic_display" route_id=route.pk %}{% endif %}?style=tiles&content={{ content }}");

$("#userpics-modal").modal();

</script>
{% endblock %}
