{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load thumbnail %}
{% load i18n %}

{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - Userpic {{ pic.id }}
    {% endblock %}
{% endif %}


{% block header %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="thumbnail">
      <a href="{% if pic.pdf_file %}{{ pic.pdf_file.url }}{% else %}{{ pic.img.url }}{% endif %}">
        <img src="{{ pic.img|thumbnail_url:'materials_large' }}" class="img-responsive">
      </a>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
      <div class="userpic-desc word-wrap-break-word">
          <h4>
              {{ pic.description | safe | truncatewords_html:5 }}
          </h4>
      </div>

      <div class="userpic-details">
          <em>
              {% trans "Posted by" %}
              <a href="{% url "users:user_detail" user_id=pic.created_by.pk %}">
                  <!--img class="userpic-avatar" src="{{ pic.created_by.userprofile.thumb_url }}"/-->
                  {{pic.created_by.username}}
              </a>
              ({{ pic.created_at|date:"D d M Y" }})
              {% ifequal pic.created_by request.user %}
              <a href="{% url "miroutes:userpic_edit" userpic_id=pic.pk %}">
                  <span class="glyphicon glyphicon-pencil"></span>
              </a>
              {% endifequal %}
              <div class="license-short">
              {% if pic.licenses_to_string != "" %}
                  ( {{ pic.licenses_to_string }} )
              {% endif %}
              </div>
	      <small style="color: gray;">
		{% trans "Linked to:" %}
		{% for links in pic.on_wall.all %}
		<p><span class="mitopo-wall"></span> {{ links.name }}</p>
		{% endfor %}
		{% for links in pic.on_route.all %}
		<p><span class="mitopo-route"></span> {{ links.name }}</p>
		{% endfor %}
	      </small>
          </em>
      </div>

      <br>

      <div class="userpic-ext-url">
          {% if pic.external_url %}
          <a href="{{pic.external_url}}"
             target="_blank">
              <span class="glyphicon glyphicon-globe"></span> {% trans "External Source:" %} {{pic.external_url|urlizetrunc:20}}
          </a>
          {% endif %}
      </div>

      <br>

      {% if pic.description|wordcount > 5 %}
      <div class="userpic-desc">
          {{ pic.description|safe }}
      </div>
      {% endif %}

      <div class="userpic-comments">
          {% include 'micomments/show_comments.html' with thread_id=pic.comment_thread chunk_size=5 %}
      </div>
  </div>
</div>
<script>
$(document).ready(function(){
        $('[data-toggle="popover"]').popover();
});
</script>

{% endblock %}
