{% extends "base_popup.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}


{% block popup_global_link %}
    {% url 'miroutes:wall_detail' wall_id=wall.id %}
{% endblock %}

{% block content %}
    <div class="popup-heading-wrapper">
        <a class="popup-heading" href='{% url 'miroutes:wall_detail' wall_id=wall.id %}' data-toggle="tooltip"
           title="{{ wall.name }}">{{ wall.name }}</a>
     {% if wall.get_wall_height %}
	<span title="{% trans "Wall height" %}" class='glyphicon glyphicon-resize-vertical'></span>
	{{ wall.get_wall_height }}m
     {% endif %}
    </div>

{% endblock %}

{% block popup_js_code %}
    {{ block.super }}
    var div_id = '#nvd3_route_histogram_{{wall.id}}';
    var url = "{% url 'miroutes:rest_wall' pk=wall.id %}";

    wall_route_histogram_chart(div_id, url, {
    hide_empty_chart: true,
    populate_all: true,
    min_grade: 3,
    staggered_labels: false,
    });
{% endblock %}

{% block graph %}
    <div id="nvd3_route_histogram_{{wall.id}}" class="wall_route_hist"><svg></svg></div>
{% endblock %}

{% block pic %}
    <a href='{% url 'miroutes:wall_detail' wall_id=wall.id %}'>
        <img src='{{ wall.snapshot.img|thumbnail_url:'walls_popup_thumb' }}'>
    </a>
{% endblock %}
