{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load miroutes_tags %}
{% load edit_spot_tags %}

{% block meta_description %}
{% blocktrans with wallname=wall.name %}
{{wallname}} topo - climbing wall on cruxle.org
{% endblocktrans %}
{% if wall.get_description %} {{ wall.get_description }} {% endif %}
{% trans "nearby places:" %} {{nearby_places}}
{% endblock %}

{% block title %}
{% blocktrans with wallname=wall.name %}
{{wallname}} topo - climbing wall on cruxle.org
{% endblocktrans %}
{% endblock %}

{% block extra_assets %}
    {% include "leaflet_base.html" %}
{% endblock %}

{% block modals %}
  <div id="tick-modal" class="modal fade tick-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <div id="comment-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><i class="glyphicon glyphicon-comment"></i> <span class="modal-title"></span></h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
  <div id="materials-modal" class="modal fade" role="dialog"></div>
  <div id="userpics-modal" class="modal fade" role="dialog"></div>
  {% if wall.invite_contrib %}
  {% url "edit_spot:edit_wall" wall_id=wall.id as edit_wall_url %}
  {% url "edit_spot:link_routes" wall_id=wall.id as link_url %}
  {% url "edit_spot:draw_routes" wall_id=wall.id as draw_url %}
  <div id="invite-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><i class="fas fa-user-edit"></i> <span class="modal-title">
            <span class="mitopo-icon cruxle-base-color"></span> {% trans "Help to improve this Topo!" %}</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="help-content row">
            <div class="col-xs-12">
              {% trans "The information in this topo is not complete or needs considerable review. If you know this place, we would be grateful if you could spare a minute and help!" %}
            </div>
          </div>
          <br>
          <a href="{{ edit_wall_url }}" class="btn btn-default btn-sq-lg">
            <span class="cruxle-base-color">
              <span class="glyphicon glyphicon-edit fa-2x"></span><br>
                {% trans "wall meta" %}
            </span>
          </a>
          <a href="{{ link_url }}" class="btn btn-default btn-sq-lg">
            <span class="cruxle-base-color">
              <span class="glyphicon glyphicon-link fa-2x"></span><br>
                {% trans "route list" %}
            </span>
          </a>
          <a href="{{ draw_url }}" class="btn btn-default btn-sq-lg">
            <span class="cruxle-base-color">
              <span class="glyphicon glyphicon-pencil fa-2x"></span><br>
                {% trans "route paths" %}
            </span>
          </a>
          <a data-dismiss="modal" class="btn btn-default btn-sq-lg">
            <span class="text-info">
              <span class="glyphicon glyphicon-play-circle fa-2x"></span><br>
                {% trans "next time" %}
            </span>
          </a>
          <br>
          <div class="help-content row">
            <div class="col-xs-12">
              {% trans "The cruxle community is looking forward to your contributions!" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% if just_published %}
  <div id="just-published" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4> <i class="fas fa-thumbs-up"></i> {% trans "Thanks for Publishing!" %}
          </h4>
        </div>
        <div class="modal-body">
          <div class="help-content row form-group">
            <div class="col-xs-2 text-center">
	      <i class="fas fa-circle-notch fa-spin fa-2x cruxle-base-color"></i>
	    </div>
            <div class="col-xs-10">
              {% trans "We are now fabricating snapshots of the routes and of the wall and create a PDF that can be used as an offline topo. <b>This process can take 10 minutes</b> or more depending on how busy we are." %}
            </div>
          </div>
          <div class="help-content row form-group">
            <div class="col-xs-2 text-center">
	      <span class="far fa-file-pdf fa-2x cruxle-base-color"></span>
	    </div>
            <div class="col-xs-10">
	      {% blocktrans %}
              You can download the PDF for offline use by clicking on the <span class="far fa-file-pdf fa-lg"></span> button below the wall name.
	      {% endblocktrans %}
            </div>
          </div>
          <div class="help-content row form-group">
            <div class="col-xs-2 text-center">
	      <span class="far fa-map fa-2x cruxle-base-color"></span>
	    </div>
            <div class="col-xs-10">
	      {% blocktrans %}
              When we are ready, the wall will show up on the main map.
	      {% endblocktrans %}
            </div>
          </div>
          <div class="help-content row form-group">
            <div class="col-xs-10 col-xs-push-2">
	      {% blocktrans %}
              Feel free to close this window and look around in the meantime.
	      {% endblocktrans %}
            </div>
          </div>
        </div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}


{% block content %}
  <div id="wall_detail_map" class="leaflet_map full-height"></div>

  <a href="{{ request.path }}">
    <div id="check_update_reload"></div>
  </a>

  <script type="text/javascript">
    $(document).ready(function () {
        open_slideout();
        rtool = new RoutesTool();

        map = map_init();
        small_map_init();

        $(document).on("mitopo_layout_change", function(event) {
            map.invalidateSize();
            small_map.invalidateSize();
        });

        load_route_histogram("#route_histogram");

        if(!$.cookie('viewed_wall{{ wall.pk }}')){
            $.get("{% url "miroutes:wall_viewed" wall_id=wall.pk %}");
            $.cookie('viewed_wall{{ wall.pk }}', 'true', {expires: 1});
        }

        // update route table
        refresh_routes(map);

        map.on('contextmenu', function (event) {
            var edit_html = '<a class="btn btn-secondary" href="{% url "edit_spot:edit_wall" wall_id=wall.pk %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit Wall Details" %}</a>';
            var draw_html = '<a class="btn btn-secondary" href="{% url "edit_spot:draw_routes" wall_id=wall.pk %}"><span class="glyphicon glyphicon-picture"></span> {% trans "Draw & Edit Routes" %}</a>';
            var decorate_html = '<a class="btn btn-secondary" href="{% url "edit_spot:decorate_wall" wall_id=wall.pk %}"><span class="glyphicon glyphicon-pushpin"></span> {% trans "Add Bolts and Link Walls" %}</a>';
            var popup = L.popup()
                .setLatLng(event.latlng)
                .setContent('<div class="btn-group-vertical" role="group">' + edit_html + draw_html + decorate_html + '</div>');
            popup.openOn(map);
        });


        // we update the routelist when closing modals
        $("#tick-modal").on("hidden.bs.modal", function(){
            refresh_routes(map);
        });

        $("#comment-modal").on("hidden.bs.modal", function(){
            refresh_routes(map);
        });


        // check for updates
        window.setInterval(function () {
            $.getJSON("{% url "miroutes:check_wallview_updates" since=time_loaded %}", function (data) {
                var data = JSON.parse(data);
                if (data.success) {
                    show_update_message(data.message);
                }
            });
        }, 30000);

	{% if just_published %}
	$("#just-published").modal();
	{% endif %}

        // show materials or userpics if required
        {% if show_materials %}
        $('#userpics-modal').load('{% url 'miroutes:show_userpics' wall_id=wall.id %}?content=info');
        {% endif %}

        {% if show_userpics %}
        $('#userpics-modal').load('{% url 'miroutes:show_userpics' wall_id=wall.id %}?content=personal');
        {% endif %}

        {% if wall.invite_contrib %}
        $('#invite-modal').modal();
        {% endif %}

    }); // end document ready

    function show_update_message(message){
        $("#check_update_reload")
            .html('<span class="glyphicon glyphicon-refresh"></span> ' + message);
        $("#check_update_reload").show().delay(30000).fadeOut();
    }

    function openTickModal(routeid){
        $("#tick-modal .modal-content").html('<div class="modal-load-spinner"><i class="fas fa-circle-notch fa-spin"></i></div>');
        $("#tick-modal").modal();
        // load ascent form
        $.get({
            url: '{% url "miroutes:tick_route" %}' + routeid,
            success: function (response) {
                $("#tick-modal .modal-content").html(response);
            }
        });
    }

    function displayRowDetails(num) {
        var row = routetable.row($("#row-" + num));

        if (!row.child.isShown()) {
            // close other rows
            $("tr.shown").each(function () {
                routetable.row(this).child.hide();
                var hl_num = $(this).data("num");
                // remove highlights
                un_highlight_row(hl_num);
                rtool.un_highlight(hl_num);
                // re-install mouseleave handlers
                $(this).on('mouseleave', function(){
                    rtool.un_highlight(hl_num);
                    un_highlight_row(hl_num);
                });
                rtool.routes[hl_num].fg.on('mouseout', function(){
                    rtool.un_highlight(hl_num);
                    un_highlight_row(hl_num);
                });
            });
            // remove mouseleave handlers
            $("#row-" + num).off('mouseleave');
            rtool.routes[num].fg.off('mouseout');

            // Open this row
            var details = $('<div class="route-row-details">')
                .html('<i class="fas fa-circle-notch fa-spin" style="font-size:36px"></i>');
            row.child(details).show();

            var infourl = "{% url "miroutes:route_short_info" %}" + num;

            details.load(infourl, function () {
                var more = $('<a>')
                    .attr('href', "{% url "miroutes:route_detail_stub" %}" + num + "?next={{ request.path }}")
                    .html('<span class="glyphicon glyphicon-info-sign"></span> {% trans "more" %}');
                more.appendTo(details);
            });

            $("#row-" + num).addClass('shown');
        }

    }


    function small_map_init() {
        small_map = L.map("small_map", {
            worldCopyJump: true
        });

        globalVars.overlays = provide_overlays();
        globalVars.overlays.OSM.addTo(small_map);
        L.control.layers(globalVars.overlays).addTo(small_map);

        // create new wall markers
        var walls = new L.MarkerClusterGroup();
        {% for awall in nearby_walls %}

        walls.addLayer(
            create_marker_from_json(unescape("{{ awall.marker_json_small | safe | escapejs }}"))
        )
        {% endfor %}
        walls.addTo(small_map);

        var this_wall = create_marker_from_json(unescape("{{ wall.marker_json_small | safe | escapejs }}"));
        this_wall.addTo(small_map);

        small_map.setView(this_wall.getLatLng(), 18);

    }

    function load_route_histogram(div_name) {
        var url = "{% url 'miroutes:wall_route_histogram' wall_id=wall.id %}?showlabel=True";
        $(div_name).load(url);
    }

    function refresh_routes(map) {
        var url = "{% url "miroutes:rest-route-list" %}?wallview={{ wall.pub_view.pk }}&user={{request.user.pk}}&deprecated=true";

        var $spinner = $("<i>", {
            class: "fa fa-spinner fa-spin fa-2x"
        });

        $("#routelist-container").empty().append($spinner);

        rtool.fetchAndDraw(url, map, {curved: true}).then(function (){
            // add handler
            $.each(rtool.routes, function (num) {
                // info popup
                var popup = L.popup().setContent(
                    get_popup_content({
                        name: this.name,
                        grade: this.get_full_grade_display,
                        length: this.length,
                        rating: rating(undefined, this.rating, false),
                        description: this.description,
                        infourl: '{% url 'miroutes:route_detail_stub' %}' + this.id + '?next={{ request.path }}'
                    })
                );

                // geoJSON layer handlers
                var geoj = rtool.routes[num].fg;
                if(geoj){
                    // add event handler
                    geoj.on('click', function (e){
                        zoom_on_geometry(num);
                        displayRowDetails(num);
                    });

                    geoj.on('mouseover', function (e) {
                        highlight_row(num);
                    });
                    geoj.on('mouseout', function (e) {
                        un_highlight_row(num);
                    });

                    geoj.getLayers()[0].bindPopup(popup);

                }

                // label handlers
                var label = rtool.routes[num].label;
                if(label){
                    label.marker.on('click', function (e) {
                        zoom_on_geometry(num);
                        displayRowDetails(num);
                        var geoj = rtool.routes[num].fg;
                        if(geoj)
                            geoj.getLayers()[0].openPopup(rtool.getTopPoint(num));
                    });
                    label.marker.on('mouseover', function (e) {
                        highlight_row(num);
                    });
                    label.marker.on('mouseout', function (e) {
                        un_highlight_row(num);
                    });
                }

            });
	    // bounds of routes (if any)
            rtool.focus();
            generate_routetable();
            $("#table-spinner").hide();
        });

    }

    function map_init() {

        var map = wallmap_init_base('wall_detail_map');

        var layerctrl = L.control.layers().addTo(map);

        layerctrl.addOverlay(rtool.featureGroup, 'Routes');

        var simple_markers = new L.featureGroup();
        add_markers(map, {
            fgroup: simple_markers,
            url: "{% url "generic_markers:simple_wallmarkers" wallview_id=wallview.pk %}",
            zoom_lvl: map.getMaxZoom() - 3,
            layerlabel: 'Bolts, Belays, etc.',
            layerctrl: layerctrl
        }).done(function(){
            $(map).on('overlayadd', function (e){
                $(".leaflet-control-layers-selector").on("click", function (e) {
                    window.manual_marker_visibility = true;
                });
            });
        });

        var relational_markers = new L.featureGroup();
        add_markers(map, {
            fgroup: relational_markers,
            url: "{% url "generic_markers:relational_wallmarkers" wallview_id=wallview.pk %}",
            show: true,
            layerctrl: layerctrl,
            layerlabel: 'Wall Links'
        });

        var text_markers = new L.featureGroup();
        add_markers(map, {
            fgroup: text_markers,
            url: "{% url "generic_markers:text_wallmarkers" wallview_id=wallview.pk %}",
            show: false,
            zoom_lvl: map.getMaxZoom() - 5,
            layerctrl: layerctrl,
            layerlabel: 'Additional Informations'
        });

        var pitch_markers = new L.featureGroup();
        add_markers(map, {
            fgroup: pitch_markers,
            url: "{% url "generic_markers:pitch_wallmarkers" wallview_id=wallview.pk %}",
            show: false,
            zoom_lvl: map.getMaxZoom() - 5,
            layerctrl: layerctrl,
            layerlabel: 'Pitch information'
        });

        window.manual_marker_visibility = false;

        $(map).on('zoomend', function () {
            fixZoomSizes(map);
        });

        return map;
    }

    function fixZoomSizes(map) {
        rtool.fixZoom();
        fixZoomTextMarkerSize(map);
    }

    function get_popup_content(details) {
        /* Set the content of a route popup.
           Args:
           details (object): Specifies details of the route.
           name (string): A name is required for the route.
           grade (string), length (int), rating (int), description (string):
           are all optional parameters of a route, displayed when given.
        */
        var default_details = {
            grade: 'None',
            length: 'None',
            rating: 'None',
            description: 'None'
        }
        details = $.extend(default_details, details);

        var content = "<div class='popup'> \
                <div class='popup-name'><a href=" + details.infourl + ">\
                            <span class='glyphicon glyphicon-info-sign'></span> \
                        " + details.name + "</a></div>\n";

        content += '<div>'
        if (details.grade !== 'None') {
            content += "<span class='popup-grade'>\
                <span class='fa fa-signal'></span>";
            content += ' ' + details.grade + "</span>\n";
        }
        if (details.rating !== 'None') {
            content += "<span class='popup-rating pull-right'>" + details.rating + "</span>\n";
        }
        content += '</div>'

        if (details.length !== 'None') {
            content += "<div class='popup-length'>L: " + details.length + "m</div>\n";
        }
        if (details.description) {
            content += "<div class='popup-description'>" + details.description + "</div>\n";
        }
        content += "</div>";
        return content;
    }



    function zoom_on_geometry(num) {
        var geoj = rtool.routes[num].fg;
	if(geoj){
            map.fitBounds(geoj.getBounds(), {paddingTopLeft: [0, 150]});
            geoj.getLayers()[0].openPopup(rtool.getTopPoint(num));
            rtool.highlight(num);
            map.once('zoomend', function (){
		rtool.highlight(num);
            });
	}
    }

    function highlight_row(num) {
        $("#row-" + num)
            .addClass('active');
    }

    function un_highlight_row(num) {
        $("#row-" + num)
            .removeClass('active');
    }



    function generate_routetable() {
        /* Build routetable from rtools routelist. */
        if(Object.keys(rtool.routes).length > 0){
            var $table = $("<table>", {
                "id": "routetable",
                "class": "table table-condensed table-clickable-cursor",
                "data-sort-order": "desc"
            });
            var $header = $("<thead>");
            var $headerRule = $("<tr>")
                .append($("<th>",{
                    "data-field": "numbering",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append($('<span title="{% trans 'Numbering from left to right' %}" class="fas fa-sort-numeric-down">')))
                .append($("<th>",{
                    "data-field": "name",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append("{% trans "Name" %}"))
                .append($("<th>",{
                    "data-field": "grade",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append($('<span title="{% trans 'Grade' %}" class="fa fa-signal">')))
                .append($("<th>",{
                    "data-field": "ticked",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append($('<span title="{% trans 'Go, Tick a Climb!' %}" class="far fa-check-square">')))
                .append($("<th>",{
                    "data-field": "comment",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append($('<span title="{% trans 'Comments' %}" class="fa fa-comment">')))
                .append($("<th>",{
                    "data-field": "rating",
                    "data-sortable": "true",
                    "data-toggle": "tooltip",
                }).append($('<span title="{% trans 'User Ratings' %}" class="fa fa-star">')));
            $table.append($header.append($headerRule));

            var $tbody = $("<tbody>");

            // routes (sorted from left to right)
            $.each(rtool.routes, function (num) {
                var route = this;

                /* table row */
                var $row = $("<tr>", {
                    "id": "row-" + num,
                    "data-num": num
                });

                if(route.deprecated){
                    $row.addClass("text-muted");
                }

                /* table cells */
                // number
                var $num = $("<td>").text(route.pos);

                // name
                var $name = $("<td>").text(route.name);

		// rightclick menu for row, add to table cell (has to be part of DOM, that's why)
		var $menu = $('<div class="context-menu">')
		    .append(
			$('<a>', {
			    'href': "{% url "edit_spot:edit_route_noid" %}" + route.id + "?wall_id={{wall.id}}&next={% url "edit_spot:draw_routes" wall_id=wall.id %}"})
			    .on('click', function(e){
				e.stopPropagation();
				$(e.delegateTarget).children("i").remove();
				$(e.delegateTarget).prepend($('<i class="fa fa-spinner fa-spin">'));
			    })
			    .append($('<i>')
				    .attr('class', 'glyphicon glyphicon-info-sign draw_route_tool_img')
				    .attr('title', "{% trans "Edit the route details." %}")
				   )
			    .append($('<span>').text('{% trans "Edit Details" %}')));

		$name.append($menu);

		$row.contextmenu(function(event){
		    $(".context-menu").hide();
		    $menu.css({
			display: "block",
			top: event.pageY - 40,
			left: event.pageX + 10
		    });
		    return false;
		});


                // grade
                var $grade = $("<td>", {
                        "id": "gradefield-" + route.id,
                        "class": "routelist-gradefield",
                        "data-order": route.grade
                }).text(route.get_full_grade_display);
                // tendency
                if(typeof route.grade_tendency !== 'undefined') {
                    add_tendency($grade, route.grade_tendency);
                }

                // tick button
                var $tick = $("<td>", {
                    "class": "ascent-cell",
                    "data-order": route.ascent_count
                })
                {% if user.is_anonymous %}
                {% url "users:django.contrib.auth.views.login" as login_url %}
                    .append($("<a>", {
                        "href": "javascript:(function () {$('#user-dropdown-menu').addClass('open');})();",
                        "tabindex": 0,
                        "role": "button",
                        "data-toggle": "popover",
                        "data-html" : "true",
                        "data-placement": "right",
                        "data-content": '{% blocktrans with href=login_url|add:"?next="|add:request.path %}Please <a href="{{ href }}">login</a> to rate the Route.{% endblocktrans %}',
                        "data-trigger": "focus"
                    }).append('<span title="{% trans "Tick Route (Login required)" %}" class="glyphicon glyphicon-unchecked">'));
                {% else %}
                    .append($("<button>", {
                        class: "btn btn-secondary tick-button",
                        title: "{% trans "Tick Route" %}",
                    })
                            .on('click', function (){
                                openTickModal(route.id);
                            })
                            .append($('<span>', {
                                class: route.ascent_count ? "glyphicon glyphicon-check" : "glyphicon glyphicon-unchecked"
                            }))
                            .append($('<small>').text(route.ascent_count > 0 ? route.ascent_count : '')));
                {% endif %}

                // comment button
                var $comment = $("<td>")
                    .append($("<button>", {
                        class: 'btn btn-secondary comment-button',
                        title: '{% trans "Show Comments" %}',
                    })
                            .on('click', function(){
                                showRouteComments(route.name, "{% url "micomments:views_full" %}" + route.thread_id + "?chunk_size=10");
                            })
                            .append($('<span>', {
                                class: route.comment_count ? "fa fa-comment" : "far fa-comment",
                            }).append($("<small>").text(route.comment_count ? route.comment_count : '')))
                           );

                // rating
                var $rating = $("<td>", {
                    "class": 'star-rating-td',
                    "title": "{% trans "Rate Route" %}",
                    "data-order": route.rating
                });
		var $stars = $('<span class="mitopo-rating">');

                {% if user.is_anonymous %}
                {% url "users:django.contrib.auth.views.login" as login_url %}
                    $rating.append($("<a>", {
                        "href": "javascript:(function () {$('#user-dropdown-menu').addClass('open');})();",
                        "tabindex": 0,
                        "role": "button",
                        "data-toggle": "popover",
                        "data-placement": "right",
			"data-html": "true",
                        "data-content": '{% blocktrans with href=login_url|add:"?next="|add:request.path %}Please <a href="{{ href }}">login</a> to rate the Route.{% endblocktrans %}',
                        "data-trigger": "focus"
                    }).append($stars));
                {% else %}
                    $rating.on('click', function (){
                        openTickModal(route.id);
                    }).append($stars);
                {% endif %}
                // init rating display
                rating($stars, route.rating);

                // add cells to row
                $row
                    .append($num)
                    .append($name)
                    .append($grade)
                    .append($tick)
                    .append($comment)
                    .append($rating);

                // handler
                $row.on('mouseenter', function () {
                    highlight_row(num);
                    rtool.highlight(num);
                });
                $row.on('mouseleave', function () {
                    un_highlight_row(num);
                    rtool.un_highlight(num);
                });

                $row.on('click', function (e) {
                    var row = routetable.row($row);
                    if (!isMobile()) {
			zoom_on_geometry(num);
                        displayRowDetails(num);
                    } else {
			if(row.child.isShown()){
                            toggle_slideout();
			    zoom_on_geometry(num);
			}else
                            displayRowDetails(num);
                    }

                });

                $tbody.append($row);
            }); // <-- end each route

            $table.append($tbody);

	    // hide right-click menu when clicking anywhere else
	    $(document).bind('contextmenu click',function(){
		$(".context-menu").hide();
	    });

            // init datatables
            routetable = $table.DataTable({
                "scrollCollapse": true,
                "paging": false,
                "bFilter": false,
                "bInfo": false,
                "bSort": true,
            });
            $("#routelist-container").empty().append($table);

            // popover for ticking has to be initialized
            $('[data-toggle="popover"]').popover();

        }else{

            // no routes
            var $noroutes = $("<p>").text("Currently no routes are available in {{ wall.name }}");
            $("#routelist-container").empty().append($("<br>")).append($noroutes);
            $("#route_histogram").hide();

        }
    }

    function add_tendency($gradefield, grade_tendency){
        // sorted indices
        var sortedTendency = Object.keys(grade_tendency).sort(function(a,b){
            return grade_tendency[b]-grade_tendency[a]});
        // sum
        var votes_total = 0;
        for (var i in grade_tendency) {
            votes_total += grade_tendency[i];
        }
        if(votes_total > 0){
            var tendencyTable =
                '{% trans "grade too high" %}: ' + grade_tendency[1] + '\n' +
                '{% trans "grade just right" %}: ' + grade_tendency[2] + '\n' +
                '{% trans "grade too low" %}: ' + grade_tendency[3];
            // is there a notable preference?
            switch(sortedTendency[0]){
            case "1":
                if(grade_tendency[1] - grade_tendency[3] > votes_total/4)
                    $gradefield.append('<span class="glyphicon glyphicon-arrow-down" title="' + tendencyTable + '"></span>');
                break;
            case "3":
                if(grade_tendency[3] - grade_tendency[1] > votes_total/4)
                    $gradefield.append('<span class="glyphicon glyphicon-arrow-up" title="' + tendencyTable + '"></span>');
                break;
            }
        }
    }


    function showRouteComments(name, commenturl){
        // title and spinner
        $("#comment-modal").find(".modal-title").text(name + ": {% trans "Comments" %}");
        var body = $("#comment-modal").find(".modal-body");
        body.html('<i class="fas fa-circle-notch fa-spin" style="font-size:36px"></i>');
        $("#comment-modal").modal();
        body.load(commenturl);
    }

    document.querySelector('.share-button').addEventListener('click', function() {
        if(navigator.share) {
            navigator.share({
                title: "{% trans "Topo" %} {{wall.name|truncatechars:30|escapejs}}",
                text: "{% if wall.description %}{{wall.description|truncatechars:200|escapejs}}\n{%endif%}",
                url: '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}',
                fbId: '233716447847234',
                hashtags: ['climbing', 'topo', 'cruxle_org'],
            }, { print: false, skype: false } );
        } else {
            window.location.href = "mailto:?subject={% trans "Topo" %} {{wall.name|truncatechars:30|escapejs}}"
                +"&body={% trans "Check out the Topo for" %} {{wall.name|escapejs}}"
                +"%0D%0A {{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                +"%0D%0A%0D%0A{% if wall.description %}{% trans "Description" %}: {{wall.description|truncatechars:200|escapejs}}{%endif%}";
        }
    });
    </script>
{% endblock %}


{% block mapobjects_info %}
<div class="row">

  <div class="col-xs-auto col-xs-offset-1"> <!-- col with name and views -->
    <h4 title="#Wall{{ wall.pk }}">
      {{ wall.name }}
    </h4>
  </div> <!-- col with name and views -->

  <div class="col-xs-auto col-xs-offset-1"> <!-- icon bar -->
    <a href="{% url "miroutes:wall_on_map" wall_id=wall.id %}"
       class="btn btn-default btn-sm"
       title="{% trans "Show on map" %}">
      <span class="fa fa-map fa-lg"></span>
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    {% if materials %}
    <button class="btn btn-default btn-sm"
            title="{% trans "Show Materials" %}"
            onclick="$('#userpics-modal').load('{% url 'miroutes:show_userpics' wall_id=wall.id %}?content=info');">
      <span class="glyphicon glyphicon-paperclip"></span>
      <small>{{ materials|length }}</small>
      <sup class="fa fa-star cruxle-base-color"></sup>
    </button>
    {% else %}
    <a href="{% url "edit_spot:link_materials" wall_id=wall.pk %}?next={% url "miroutes:wall_detail" wall_id=wall.pk %}?show_materials=true"
       class="btn btn-default btn-sm"
       title="{% trans "Add Info Material" %}">
      <span class="glyphicon glyphicon-paperclip"></span>+
    </a>
    {% endif %}
    {% if userpics %}
    <button class="btn btn-default btn-sm"
            title="{% trans "Show Userpics" %}"
            onclick="$('#userpics-modal').load('{% url 'miroutes:show_userpics' wall_id=wall.id %}?content=personal');">
      <span class="glyphicon glyphicon-camera"></span>
      <small>{{ userpics|length }}</small>
      <sup class="fa fa-star cruxle-base-color"></sup>
    </button>
    {% else %}
    <a href="{% url "miroutes:add_userpic" wall_id=wall.pk %}?next={% url "miroutes:wall_detail" wall_id=wall.pk %}?show_userpics=true"
       class="btn btn-default btn-sm"
       title="{% trans "Add Picture" %}">
      <span class="glyphicon glyphicon-camera"></span>+
    </a>
    {% endif %}
    {% if wall.pdf_topo.pdf_exists %}
        <a href="{{wall.pdf_topo.pdf.url}}"
           target="_blank"
           class="btn btn-default btn-sm"
           title="{% trans "Download PDF Version of Wall" %}">
          <span class="far fa-file-pdf fa-lg"></span>
        </a>
    {% else %}
        <span class="disabled-pdf-wrapper-to-allow-the-tooltip-to-work"
            title="{% trans "The PDF is currently rendered. Please try again later." %}">
            <a class="btn btn-default btn-sm disabled">
              <span class="far fa-file-pdf fa-lg"></span>
            </a>
        </span>
    {% endif %}
    <button class="share-button btn btn-default btn-sm">
      <span class="fa fa-share-alt fa-lg"></span>
    </button>
  </div> <!-- icon bar -->

  <div class="col-xs-auto col-xs-offset-1"> <!-- col with urgent messages -->
      {% if wall.urgent_message %}
      <div class="top-buffer-margin">
        <span class="glyphicon glyphicon-warning-sign" title="{% trans "Urgent Message" %}"></span>
        <span class='text-warning'>{{ wall.urgent_message }}</span>
      </div>
      {% endif %}
  </div> <!-- col with name and views -->
</div> <!-- header row -->

{% if wall.deprecated %}
    <div class="wall-flagged-deprecated">{% trans "This wall is flagged deprecated!" %}</div>
{% endif %}

<br>

<ul id="wall_detail_navs" class="nav nav-tabs">
    <li class="{% if wall_routegeomlist|length != 0 %}active{%endif%}"
        data-toggle="tooltip" title="{% trans 'Routes' %}">
        <a id="nav-route-list" data-toggle="tab" href="#route-tab">
            <span class="mitopo-route fa-stack fa-lg visible-xs visible-lg"></span>
            <span class="hidden-xs"> {% trans "Routes" %}</span>
        </a>
    </li>
    <li class="{% if wall_routegeomlist|length == 0 %}active{%endif%}"
        data-toggle="tooltip" title="{% trans 'Map & Info' %}">
        <a id="nav-infos" data-toggle="tab" href="#infos-tab">
            <span class="glyphicon glyphicon-info-sign fa-stack fa-lg visible-xs visible-lg"></span>
            <span class="hidden-xs"> {% trans "Map & Info" %}</span>
        </a>
    </li>
    <li data-toggle="tooltip" title="{% trans 'Comments' %}">
        <a id="nav-comments" data-toggle="tab" href="#comments">
            <span class="glyphicon glyphicon-comment fa-stack fa-lg visible-xs visible-lg"></span>
            <span class="hidden-xs"> {% trans "Comments" %}</span>
        </a>
    </li>
    <li data-toggle="tooltip" title="{% trans 'Activity' %}">
        <a id="nav-activity" data-toggle="tab" href="#activity">
            <span class="fa fa-history fa-stack fa-lg visible-xs visible-lg"></span>
            <span class="hidden-xs"> {% trans "Activity" %}</span>
        </a>
    </li>
    <li data-toggle="tooltip" title="{% trans 'Weather' %}">
        <a id="nav-weather" data-toggle="tab" href="#weather">
            <span class="fa fa-stack fa-lg visible-xs visible-lg">
                <i class="far fa-sun fa-stack-1x" style="padding-left: .7em"></i>
                <i class="fa fa-cloud fa-stack-1x"></i>
            </span>
            <span class="hidden-xs"> {% trans "Weather" %}</span>
        </a>
    </li>
</ul>

<div class="tab-content">
  <div id="route-tab" class="tab-pane fade {% if wall_routegeomlist|length > 0 %}in active{%endif%}">
    <div id="routelist-container"></div>
    <div id="route_histogram" class="route_chart"></div>
    <br>
    <i>{% trans "views" %}: {{ wall.userview_set.count }}</i>
    <br>
    {% if wall.created_by %}
        {% trans "provided by:" %} <a href="{% url "users:user_detail" user_id=wall.created_by.id %}">
        {{ wall.created_by }}
    </a>
        {% if wall.tiler.licenses_to_string != "" %}
            ( {{ wall.tiler.licenses_to_string }} )
        {% endif %}
        <br>
    {% endif %}
    {% if wall.last_edit_user %}
      {% trans "last edit:"%}
      <a href="{% url "users:user_detail" user_id=wall.last_edit_user.id %}">{{ wall.last_edit_user }}</a>
      @ {{ wall.last_edit_date|tzify }}
    {% endif %}
    </i>
    <br>
    {% if user.is_anonymous %}
      {% url "users:django.contrib.auth.views.login" as login_url %}
      <a href="javascript:(function () {$('#user-dropdown-menu').addClass('open');})();"
         class="btn btn-primary"
         tabindex="0"
         role="button">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Wall" %}
      </a>
    {% else %}
      <a href="{% url "edit_spot:edit_wall" wall_id=wall.id %}"
         title="{% blocktrans with name=wall.name %}Edit {{ name }}{% endblocktrans %}"
         class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Wall" %}
      </a>
    {% endif %}
    {% if wall.gym %}
    <a href="{% url "miexport:wall_qrcode_labels_pdf" wall_id=wall.id %}"
       target="_blank"
       class="btn btn-default"
       title="{% trans "Download List of QR Codes" %}">
      <span class="fa fa-qrcode fa-lg"></span> {% trans "Download QR Codes" %}
    </a>
    {% endif %}

  </div>

  <div id="infos-tab" class="tab-pane fade {% if wall_routegeomlist|length == 0 %}in active{%endif%}">
    {% include 'miroutes/wall_detail_include_wallinfo.html' %}
  </div>

  <div id="comments" class="tab-pane fade">
          <br>
          {% include 'micomments/show_comments.html' with thread_id=comment_thread chunk_size=5 %}
  </div>

  <div id="activity" class="tab-pane fade">
    <br>
    <div id='activityfeed_content'></div>
    <script>
    var timeline = new TimelineApi('#activityfeed_content', '{% url "miroutes:rest_wall_activity" wall_id=wall.id %}',
            {dump_data: false},
            {
                ticked: "{% trans "ticked" %}",
                edited: "{% trans "edited" %}",
                rated: "{% trans "rated" %}",
                empty: "{% trans "No items to display." %}",
                more: "{% trans "Show More" %}"
            });
    $("#nav-activity").one("click", function() {
        timeline.renderMore();
    });
    </script>
  </div>

  <div id="weather" class="tab-pane fade">
          <br>
          <div id="openweathermap_div"></div>
          <!--pre id="weather_dump"></pre-->
          <script>
                $('#nav-weather').one('click', function() {
                        var spinner = $('<span>', {
                                class: 'fa fa-spinner fa-spin fa-2x',
                        });
                        $('#openweathermap_div').append(spinner);
                        //$('#weather_dump').append(spinner);

                        var pnt = '{{wall.pnt}}'; // looks like: SRID=4326;POINT (47.6282577104 11.3233275712)
            pnt = pnt.match(/\((.*?)\s+(.*?)\)/); // is now: Array [ "(47.6282577104 11.3233275712)", "47.6282577104", "11.3233275712" ]

            var trans = {
                Date: "{% trans 'Date' %}",
                Temperature: "{% trans 'Temperature' %}",
                Description: "{% trans 'Description' %}",
                Wind: "{% trans 'Wind' %}",
            };

            create_weather_table('#openweathermap_div', pnt[1], pnt[2], trans);

                });
          </script>
  </div>

  {% include "includes/report_content_element.html" %}

</div> <!-- end tab content -->

<script>
$("#nav-infos").click(function () {
    window.setTimeout(function () {
        small_map.invalidateSize();
    }, 500);
});
</script>

{% endblock %}
