{% load i18n %}
{% load static %}
{% load miroutes_tags %}
<div class="wall-info">

<div id='small_map' class="leaflet_map mini_map full-height" ></div>

{% include 'miroutes/wall_detail_include_wallinfo_list.html' %}

<!--div class="difficulty-wrapper">
    <div class="difficulty-heading">
      <span>Difficulty</span> <br/>
      <span>levels</span>
    </div>
</div-->

{% if user.is_anonymous %}
{% url "users:django.contrib.auth.views.login" as login_url %}
<a href="javascript:(function () {$('#user-dropdown-menu').addClass('open');})();"
   class="btn btn-primary"
   tabindex="0"
   role="button">
    <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Wall" %}
</a>
{% else %}
<a href="{% url "edit_spot:edit_wall" wall_id=wall.id %}"
   title="{% blocktrans with name=wall.name %}Edit {{ name }}{% endblocktrans %}"
   class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Wall" %}
</a>
{% endif %}

</div>
