{% load i18n %}
{% load l10n %}
{% load static %}
{% load miroutes_tags %}

<table class="top-buffer-margin table table-condensed table-striped table-hover">
  <thead>
  </thead>
  <tbody>
    {% if wall.get_description %}
      <tr>
        <td>{% trans "Description" %}</td>
        <td>{{ wall.get_description|escape|markdownify|safe }}</td>
      </tr>
    {% endif %}
    {% if wall.get_approach_time or wall.get_approach %}
    <tr>
      <td>{% trans "Approach" %}</td>
      <td>
        {% if wall.get_approach_time %}
        <span title="{% trans "Approach Time" %}" class='glyphicon glyphicon-time'></span> {{ wall.get_approach_time }}</span>
        <br>
        {% endif %}
        {% if wall.get_approach %}
          {{ wall.get_approach|escape|markdownify|safe }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if wall.get_wall_height %}
    <tr>
      <td>
        {% trans "Height" %}
      </td>
      <td>
        <span title="{% trans "Wall height" %}" class='glyphicon glyphicon-resize-vertical'></span>
        {{ wall.get_wall_height }}m
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>
        {% trans "Sun" %}
      </td>
      <td><!-- Sun -->
        <table class="sun-table">
          <tr>
            <td>
              {% if wall.get_morning_sun == None %}
                <img class="wall-sun-img" alt="{% trans "No information given." %}" title="{% trans "No information given." %}"
                     src="{% static "topo/img/sun/na.svg" %}">
                {% elif wall.get_morning_sun == True %}
                <img class="wall-sun-img" alt="{% trans "Sunny." %}" title="{% trans "Sunny." %}"
                     src="{% static "topo/img/sun/sun_full.svg" %}">
                   {% else %}
                     <img class="wall-sun-img" alt="{% trans "In the shadow." %}" title="{% trans "In the shadow." %}"
                          src="{% static "topo/img/sun/no_sun.svg" %}">
                        {% endif %}
            </td>
            <td>
              {% if wall.get_midday_sun == None %}
                <img class="wall-sun-img" alt="{% trans "No information given." %}" title="{% trans "No information given." %}"
                     src="{% static "topo/img/sun/na.svg" %}">
                {% elif wall.get_midday_sun == True %}
                <img class="wall-sun-img" alt="{% trans "Sunny." %}" title="{% trans "Sunny." %}"
                     src="{% static "topo/img/sun/sun_full.svg" %}">
                   {% else %}
                     <img class="wall-sun-img" alt="{% trans "In the shadow." %}" title="{% trans "In the shadow." %}"
                          src="{% static "topo/img/sun/no_sun.svg" %}">
                        {% endif %}
            </td>
            <td>
              {% if wall.get_afternoon_sun == None %}
                <img class="wall-sun-img" alt="{% trans "No information given." %}" title="{% trans "No information given." %}"
                     src="{% static "topo/img/sun/na.svg" %}">
                {% elif wall.get_afternoon_sun == True %}
                <img class="wall-sun-img" alt="{% trans "Sunny." %}" title="{% trans "Sunny." %}"
                     src="{% static "topo/img/sun/sun_full.svg" %}">
                   {% else %}
                     <img class="wall-sun-img" alt="{% trans "In the shadow." %}" title="{% trans "In the shadow." %}"
                          src="{% static "topo/img/sun/no_sun.svg" %}">
                        {% endif %}
            </td>
          </tr>
          <tr>
            <td>{% trans "Morning" %}</td>
            <td>{% trans "Midday" %}</td>
            <td>{% trans "Afternoon" %}</td>
          </tr>
        </table>
      </td><!-- End Sun -->
    </tr>
    {% if not wall.get_children_friendly == None %}
    <tr>
      <td>{% trans "Children Friendly" %}</td>
      <td>
        {% if wall.get_children_friendly == True %}
          <span class="fa fa-lg fa-check text-success"></span>
          {% elif wall.children_friendly == False %}
          <span class="fas fa-lg fa-times text-danger"></span>
        {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if wall.get_dry_duration %}
    <tr>
      <td>
        {% trans "Humidity" %}
      </td>
      <td>
        {{ wall.get_dry_duration }}
      </td>
    </tr>
  {% endif %}
    <tr>
      <td>
        {% trans "Location" %}
      </td>
      <td>
      {% localize off %}
		<a style="cursor: pointer;" onclick="myNavFunc({{wall.pnt.x}},{{wall.pnt.y}})">
			Lat/Lon ({{wall.pnt.x|floatformat:4}} {{wall.pnt.y|floatformat:4}})
		</a>
      {% endlocalize %}
      </td>
    </tr>
  </tbody>
</table>

<script>
function myNavFunc(lat, lon){
    // If it's an iPhone..
    if( (navigator.platform.indexOf("iPhone") != -1)
        || (navigator.platform.indexOf("iPod") != -1)
        || (navigator.platform.indexOf("iPad") != -1))
         window.open("maps://maps.google.com/maps?daddr="+lat+","+lon+"&amp;ll=");
    else
         window.open("http://maps.google.com/maps?daddr="+lat+","+lon+"&amp;ll=");
}
</script>
