{% load static %}{% load i18n %}
{% if html %}
  <img src="{{ imgurl }}" />
  {% block html_content %}{% endblock %}
  {% block html_footer %}
    {% blocktrans %}
      <br>
      <small>
      <span style="color:gray;">You are receiving this mail because you
        (or someone on your behalf) registered on cruxle.org.
      </span>
      </small>
    {% endblocktrans %}
  {% endblock %}
{% else %}
  {% block plaintext_content %}{% endblock %}
  {% block plaintext_footer %}
    {% blocktrans %}

    You are receiving this mail because you (or someone on your behalf) registered on cruxle.org.
    {% endblocktrans %}
  {% endblock %}
{% endif %}
