{% extends "email/base.html" %}

{% load i18n %}

{% block html_content %}

{% blocktrans with name=user.username confirm_link=link %}

  <h3>New mail adress for {{name}} on cruxle.org</h3>

  <br>
  Please click on the following link to confirm the new adress for {{name}} on cruxle.org:
  <br>
  <br>
  <b><a href="{{ confirm_link }}">Confirm new adress!</a></b>
{% endblocktrans %}
{% endblock %}
{% block plaintext_content %}

{% blocktrans with name=user.username confirm_link=link %}
New mail adress for {{name}} on cruxle.org
  
Please click on the following link to confirm the new adress for {{name}} on cruxle.org:

{{ confirm_link }}

{% endblocktrans %}
{% endblock %}
