{% extends "email/base.html" %}

{% load i18n %}

{% block html_content %}

{% blocktrans with name=user.username reply_link=link %}

  <h3>Welcome to cruxle.org,</h3>

  the collaborative climbing community project.
  Nice to have you with us!
  <br>
  To activate your account ({{name}}) on cruxle.org please visit the following link within <b>two days</b>:
  <br>
  <br>
  <b><a href="{{ reply_link }}">Click here to finish registration!</a></b>
{% endblocktrans %}
{% endblock %}
{% block plaintext_content %}

{% blocktrans with name=user.username reply_link=link %}
Welcome to cruxle.org,

the collaborative climbing community project.
Nice to have you with us!
To activate your account ({{name}}) on cruxle.org please visit the following link within two days:

{{ reply_link }}

{% endblocktrans %}
{% endblock %}
