{% extends "email/base.html" %}
{% load i18n %}

{% block html_content %}
  {% blocktrans with name=user.username %}

    <h3>Your cruxle.org account has been cleared!</h3>

    We hope you had a nice time nonetheless?
    <br>
    In any case, we welcome suggestions how to improve the user experience on our page.
    <br>
    Just use the contact form or send a mail to feedback@mitopo.de
  {% endblocktrans %}
{% endblock %}
{% block plaintext_content %}
{% blocktrans with name=user.username %}
  Your cruxle.org account has been cleared!

  We hope you had a nice time nonetheless?
  In any case, we welcome suggestions how to improve the user experience on our page.
  Just use the contact form or send a mail to feedback@mitopo.de

{% endblocktrans %}
{% endblock %}
