{% extends "email/base.html" %}

{% load i18n %}
{% load miroutes_tags %}

{% block html_content %}

{% blocktrans with name=sender.username reply_link=link message=message|safe %}

<h3>New Message from {{name}}:</h3>

{{message}}
<br>
<p>
To reply to {{name}} you can use the following link:
<br>
<small>
<a href="{{ reply_link }}">{{reply_link}}</a>
</small></p>
<br>
<br>
<br>
<br>
<p><small>
If you don't want to receive this kind of messages anymore you can
change this on your
{% endblocktrans %}
<a href="{% reverse_url_absolute "users:profile" %}">profile page</a>
</small></p>
{% endblock %}

{% block plaintext_content %}

{% blocktrans with name=sender.username reply_link=link message=message %}
New Message from {{name}}:

{{message}}

To reply to {{name}} you can use the following link:

{{ reply_link }}


If you don't want to receive this kind of messages anymore you can
change this on your profile page:
{% endblocktrans %}
{% reverse_url_absolute "users:profile" %}

{% endblock %}
