{% extends "email/base.html" %}
{% load i18n %} {% load miroutes_tags %}


{% block html_content %}
{% url "miroutes:wall_detail" wall_id=wall.id as wall_url %}
{% absolute_url wall_url as wall_absolute_url %}

{% blocktrans with name=user.username wall_name=wall.name wall_link=wall_absolute_url %}
<h3>Congratulations!</h3>
<p>
<a href="{{wall_link}}">{{wall_name}}</a> has just been published!<br>
We hope everything worked to your liking and if you have any feedback,
don't hesitate to get in touch with us.
</p>
{% endblocktrans %}
{% endblock %}



{% block plaintext_content %}
{% url "miroutes:wall_detail" wall_id=wall.id as wall_url %} 
{% absolute_url wall_url as wall_absolute_url %} 

{% blocktrans with name=user.username wall_name=wall.name wall_link=wall_absolute_url %}
{{wall_link}}
Congratulations!

`{{wall_name}}` has just been published!
We hope everything worked to your liking and if you have any feedback,
don't hesitate to get in touch with us.

Visit the following url to enjoy your result!
{{ wall_link }}
{% endblocktrans %}
{% endblock %}

{% block plaintext_footer %}{% endblock %} {% block html_footer %}{% endblock %}
