{% extends "email/base.html" %}
{% load i18n %} {% load miroutes_tags %}


{% block html_content %}
{% url "miroutes:wall_detail" wall_id=wall.id as wall_url %}
{% absolute_url wall_url as wall_absolute_url %}

{% blocktrans with name=user.username wall_name=wall.name wall_link=wall_absolute_url comment=wall.last_revision.comment%}
<h3>Change notification</h3>
<p>
<a href="{{wall_link}}">{{wall_name}}</a> has just been edited!<br>
You receive this notification because you have contributed to this wall in the past.
</p>

<p>
The corresponding commit message was `{{comment}}`.<br>
The changeset contains:
</p>
{% endblocktrans %}
<ul>
{% for field, change in changed_fields.items %}
<li>
  {% blocktrans with fieldname=field current=change.0 old=change.1 %}
  Field: {{ fieldname }} old version: `{{ old }}` current version: `{{ current }}`
  {% endblocktrans %}
</li>
{% endfor %}
{% for change in changeset %}
<li>{{change}}</li>
{% endfor %}
</ul>
{% endblock %}



{% block plaintext_content %}
{% url "miroutes:wall_detail" wall_id=wall.id as wall_url %}
{% absolute_url wall_url as wall_absolute_url %}

{% blocktrans with name=user.username wall_name=wall.name wall_link=wall_absolute_url comment=wall.last_revision.comment %}
Change notification!
{{wall_name}} has just been edited!
{{wall_link}}
You receive this notification because you have contributed to this wall in the past.

The corresponding commit message was `{{comment}}`.
The changeset contains:
{% endblocktrans %}
{% for field, change in changed_fields.items %}
{% blocktrans with fieldname=field current=change.0 old=change.1 %}
  - Field: {{ fieldname }} old version: `{{ old }}` current version: `{{ current }}`
{% endblocktrans %}
{% endfor %}
{% for change in changeset %}
  - {{change}}
{% endfor %}
{% endblock %}

{% block plaintext_footer %}{% endblock %}
{% block html_footer %}{% endblock %}
