{% extends "email/base.html" %}

{% load i18n %}

{% block html_content %}

{% blocktrans with name=user.username reply_link=link %}

  <h3>Your cruxle.org password has been reset.</h3>

  <p>
  <b>New Password:</b> {{new_password}}
  </p>

  <br>
  Please login to your account ({{name}}) on cruxle.org,
  and change it as soon as possible.
  <br>
  <br>
  <b><a href="{{ reply_link }}">Click here to update your password!</a></b>
{% endblocktrans %}
{% endblock %}
{% block plaintext_content %}

{% blocktrans with name=user.username reply_link=link %}
Your cruxle.org password has been reset,

New Password: {{new_password}}

Please login to your account ({{name}}) on cruxle.org,
and change it as soon as possible.

{{ reply_link }}

{% endblocktrans %}
{% endblock %}
