{% load i18n %}

<div class="license-chooser">

    <div class="license-chooser-prompt">
        {% trans 'Please choose the licenses under which your contributions will be licensed' %}
    </div>

    <ul style="list-style-type: none;padding: 0;margin: 0;">
        {% for license in licenses %}
          <li>
            <label style="display:block; position: relative;padding-left: 2em;" for="id_{{ widget.name }}">
              <div style="position: absolute;top: 0;left: 0;">
                <input type="checkbox" name="{{ widget.name }}"
                       class="checkboxinput"
                       id="id_{{ widget.name }}"
                       value="{{ license.id }}"
                       {% if license.checked %}
                       checked readonly onclick="return false;"
                       {% endif %}
                       {% if license.required %}required{% endif %}>
              </div>
              {{ license.long_name }} ({{ license.short_name }})
              <a target="_blank" href="{% url 'miroutes:license' license_key=license.translation_key %}">{% trans 'Full license text' %}</a>
              {% if license.required %}
                <br>
                <span class="license-chooser-must-be-checked">
                  {% trans '(must be checked to proceed)' %}
                </span>
              {% endif %}
            </label>
          </li>
        {% endfor %}
    </ul>

</div>
