//Those are the colors that were picked once, I dont know... is this Adrians?
//$base_color: #98E368;
//$base_color_lighter: #dfffc8;
//$base_color_darker: #73C145;

// Following base color is the hex representation of hex(sqrt(c*r*u*x*l*e)) -- a little bit dark and kind of nerdy but I thought I would play around with it and the result is OKayish, I guess if you find track down the changes of the colormap because you dont like it, dont hesitate to change it back ;P
$base_color: #34a81f;
//$base_color_lighter: #4EC239;
$base_color_lighter: #dcf8c7;
$base_color_darker: #1B8F06;

$header_padding: 1ex;
$header_height: 2.5em;

@import 'base/main';
@import 'base/comments';
@import 'base/ascents';
@import 'base/timeline';
@import 'base/ratings';
@import 'base/news';
@import 'base/userpics';
@import 'base/activityfeed';
@import 'base/favs';
@import 'base/miexport';
@import 'base/popup';
@import 'base/contactform';
@import 'base/datatables';
@import 'base/charts';
@import 'base/pdf_topo';
@import 'base/components/licensechooser';

/* FONT */
@import 'font/mitopofonts';
@import 'font/Grandstander';
