{% load static %}
{% load i18n %}

<script>
$(document).ready(function () {
    $("#show-filter").on('click', function(){
        open_slideout();
    });
});
</script>
<div class="hamburger-menu dropdown">
    <a class="btn-mitopo" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">
      <span class="mitopo-hamburger">

    </a>
    <ul id="sandwich-dropdown" class="dropdown-menu">
      <li>
        <a href="{% url 'miroutes:news' %}">

          <div class="left-col">
            <span class="far fa-newspaper fa-lg"></span>
          </div>
          <div class="right-col">
            {% trans 'News' %}
          </div>

        </a>

      </li>
        {% url "miroutes:index" as index %}

        <li>
            <a id="back-to-map" class="{% ifequal request.path index %}inactive{% endifequal %}" href="{% url "miroutes:index" %}">
                <div class="left-col">
                    <span class="fa fa-map fa-lg"></span>
                </div>
                <div class="right-col">
                    {% trans "Back to Map" %}
                </div>
            </a>
        </li>
        <li>
          <a id="show-filter"
             {% ifequal request.path index %}
               href="#"
             {% else %}
               href="{% url "miroutes:index" %}?filter=true"
             {% endifequal %}>
                <div class="left-col">
                    <span class="glyphicon glyphicon-filter fa-lg"></span>
                </div>
                <div class="right-col">
                    {% trans "Filter Walls" %}
                </div>
            </a>
        </li>

        <li>
            <a href="{% url 'miroutes:help' %}">

                <div class="left-col">
                    <span class="fa fa-question fa-lg"></span>
                </div>
                <div class="right-col">
                    {% trans 'Help / FAQ' %}
                </div>

            </a>

        </li>
        <li>
            <a href="{% url 'edit_spot:add_wall_img' %}">
                <div class="left-col">
                    <img src="{% static "generic_markers/img/wall_icon.png" %}"/>
                </div>
                <div class="right-col">
                    {% trans "Create Wall" %}
                </div>
            </a>
        </li>
        <li>
            <br>
        </li>
        <li>
            <a href="{% url 'miroutes:about' %}">

                <div class="left-col">
                    <span class="fa fa-info"></span>
                </div>
                <div class="right-col">
                    {% trans 'About cruxle.org' %}
                </div>

            </a>

        </li>
        <li>
            <a href="{% url 'miroutes:imprint' %}">

                <div class="left-col">
                    <span class="far fa-address-card"></span>
                </div>
                <div class="right-col">
                    {% trans 'Imprint' %}
                </div>
            </a>

        </li>
        <li>
            <a href="{% url 'miroutes:privacy' %}">

                <div class="left-col">
                    <span class="fas fa-university"></span>
                </div>
                <div class="right-col">
                    {% trans 'Privacy' %}
                </div>
            </a>

        </li>
        <li>
            <a href="{% url 'micontactform:contact_form' %}?next={{ request.path }}">

                <div class="left-col">
                    <span class="far fa-envelope"></span>
                </div>
                <div class="right-col">
                    {% trans 'Contact Us' %}
                </div>
            </a>

        </li>
    </ul>
</div>
