{% comment %}
This creates the top panel which holds the links that are used to edit a Spot, the attached Walls, links and draws routes... This should be included in every edit template
{% endcomment %}


{% load static %}
{% load edit_spot_tags %}
{% load i18n %}

{% if tiler %}
  {% url "edit_spot:add_wall" tiler_id=tiler.id as add_wall_url %}
  {% url "edit_spot:edit_wall_img" tiler_id=tiler.id as edit_wall_img_url %}
{% elif wall %}
  {% url "edit_spot:add_wall" tiler_id=wall.tiler.id as add_wall_url %}
  {% url "edit_spot:edit_wall_img" tiler_id=wall.tiler.id as edit_wall_img_url %}
{% else %}
  {% url "edit_spot:add_wall" as add_wall_url %}
{% endif %}
{% url "edit_spot:add_wall_img" as add_wall_img_url %}
{% url "edit_spot:edit_wall" wall_id=wall.id as edit_wall_url %}
{% url "edit_spot:link_routes" wall_id=wall.id as link_url %}
{% url "edit_spot:add_route" as add_route_url %}
{% if route %}
  {% url "edit_spot:edit_route" route_id=route.id as edit_route_url %}
{% endif %}
{% url "edit_spot:draw_routes" wall_id=wall.id as draw_url %}
{% url "edit_spot:decorate_wall" wall_id=wall.id as decorate_url %}
{% url "edit_spot:publish_wall" wall_id=wall.id as publish_url %}
{% url "miroutes:wall_detail" wall_id=wall.id as wall_detail_url %}
{% url "edit_spot:finish_wall_edit" wall_id=wall.id as finish_wall_edit_url %}

<nav id='edit_pane'>
  <div id='nav-logo'>
    <a id="header-logo-link" href="/miroutes">
      <span class='mitopo-icon hidden-xs'></span>
      <span class='grandstander-font'>cruxle</span>
    </a>
  </div>
  <ul id="nav-items" class="hidden-xs">
    {% if wall.tiler or tiler %}
      <li data-toggle="tooltip" data-placement="bottom"
          class="{% ifequal request.path edit_wall_img_url %}active{% endifequal %} {% ifequal request.path add_wall_img_url %}active{% endifequal %}">
        <a href="{{ edit_wall_img_url }}" title="{% trans 'Edit Wall Image' %}">
          <span class="glyphicon glyphicon-picture fa-lg" aria-hidden="true"></span>
          <span class="visible-lg-inline">{% trans "Edit Image"|truncatechars:12 %}</span>
        </a>
      </li>
    {% else %}
      <li class="{% ifequal request.path add_wall_img_url %}active{% endifequal %}"
          data-toggle="tooltip"
          data-placement="bottom">
        <a href="{{ add_wall_img_url }}" title="{% trans 'New Wall Image' %}">
          <span class="glyphicon glyphicon-plus fa-lg" aria-hidden="true"></span>
          <span class="visible-lg-inline">{% trans "New Image"|truncatechars:12 %}</span>
        </a>
      </li>
    {% endif %}

    {% if wall %}
        <li class="{% ifequal request.path edit_wall_url %}active{% endifequal %}" data-toggle="tooltip" data-placement="bottom">
            <a href="{{ edit_wall_url }}" title="{% trans 'Edit Wall-Info' %}">
                <span class="glyphicon glyphicon-edit fa-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">{% trans "Wall-info"|truncatechars:12 %}</span>
            </a>
        </li>

        {% if not wall.gym %}
        <li class="{% ifequal request.path link_url %}active{% endifequal %}
                   {% ifequal request.path add_route_url %}active{% endifequal %}
                   {% ifequal request.path edit_route_url %}active{% endifequal %}"
                data-toggle="tooltip" data-placement="bottom">
                <a href="{{ link_url }}" title="{% trans 'Manage visible routes on this wall' %}">
                    <span class="fa fa-link fa-lg" aria-hidden="true"></span>
                    <span class="visible-lg-inline">{% trans "Add/Remove Routes"|truncatechars:12 %}</span>
                </a>
            </li>
        {% endif %}

        <li class="{% ifequal request.path draw_url %}active{% endifequal %}" data-toggle="tooltip" data-placement="bottom">
            <a href="{{ draw_url }}" title="{% trans 'Draw Routes on Wall' %}">
                <span class="glyphicon glyphicon-pencil fa-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">{% trans "Draw Routes"|truncatechars:12 %}</span>
            </a>
        </li>
        <li class="{% ifequal request.path decorate_url %}active{% endifequal %}" data-toggle="tooltip" data-placement="bottom">
            <a href="{{ decorate_url }}" title="{% trans 'Decorate Wall' %}">
                <span class="glyphicon glyphicon-pushpin fa-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">{% trans "Markers"|truncatechars:12 %}</span>
            </a>
        </li>
        <li class="{% ifequal request.path publish_url %}active{% endifequal %}" data-toggle="tooltip" data-placement="bottom">
            <a href="{{ publish_url }}" title="{% trans 'Publish Wall' %}">
                <span class="glyphicon glyphicon-flag fa-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">{% trans "Publish"|truncatechars:12 %}</span>
            </a>
        </li>

	{% else %}

		<li class="{% if not tiler.id %}disabled{% endif %}{% ifequal request.path add_wall_url %}active{% endifequal %}" data-toggle="tooltip" data-placement="bottom">
			<a href="{{ add_wall_url }}" title="{% trans 'Add Wall-Info' %}">
				<span class="glyphicon glyphicon-edit fa-lg" aria-hidden="true"></span>
				<span class="visible-lg-inline">{% trans "Wall-Info"|truncatechars:12 %}</span>
			</a>
		</li>

    {% endif %}

    <li data-toggle="tooltip" data-placement="bottom">
      <a id="finish-edit-link" href="#" title="{% trans 'Exit Edit Mode' %}" title="{% trans 'Finish Edit' %}">
        <span class="glyphicon glyphicon-remove finish-edit-button fa-lg" aria-hidden="true"></span>
        <span class="visible-lg-inline">{% trans "Cancel"|truncatechars:12 %}</span>
      </a>
    </li>
  </ul>
  <div id="nav-dropdown" class="dropdown hidden-lg pull-right almost-on-top">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% ifequal request.path add_wall_img_url %}{% trans 'New Image'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path add_wall_url %}{% trans 'Wall-Info'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path edit_wall_img_url %}{% trans 'Edit Image'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path edit_wall_url %}{% trans 'Wall-Info'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path link_url %}{% trans 'Add/Remove Routes'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path draw_url %}{% trans 'Draw Routes'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path decorate_url %}{% trans 'Markers'|truncatechars:10 %}{% endifequal %}
      {% ifequal request.path publish_url %}{% trans 'Publish'|truncatechars:10 %}{% endifequal %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if wall.tiler or tiler %}
        <li class="nav-item">
            <a class="nav-link navbar-link {% ifequal request.path edit_wall_img_url %}active h4{% endifequal %}"
               href="{{ edit_wall_img_url }}">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                {% trans 'Edit Image'|truncatechars:20 %}
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link navbar-link {% ifequal request.path add_wall_img_url %}active h4{% endifequal %}"
               href="{{ add_wall_img_url }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {% trans 'New Image'|truncatechars:20 %}
            </a>
        </li>
        {% endif %}

        {% if wall %}
        <li class="nav-item">
            <a class="nav-link navbar-link {% ifequal request.path edit_wall_url %}active h4{% endifequal %}"
               href="{{ edit_wall_url }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                {% trans 'Edit Wall-Info'|truncatechars:20 %}
            </a>
        </li>
        <li>
            <a class="nav-link navbar-link {% ifequal request.path link_url %}active h4{% endifequal %}"
               href="{{ link_url }}">
                <span class="fa fa-link" aria-hidden="true"></span>
                {% trans 'Add/Remove Routes'|truncatechars:20 %}
            </a>
        </li>
        <li>
            <a class="nav-link navbar-link {% ifequal request.path draw_url %}active h4{% endifequal %}"
               href="{{ draw_url }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                {% trans 'Draw Routes'|truncatechars:20 %}
            </a>
        </li>
        <li>
            <a class="nav-link navbar-link {% ifequal request.path decorate_url %}active h4{% endifequal %}"
               href="{{ decorate_url }}">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                {% trans 'Edit Markers'|truncatechars:20 %}
            </a>
        </li>
        <li>
            <a class="nav-link navbar-link {% ifequal request.path publish_url %}active h4{% endifequal %}"
               href="{{ publish_url }}">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                {% trans 'Publish Wall'|truncatechars:20 %}
            </a>
        </li>
        {% else %}
            <li class="nav-item {% if not tiler %}disabled{% endif %}">
                <a class="nav-link navbar-link {% ifequal request.path add_wall_url %}active h4{% endifequal %}"
                   href="{{ add_wall_url }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    {% trans 'Set Wall-Info'|truncatechars:20 %}
                </a>
            </li>
        {% endif %}
        <li>
            <a class="nav-link navbar-link"
               id="finish-edit-link-dropdown"
               href="#">
                <span class="glyphicon glyphicon-remove finish-edit-button" aria-hidden="true"></span>
                {% trans 'Cancel' %}
            </a>
        </li>

    </ul>
  </div>

</nav>


<script>
    $(function () {
        $("#finish-edit-link,#finish-edit-link-dropdown").on('click', function () {
            {% if wall %}

            $(".generic-warning-header").html("{% trans "You are leaving edit mode" %}");
            var chgdiv = $("<div>")
                .html('<p>{% trans "Checking for pending changes..." %} <i class="fas fa-circle-notch fa-spin"></i></p>');
            $(".generic-warning-body").replaceWith(chgdiv);
            $(".modal-footer").hide(); // hide the footer because it has a confusing close button

            $("#generic-warning-modal").modal();
            chgdiv.load(
                    "{% url "edit_spot:wallview_changeset" wallview1_id=wall.dev_view.pk wallview2_id=wall.pub_view.pk %}",
                    function (response) {
                        if ($(response).find('li').length > 0) {
                            chgdiv.append('<p class="bg-info">{% trans "Your changes are persistent in edit mode but invisible to the public until you publish your changes." %}</p>');
                            $(".generic-warning-footer").html('<a type="button" class="btn btn-warning" href="{{ finish_wall_edit_url }}?next={{ wall_detail_url }}">{% trans "Leave" %}</a>');
                            $(".modal-footer").show();
                        } else {
                            chgdiv.append('<br><p>{% trans "Going back to normal view..." %} <i class="fas fa-circle-notch fa-spin"></i></p>');
                            window.location.href = "{{ finish_wall_edit_url }}?next={{ wall_detail_url }}";
                        }
                    });
            {% else %}
                window.location.href = "{% url "miroutes:index" %}";
            {% endif %}
        });
    });
</script>
