{% block main-js %}
{% load static %}
        {% if settings.GA_TRACKER_ID != 'none' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GA_TRACKER_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ settings.GA_TRACKER_ID }}');
        </script>
        {% endif %}
        <script src="{% static "topo/bower_components/jquery/dist/jquery.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/jquery-form/dist/jquery.form.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/jquery-cookie/jquery.cookie.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/bootstrap/dist/js/bootstrap.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/datatables.net/js/jquery.dataTables.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/bootstrap-star-rating/js/star-rating.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "cookielaw/js/cookielaw.js" %}?cb={{ settings.CACHE_BUSTER }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/d3/d3.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/nvd3/build/nv.d3.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/leaflet/dist/leaflet.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/Leaflet.DoubleTapDrag/Leaflet.DoubleTapDrag.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/Leaflet.DoubleTapDragZoom/Leaflet.DoubleTapDragZoom.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/leaflet-draw/dist/leaflet.draw.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/Leaflet.EasyButton/src/easy-button.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript"
                charset="utf-8"></script>
        <script src="{% static "topo/bower_components/leaflet.locatecontrol/dist/L.Control.Locate.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/croppie/croppie.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/mustache.js/mustache.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/vue/dist/vue.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/vue-resource/dist/vue-resource.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/bower_components/showdown/dist/showdown.min.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% url 'javascript-catalog' %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/utils.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/mitopo_events.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/baselayout.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/slideout.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/ratings.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/initializers.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/linesmoothing.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/routes-tool.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/mitopo_charts.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/micomments.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/weather_api.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/timeline_api.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/workbench_api.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/favs_api.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
        <script src="{% static "topo/js/topo/share-api-polyfill.js" %}?cb={{ settings.CACHE_BUSTER }}"
                type="text/javascript" charset="utf-8"></script>
{% endblock %}
