{% load i18n %}
<div class="text-warning top-buffer-margin"
     style="max-width: 15em;"
     tabindex="0"
     role="button"
     data-toggle="popover"
     data-placement="top"
     data-html="true"
     data-content="
     <a href='{% url "micontactform:contact_form" %}?next={{request.path}}&src={{request.path}}&reason=Found_Bug'><i class='fa fa-bug'></i> {% trans 'Found a bug' %}</a>
     <br>
     <a href='{% url "micontactform:contact_form" %}?next={{request.path}}&src={{request.path}}&reason=Inappropriate_Content'><i class='fa fa-ban'></i> {% trans 'Inappropriate Content' %}</a>
     <br>
     <a href='{% url "micontactform:contact_form" %}?next={{request.path}}&src={{request.path}}&reason=Copyright_Issues'><i class='far fa-copyright'></i> {% trans 'Copyright Issues' %}</a>
     "
     >
    <i class="fa fa-fire"></i> {% trans "Report Content" %}
</div>
