{% load static %}
{% load i18n %}
<div id="search-wrapper" class="dropdown">
    <a class="dropdown-toggle btn-mitopo"
       data-toggle="dropdown"
       href="#">
        <!--img id="searchbutton" src="{% static "topo/img/search.png" %}"/-->
        <span id="searchbutton-glyph" class="glyphicon glyphicon-search"></span>
        <!--span class="hidden-sm-down">{%trans 'Search' %}</span-->
    </a>
    <ul class="search-dropdown dropdown-menu dropdown-menu-right on-top">

      <li>
        <div id="search_form_input" class="input-group">
          <div id="search_form_radios" class="input-group-btn" data-toggle="buttons">
            <label class="btn active" title="{% trans "Search in Cruxle.org" %}">
              <input name="search_objects" checked type="radio" value="mitopo">
              <span class="mitopo-icon"></span>
            </label>
            <label class="btn" title="{% trans "Search for Cities/Mountains" %}">
              <input name="search_objects" type="radio" value="geonames">
              <span class="glyphicon glyphicon-globe"></span>
            </label>
            <!-- <label class="btn" title="{% trans "Fuzzy Search" %}"> -->
            <!--   <input name="search_objects" type="radio" value="geonames_fuzzy"> -->
            <!--   <span class="fa fa-magic"></span> -->
            <!-- </label> -->
            <label class="btn" title="{% trans "User Search" %}">
              <input name="search_objects" type="radio" value="users">
              <span class="glyphicon glyphicon-user"></span>
            </label>
          </div>
          <input type="text" class="form-control" id="search_input" placeholder="{%trans 'Search in Cruxle.org' %}">
        </div>
      </li>
      <li class="divider"></li>

      <li>
        <div id="search_result_spinner"></div>
      </li>

      <li>
        <div class="table-responsive pre-scrollable">
          <table class="table table-condensed table-hover">
            <tbody id="search_result">
            </tbody>
          </table>
        </div>
      </li>
      <!--li>
          <pre id="search_result_data_dump" class="pre-scrollable" style="max-width:60vw"></pre>
      </li-->

      <script>
            var search_url = "{% url "miroutes:search" %}";
            var timingHandle;
            var delay = 1000;  // delay when typing to prevent too many ajax calls
            var $input = $('#search_input');
            var $spinner = $('#search_result_spinner');

            var mid_entry_col_size = "col-xs-9";

            function goto_coords(coords, marker) {
                if(typeof marker === 'undefined')
                    marker = false;
                $spinner.addClass("fa fa-spinner fa-2x fa-spin");

                {% url "miroutes:index" as index_url %}
                {% ifequal request.path index_url %}
                map.setView(coords, 15);
                $spinner.removeClass();
                if(marker)
                    L.marker(coords).addTo(map);
                {% else %}
                window.location.href = "{{ index_url }}?lat=" + coords[1] + "&lng=" + coords[0];
                {% endifequal %}
            }

            var num_to_population_str = function (num) {
                var n = parseInt(num);
                if(n>1000000) {
                    n = n/1000000
                    return n.toLocaleString(undefined, {maximumFractionDigits:1})+'mio';
                }
                if(n>1000) {
                    n = n/1000
                    return n.toLocaleString(undefined, {maximumFractionDigits:1})+'k';
                }
                return n;
            }

            var render_search_results = function (data) {
                var $result = $("#search_result");
                $result.empty();

                if(data.length == 0) {
                    $result.text("{% trans 'No results found' %}");
                }

                for (var i in data) {
                    var row = data[i];
                    var $tr = $("<tr>",{
                        class: "row",
                        style: "cursor:pointer;",
                    });

                    if(row.model === "places.place") {
                        switch(row.fields.feature_class) {
                        case "T": // mountain,hill,rock,...
                            $tr.append($('<span>',{
                                class: "col-xs-1",
                                style: "padding-top:.25em;"
                            }).append($("<img>",{
                                src:   "{% static 'generic_markers/img/spot_icon.png' %}",
                                class: "img-rounded",
                                height:"2em",
                            })));

                            // mid part of row (double line, with name and meta in second line)
                            var $r = $('<div>',{class: mid_entry_col_size}); // right side, next to icon
                            $r.append( $("<span>",{class: "col-xs-12",text: row.fields.name}) );

                            var meta_str = '';
                            if(row.fields.country_code) { meta_str += ' '+ row.fields.country_code;}
                            if(row.fields.elevation   ) { meta_str += ' '+ row.fields.elevation + 'm';}
                            $r.append( $("<small>",{class: "col-xs-12", text: meta_str}) );

                            $tr.append($r);
                            break;

                        case "P": // city, village,...
                            $tr.append($('<span>',{
                                class: "col-xs-1 fa fa-building fa-2x",
                                style: "padding-top:.25em;"
                            }));

                            // mid part of row (double line, with name and meta in second line)
                            var $r = $('<div>',{class: mid_entry_col_size}); // right side, next to icon
                            $r.append( $("<span>",{class: "col-xs-12", text: row.fields.name}) );

                            var meta_str = '';
                            if(row.fields.country_code) { meta_str += ' '+row.fields.country_code;}
                            if(row.fields.zipcode     ) { meta_str += '-'+row.fields.zipcode;}
                            if(row.fields.elevation   ) { meta_str += ' '+row.fields.elevation + 'm';}

                            var $subline = $("<small>", { class: "col-xs-12 text-muted"});
                            $subline.append( $("<span>",{ text: meta_str}) );

                            if(row.fields.population) {
                                var descr = '&nbsp; <span class="fa fa-users"> '+ num_to_population_str(row.fields.population) +'</span>';
                                $subline.append( $("<span>",{ html: descr }) );
                            }
                            $r.append($subline);

                            $tr.append($r);

                            break;

                        } // end switch case

                        // handle location links for geoname places
                        var pnt = row.fields.pnt.match(/\((.*?)\s+(.*?)\)/); // geonames provides something like: "SRID=4326;POINT (50.11667 9.366669999999999)"
                        pnt = [pnt[1],pnt[2]];

                        // set whole tr as goto link
                        $tr.attr("href", "javascript:goto_coords(["+pnt+"], true);");

                        // and append map link
                        $tr.append($('<a>',{
                            class: "col-xs-1",
                            href:  "javascript:goto_coords(["+pnt+"], true);",
                        }).append(
                            $("<span>", {class: "far fa-map fa-2x"})));

                    } // end if places.place

                    if(row.model === "wall") {
                        $tr.attr("href", '{% url 'miroutes:wall_detail_stub' %}'+row.id);

                        // icon on the left
                        if(row.is_favourite) {
                            $tr.append($('<span>',{
                                class: "col-xs-1 fa fa-bookmark fa-2x search-result-bookmark",
                                style: "padding-top:.25em;"
                            }));
                        } else {
                            $tr.append($('<span>',{
                                class: "col-xs-1",
                                style: "padding-top:.25em;"
                            }).append($("<img>",{
                                src:   "{% static 'generic_markers/img/wall_icon.png' %}",
                                class: "img-rounded",
                                height:"2em",
                            })));
                        }

                        // mid part of entry
                        var $r = $('<div>',{class: mid_entry_col_size}); // right side, next to icon
                        $r.append( $("<span>",{class: "col-xs12",text: row.name}) );
                        var meta_str = ' '+row.Nroutes+" {%trans 'Routes' %}";
                        $r.append( $("<small>",{class: "col-xs-12 text-muted",text: meta_str}) );

                        $tr.append($r);

                        // append map link
                        $tr.append($('<a>',{
                            class: "col-xs-1",
                            href:  "javascript:goto_coords(["+row.pnt+"]);",
                        }).append(
                            $("<span>", {class: "far fa-map fa-2x"})));


                    } // end if wall

                    if(row.model === "route") {
                        $tr.attr("href", '{% url 'miroutes:route_detail_stub' %}'+row.id);

                        $tr.append($('<span>',{
                            class: "col-xs-1",
                            style: "padding-top:.25em;"
                        }).append($("<img>",{
                            src:   "{% static 'generic_markers/img/route_icon.png' %}",
                            class: "img-rounded",
                            height:"2em",
                        })));

                        var $r = $('<div>',{class: mid_entry_col_size}); // right side, next to icon
                        $r.append( $("<span>",{class: "col-xs12",text: row.name}) );
                        var meta_str = ' {% trans 'on wall' %}: '+row.on_wall;
                        $r.append( $("<small>",{class: "col-xs-12 text-muted",text: meta_str}) );

                        $tr.append($r);
                    } // end if route

                    if(row.model === "userprofile") {
                        $tr.attr("href", '{% url 'users:user_detail_ajaxstub' %}'+row.id);

                        var img_container = $('<span>',{
                            class: "col-xs-1",
                            style: "padding-top:.25em;"
                        });

                        if(row.avatar)
                            img_container.append($("<img>",{
                                src: row.avatar,
                                class: "img-rounded",
                                height:"2em",
                            }));
                        else
                            img_container.append($('<span class="glyphicon glyphicon-user fa-lg">'));
                        $tr.append(img_container);

                        var $r = $('<div>',{class: mid_entry_col_size}); // right side, next to icon
                        $r.append( $("<span>",{class: "col-xs12",text: row.name}) );
                        var meta_str = ' {% trans 'on wall' %}: '+row.on_wall;
                        $r
                            .append($("<small>",{
                                class: "col-xs-12 text-muted"
                            })
                                    .append($('<span class="fa fa-puzzle-piece">'))
                                    .append($('<span>').text(row.puzzle_pieces))
                                   );

                        $tr.append($r);
                    } // end if userprofile

                    $tr.appendTo($result);
                }
            }



            // Function to load the search results data
            var load_search_results = function(search_str) {
                var search_str = $input.val();

                var search_obj = $('#search_form_radios label input:checked').val();

                var url = search_url+'?q='+search_str+'&o='+search_obj;

                $spinner.addClass("text-info");
                // set current search attr which we will later use to determine if there is yet another incoming ajax call
                // and only if it is the last one, we remove the spinner
                $spinner.attr("current_search", url);

                $.getJSON(url, function(data) {
                    //document.getElementById("search_result_data_dump").innerHTML = JSON.stringify(data, undefined, 2);
                    if($spinner.attr("current_search")===url) {
                        $spinner.removeClass(); // remove all the spinner classes
                    }
                    render_search_results(data);
                });
            }

            var on_change_handler = function () {
                if($input.val().length == 0) {
                    return;
                }
                // setup spinner
                $spinner.addClass("fa fa-spinner fa-2x fa-spin");

                // setup timelags to prevent search spamming
                clearTimeout(timingHandle);
                timingHandle = setTimeout(function () {
                    load_search_results(); }, delay);
            };

            $input.on("input", function() {
                on_change_handler();
            });

            $input.on('keyup', function(e){
                if (e.keyCode == 13) { // pressed enter in search field
                    var href = $('#search_result').find('a').first().attr('href');
                    if(href) {
                        $spinner.addClass("fa fa-spinner fa-2x fa-spin");
                        window.location.href = href;
                    }
                }
            })

            $('#search_form_radios input').change(function () {
                $('#search_form_radios label').removeClass('active');
                $(this).parent('label').addClass('active');
                $('#search_input').attr('placeholder', $(this).parent('label').attr('title'));
                on_change_handler();
            });

            // highlight the input field when dropdown opens
            $("#search-wrapper").on("shown.bs.dropdown", function(event){
                $input.focus();
                // Then a little hack to move the cursor to the end of the input line when opened again
                var tmp = $input.val();
                $input.val('');
                $input.val(tmp);
            });

            // Function to find the closest element which has the given attribute
            function findUpTag(el, attr) {
                while (el.parentNode) {
                    el = el.parentNode;
                    if (el[attr]) {
                        return el;
                    }
                }
                return null;
            }

            $('.search-dropdown').click(function(e) {
                e.stopPropagation();

                var closest_href = findUpTag(e.target, 'href');
                if(closest_href)  {
                    $spinner.addClass("fa fa-spinner fa-2x fa-spin");
                    window.location.href = closest_href.attributes.href.value;
                    return
                }

                var entry_tr = e.target.closest('tr');
                if(entry_tr)  {
                    $spinner.addClass("fa fa-spinner fa-2x fa-spin");
                    window.location.href = entry_tr.attributes.href.value;
                    return
                }
            });

      </script>
    </ul>
</div>
