{% load static %}

<script src="{% static "ajaxuploader/js/fileuploader.js" %}?cb={{ settings.CACHE_BUSTER }}"
        type="text/javascript" charset="utf-8"></script>
<script src="{% static "file_form/file_form.js" %}?cb={{ settings.CACHE_BUSTER }}"
        type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet"
      href="{% static "ajaxuploader/css/fileuploader.css" %}?cb={{ settings.CACHE_BUSTER }}"
      type="text/css" charset="utf-8"/>

<script type="text/template" id="qq-template">
<div class="qq-uploader-selector qq-uploader">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
          <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
          <span class="qq-upload-file-selector qq-upload-file"></span>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
            <span class="qq-upload-size-selector qq-upload-size"></span>
            <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
            <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
            <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
            <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
          </li>
        </ul>
      </div>
</script>
