{% load i18n %}
{% load static %}

<!-- you can open/close the usermenu with css classes: $("#user-dropdown-menu").addClass("open"); -->

{% if request.user.is_anonymous %}
    <div id="user-dropdown-menu" class="user-menu dropdown">
        <a class="dropdown-toggle btn-mitopo" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">
          <span id="login-button" class="glyphicon glyphicon-user"></span>
        </a>
        <ul id="header-user-dropdown" class="dropdown-menu dropdown-menu-right">
            <li>
                <form class="navbar-form" role="form"
                       action="{% url "users:django.contrib.auth.views.login" %}?next={{ request.path }}"
                      method="post" accept-charset="utf-8">
                    <div class="form-group">
                       <input type="text" placeholder="Username" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                       <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                    {% csrf_token %}
                    <div class="login-menu-buttons">
                      <button id="submit-login" type="submit" class="btn btn-success btn-sm">{% trans "Sign in" %}</button>
                      <a id="register-button" class="btn btn-primary btn-sm" href="{% url 'users:users.views.register' %}?next={{ request.path }}">{% trans 'Register' %}</a>
                    </div>
                    <div id="reset-password-line" class="test-info small">
                        <a href="{% url "users:reset_password" %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </div>
                </form>
            </li>
            <li>
                <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            </li>
            <li>
              <div class="login-social">
                {% trans "Login via" %}: <a class="btn btn-default btn-xs" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                  <img id="google-logo" src="{% static "topo/img/google-logo.png" %}" />
                </a>
                <br>
                <a target="_blank" href="{% url 'miroutes:privacy' %}?next={{ request.path }}">
                  <span class="text-info small">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans 'By registering you agree to our <br> privacy and copyright terms' %}
                  </span>
                </a>
              </div>
            </li>
        </ul>
    </div>
{% else %}
    <div id="user-dropdown-menu" class="user-menu dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">
            <img class="user-menu-button" src="{{ request.user.userprofile.thumb_url }}"/>
            {% if request.user.userprofile.unread_messages %}
              <span id="user-menu-message-badge" class="glyphicon glyphicon-envelope"></span>
            {% endif %}
        </a>
        <ul id="header-user-dropdown" class="dropdown-menu dropdown-menu-right">
            <li class="profile-entry">
                <a href="{% url 'users:user_detail' user_id=request.user.pk %}">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ request.user.userprofile.thumb_url }}"/>
                        </div>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="user-menu-username">{{ request.user }}</span>
                                </div>
                                <div class="col-xs-12">
                                    {{ request.user.email }}
                                </div>
                                <div class="col-xs-12">
                                  <span data-toggle="tooltip" title="{% trans 'Puzzle Pieces'%}">
                                    <span class="fa fa-puzzle-piece fa-lg"></span> {{ request.user.userprofile.puzzle_pieces }}
                                  </span>
                                  &nbsp;
                                  <span data-toggle="tooltip" title="{% trans 'Ascents'%}">
                                    <span class="fas fa-long-arrow-alt-up fa-lg"></span> {{ request.user.userprofile.ascent_count }}
                                  </span>
                                  &nbsp;
                                  <span data-toggle="tooltip" title="{% trans 'Edits'%}">
                                    <span class="fas fa-edit fa-lg"></span> {{ request.user.userprofile.edit_count }}
                                  </span>
                                </div>

                            </div>
                        </div>

                    </div>
                </a>
            </li>
            <li>
              <a href="{% url 'postbox:inbox' %}?next={{ request.path }}">
                <span class="glyphicon glyphicon-inbox"></span> {% trans "Inbox" %}
                {% if request.user.userprofile.unread_messages %}<span class="badge">{{ request.user.userprofile.unread_messages }}</span>{% endif %}
              </a>
            </li>
            <li>
              <a href="{% url 'users:user_work' %}?next={{ request.path }}">
                <span class="fas fa-edit fa-lg"></span> {% trans "My Edits" %}</a>
            </li>
            <li class="logout-entry">
              <a id="logout-button"
                 href="{% url 'users:django.contrib.auth.views.logout' %}?next={{ request.path }}">
                <span class="fas fa-sign-out-alt fa-lg"></span> Logout</a>
            </li>
        </ul>
    </div>
{% endif %}
