{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load thumbnail %}

{% load i18n %}

{% block title %}
    cruxle.org - {% trans "Stitch Panoramas" %}
{% endblock %}

{% block extra_assets %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% include 'includes/upload_template.html' %}
{% endblock %}

{% block content %}
  <script type="text/javascript">
    $(document).ready(function () {
        $("#pano-form").on('submit', function (evt) {
            evt.preventDefault();
            // Check if one file is selected
            var numfiles = $(".file-uploader-container").fineUploader('getUploads', {status: qq.status.UPLOAD_SUCCESSFUL}).length;
            if (numfiles < 1) {
                append_message("{% trans "Select and upload panorama images." %}", "danger");
                return none;
            }
            $("#pano-form")[0].submit();
        });

        initUploadFields($('#pano-form'));
        $(".qq-upload-button div").html("<div>{% trans "Upload Multiple Pictures!" %}</div>");
    });
  </script>
  <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-push-1">
    <h4>
      {% trans "Add Panorama Image" %}
    </h4>
    <p><span class='glyphicon glyphicon-info-sign'></span>
      {% trans "Upload up to 20 images to form a panoramic picture." %}</p>
    <p><span class='glyphicon glyphicon-info-sign'></span>
      {% blocktrans with path=request.path %}
        The open-source tool <a href="http://hugin.sourceforge.net/">Hugin</a>
      is used to stitch the images. Better results may be achieved by downloading Hugin and using the tool locally.
    {% endblocktrans %}
    </p>
      {% crispy form %}
  </div>

{% endblock %}
