{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block title %}
    cruxle.org - {% trans "Processing..." %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-10 col-lg-8 col-sm-push-1 text-center top-buffer-margin">

<h4>{% trans "We are working on it, just a sec..." %} </h4>
<div id='processing_spinner' class='top-buffer-margin text-center'>
    <i class="fa fa-spinner fa-spin fa-4x"></i>
</div>
<small>
{% trans "You will be forwarded shortly..." %}
<p>
<a href="{{next_page}}">{{next_page}}</a>
</p>
</small>
</div>

<script>
$(document).ready(function () {
    window.location.href = '{{next_page}}';
});
</script>

{% endblock %}
