{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load thumbnail %}

{% load i18n %}

{% block title %}
    cruxle.org - {% trans "Stitch Panoramas" %}
{% endblock %}

{% block extra_assets %}
    <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% include 'includes/upload_template.html' %}
{% endblock %}

{% block content %}

  <div class="col-xs-12">
    <h4>
      <a href="{% url "stitcher:add_pano" %}"><span class="glyphicon glyphicon-chevron-left"></span></a> {% trans "View Panorama Image Stitcher" %}
    </h4>
    <p><span class='glyphicon glyphicon-info-sign'></span> {% trans "Please wait... we will try our best to stitch your panorama. This may take a while..." %}</p>
    <p><span class='glyphicon glyphicon-info-sign'></span> {% trans "You can watch the progress or come back later. We will send you an email when the stitching is finished." %}</p>
    <p><span class='glyphicon glyphicon-info-sign'></span> {% trans "For best results, we recommend you use pictures which have at least 10-20% overlap and posses correct EXIF Tags about the Field of View and camera-optics settings." %}</p>
    {% if pano.img %}
    <div id="pano_view" class="top-buffer-margin wide_popover_container">
    <a href="#"
       data-toggle='popover'
       tabindex="0"
       role="button"
       title='{%trans "Additional Info and Exif-Data" %}'
       data-trigger='focus'
       data-placement='bottom'
       data-content="
       <a href='{{pano.img.url}}'>{% trans 'Link to Original File' %} : {{pano.img.name}}</a>
       <ul class='' title='Exif Tags'>
         {% for key, value in pano.get_exif.items|dictsort:"0.lower" %}
           <li class=''> <span class='label label-default'>{{key}}</span> {{value}} </li>
         {% endfor %}
       </ul>">
       <img src="{{pano.img|thumbnail_url:'pano'}}"
            alt="Panorama image: {{pano.img.url}}"
            class="img-fluid">
    </a>
    <br>
    <br>
    <a href="{% url "edit_spot:add_wall_from_pano" pano_id=pano.id %}"
       class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span> {% trans "Create a wall from this Image" %}
    </a>
    </div>
    {% endif %}


    <div id="pano_detail" class="top-buffer-margin wide_popover_container">
      {% for part in pano.panopart_set.all %}
        <a href="#"
           data-toggle='popover'
           tabindex="0"
           role="button"
           title='{%trans "Additional Info and Exif-Data" %}'
           data-trigger='focus'
           data-placement='bottom'
           data-content="<a href='{{part.img.url}}'>{% trans 'Link to Original File' %} : {{part.img.name}}</a>
           <ul class='' title='Exif Tags'>
           {% for key, value in part.get_exif.items|dictsort:"0.lower" %}
           <li class=''> <span class='label label-default'>{{key}}</span> {{value}} </li>
           {% endfor %}
           </ul>">
          <img src="{{part.img|thumbnail_url:'pano_parts'}}"
               alt="{{part.img|thumbnail_url:'materials'}}"
               class="img-thumbnail">
        </a>
      {% endfor %}
    </div>
    <br>
    <br>
    <br>

    <div id='panostitcher-status-div' class="top-buffer-margin"></div>
    <br>
    <br>
    {% include "includes/report_content_element.html" %}
    <br>
    <br>
  </div>

  <script type="text/javascript">
    function updateStatus(){
        var url = '{% url "stitcher:get_pano" pk=pano.id %}';
        $.getJSON(url, function(data) {
            out = data;
            var $statusdiv = $('#panostitcher-status-div');
            var title_strings = {
                'output_creating': 'Creating Panorama Project',
                'output_cpfind': 'Searching overlapping points',
                'output_cpclean': 'Removing weird controls points',
                'output_linefind': 'Searching for a horizon',
                'output_optimising': 'Optimising control points',
                'output_cropping': 'Determine Panorama Image size',
                'output_stitching': 'Stitching Panorama',
                'output_blending': 'Blending Panorama',
                'output_convert_2_png': 'Creating PNG Image',
                'output_enhancing': 'Applying Generic Image Filters',
            };

            if($('#'+'stitching_in_progress_spinner').length === 0) {
                var progress_spinner = $('<span>', {id: 'stitching_in_progress_spinner', text: gettext("Stitching in progress...")}).append($('<i>',{class: "fa fa-spinner fa-spin"}));
                progress_spinner.appendTo($statusdiv);
            }

            for(key in data) {
                    if(!(key in title_strings)) { continue; }
                    if(!data[key]) {
                        text=null;
                    }else{
                        text = data[key].slice(2, data[key].length -1); // remove the b' at the beginning of the strings
                        // replace some special vars
                        text = text.replace(/\\n/g, '\n');
                        text = text.replace(/\\t/g, '\t');
                    }

                    if($statusdiv.find('#'+key+'body').length == 0) {
                        var $panel = $('<div>', {
                            id: key,
                            class: 'panel panel-default',
                        });
                        var $panelheading = $('<div>', {
                            id: key+'heading',
                            class: 'panel-heading',
                            text: gettext(title_strings[key]),
                        });
                        var $panelbody = $('<div>', {
                            id: key+'body',
                            class: 'panel-body',
                            style: 'display:none; white-space:pre-line;',
                            text: gettext(text),
                        });
                        $panelheading.appendTo($panel);
                        $panelbody.appendTo($panel);

                        $panel.appendTo($statusdiv);

                        $panel.on('click', function(e){
                            var panel = $(this);
                            var panelbody = panel.find('.panel-body');
                            console.log('panelbody',panelbody.text);
                            if(panelbody.text().length !== 0) {
                                panelbody.toggle();
                            }
                        });

                    } else {
                        var $panel = $statusdiv.find('#'+key);
                        var $panelheading = $panel.find('#'+key+'heading');
                        var $panelbody = $panel.find('#'+key+'body');
                        $panelbody.text(gettext(text));
                    }

                    if (text) {
                        $panel.addClass('panel-success');
                        if($panelheading.find('.check_broebbler').length===0){
                            var check_broebbler = $('<span>', {
                                class: 'check_broebbler glyphicon glyphicon-ok text-success',
                            });
                            $panelheading.append(check_broebbler);
                        }
                        if($panelheading.find('.info_broebbler').length===0){
                            var info_broebbler = $('<span>', {
                                class: 'info_broebbler glyphicon glyphicon-info-sign text-info pull-right',
                            });
                            $panelheading.append(info_broebbler);
                        }
                        $panel.css('cursor', 'pointer');
                    }

                    if(data.output_error) {
                        if (data.output_error.toLowerCase().indexOf(key) >= 0) { // this key here is mentioned in error msg...
                            $panel.addClass('panel-danger');
                            $panelheading.find('.check_broebbler').remove();
                            if($panelheading.find('.alert_broebbler').length===0){
                                var alert_broebbler = $('<span>', {
                                    class: 'alert_broebbler glyphicon glyphicon-alert text-danger',
                                });
                                $panelheading.append(alert_broebbler);
                            }
                            var $error = $('<div>', {
                                id: key+'error',
                                class: 'panel-body-error',
                                style: 'white-space:pre-line;',
                                text: 'ERROR in ' + gettext(data.output_error),
                            });
                            $error.appendTo($panelbody);
                        }
                        $('#stitching_in_progress_spinner').empty();
                    }
            };

            if(data.status == 100){
                location.reload();
            }

            if(data.output_error) {
                if($statusdiv.find('#try_again_button').length === 0) {
                    //$statusdiv.append($('<a>', {
                    //    id: 'try_again_button',
                    //    href: "{% url "stitcher:run_pano_stitcher" pano_id=pano.pk %}",
                    //    class: "btn btn-default",
                    //}).append($('<span>', {
                    //    class: "glyphicon glyphicon-repeat",
                    //    text: gettext("Try again!"),
                    //})));
                }
            }
        });

    }

    $(document).ready(function () {
        {% if not pano.img %}
        updateStatus();
        setInterval(function () {
            updateStatus();
        }, 3000);
        {% endif %}
    });
  </script>
{% endblock %}
