<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="Description" content="{% block meta_description %}{% trans "cruxle.org - Topos for everyone" %}{% endblock %}">

    <title>
        {% block title %}
        {% trans "cruxle.org - Topos for everyone" %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "topo/img/favicon.ico" %}?cb={{ settings.CACHE_BUSTER }}">
    <link rel="icon" type="image/png" href="{% static "topo/img/favicon.png" %}?cb={{ settings.CACHE_BUSTER }}" sizes="32x32">

    <link rel="stylesheet"
          href="{% static "topo/bower_components/components-font-awesome/css/fontawesome-all.min.css" %}?cb={{ settings.CACHE_BUSTER }}"
          type="text/css" charset="utf-8"/>
    <link rel="stylesheet" type='text/css' href="{% static "topo/css/styles.css" %}?cb={{ settings.CACHE_BUSTER }}"/>


</head>

<body style="display:inline;">

  <div id="greeter_container" class=''>
    <div id="greeter" class=''>
      <span class="highlight fa-3x"><span class='mitopo-icon'></span></span><br/>
      <span class="highlight">{% trans "Hi there!" %}</span><br/>
      <span class="highlight">{% trans "Let's rock." %}</span>
      <div id="loading_spinner" class='top-buffer-margin'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>

<script>
document.getElementById('loading_spinner').style.opacity = "0.8";
setTimeout( function() {
document.location.replace('{% url "miroutes:index" %}');
}, 1000);

</script>
</body>
</html>
