{% extends request.is_ajax|yesno:"plain.html,base_pdf.html" %}

{% load miexport_tags %}
{% load static %}

{% if not uhash %}
{% gen_hash as uhash %}
{% endif%}

{% block header %}
{% endblock %}

{% block extra_assets %}
{% endblock %}

{% block content %}
<div id="loading_content_{{uhash}}" class='phantom_loading'>Loading :: {{uhash}}</div>
<div id="map_{{uhash}}" class="leaflet_map" style="width:100%;max-height:100%;height:95vh;"></div>

<script type="text/javascript">
// Initialize variables to keep track of the loading status
zoomIsReady = false;
ajaxIsReady = true;

// Phantomjs does not recognise the isMobile function and then does not work :(, polyfill it here with false
if( isMobile === undefined ) {
    function isMobile() { return false;}
}
$( document ).ajaxStart(function() {
    ajaxIsReady = false;
});
$( document ).ajaxStop(function() {
    ajaxIsReady = true;
});
$(document).ready(function () {
    wallmap_init_{{wall.id}}();
    $(".leaflet-control").hide();
    signal_phantom_interval_{{uhash}} = setInterval( function() {
        signal_phantom_{{uhash}}(); }, 500);
});

function signal_phantom_{{uhash}}(){
    // Then make the loading content invisible... we use that in the phantom js routines to signal it that we finished

    if(ajaxIsReady === true && zoomIsReady === true) {
    condition_was_same_repeatedly(function() {return ajaxIsReady;}).then(
            function (was_same) {
                if(was_same === true) {
                    el = document.getElementById('loading_content_{{uhash}}');
                    $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: done');
                    el.style.display = 'none';
                    window.status = 'js-finished';
                    clearInterval(signal_phantom_interval_{{uhash}});
                }
            });
    } else {
        el = document.getElementById('loading_content_{{uhash}}');
        $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: still loading '+ajaxIsReady+' '+zoomIsReady);
        el.style.display = 'initial';
    }
}

function focus_geom() {
    {% if selected_geom.pk %}
    var num = rtool.numFromGeom({{ selected_geom.pk }});

    var geoj = rtool.routes[num].fg;
    var bounds = geoj.getBounds();

    var tr = bounds.getNorthEast();
    var bl = bounds.getSouthWest();

    var dy = (tr.lat - bl.lat)/10;

    tr.lat += dy;
    bl.lat -= dy;

    bounds = [bl, tr];

    map_{{uhash}}.once('moveend zoomend', function () {
        rtool.fixZoom();
        fixZoomTextMarkerSize(map_{{uhash}});
        rtool.highlight(num);
        addOpacityForOthers(num);
        zoomIsReady = true;
    });

    map_{{uhash}}.fitBounds(bounds);

    {% else %}// no geom to focus

    map_{{uhash}}.once('moveend', function () {
	rtool.fixZoom();
	fixZoomTextMarkerSize(map_{{uhash}});
	zoomIsReady = true;
    });
    rtool.focus();
    {% endif %}

}

function addOpacityForOthers(num){
    for(var id in rtool.routes){
        if(id != num && rtool.routes[id].fg)
            rtool.routes[id].fg.setStyle({'opacity': 0.6});
    }
}

function wallmap_init_{{wall.id}}() {
    map_{{uhash}} = wallmap_init_base('map_{{uhash}}');

    var layerctrl = L.control.layers().addTo(map_{{uhash}});

    {% for markergroup in markers %}
        {% for marker in markergroup %}
            var markers = create_marker_from_json(
                    unescape("{{ marker.marker_json | safe | escapejs }}")
                )
            var layer = map_{{uhash}}.addLayer(markers);
            map_{{uhash}}.fitBounds(layer.getBounds());
        {% endfor %}
    {% endfor %}

    // If there is a route list we add it to the map
    rtool = new RoutesTool();
    var url = "{% url 'miroutes:rest-route-list' %}?wallview={{ wall.pub_view.pk }}&deprecated=true";
    {% if draw_routes %}
    rtool.fetchAndDraw(url, map_{{uhash}}, {curved: true}).then(function(){
        // timeout because chrome is too fast (fit bounds called to early)
        setTimeout(function (){
            focus_geom();
        }, 500);
        // moveend seems to work too on chrome but not on firefox
        // $(map_{{uhash}}).off().on('moveend', function(){
        //     focus_geom();
        // });
    });
    {% else %}
        zoomIsReady = true;
    {% endif %}


}
</script>
{% endblock %}
