{% extends request.is_ajax|yesno:"plain.html,base_pdf.html" %}
{% load miexport_tags %}

{% block header %}
{% endblock %}

{% block extra_assets %}
{% endblock %}

{% block content %}
{% if not uhash %}
{% gen_hash as uhash %}
{% endif%}
<div id="loading_content_{{uhash}}" class='phantom_loading'>Loading :: {{uhash}}</div>
<div id='export_map_{{uhash}}'
        class="leaflet_map"
        style='width:100%;max-height:100%; height:95vh'>
</div>

<script type="text/javascript">
ajaxIsReady = true;
zoomIsReady = false;

function signal_phantom_{{uhash}}(){
    // Then make the loading content invisible... we use that in the phantom js routines to signal it that we finished
    if(ajaxIsReady === true && zoomIsReady === true) {
    condition_was_same_repeatedly(function() {return ajaxIsReady;}).then(
            function (was_same) {
                if(was_same === true) {
                    el = document.getElementById('loading_content_{{uhash}}');
                    $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: done');
                    el.style.display = 'none';
                    window.status = 'js-finished';
                    clearInterval(interval_signal_phantom_{{uhash}});
                }
            });
    } else {
        el = document.getElementById('loading_content_{{uhash}}');
        $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: still loading '+ajaxIsReady+' '+zoomIsReady);
        el.style.display = 'initial';
    }
}

$( document ).ajaxStart(function() {
    ajaxIsReady = false;
});
$( document ).ajaxStop(function() {
    ajaxIsReady = true;
});

$(document).ready(function () {
    var map = map_init_base('export_map_{{uhash}}', {
        'provide_overlays': false,
        'locator': false,
        'scale': true,
        'restore_mapview': false,
        'restore_baselayer': false,
        'zoom_control': false,
    });
    $(map).on('zoomend', function () {
        zoomIsReady = true;
        signal_phantom_{{uhash}}();
    });

    var wall_json = '{{ wall.marker_json|safe }}';
    var wall_object = JSON.parse(wall_json);

    var walls = new L.LayerGroup();
    var l = create_marker_from_json(wall_json);
    walls.addLayer(create_marker_from_json(wall_json));

    {% for subwall in subwalls %}
    walls.addLayer(create_marker_from_json('{{ subwall.marker_json|safe }}'));
    {% endfor %}

    walls.addTo(map);

    {% if zoom %}
    map.setView(wall_object.point, parseInt({{zoom}}));
    {% else %}
    map.setView(wall_object.point, 16);
    {% endif %}

    interval_signal_phantom_{{uhash}} = setInterval( function() {
        signal_phantom_{{uhash}}(); }, 500);
});

</script>
{% endblock %}
