{% extends request.is_ajax|yesno:"plain.html,base_pdf.html" %}

{% load miexport_tags %}
{% load static %}

{% if not uhash %}
{% gen_hash as uhash %}
{% endif%}

{% block header %}
{% endblock %}

{% block extra_assets %}
{% endblock %}

{% block content %}
<script>
function testFunc1(){
  $.getJSON("{% url "miexport:wallimage_check" phantom_id=snap1.pk %}", function (data) {
    if (data.success) {
      var img = new Image();
      img.onerror = function(){ window.setTimeout(testFunc1, 2000); }
      img.onload  = function(){ $("#img1").empty().append($(img));  }
      img.src = data.url;
    }else{ window.setTimeout(testFunc1, 2000); }
  });
};
function testFunc2(){
  $.getJSON("{% url "miexport:wallimage_check" phantom_id=snap2.pk %}", function (data) {
    if (data.success) {
      var img = new Image();
      img.onerror = function(){ window.setTimeout(testFunc2, 2000); }
      img.onload  = function(){ $("#img2").empty().append($(img));  }
      img.src = data.url;
    }else{ window.setTimeout(testFunc2, 2000); }
  });
};
function testFunc3(){
  $.getJSON("{% url "miexport:wallimage_check" phantom_id=snap3.pk %}", function (data) {
    if (data.success) {
      var img = new Image();
      img.onerror = function(){ window.setTimeout(testFunc3, 2000); }
      img.onload  = function(){ $("#img3").empty().append($(img));  }
      img.src = data.url;
    }else{ window.setTimeout(testFunc3, 2000); }
  });
};

$(document).ready(function () {
    $("#img1").html('<i class="fa fa-spinner fa-spin fa-2x"></i>'); testFunc1();
    $("#img2").html('<i class="fa fa-spinner fa-spin fa-2x"></i>'); testFunc2();
    $("#img3").html('<i class="fa fa-spinner fa-spin fa-2x"></i>'); testFunc3();
});
		  
</script>
<div id="img1"></div>
<div id="img2"></div>
<div id="img3"></div>
{% endblock %}
  
