{% extends "base_pdf.html" %}

{% load miroutes_tags %}
{% load miexport_tags %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% if not uhash %}
{% gen_hash as uhash %}
{% endif %}

{% block title %}
{% blocktrans with wallname=wall.name %}
cruxle.org - PDF Export for {{ wallname }}
{% endblocktrans %}
{% endblock %}

{% block extra_assets %}
{% endblock %}

{% block header %}
    <div id="header-logo" class="col-xs-3">
        <a id="header-logo-link" href="{{external_qrcode_url}}">
            <h3>
                <img class="mitopo-icon" src="{% static 'topo/img/mitopo_icon.svg' %}">
                <span class='grandstander-font'>cruxle.org</span>
            </h3>
        </a>
    </div>
    <div class='col-xs-8 text-center text-info'>
        <a href='{{external_qrcode_url}}'>
            <h3 style="max-width:85%; word-wrap:break-word;">{{ wall.name }}</h3>
        </a>
    </div>
    <div class='col-xs-1'>
        <div class="mitopo-qr-code-container pull-right">
            <img class="mitopo-qr-code" src="{{ external_qrcode_url|qrcode_svg }}" onerror="this.src='{{ external_qrcode_url|qrcode_img }}'">
            <img class="mitopo-qr-logo" src="{% static 'topo/img/mitopo_icon_whiteborder.svg' %}">
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="loading_content_{{ uhash }}" class='col-xs-12 phantom_loading'>Loading :: {{ uhash }}</div>

{% if wall.urgent_message %}
<div class="top-buffer-margin col-xs-12">
    {% trans 'Urgent Message' %}:
    <span class='text-warning'>{{ wall.urgent_message }}</span>
</div>
{% endif %}

<div id="wall-info-include" class="wall-info col-xs-12 top-buffer-margin stay_together">
    {% include 'miroutes/wall_detail_include_wallinfo_list.html' %}
</div>

<div id="nvd3_route_histogram_{{ wall.id }}"
     class="wall_route_hist top-buffer-margin col-xs-12"
     style="width=90%; max-width:600px; height:200px">
    <svg></svg>
</div>

<hr>

<div id="wall_topo_container" class='col-xs-12 stay_together'>
    {% with dim_x='1200' dim_y='570' %}
    <div class="stay_together">
        <h3>{% trans "Surroundings" %}</h3>
        <div id='leaflet_maps_container' class='row'>
            <div class='col-xs-12'>
                {% url 'miexport:wallmap_export' wall_id=wall.id as wallmap_url %}
                {% str_concat wallmap_url '?zoom=12' as wallmap_url %}
                <img class="img-responsive"
                     width="95%"
                     style="margin: 0 auto" {# Centering Image #}
                     src="{% phantom_snap_img wallmap_url dim_x=dim_x dim_y=dim_y use_cached=True %}"
                     alt="Leaflet map!">
            </div>
    {% comment %}
            <div class='col-xs-6'>
                {% url 'miexport:wallmap_export' wall_id=wall.id as wallmap_url %}
                {% str_concat wallmap_url '?zoom=14' as wallmap_url %}
                <img class="img-responsive"
                     width="95%"
                     style="margin: 0 auto" {# Centering Image #}
                     src="{% phantom_snap_img wallmap_url dim_x=dim_x dim_y=dim_y use_cached=True %}"
                     alt="Leaflet map!">
            </div>
    {% endcomment %}
            <div class='col-xs-12 top-buffer-margin'>
                {% url 'miexport:wallmap_export' wall_id=wall.id as wallmap_url %}
                {% str_concat wallmap_url '?zoom=15' as wallmap_url %}
                <img class="img-responsive"
                     width="95%"
                     style="margin: 0 auto" {# Centering Image #}
                     src="{% phantom_snap_img wallmap_url dim_x=dim_x dim_y=dim_y %}"
                     alt="Leaflet map!">
            </div>
            <div class='col-xs-12 top-buffer-margin'>
                {% url 'miexport:wallmap_export' wall_id=wall.id as wallmap_url %}
                {% str_concat wallmap_url '?zoom=17&nearby_radius=5000' as wallmap_url %}
                <img class="img-responsive"
                     width="95%"
                     style="margin: 0 auto" {# Centering Image #}
                     src='{% phantom_snap_img wallmap_url dim_x=dim_x dim_y=dim_y %}'
                     alt="Leaflet map!">
            </div>
        </div>
    </div>
    {% endwith %}
</div> {# end of wall_topo_container#}


<div id='wall_overview_container' class='stay_together page_break_after'>
  <div class='col-xs-12 stay_together'>
    <h3>{% trans "Overview of Wall" %}</h3>
    <img class="img-responsive"
         width="95%"
         style="margin: 0 auto" {# Centering Image #}
         src="{{ wall.snapshot.img.url }}"
         alt="Hey, here should be a snapshot of the Wall... it would be awesome if you could tell us that it is missing!">

    <div id="routes_overview_table" class="top-buffer-margin">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>{% trans "Route" %}</th>
            <th>{% trans "Grade" %}</th>
            <th>{% filter truncatechars:15 %}{% trans "Rating"%}{% endfilter %}</th>
          </tr>
        </thead>
        <tbody>
          {% for geom in wall_routegeomlist %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="#RouteDetail{{geom.route.pk}}">
                {{geom.route.name}}
              </a>
            </td>
            <td>
              <a href="#RouteDetail{{geom.route.pk}}">
                {{geom.route.get_full_grade_display}}
              </a>
            </td>
            <td>
              <a href="url://#RouteDetail{{geom.route.pk}}">
                <span id="route_info_rating-{{ geom.route.pk }}"></span>
              </a>
            </td>
<script>
rating($('#route_info_rating-{{ geom.route.pk }}'), {{ geom.route.rating }}, false);
</script>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    <hr>
	</div>
</div>


<div id='wall_routelist_of_geoms' class='col-xs-12 top-buffer-margin stay_together page_break_before col-xs-12' 
    style=''>
    <h3>{% trans "Routelist" %}</h3>
    {% for geom in wall_routegeomlist %}
    <div id="RouteDetail{{geom.route.pk}}" class='row stay_together'>
      <div class='col-xs-5'>
        <img class="img-responsive routeinfo-route-thumb"
             origsrc="{{ geom.snapshot.img.url }}"
             src="{{ geom.snapshot.img|thumbnail_url:'route_geometries' }}"
             alt="{{ geom.route.name }} @ {{ geom.on_wallview.wall.name }}:">
      </div>
      <div class='col-xs-7'>
        <h4>{{ forloop.counter }}. {{ geom.route }}</h4>
        {% include "miroutes/route_info.html" with route=geom.route %}
      </div>
    </div>
    <hr>
    {% endfor %}
</div>

<div id="wall-info-material-container" class="col-xs-12 top-buffer-margin stay_together page_break_before">
  <hr>
    {% if wall_info_materials %}
    <h3>{% trans "Additional Materials" %}</h3>
    {% else %}
    <h4>{% trans "No additional materials supplied ..." %}</h4>
    {% endif %}

    {% for material in wall_info_materials %}
    <hr>
    <div class='row material-row' style="page-break-inside:avoid;">
            {% comment This section here does not work currently because chrome headless cannot render the embedded pdf object %}
            {% for ipage in material.pdf_file.page_counter %}
            <div class='col-xs-6'>
                {% trans "Page" %} {{ipage}}<br>
                <object data="{{ material.pdf_file.url }}#page={{ipage}}&view=FitVH&scrollbar=0&toolbar=0&navpanes=0" style="width:{{material.pdf_file.width}}px;height:{{material.pdf_file.height}}px;" type='application/pdf'>
                    <a href="{{ material.pdf_file.url }}">{% trans "Download PDF externally" %}</a>
                </object>
            </div>
            {% endfor %}
            {% endcomment %}
      <div class='col-xs-5 img-material-left'>
        <img class="img-responsive"
             origsrc="{{ material.img.url }}"
             src="{{ material.img|thumbnail_url:'materials_large' }}"
             alt="{% trans 'Somewhere lost the picture. Please tell us it is missing...' %}">
      </div>
      <div class='col-xs-7 pdf-material-right'>
        <table class="table table-condensed table-responsive table-hover routeinfo-table-bg">
          <tbody>
            {% if material.description %}
            <tr>
              <td>{% trans "Description" %}</td>
              <td>{{material.description|escape|markdownify|safe}}</td>
            </tr>
            {% endif %}

            {% if material.on_route.all %}
            <tr>
              <td>{% trans "Specific info for Route" %}</td>
              <td>
                {% for route in material.on_route.all %}
                {% if not forloop.first %}, {% endif %}
                {{ route.name }}
                {% endfor %}
              </td>
            </tr>
            {% endif %}

            {% if material.created_by %}
            <td>{% trans "Uploaded by" %}</td>
            <td>
              <a href="{% url "users:user_detail" user_id=material.created_by.id %}">{{ material.created_by }}</a>
              ({{material.created_at|date}})
            </td>
            {% endif %}

            {% if material.external_url %}
            <tr>
              <td>{% trans "External URL" %}</td>
              <td>
                <a href="{{material.external_url}}" target="_blank">
                  <i class="fa fa-globe" aria-hidden="true"></i> {{material.external_url|truncatechars:25}}
                </a>
              </td>
            </tr>
            {% endif %}


            {% if material.pdf_file %}
            <tr>
              <td>{% trans "Number of Pages" %}</td>
              <td>
                {{material.pdf_file.page_counter|last}}
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a href="{{ material.pdf_file.external_url }}" target="_blank">
                  <i class="fa fa-download" aria-hidden="true"></i> {% trans "Download Full PDF" %} ({{material.pdf_file.size|filesizeformat}})
                </a>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div> {# end of material row#}
    {% endfor %}
</div>

<script>
ajaxIsReady = true;

$(document).ready(function () {
    $(document).ajaxStart(function () {
        ajaxIsReady = false;
    });
    $(document).ajaxStop(function () {
        ajaxIsReady = true;
    });

    //var route_hist_url = "{% url 'miroutes:wall_route_histogram' wall_id=wall.id %}?showlabel=True";
    //$("#route_histogram").load(route_hist_url);
    var div_id = '#nvd3_route_histogram_{{wall.id}}';
    var url = "{% url 'miroutes:rest_wall' pk=wall.id %}";

    wall_route_histogram_chart(div_id, url, {
        populate_all: true,
        yaxis_label: true,
        xaxis_label: true,
        staggered_labels: false,
        //datadump_id: '#data_dump',
    });

    //$("#x_coarse_map").load("{% url 'miexport:wallmap_export' wall_id=wall.id %}?zoom=10");
    //$("#coarse_map").load("{% url 'miexport:wallmap_export' wall_id=wall.id %}?zoom=12");
    //$("#medium_map").load("{% url 'miexport:wallmap_export' wall_id=wall.id %}?zoom=14");
    //$("#fine_map").load("{% url 'miexport:wallmap_export' wall_id=wall.id %}?zoom=16&nearby_radius=5000");

    //$("#wall_img").load("{% url 'miexport:wall_export' wall_id=wall.id %}");

    signal_phantom_interval_{{uhash}} = setInterval(function () {
        signal_phantom_{{uhash}}();
    }, 500);
});

function signal_phantom_{{uhash}}() {
    // Then make the loading content invisible... we use that in the phantom js routines to signal it that we finished

    if (typeof(ajaxIsReady) !== 'undefined') {
        if (ajaxIsReady === true) {
            condition_was_same_repeatedly(function () {
                return ajaxIsReady;
            }).then(
                function (was_same) {
                    if (was_same === true) {
                        el = document.getElementById('loading_content_{{uhash}}');
                        $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: done');
                        el.style.display = 'none';
                        window.status = 'js-finished';
                        clearInterval(signal_phantom_interval_{{uhash}});
                        return;
                    }
                });
        }
    }

    //Otherwise set log some info about the status into the loading div
    el = document.getElementById('loading_content_{{uhash}}');
    var loading_status = '<br> signal_phantom_wallmap: still loading... ';
    if (typeof(ajaxIsReady) !== 'undefined') {
        loading_status += 'ajax: ' + ajaxIsReady;
    }
    if (typeof(zoomIsReady) !== 'undefined') {
        loading_status += 'zoom: ' + zoomIsReady;
    }
    $('#loading_content_{{uhash}}').append(loading_status);
    el.style.display = 'initial';
}
</script>

{% endblock %}

{% block footer %}
<hr>
<div class='col-xs-12'>
  <em class="pull-right">
    {% now "SHORT_DATETIME_FORMAT" as current_time %}
    {% blocktrans with generate_date=wall.last_edited_date %}PDF generated at {{current_time}}, wall last published {{generate_date}}{% endblocktrans %}
  </em>
</div>
<hr>
{% endblock %}
