{% extends "base_pdf.html" %}

{% load miroutes_tags %}
{% load miexport_tags %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% if not uhash %}
{% gen_hash as uhash %}
{% endif %}

{% block title %}
cruxle.org - {% trans "QR-Labels for" %} {{wall.name}}
{% endblock %}

{% block extra_assets %}
{% endblock %}

{% block header %}
    <div id="header-logo" class="col-xs-3">
        <a id="header-logo-link" href="{{external_qrcode_url}}">
            <h3>
                <img class="mitopo-icon" src="{% static 'topo/img/mitopo_icon.svg' %}">
                <span class='grandstander-font'>cruxle.org</span>
            </h3>
        </a>
    </div>
    <div class='col-xs-8 text-center text-info'>
        <a href='{{external_qrcode_url}}'>
            <h2 style="max-width:85%; word-wrap:break-word;">{% trans "QR-Labels for" %} {{ wall.name }}</h2>
        </a>
    </div>
    <div class='col-xs-1'>
        <div class="mitopo-qr-code-container pull-right">
            <img class="mitopo-qr-code" src="{{ external_qrcode_url|qrcode_svg }}" onerror="this.src='{{ external_qrcode_url|qrcode_img }}'">
            <img class="mitopo-qr-logo" src="{% static 'topo/img/mitopo_icon_whiteborder.svg' %}">
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="loading_content_{{ uhash }}" class='phantom_loading'>Loading :: {{ uhash }}</div>

<hr>

{% for route in wall.pub_view.route_set.all %}
	<div class='row' style="page-break-inside:avoid;">
		<div class='col-xs-12'>
			{% absolute_url '/' as absolute_url_prefix %}
			{% include 'miroutes/route_qrcode.html' with route=route absolute_url_prefix=absolute_url_prefix %}
		</div>
	</div>
	<hr>
{% endfor %}

<script>
ajaxIsReady = true;
$( document ).ajaxStart(function() {
    ajaxIsReady = false;
});
$( document ).ajaxStop(function() {
    ajaxIsReady = true;
});
$(document).ready(function () {
    signal_phantom_interval_{{uhash}} = setInterval( function() {
        signal_phantom_{{uhash}}(); }, 500);
});
function signal_phantom_{{uhash}}(){
    // Then make the loading content invisible... we use that in the phantom js routines to signal it that we finished

    if(ajaxIsReady === true) {
    condition_was_same_repeatedly(function() {return ajaxIsReady;}).then(
            function (was_same) {
                if(was_same === true) {
                    el = document.getElementById('loading_content_{{uhash}}');
                    $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: done');
                    el.style.display = 'none';
                    window.status = 'js-finished';
                    clearInterval(signal_phantom_interval_{{uhash}});
                }
            });
    } else {
        el = document.getElementById('loading_content_{{uhash}}');
        $('#loading_content_{{uhash}}').append('<br> signal_phantom_wallmap: still loading '+ajaxIsReady);
        el.style.display = 'initial';
    }
}
</script>

{% endblock %}
