{% extends "base.html" %}

{% load static %}
{% load i18n %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - User Login
{% endblock %}

{% block content %}

  <div class="col-xs-12">
    <h4>
      {% trans "Login" %}
    </h4>
    {% if form.errors %}
      <br>
      <span class="alert alert-danger">
        <span class="glyphicon glyphicon-alert"></span> {% trans "Your username and password didn't match. Please try again." %}
      </span>
      <br>
      <br>
    {% endif %}

    <form method="post" action="{% url 'users:django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <div class="table-table">
        <div class="table-row">
          <div class="table-cell">{{ form.username.label_tag }}</div>
          <div class="table-cell">{{ form.username }}</div>
        </div>
        <div class="table-row">
          <div class="table-cell">{{ form.password.label_tag }}</div>
          <div class="table-cell">{{ form.password }}</div>
        </div>
      </div>
      <br>
      <div class="login-menu-buttons">
        <button id="submit-login" type="submit" class="btn btn-success">{% trans "Sign in" %}</button>
        <a id="register-button" class="btn btn-primary" href="{% url 'users:users.views.register' %}?next={{ request.path }}">{% trans 'Register' %}</a>
        <span id="reset-password-line" class="test-info small">
            <a href="{% url "users:reset_password" %}">
                {% trans "Forgot Password?" %}
            </a>
        </span>
      </div>
      <br>
      {% trans "Login via" %}: <a class="btn btn-default btn-xs" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
        <img id="google-logo" src="{% static "topo/img/google-logo.png" %}" />
      </a>
      <br>
      <a target="_blank" href="{% url 'miroutes:privacy' %}?next={{ request.path }}">
        <span class="text-info small">
          <span class="glyphicon glyphicon-info-sign"></span>
          {% trans 'By registering you agree to our <br> privacy and copyright terms' %}
        </span>
      </a>
      <input name="next" value="{{ next }}" type="hidden">
    </form>

  </div>
{% endblock %}

</body>
</html>
