{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}

{% load static %}

{% if not request.is_ajax %}
{# Overwrite title block #}
{% block title %}
    cruxle.org - Activity Feed {{ user.username }}
{% endblock %}
{% endif %}

{% block content %}
  <table class="table table-hover table-responsive table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for feed_entry in feed_entries %}
        <tr>
          <td>
            <div class="feed_entry">
              {% if feed_entry.is_ascent %}
                <i class="glyphicon glyphicon-check timeline-item-icon"></i>
              {% endif %}
              <img src="{{ feed_entry.image_url }}" alt=""/>
              <span class="feed_entry-date">{{ feed_entry.date }}</span>,
              <span class="feed_entry-activity">{{ feed_entry.activity }} </span>
              <a href="{{ feed_entry.link }}"><span class="feed_entry-title">{{ feed_entry.object_title }}</span>
              </a>
              <span class="feed_entry-text">{{ feed_entry.text|safe }}</span>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
