{% load i18n %}

<!--pre id="data_dump"></pre-->

<div id="ascent_sunburst_chart" style="width:100%; height:400px"><svg></svg></div>

<script type="text/javascript">

var div_id = '#ascent_sunburst_chart';
var url = "{% url 'users:rest_user_ascents' user_id=user.id %}";
var trans = {
    'Routes': '{% trans 'Routes'|truncatechars:14 %}',
    'Ascents': '{% trans 'Ascents'|truncatechars:14 %}',
    'nodata': '{% trans 'No Data Available' %}'
}

ascent_sunburst_chart(div_id, url, trans);

</script>
