<div id="ascent_timeline_chart" style="width:100%; height:400px"><svg></svg></div>

<script type="text/javascript">

function ascent_timeline_chart() {
    var url = "{% url 'users:rest_user_ascents' user_id=user.id %}";
    $.getJSON(url, function(data) {
        var shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'];

        var ascents_data = [];

        // First check how many series we need... could use fancy new unique method from set but am not sure if that is well supported yet...
        var unique_series = {}; // will have the mapping from uid to index in ascents_data
        for( var i in data ){
            var serie = parseInt(data[i].route.grade_system.uid);
            if (unique_series[serie] === undefined) {
                var max_index = Object.keys(unique_series).length;
                unique_series[''+serie] = max_index;
                ascents_data.push({
                    key: data[i].route.grade_system.name, //e.g. UIAA
                    shape: shapes[serie] || 'circle',
                    values: [],
                });
            }
        }

        for( var i in data ){
            var serie = data[i].route.grade_system.uid; // we create different series for various grading systems
            var index = unique_series[serie];

            ascents_data[index].values.push({
                x: new Date(data[i].datetime),
                y: data[i].route.grade_system.equalized_grade,
                label:    data[i].route.name,
                climbingstyle: data[i].route.climbingstyle,
                color: data[i].route.grade_system.linecolor,
                size: Math.random(),  //Configure the size of each scatter point
                //shape: shapes[serie] || 'circle',
                shape: shapes[data[i].route.climbingstyle] || 'circle',
            });
        }

        nv.addGraph(function() {
            var chart = nv.models.scatterChart()
                .showDistY(true)
                .showDistX(true);

            //Axis settings
            chart.xAxis.tickFormat(function(d) {
                var offset = -12 + Math.random() * 24;
                var datum = d3.time.hour.offset(new Date(d), offset);
                var nd = d3.time.format("%x")(datum);
                return nd; });

            chart.xScale(d3.time.scale());

            d3.select('#ascent_timeline_chart svg')
                .datum(ascents_data)
                .transition().duration(500)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
}

ascent_timeline_chart();

</script>
