{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{# Overwrite title block #}
{% block title %}
{% trans "cruxle.org - Change Password" %}
{% endblock %}

{% block content %}

<div class="col-md-8 col-xs-12">
    <div class='top-buffer-margin'>
        <h4>{% trans "Change Password" %}</h4>
        <span class="glyphicon glyphicon-info-sign"></span>
        {% trans "You have to log in again after changing the password." %}
    </div>

    <div class='top-buffer-margin'>
        {% crispy form %}
    </div>
</div>

{% endblock %}
