{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{# Overwrite title block #}
{% block title %}
{% trans "cruxle.org - Change Email Adress" %}
{% endblock %}

{% block content %}

<div class="col-md-8 col-xs-12">
    <div class='top-buffer-margin'>
        <h4>{% trans "Change your Email Adress" %}</h4>
        <span class="glyphicon glyphicon-info-sign"></span>
        {% trans "We send a mail to your new adress. Click on the link in the mail to confirm the change." %}
    </div>

    {% if success %}
    <div><span class="glyphicon glyphicon-thumbs-up"></span> 
      <b>{% trans "We sent a mail to the new adress for confirmation!" %}</b>
      <br>
      <span class="fas fa-circle-notch fa-spin"></span> You will be returned to the last page in 5 seconds.</div>
    <script>
      $(document).ready(function () {
          setTimeout(function(){
              window.location.replace("{{next_page}}");
          }, 5000);
      });
    </script>
    <br>
    {% endif %}
    <div class='top-buffer-margin'>
        {% crispy form %}
    </div>
</div>

{% endblock %}
