{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    cruxle.org - change mail adress -- confirmation
{% endblock %}

{% block content %}

<div class="vertical-scrollable-box-with-padding">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-push-1">

            {% if expired %}
            <h3>
            {% trans 'The key for this process expired.<br />Please try to change your adress again.' %}
            </h3>
            {% endif %}
            {% if tampered %}
            <h3>
            {% trans 'The key for this process is not valid.<br />Please try to change your adress again.' %}
            </h3>
            {% endif %}

            {% if success %}

            <h3>
            <i class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></i>
            {%trans "You successfully changed your mail adress." %}
            </h3>
            <br>

            {% blocktrans with emailstr=request.user.email %}
            <h4>Your new mail adress is: {{ emailstr }}</h4>
            {% endblocktrans %}
            {% endif %}

            <br>
            <br>
            {% if next_page %}
            <a class="btn btn-success" href='{{next_page}}'>{% trans 'Go Back' %}</a>
            {% else %}
            <a class="btn btn-success" href='{% url 'miroutes:index' %}'>
                <span class="far fa-map fa-lg"><span>
                {% trans 'Back to Map' %}
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
