{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    cruxle.org - User Registration -- confirmation
{% endblock %}

{% block content %}

<div class="vertical-scrollable-box-with-padding">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-push-1">

            {% if has_account %}
            <h3>
            {% trans 'The account already has been activated.' %}<br>
            </h3>
            {% endif %}

            {% if expired %}
            <h3>
            {% trans 'The activation key expired.<br />Please register again.' %}
            </h3>
            {% endif %}

            {% if success %}

            <h3>
            <i class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></i>
            {%trans "The registration was successful." %}
            </h3>
            <br>

            {% blocktrans with username=user.username emailstr=user.email %}
            <h4>You can log in now with the username: {{ username }}</h4>
            <h4>The account email address is: {{ emailstr }}</h4>
            {% endblocktrans %}
            {% endif %}

            <br>
            <br>
            {% if next %}
            <a class="btn btn-success" href='{{next}}'>{% trans 'Go Back' %}</a>
            {% else %}
            <a class="btn btn-success" href='{% url 'miroutes:index' %}'>
                <span class="far fa-map fa-lg"><span>
                {% trans 'Back to Map' %}
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
