{% extends "base.html" %}

{% load i18n %}

{% load static %}
{% load thumbnail %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - {% trans "Favourites" %}
{% endblock %}
{% block extra_assets %}
{% endblock %}

{% block content %}

<div class="col-xs-12 col-lg-8">
  <h4><span class="fa fa-bookmark"></span> {% trans "My Favourites" %}</h4>

  <div id="workbench_navbar">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="walls-navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#walls"
           data-toggle="tooltip"
           data-url="{% url "users:rest_favwalls" %}"
           title="{% trans 'Walls' %}">
          <span class="mitopo-wall fa-lg"></span>
        </a>
      </li>

      <!-- <li class="nav-item"> -->
      <!--   <a id="routes-navbtn" -->
      <!--      class="nav-link" -->
      <!--      data-toggle="tab" -->
      <!--      role="tab" -->
      <!--      href="#routes" -->
      <!--      data-toggle="tooltip" -->

      <!--      title="{% trans 'Routes' %}"> -->
      <!--     <span class="mitopo-route fa-lg"></span> -->
      <!--   </a> -->
      <!-- </li> -->
    </ul>

    <div class="tab-content">

      <div class="tab-pane" id="walls" role="tabpanel">
        <div id="walls_content"></div>
      </div>
      <!-- <div class="tab-pane" id="routes" role="tabpanel"> -->
      <!--   <div id="routes_content"></div> -->
      <!-- </div> -->

    </div> <!-- tab content -->
  </div> <!-- navbar -->
</div>

<script>


$(document).ready(function(){
    $(".nav-link").one('click', function(){
        var url = $(this).data('url');
        loadAndRenderFavsTable($(this).attr('href'), url);
    });

    $("#walls-navbtn").click();
});
</script>
{% endblock %}
