{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load crispy_forms_tags %}

{# Overwrite title block #}
{% block title %}
{% blocktrans with username=user.username %}
cruxle.org - User Profile {{ username }}
{% endblocktrans %}
{% endblock %}
{% block extra_assets %}
    <script>
        $(function () {
            if (endsWith(document.referrer, "upload_avatar")) {
                setTimeout(function () {
                    $('img').each(function (index) {
                        if ($(this).attr('src').indexOf('avatar') !== -1) {
                            var save_src = $(this).attr('src');
                            d = new Date();
                            $(this).attr('src', save_src + "&reload=" + d.getTime());
                        }
                    });
                }, 300);
            }
        });
    </script>
{% endblock %}

{% block content %}

<div class="col-xs-12 col-sm-8 col-sm-push-1">
    <h2 class="profile-heading top-buff-margin" title="#User{{ user.pk }}">
        {% blocktrans with username=user.username %}
        Profile {{ username }}
        {% endblocktrans %}
    </h2>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            {% if user.userprofile.avatar %}
            <img class="profile-avatar" src="{{ user.userprofile.medium_url }}"/>
            {% else %}
            <img class="profile-avatar" src="{% static "topo/img/avatar/medium_default.png" %}"/>
            {% endif %}
            <a class="change-avatar btn btn-default"
               href="{% url 'users:upload_avatar' %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Change Avatar" %}</a>
            <br>
        </div>

        <div class="col-xs-12 col-md-6">
            <h4>{% trans "Account Details" %}</h4>
            {% crispy user_form %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <hr>
            <h4>{% trans "Notification Settings" %}</h4>
            {% crispy mail_form %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <hr>
            <h4>{% trans "Other Options" %}</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>{% trans "Language" %}</label>
                    <form class="profile-change-language" action="{% url 'set_language' %}"
                        method="post" onchange="$(this).submit()">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/users/profile"/>
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ lang.1 }} ({{ lang.0 }})
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
                <li class="list-group-item">
                    <label>{% trans "Social Network Authentification" %}</label>
                    <br>
                    <span class="glyphicon glyphicon-info-sign"></span> {% trans "Enable or disable login via social network accounts." %}
                    <br>
                    <span class="glyphicon glyphicon-info-sign"></span> {% trans "If you want to disable this feature but keep your cruxle account please define a password." %}
                    <br>
                    <br>
                    <ul>
                        <li><b>Google</b>
                            {% if google_login %}
                            {% trans "(enabled)" %}
                            <br>
                            {% if request.user.has_usable_password %}
                            <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                                {% csrf_token %}
                                <button class="btn btn-default" type="submit">{% trans "Disable Google Login" %}</button>
                            </form>
                            {% else %}
                            <button class="btn btn-default" type="button" disabled>{% trans "Disable Google Login" %}</button>
                            <br>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'social:begin' 'google-oauth2' %}">{% trans "Enable Google Login for this Account" %}</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <label>{% trans "Deletion" %}</label>
                    <br>
                    <span class="glyphicon glyphicon-info-sign"></span> {% trans "With this you anonymize your contributions." %}
                    <br>
                    <br>
                    <a id="userdel-btn" href="#"><span class="glyphicon glyphicon-trash" title="{% trans "Delete Account" %}"></span> {% trans "Delete Account (irreversible)" %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
$("#userdel-btn").on('click', function(){
    $("#generic-warning-modal .generic-warning-header").text("{% trans "Really delete this Account?" %}");
    $("#generic-warning-modal .generic-warning-body").text("{% trans "All your contributions will be anonymized. This is not reversible." %}");
    var $delbtn = $("<a>", {
        "class": "btn btn-danger",
        "href": "{% url "users:delete_user" %}"
    })
    .append("<span>", {
        "class": "glyphicon glyphicon-trash"
    })
    .append("{% trans "Do it" %}");

    $("#generic-warning-modal .generic-warning-footer").empty()
        .append($delbtn)
        $("#generic-warning-modal").modal();
});
</script>
{% endblock %}
