{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "cruxle.org - User Registration" %}
{% endblock %}

{% block content %}

{% if register_successfully %}
<div class="col-xs-10 col-md-8 col-lg-6 col-xs-push-1 col-md-push-2 col-lg-push-2">
  <h3>
    <span class="glyphicon glyphicon-thumbs-up text-success"></span> {% trans "Thank you for registering!" %}
  </h3>
  <br>
  {% blocktrans with name=form.data.username mail=form.data.email %}
  <h4>A confirmation mail for user <strong>{{ name }}</strong> was sent to
    <strong>{{ mail }}</strong>.</h4>
  <h4>Please <strong>click the confirmation link</strong> in the mail to complete registration.</h4>
  {% endblocktrans %}
  <br>
  <br>
  {% if next %}
  <a class="btn btn-success" href='{{next}}'>{% trans 'Go Back' %}</a>
  {% else %}
  <a class="btn btn-success" href='{% url 'miroutes:index' %}'>
    <span class="far fa-map fa-lg"><span>
        {% trans 'Back to Map' %}
  </a>
  {% endif %}
</div>
{% else %}
<div class="col-xs-10 col-md-8 col-lg-6 col-xs-push-1 col-md-push-2 col-lg-push-2">
  <h4>
    {% trans "Registration" %}
  </h4>

  <div class="login-container top-buffer-margin">
    {% if has_account %}
      {% blocktrans %}
      <p class="alert alert-danger">Has already an account( {{ has_account }})</p>
      {% endblocktrans %}
    {% endif %}
  </div>

  {% crispy form %}

</div>
{% endif %}

{% endblock %}
