{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - Reset Password
{% endblock %}

{% block content %}

<div class="col-md-8 col-xs-12">
  <h4>{% trans "Reset Password" %}</h4>
  <span class="glyphicon glyphicon-info-sign"></span> {% trans "If you forgot your password, please fill in your Username and Email adress and we will send you a new one." %}
  <br>
  <br>
  {% crispy form %}
</div>



{% endblock %}
