{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% load static %}

{% block extra_assets %}
    <link media="all" href="{% static "topo/bower_components/nvd3/build/nv.d3.min.css"%}" type="text/css" rel="stylesheet" />
    <script src="{% static "topo/bower_components/d3/d3.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "topo/bower_components/nvd3/build/nv.d3.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <link media="all" href="{% static "miroutes/css/nvd3_routes.css"%}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="graphs-container vertical-scrollable-box">

<div class="row">
    <div class="col-xs-12">{% trans "Ascents Sunburst Chart:" %}</div>
    <div class="col-xs-12">
        {% include "users/ascents_sunburst_graph.html" with user=user %}
    </div>
</div>

{% for hist in hist_list %}
    <div class="row">
        <div class="col-xs-12">{% trans "Grading System:" %}{{hist.grade_system.1}}</div>
        <div class="col-xs-12">
            {% include "users/route_histogram_include.html" with hist=hist.hist svg_chart_id=hist.grade_system.0%}
        </div>
    </div>
{% endfor %}

{% comment %}
<div class="row">
    <div class="col-xs-12">{% trans "Ascent Timeline:" %}</div>
    <div class="col-xs-12">
        {% include "users/ascents_timeline_graph.html" with user=user %}
    </div>
</div>
{% endcomment %}

</div>
{% endblock %}
