<div id="chart_id_{{svg_chart_id}}" width="100vw", style="width:100%; height:100px"><svg></svg></div>

<script type="text/javascript">
$(document).ready(function() {

//Each bar represents a single discrete quantity.
function histogram_data_{{svg_chart_id}}() {
    return  [
    {
        key: "Difficulties",
        values: [
        {% for diff in hist %}
        {% if diff.1 > 0 %}
        {
            "label" : "{{ diff.0 }}",
            "value" : {{ diff.1 }},
            "color" : "{{ diff.2 }}",
        } ,
        {% endif %}
        {% endfor%}
        ]
    }
    ]
};

nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .margin({left: 0})
        .showYAxis(false)
        .x(function(d) { return d.label })    //Specify the data accessors.
        .y(function(d) { return d.value })
        .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
        .showValues(true)       //...instead, show the bar value right on top of each bar.
        .valueFormat(d3.format(',d'))
        .duration(100)
        .noData('')
        .showLegend(false)
        ;

    chart.tooltip.enabled(false);

    d3.select("#chart_id_{{svg_chart_id}} svg")
        .datum(histogram_data_{{svg_chart_id}}())
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});
});
</script>
