{% extends "base.html" %}

{% load static %}
{% load i18n %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - {% trans 'User Profile' %} {{ user.username }}
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-md-6">

    <h4>{% trans 'Profile' %} {{ user.username }}</h4>

    <div class="avatar-crop-base">
      <div class="avatar-crop"></div>
    </div>

    <a class="btn btn-default upload-abort" href="{% url 'users:profile' %}"><i class="glyphicon glyphicon-arrow-left"></i> {% trans 'To Profile' %}</a>
    <label class="btn btn-primary">
      <input type="file" id="upload" value="{% trans "Select Image" %}" accept="image/*" style="display: none;">
      <i class="fas fa-cloud-upload-alt"></i> {% trans "Upload Image" %}
    </label>
    <button id="save_cropped" class="btn btn-success" onclick="upload_image()"><span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Save' %}</button>
    <button id="delete" class="btn btn-danger" onclick="delete_image()"><span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}</button>
    <script>
      //$('#save_cropped').hide();
      var my_crop = $('.avatar-crop').croppie({
          viewport: { width: 250, height: 250 },
          boundary: { width: 300, height: 300 },
          showZoomer: false,
          url: "{{ user.userprofile.medium_url }}"
      });

      function readFile(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  my_crop.addClass('ready');
                  my_crop.croppie('bind', {
                      url: e.target.result
                  }).then(function () {
                      console.log('jQuery bind complete');
                  });

              };

              reader.readAsDataURL(input.files[0]);
          }
          else {
              alert("Sorry - you're browser doesn't support the FileReader API");
          }
      }

      $('#upload').on('change', function () {
          readFile(this);
          $('#save_cropped').show();
      });


      function delete_image() {
          var formData = new FormData();
          formData.append("delete", "True");
          var csrftoken = $.cookie('csrftoken');
          $.ajax({
              url: '{% url 'users:delete_avatar' %}',
              beforeSend: function (request) {
                  request.setRequestHeader("X-CSRFToken", csrftoken);
              },
              data: formData,
              type: 'POST',
              // THIS MUST BE DONE FOR FILE UPLOADING
              contentType: false,
              processData: false,
          }).done(function () {
              window.location.href = "{% url 'users:profile' %}";
          });
      }

      function upload_image() {
          $('#save_cropped').html("saving <div class=\"loader-inline\"></div>");
          my_crop.croppie('result', {
              type: 'blob',
              size: 'original'
          }).then(function (resp) {
              var formData = new FormData();
              formData.append("avatar", resp, "upload.png");
              var csrftoken = $.cookie('csrftoken');
              $.ajax({
                  url: '{% url 'users:upload_avatar' %}',
                  beforeSend: function (request) {
                      request.setRequestHeader("X-CSRFToken", csrftoken);
                  },
                  data: formData,
                  type: 'POST',
                  // THIS MUST BE DONE FOR FILE UPLOADING
                  contentType: false,
                  processData: false,

              }).done(function () {
                  setTimeout(function () {
                      window.location.href = "{% url 'users:profile' %}";
                  }, 2000);
              });
          });

      }
    </script>
  </div>

{% endblock %}
