{% extends "base.html" %}
{% load i18n %}

{% load static %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - {{ user.username }}
{% endblock %}
{% block extra_assets %}
{% endblock %}


{% block content %}
{{navtab_entry}}
<div id="user-detail-container" class="col-xs-12 col-lg-8">
  <h4 title="#User{{ user.pk }}"><span class="glyphicon glyphicon-user"></span> {{ user }}
    {% if user == request.user %}
      <a href="{% url "users:profile" %}" title="{% trans "Edit Profile" %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% else %}
      <a href="{% url "postbox:send_message" user_id=user.pk %}?next={{request.path}}" title="{% trans "Send Message" %}"><span class="glyphicon glyphicon-envelope"></span></a>
    {% endif %}
  </h4>

  <div id="user_profile_navbar">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#user_details"
           data-toggle="tooltip"
           title="{% trans 'Info' %}">
          <span class="fa fa-info-circle fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="user_ascents_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#ascent_list"
           data-toggle="tooltip"
           title="{% trans 'Ascents' %}">
          <span class="fa fa-check-square fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="user_graph_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#user_graphs"
           data-toggle="tooltip"
           title="{% trans 'Graphs' %}">
          <span class="fa fa-chart-bar fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="activityfeed_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#activityfeed"
           data-toggle="tooltip"
           title="{% trans 'Activity Feed' %}">
          <span class="fa fa-history fa-lg"></span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane activityfeed-user-details" id="user_details" role="tabpanel">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            {% if user.userprofile.avatar %}
              <img class="profile-avatar" src="{{ user.userprofile.medium_url }}"/>
            {% else %}
              <img class="profile-avatar" src="{% static "topo/img/avatar/medium_default.png" %}"/>
            {% endif %}
          </div>

          <div class="col-xs-12 col-md-9">
            <table class="table table-condensed table-striped">
              <caption>{% trans "Profile" %}</caption>
              <tbody>
              <tr>
                <td>
                  {% trans "Username" %}:
                </td>
                <td>
                  {{ user.username }}
                </td>
              </tr>
              {% if user == request.user %}
              <tr>
                <td>
                  {% trans "Email (only visible to you)" %}:
                </td>
                <td>
                  {{ request.user.email }}
                </td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  {% trans "Language" %}:
                </td>
                <td>
                  {{ LANGUAGE_CODE }}
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <table class="table table-condensed table-striped">
              <caption>{% trans "Info" %}</caption>
              <tbody>
                <tr>
                  <td>{% trans "Puzzlepieces" %}</td>
                  <td>
                    <span class="fa fa-puzzle-piece fa-lg"></span> {{ user.userprofile.puzzle_pieces }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Ascents" %}</td>
                  <td>
                    <span class="fa fa-long-arrow-alt-up fa-lg"></span> {{ user.userprofile.ascent_count }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Edits" %}</td>
                  <td>
                    <span class="far fa-edit fa-lg"></span> {{ user.userprofile.edit_count }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Member since" %}</td>
                  <td>
                    {{ user.date_joined }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-md-6">
            <table class="table table-condensed table-striped">
              <caption>{% trans "Contributions" %}</caption>
              <tbody>
                <tr>
                  <td>{% trans "Walls created" %}</td>
                  <td>
                    {{ user.walls_created_by_me.count }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Routes created" %}</td>
                  <td>
                    {{ user.routes_created_by_me.count }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Materials uploaded" %}</td>
                  <td>
                    {{ user.userprofile.materials_uploaded }}
                  </td>
                </tr>
                <tr>
                  <td>{% trans "Userpics uploaded" %}</td>
                  <td>
                    {{ user.userprofile.userpics_uploaded }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div> <!-- row -->
      </div> <!-- user_details -->


      <div class="tab-pane activityfeed" id="activityfeed" role="tabpanel">
        <div id="user_activityfeed_content"></div>
      </div> <!-- activityfeed -->


      <div class="tab-pane" id="ascent_list" role="tabpanel">
        <div id="user_ascents_content"><span id="user_ascents_content_spinner" class="fa fa-spinner fa-4x"></span></div>
      </div> <!-- ascent_list -->


      <div class="tab-pane" id="user_graphs" role="tabpanel">
        <div id="user_graphs_content"><span id="user_graphs_content_spinner" class="fa fa-spinner fa-4x"></span></div>

      </div> <!-- user_graphs -->


    </div> <!-- tab content -->
  </div> <!-- user_profile_navbar -->
</div> <!-- user-detail-container -->

<script>
var timeline = new TimelineApi('#user_activityfeed_content', '{% url "users:rest_user_activities" user_id=user.id %}',
        {dump_data: false},
        {
            ticked: "{% trans "ticked" %}",
            edited: "{% trans "edited" %}",
            rated: "{% trans "rated" %}",
            empty: "{% trans "No items to display." %}",
            more: "{% trans "Show More" %}"
        });

$("#activityfeed_navbtn").one("click", function() {
    timeline.renderMore();
});

$("#user_ascents_navbtn").one('click',function() {
    try {
        document.getElementById("user_ascents_content_spinner").classList.add("fa-spin");
    } catch (err) {}
    $("#user_ascents_content").load("{% url "users:user_ascents" user_id=user.id %}");
});

$("#user_graph_navbtn").one("click", function() {
    try {
        document.getElementById("user_graphs_content_spinner").classList.add("fa-spin");
    } catch (err) {}
    $("#user_graphs_content").load("{% url "users:user_route_histogram" user_id=user.id %}");
});

// Javascript to enable link to tab
var prefix = "navtab=";
{% if navtab %}
if (! document.location.hash) { // only use django-view navtab info if no hash is available
        document.location.hash = prefix+"{{navtab}}";
}
{% endif %}

var hash = document.location.hash;
if (! document.location.hash) { // default navtab is info tab
        document.location.hash = prefix+'user_details';
}
$('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').click();

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});


window.onhashchange = function() {
    var hash = document.location.hash;
    $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').click();
}
</script>

{% endblock %}
