{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}

{% load static %}
{% block extra_assets %}
  <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
{% endblock %}

{% if not request.is_ajax %}
    {% block title %}
        cruxle.org - Ascents of {{ user.username }}
    {% endblock %}
{% endif %}

{% block content %}
  <div id="ascents-container" class="col-xs-12">
    <table id="ascenttable" class="table table-hover table-responsive table-condensed table-striped">
      <thead>
        <tr>
          <th data-field="name"  data-sortable="true">{% trans "Name" %}
          </th>
          <th data-field="note" data-sortable="false">
            <span class="fa fa-comment">
            </span>
          </th>
          <th data-field="grade" data-sortable="true">
            <span class="fa fa-signal">
            </span>
          </th>
          <th data-field="style" data-sortable="true">{% trans "Style" %}
          </th>
          <th data-field="date"  data-sortable="true">
            <span class="far fa-clock">
            </span>
          </th>
	  {% if user == request.user %}
          <th data-sortable="false">
          </th>
          <th data-sortable="false">
          </th>
	  {% endif %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
    <script>
    function delAscent(anchor){
        $.get($(anchor).data('link'), function(){
            globalVars.ascenttable.ajax.reload();
        });
    }

    $(document).ready(function(){
        globalVars.ascenttable = $('#ascenttable').DataTable({
            "scrollY": "80vh",
            "scrollCollapse": true,
            "ajax": {
                "url": '{% url "users:rest_user_ascents" user_id=user.pk %}',
                "dataSrc": ""
            },
            "columns": [
                {
                    "type": "html",
                    "data": "route.name",
                    "render": function(data, type, row, meta){
                        if(type === "display" && data){
                            var el = $('<div/>').append(
                                    $('<a/>',{
                                        'href': row.route.url,
                                        'text': data,
                                    }));
                            return el.html();
                        }else{
                            return data;
                        }
                    },
                },
                {
                    "type": "html",
                    "data": "note",
                    "render": function(data, type, row, meta){
                        if(type === "display" && data){
                            var el = $('<div/>').append(
                                    $('<a/>',{
                                        'href': '#',
                                        'tabindex': "0",
                                        'role': 'button',
                                        'data-trigger': 'focus',
                                        'data-toggle': 'popover',
                                        'data-html': 'true',
                                        'data-content': data,
                                    }).append($('<span>',{'class':'fa fa-comment'})));
                            return el.html();
                        }else{
                            return data;
                        }
                    },
                },
                {
                    "data": "route.get_full_grade_display"
                },
                {
                    "data": "get_style_display"
                },
                {
                    "type": "date",
                    "data": "date",
                    "render": function(data, type, row, meta){
                        var climbedAt = new Date(data);
                        return climbedAt.toLocaleDateString();
                    }
                },
	      {% if user == request.user %}
                {
                    "data": "is_climber",
                    "render": function(data, type, row, meta){
                        // is_climber is true: we show del button
                        if(type === "display" && data){
                            return '<a href=\'' + row.url + '?next={% url "users:user_detail" user_id=user.pk %}\'>' +
                                '<span class=\'glyphicon glyphicon-pencil\'></a>';
                        }else{
                            return "";
                        }
                    },
                },
                {
                    "data": "is_climber",
                    "render": function(data, type, row, meta){
                        // is_climber is true: we show del button
                        if(type === "display" && data){
                            return '<a href=\'#\' data-trigger=\'focus\' tabindex=\'0\' role=\'button\' data-toggle=\'popover\'  data-html=\'true\' data-placement=\'bottom\'' +
                                ' data-content=\'<button class="btn btn-danger" data-link="' + row.del_url + '" onclick="delAscent(this);">' +
                                '<span class="glyphicon glyphicon-trash"></span></button>\'>' +
                                '<span class=\'glyphicon glyphicon-trash\'></a>';
                        }else{
                            return "";
                        }
                    },
                }
            {% endif %}
	    ],
            "drawCallback": function () {
                $('[data-toggle="popover"]').popover({html : true,});
            },
            "order": [[ 4, "desc"]],
            "processing": true,
            "language": {
                "processing": '<i class="fas fa-circle-notch fa-spin fa-2x fa-fw"></i>{% trans "Loading" %}...',
            },
        });



    });

  </script>
{% endblock %}
