{% extends "base.html" %}

{% load i18n %}

{% load static %}
{% load thumbnail %}

{# Overwrite title block #}
{% block title %}
    cruxle.org - {% trans "Your Edits" %}
{% endblock %}
{% block extra_assets %}
{% endblock %}

{% block content %}

<div class="col-xs-12 col-lg-8">
  <h4>{% blocktrans with user=user.username %}Edits of {{ user }}{% endblocktrans %}</h4>

  <div id="workbench_navbar">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="wall_work_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#wall_work"
           data-toggle="tooltip"
           data-url="{% url "users:rest_wallwork" %}"
           title="{% trans 'Walls' %}">
          <span class="mitopo-wall fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="route_work_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#route_work"
           data-toggle="tooltip"
           data-url="{% url "users:rest_routework" %}"
           title="{% trans 'Routes' %}">
          <span class="mitopo-route fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="tiler_work_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#tiler_work"
           data-toggle="tooltip"
           data-url="{% url "users:rest_tilerwork" %}"
           title="{% trans 'Wall Images' %}">
          <span class="far fa-image fa-lg"></span>
        </a>
      </li>

      <li class="nav-item">
        <a id="panostitcher_work_navbtn"
           class="nav-link"
           data-toggle="tab"
           role="tab"
           href="#panostitcher_work"
           data-toggle="tooltip"
           data-url="{% url "users:rest_panostitcherwork" %}"
           title="{% trans 'PanoStitcher Images' %}">
          <span class="far fa-images fa-lg"></span>
        </a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane" id="wall_work" role="tabpanel">
        <div id="wall_work_content"></div>
      </div>


      <div class="tab-pane" id="route_work" role="tabpanel">
        <div id="route_work_content"></div>
      </div>


      <div class="tab-pane" id="tiler_work" role="tabpanel">
        <div id="tiler_work_content"></div>
      </div>

      <div class="tab-pane" id="panostitcher_work" role="tabpanel">
        <div id="panostitcher_work_content"></div>
      </div>

    </div> <!-- tab content -->
  </div> <!-- workbench_navbar -->
</div>

<script>


$(document).ready(function(){
    $(".nav-link").one('click', function(){
        var url = $(this).data('url');
        loadAndRenderWorkTable($(this).attr('href'), url);
    });

    $("#wall-work-navbtn").click();

    // Javascript to enable link to tab
    var prefix = "navtab=";
    {% if navtab %}
    if (! document.location.hash) { // only use django-view navtab info if no hash is available
      document.location.hash = prefix+"{{navtab}}";
    }
    {% endif %}

    var hash = document.location.hash;
    if (! document.location.hash) { // default navtab is info tab
      document.location.hash = prefix+'wall_work';
    }
    $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').click();

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });

    window.onhashchange = function() {
      var hash = document.location.hash;
      $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').click();
    }
});
</script>
{% endblock %}
