{# {% include "show_comments.html" with thread_id=1 %} #}

{% load i18n %}
<script>
function format_date(date) {
    return date.toLocaleString(undefined, {
        year: 'numeric',
        weekday: 'short',
        month: 'short',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
    });
}


function show_comments_{{ thread_id }}(url) {

    var url = url || '{% url 'micomments:show' thread_id=thread_id %}?chunk_size={{ chunk_size }}';

    var csrftoken = $.cookie('csrftoken');
    var delete_baseurl = '{% url 'micomments:delete' comment_id=0 %}';
    delete_baseurl = delete_baseurl.slice(0, -1);
    {% if user.is_authenticated %}
    var my_user_id = parseInt('{{ user.id }}');
    {% else %}
    var my_user_id = undefined;
    {% endif %}
    $.get({
        url: url,
        contentType: 'application/json',
        dataType: 'json',
        success: function (data) {
            var mylist = $('#cl_{{ thread_id }}');
            mylist.html("");
                $.each(data.comments, function (key, value) {

                    var upper_div=$('<div>', {
                        id: 'comment_upper_descr_row',
                        class: 'row'});

                    //add avatar
                    upper_div.append( $('<div>', {
                        class: 'col-xs-3 comment-userprofile-area',
                    })
                    .append( $('<img>', {
                        class: 'comment-avatar',
                        src: value.avatar,
                    }))
                    // add name
                    .append( $('<a>', {
                        href: "{%url 'users:user_detail_ajaxstub' %}" + value.user_id,
                        text: value.user_name,
                    }))
                    );


                    if(my_user_id === value.user_id) {
                        var del_func = 'deleteComment_{{ thread_id }}(\"' + delete_baseurl + value.id + '\")';
                        var edit_div = $('<div>',{
                            class: 'comment-delete pull-right'
                        }).append($('<a>', {
                            href: 'javascript:'+del_func,
                            html: "<span class='fas fa-trash-alt fa-lg btn'></span>",
                        }));
                    }

                    // on the right hand side
                    upper_div.append($('<div>', {
                        class: 'col-xs-9',
                    })
                             .append($('<div>', {
                                 class: 'row',
                             })
                                     .append($('<div>', {
                                         class: 'col-xs-12 comment-date-header-area',
                                     })
                                             // add date
                                             .append($('<span>', {
                                                 class: 'fas fa-calendar-alt text-muted',
                                                 text: ' ' + format_date(new Date(value.created)),
                                             }))
                                             .append(edit_div)
                                            )
                                     //.append($('<hr>'))
                                     .append($('<div>', {
                                         class: 'col-xs-12 comment-textarea',
                                         html: value.comment,
                                     }))
                                    ));

                    var comment_div = $("<li>").append(upper_div);

                    mylist.append(comment_div).append($('<hr>'));
                });
            if($("#cl_{{ thread_id }} li").length == 0){
                mylist.append("<li>{% trans "No comments yet." %}</li>");
            }
            if($("#cl_{{ thread_id }} li").length < {{ chunk_size }}){
                $("#showall_{{ thread_id }}").hide();
                $("#hide_{{ thread_id }}").hide();
            }else if($("#cl_{{ thread_id }} li").length == {{ chunk_size }}){
                $("#showall_{{ thread_id }}").show();
                $("#hide_{{ thread_id }}").hide();
            }else{
                $("#hide_{{ thread_id }}").show();
                $("#showall_{{ thread_id }}").hide();
            }

        }
    });

}

function deleteComment_{{ thread_id }}(delete_url) {
    var csrftoken = $.cookie('csrftoken');
    $.post({
        url: delete_url,
        contentType: 'application/json',
        dataType: 'json',
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function (e) {
            append_message(e.message, 'success');
        },
        error: function (e) {
            append_message(e.responseJSON.message, 'danger');
        },
        complete: function(e) {
            show_comments_{{ thread_id }}();
        }
    });
}

function addComment_{{ thread_id }}() {
    var payload = {
        "comment": $('#textarea_{{ thread_id }}').val()};
    var csrftoken = $.cookie('csrftoken');

    $.post({
        url: '{% url 'micomments:add' thread_id=thread_id %}',
        data: JSON.stringify(payload),
        contentType: 'application/json',
        dataType: 'json',
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function (e) {
            $('#add_error_msg_{{ thread_id }}').hide();
            $('#textarea_{{ thread_id }}').val("");
            show_comments_{{ thread_id }}();
        },
        error: function (e) {
            $('#add_error_msg_{{ thread_id }}_text').text(e.responseJSON.message)
            $('#add_error_msg_{{ thread_id }}').show();
        },
        complete: function(e) {
            show_comments_{{ thread_id }}();
        }
    });
}

show_comments_{{ thread_id }}();
</script>


<ul id="cl_{{ thread_id }}" class="commentlist">
</ul>
<br>
<a id="showall_{{ thread_id}}"
   href="#"
   onclick="show_comments_{{ thread_id }}('{% url 'micomments:show' thread_id=thread_id %}')">
    <span class="far fa-plus-square"></span>
    {% trans "Show All" %}
</a>
<a id="hide_{{ thread_id}}"
   href="#"
   style="display: none;"
   onclick="show_comments_{{ thread_id }}()">
    <span class="far fa-minus-square"></span>
   {% trans "Hide" %}
</a>

<hr>

<div class="row">
    <div class="col-xs-12">
        {% if user.is_authenticated %}
        {% trans "Add comment" %}

        <div class="row comment-box">
            <div class="col-xs-12">
                <textarea id="textarea_{{ thread_id }}" class="comment-input full-width"></textarea>
            </div>
            <div class="col-xs-12">
                  <div id="add_error_msg_{{ thread_id }}"
                       class="alert alert-danger"
                       role='alert'
                       style="display:none;margin-left:0px;">
                  <span class='glyphicon glyphicon-warning-sign'></span>
                  <span id="add_error_msg_{{ thread_id }}_text"></span>
                </div>
                {% if not no_send_button %}
                <a href="#" class="comment-submit btn btn-success top-buffer-margin-half" onclick="addComment_{{ thread_id }}(this)">
                    <span class="fa fa-check"></span>
                    <span class="hidden-sm-down">{% trans "Submit" %}</span>
                </a>


                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
        {% else %}
        <div class="comment-box">
            {% url "users:django.contrib.auth.views.login" as login_url %}
            <a href="javascript:(function () {
            $('.modal').modal('hide');
            $('#user-dropdown-menu').addClass('open');
            })();"
               class="btn btn-success"
               tabindex="0"
               role="button"
               data-toggle="popover"
               data-placement="right"
               data-content='{% blocktrans with href=login_url|add:"?next="|add:request.path %}Please <a href="{{ href }}">login</a> to create a comment.{% endblocktrans %}'
               data-trigger="focus">
               <span class="fa fa-plus-circle"></span>
               {% blocktrans with next=request.path %}Create a new comment.{% endblocktrans %}
            </a>
        </div>
        {% endif %}

    </div>
</div>

<script>
prepare_comment_input("textarea_{{ thread_id }}");
</script>
