{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - {% trans "Inbox." %}
    {% endblock %}
    {% load static %}

    {% block extra_assets %}
      <script src="{% static "topo/js/topo/components/inbox.js" %}?cb={{ settings.CACHE_BUSTER }}"
            type="text/javascript" charset="utf-8"></script>
      <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% endblock %}
{% endif %}

{% block content %}
  <div id="inbox-container" class="col-xs-12 col-md-10 col-lg-8">
    <inbox url="{% url "postbox:rest_threads" %}"></inbox>
  </div>
  <script>
    $(document).ready(function(){
        var app = new Vue({
            el: '#inbox-container'
        });

    });

  </script>
{% endblock %}
