{% extends request.is_ajax|yesno:"plain.html,base.html" %}
{% load i18n %}
{% if request.is_ajax is False %}
    {% block title %}
        cruxle.org - {% trans "Send Message." %}
    {% endblock %}
    {% load static %}

    {% block extra_assets %}
      <link rel="stylesheet" href="{% static "edit_spot/css/main.css" %}"/>
    {% endblock %}
{% endif %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="col-xs-12 col-lg-8">
      {% if thread %}
        <h4>
          {% for user in thread.party.all %}
            <img src="{{ user.userprofile.thumb_url }}"/>
          {% endfor %}
        </h4>
        {{thread.subject}}
        <br>
        <br>
      {% else %}
        <h4>
          <img src="{{ receiver.userprofile.thumb_url }}"/>
          {% blocktrans with name=receiver.username %}
            Send a Message to {{name}}
          {% endblocktrans %}
        </h4>
      {% endif %}
      {% crispy form %}

  </div>
{% endblock %}
