{% extends "base.html" %}
{% load static %}

{% block header %}
<div id="header" class="container-fluid">
    <div class="row">
        <span id="header-burger" class="col-xs-2 col-sm-1">
          {% include 'includes/burger_menu.html' %}
        </span>

        <span id="header-edit-pane" class="col-xs-10 col-sm-9 col-lg-10">
            {% include "includes/edit_pane.html" %}
        </span>

        <span id="header_icons" class="hidden-xs col-xs-0 col-sm-2 col-md-2 col-lg-1">
            <span class="pull-right">
                <span id="header_icon_search">
                    {% include 'includes/search_container.html' %}
                </span>
                <span id="header_icon_login" class="hidden-xs">
                    {% include 'includes/user_menu.html' %}
                </span>
            </span>
        </span>
    </div>
</div>

{% endblock %}
