<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>
        {% block title %}
            cruxle.org - Topos for everyone
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "topo/img/favicon.ico" %}?cb={{ settings.CACHE_BUSTER }}">
    <link rel="icon" type="image/png" href="{% static "topo/img/favicon.png" %}?cb={{ settings.CACHE_BUSTER }}"
          sizes="32x32">

    {% include "includes/css.html" %}
    <link rel="stylesheet" type='text/css' href="{% static "topo/css/styles.css" %}?cb={{ settings.CACHE_BUSTER }}"/>
    <link rel="stylesheet" media="print"
          href="{% static "topo/css/bootstrap-pdfexport.css" %}?cb={{ settings.CACHE_BUSTER }}"
          type="text/css"
          charset="utf-8"/>

    {% include "includes/js.html"  %}
    {% include "leaflet_base.html" %}

    {% block extra_assets %}{% endblock %}

</head>

<body>

{% block modals %}
{% endblock %}

<div id="pdf-base-container" class="container-fluid">

    <div id='header_pdf' class='row'>
    {% block header %}
            <div class='col-xs-3'>
                <img id="logo"
                     width='256px'
                     src="{% static "topo/img/cruxle_logo2.png" %}?cb={{ settings.CACHE_BUSTER }}"/>
            </div>
    {% endblock %}
    </div>

    <div id="content_pdf" class='row'>
        {% block content %}Default pdf template content -- there is nothing to see here...{% endblock %}
    </div>

    <div id="footer" class="row">
        {% block footer %}{% endblock %}
    </div>

</div> <!-- bootstrap "container" -->
</body>
</html>
