<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load cookielaw_tags %}
{% load i18n %}
{% load maintenance_tags %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="Description" content="{% block meta_description %}{% trans "cruxle.org - Topos for everyone" %}{% endblock %}">

    <title>
        {% block title %}
        {% trans "cruxle.org - Topos for everyone" %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "topo/img/favicon.ico" %}?cb={{ settings.CACHE_BUSTER }}">
    <link rel="icon" type="image/png" href="{% static "topo/img/favicon.png" %}?cb={{ settings.CACHE_BUSTER }}" sizes="32x32">

    {% include "includes/css.html" %}
    <link rel="stylesheet" type='text/css' href="{% static "topo/css/styles.css" %}?cb={{ settings.CACHE_BUSTER }}"/>

    {% include "includes/js.html" %}

    {% block extra_assets %}{% endblock %}

    {% if settings.PIWIK_ENABLED == True %}

        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//stats.cruxle.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->

    {% endif %}
</head>

<body>

{% block modals %}
{% endblock %}

<!-- Generic modal to use in all templates to show warnings etc. -->
  <div id="generic-warning-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            <span class="glyphicon glyphicon-alert"></span>&nbsp;
            <span class="generic-warning-header"></span></h4>
        </div>
        <div class="modal-body">
          <div class="generic-warning-body"></div>
        </div>

        <div class="modal-footer">
          <span class="generic-warning-footer"></span>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  {% block header %}
    <div id="header" class="container-fluid">
      <div class="row">
        <div id="header-burger" class="col-xs-2 col-md-1">
          {% include 'includes/burger_menu.html' %}
        </div>

        <div id="header-logo" class="col-xs-6 col-md-7">

          <a id="header-logo-link" href="{% url 'miroutes:index' %}">
              <span class='mitopo-icon hidden-xs'></span>
              <span class='grandstander-font'>cruxle</span>
          </a>
        </div>

        <div id="header_icons" class="col-xs-4">
          <div class="pull-right">
            <div id="header_icon_search">
              {% include 'includes/search_container.html' %}
            </div>
            <div id="header_icon_login">
              {% include 'includes/user_menu.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}
<div id="base-container" class="container-fluid">

    <div id="messages" class="">
        {% for message in messages %}
        <div {% if message.tags %}
                       class="alert alert-{{ message.tags }} alert-dismissable fade in"{% endif %}>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    <div id="infobar" class="">
        {% cookielaw_banner %}
        {% block infobar %}
        {% endblock %}
    </div>

    <div id="body-content" class="row full-height">
        <div id="slideoutwrapper" class='full-height'>
            <div id="slideout">
                {% block mapobjects_info %}{% endblock %}
                {% block mapobjects_admin %}{% endblock %}
            </div>
            <div id="slideout-toggle-area">
            <a>
                <span id="slideout-toggle-button" class="fa fa-bars"></span>
            </a>
            </div>
        </div>
        <div id="content" class="full-height full-width">
            {% block content %}
            Default template content -- there is nothing to see here...
            {% endblock %}
        </div>
    </div>
    <div id="footer" class="row">
      {% block footer %}{% endblock %}
    </div>
</div> <!-- bootstrap "container" -->

{% maintenance_message as message %}

{% if message != "" %}
    <script type="text/javascript">
        append_message('{{ message }}', 'warning')
    </script>
{% endif %}
</body>
</html>
