{% comment %}
This is the base template for popups
{% endcomment %}

{% load static %}

{% if not request.is_ajax %}

<html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{% static "topo/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" type="text/css">
            <link href="{% static "topo/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}" type="text/css">
            <script type="text/javascript" src={% static "topo/bower_components/jquery/dist/jquery.min.js" %}></script>
            <script type="text/javascript" src="{% static "topo/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

            {% block extra_assets %}{% endblock %}

            {% block main-css %}
                <link href='{% static "/topo/bower_components/pt-sans/styles/pt_sans.css" %}' rel='stylesheet' type='text/css'>
            {% endblock %}


    </head>

    <body>

{% endif %}

{% block overwrite_styles %}{% endblock %}

        <script class="popup_js_code">
            {% block popup_js_code %}
                    $(".clickable-popup").click(function(e) {
                        var target = e.currentTarget;
                        target.classList.add('overlay');

                        var loader = document.createElement('div');
                        loader.className = "overlay-loader";
                        target.appendChild(loader);

                        window.document.location = $(this).data("href");
                    });
            {% endblock %}
        </script>

        {% block header %}{% endblock %}
        <div class="popup-content">
          <div class="clickable-popup" data-href="{% block popup_global_link %}#{% endblock %}">
            <div class="row">
                <div id="content" class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div id="graph" class="col-md-12">
                    {% block graph %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div id="pic" class="col-md-12">
                    {% block pic %}{% endblock %}
                </div>
            </div>

            {% block footer %}{% endblock %}
          </div>
        </div>

{% if not request.is_ajax %}
    </body>
</html>
{% endif %}
