{% load static %}
{% load i18n %}

{% comment %}
I guess this has to be a included template instead of just a js import because we want the static paths to be resolved with the local contexts
{% endcomment %}

<script type="text/javascript">

function testme() {
    if(typeof map !== 'undefined'){
        $("#message").text('Map is defined.');
    }else{
        $("#message").text('Map is not defined.');
    }
}

function provide_overlays(){
    /* Provide global list of overlays. */
    // create the tile layers with correct attributions

    var minzoom = 3;
    var maxNativeZoom = 19;
    var maxzoom = maxNativeZoom+2;
    var overlays = {
        OSM: L.tileLayer(
         '{{ settings.OSM_URL }}', {
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             attribution: '© <a href="http://openstreetmap.org">OpenStreetMap</a>'}),

         Landscape: L.tileLayer(
             'https://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=4c7e3cc04dad449799547dc832b4a8fd', {
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             attribution: '&copy; '+'<a href="http://openstreetmap.org">OpenStreetMap</a>'+' & '+'<a href="http://thunderforest.com/">Thunderforest</a>',
             }),

         CycleMap: L.tileLayer(
             'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey=4c7e3cc04dad449799547dc832b4a8fd', {
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> & '+'<a href="http://thunderforest.com/">Thunderforest</a>',
             }),

         Thunderforest: L.tileLayer(
             'https://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=4c7e3cc04dad449799547dc832b4a8fd', {
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             attribution: '&copy; '+'<a href="http://openstreetmap.org">OpenStreetMap</a>'+' & '+'<a href="http://thunderforest.com/">Thunderforest</a>',
             }),

         ESRI: L.tileLayer(
             'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             attribution: '&copy; '+'<a href="http://www.esri.com/">Esri</a>'+', '+'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
             }),

         GoogleStreets: L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             subdomains:['mt0','mt1','mt2','mt3'],
             attribution: '&copy; Google Maps',
             }),

         GoogleHybrid: L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             subdomains:['mt0','mt1','mt2','mt3'],
             attribution: '&copy; Google Maps'
             }),

         GoogleTerrain: L.tileLayer('https://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
             noWrap: true,
             minZoom: minzoom,
             maxZoom: maxzoom,
             maxNativeZoom: maxNativeZoom,
             subdomains:['mt0','mt1','mt2','mt3'],
             attribution: '&copy; Google Maps'
             }),
    }
    return overlays;
}

function map_init_base(mapdiv_id, options){

    if(options===undefined) {
        options = {
            'provide_overlays': true,
            'locator': true,
            'scale': true,
            'restore_mapview': true,
            'restore_baselayer': true,
            'zoom_control': true,
        };
    }

    var map = L.map(mapdiv_id, {
      doubleTapDragZoom: 'center',
      doubleTapDragZoomOptions: {
        reverse: true,
      },
      worldCopyJump : true
    });


    globalVars.overlays = provide_overlays();

    if(options.provide_overlays) {
        L.control.layers(globalVars.overlays).addTo(map);
    }

    if(options.locator) {
        L.control.locate({
            keepCurrentZoomLevel: true,
            initialZoomLevel: 14,
            cacheLocation: true,
            flyTo: true,
            icon: 'fa fa-crosshairs fa-lg',
            locateOptions: {
                enableHighAccuracy: true,
            },
        }).addTo(map);
    }

    if(options.scale) {
        L.control.scale().addTo(map);
    }

    if(options.restore_baselayer) {
        restore_baselayer(map);
    }
    if(options.restore_mapview) {
        recover_mapview(map);
    } else {
        globalVars.overlays['OSM'].addTo(map);
    }

    if(!options.zoom_control) {
        map.removeControl(map.zoomControl);
    }
    map.invalidateSize();

    return map;
}

function save_baselayer(layername){
    {% if user.is_anonymous %}
    $.cookie("mitopo-baselayer", layername, {path: '/'});
    {% else %}
    var csrftoken = $.cookie('csrftoken');
    $.ajax({
        type: "POST",
        dataType: "json",
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFToken", csrftoken);
        },
        url: "{% url "miroutes:save_baselayer" %}",
        data: {
            baselayer: layername
        },
        success: function (data) {
            data = JSON.parse(data);
            if(data.success){
                console.log("Saved baselayer.");
            }else{
                console.log("Could not save baselayer.");
            }
        }
    });
    {% endif %}
}

function restore_baselayer(map){
    {% if request.user.userprofile.baselayer %}
    var baselayer = "{{ user.userprofile.baselayer }}";
    {% else %}
    var baselayer = $.cookie("mitopo-baselayer");
    {% endif %}
    try{
        if(baselayer) {
            globalVars.overlays[baselayer].addTo(map);
        }else{
            globalVars.overlays['OSM'].addTo(map);
        }
    }catch(err){
        console.log("Could not restore baselayer: " + err);
        globalVars.overlays['OSM'].addTo(map);
    }
}

function save_mapview(map) {
    var center = map.getCenter();
    var zoom = map.getZoom();

    {% if user.is_anonymous %}
    $.cookie("mitopo-last-map-view", JSON.stringify({
        'center': center,
        'zoom': zoom
    }), {path: '/'});
    {% else %}

    var csrftoken = $.cookie('csrftoken');
    $.ajax({
        type: "POST",
        dataType: "json",
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFToken", csrftoken);
        },
        url: "{% url "miroutes:save_mapview" %}",
        data: {
            mapview: JSON.stringify({
                center: center,
                zoom: zoom
        })},
        success: function (data) {
            data = JSON.parse(data);
            if(data.success){
                console.log("Saved user position.");
            }else{
                console.log("Could not save user position.");
            }
        }
    });
    {% endif %}
}

function recover_mapview(map) {
    {% if user.userprofile.last_map_view %}
    var view = JSON.parse("{{ user.userprofile.last_map_view|escapejs|safe }}");
    var zoom = parseInt(view.zoom);
    var center = L.latLng(view.center);
    if(zoom && center){
        map.setView(center, zoom);
    }else{
        goto_munich(map);
    }
    {% else %}
    try{
        var view_cookie = $.cookie("mitopo-last-map-view");
        view_cookie = JSON.parse(view_cookie);
        map.setView(view_cookie.center, view_cookie.zoom);
    }catch(err){
        goto_munich(map);
    }
    {% endif %}
};

function goto_munich(map){
    var MUNICH = new L.LatLng(48.137154, 11.576124);
    map.setView(MUNICH, 8);
}

function wallmap_init_base(mapdiv_id, callback) {
    var mapdiv =  $("#"+mapdiv_id);
    {% if wall.tiler %}

    {% if wall.tiler.status == 4 %}
    var map = wallmap_init_core(mapdiv_id, {
                get_img_size: {{ wall.tiler.get_img_size }},
                get_tiles_url: "{{ wall.tiler.get_tiles_url }}",
                get_tile_image_file_extension: "{{ wall.tiler.get_tile_image_file_extension }}"
    });

    // bugfix to allow to pan while drawing lines
    (function() {
	var originalOnTouch = L.Draw.Polyline.prototype._onTouch;
	L.Draw.Polyline.prototype._onTouch = function( e ) {
	    if( e.originalEvent.pointerType != 'mouse'  && e.originalEvent.pointerType != 'touch' ) {
		return originalOnTouch.call(this, e);
	    }
	}
    })();

    // in the callback function, markers and geometries can be initialized
    if(callback)
        callback(map);
    return map;

    {% else %}
    var promise = new Promise(function(resolve, reject) {

        // if we are not finished tiling, we spin :)
        mapdiv.html('<div class="tiler-status-container">' +
                    '<div class="tiler-spinner"><i class="fa fa-spinner fa-spin" style="font-size:60px;"></i></div>' +
                    '<div class="tiler-text"></div></div>');
        var intervalId = window.setInterval(function(){
            $.getJSON('{% url "edit_spot:get_tiler" pk=wall.tiler.pk %}', function (tilerobj){
                $(".tiler-text").html('{% trans "Tiling image... This may take a while." %}<br>' +
                                      '{% trans "Tiling process status" %}: ' + tilerobj.get_status_display + ', (' + tilerobj.percentage + ' %)<br>' +
                                      '{% trans "In the meantime you can" %} <a href="{% url "edit_spot:link_routes" wall_id=wall.pk %}">{% trans "link routes" %}</a>.</div></div>');
                if(tilerobj.status == 4){
                    clearInterval(intervalId);
                    mapdiv.empty();
                    resolve(tilerobj);
                }
            });

        }, 1000);
    });

    promise.then(function (tilerobj){
        var map = wallmap_init_core(mapdiv_id, tilerobj);
        // in the callback function, markers and geometries can be initialized
        if(callback)
            callback(map);
        return map;

    });
    {% endif %}
    {% else %}

        $("#"+mapdiv_id).html('Couldnt find a Tiling process, this should not happen...? Please report that to the developers');
        return;
    {% endif %}
}

function wallmap_init_core(mapdiv_id, tilerobj){
        // Map init paperworks...
        var img_dim = tilerobj.get_img_size;

        var img_dim_x = img_dim[0];
        var img_dim_y = img_dim[1];
        var xzoom     = img_dim[2];
        var yzoom     = img_dim[3];

        var maxzoom = Math.max(xzoom, yzoom);

        // we choose a default zoom level of 2 that matches either the width (approx.) or the
        // height of the container
        if(isMobile()) {
            var minzoom = 0;
        } else {
            var minzoom = 1;
        }
        var startzoom = 2;

        // global map object
        var map = L.map(mapdiv_id, {
            minZoom: minzoom,
            maxZoom: maxzoom,
            maxNativeZoom: maxzoom,
            crs: L.CRS.Simple
        });
        map.zoomControl.setPosition("topright");

        // allow for a 90% excess around the image but otherwise pan back to the borders of the image
        var excess = .9;
        var southWest = map.unproject([-excess*img_dim_x, (1+excess)*img_dim_y], map.getMaxZoom());
        var northEast = map.unproject([(1+excess)*img_dim_x, -excess*img_dim_y], map.getMaxZoom());
        var imBounds = new L.LatLngBounds(southWest, northEast);
        map.setMaxBounds(imBounds);
        map.fitBounds(imBounds);

        var wall_layer = L.tileLayer(tilerobj.get_tiles_url + '/{z}/{x}/{y}' + tilerobj.get_tile_image_file_extension, {
            minZoom: minzoom, maxZoom: maxzoom+2, maxNativeZoom: maxzoom,
            noWrap: false,
            tileSize: 256,
            continuousWorld: true,
            {% if wall.created_by %}
            attribution: '&copy; Image provided by <a href="{% url "users:user_detail" user_id=wall.created_by.id %}">{{ wall.created_by }}</a>',
            {% endif %}
        });

        wall_layer.addTo(map);

        map.setZoom(startzoom);
        map.setMaxZoom(maxzoom+2);


        return map;

}


function fixZoomTextMarkerSize(map_to_fix) {
    var MIN_STRETCH_FACTOR = .5;
    var base_sizes = globalVars.base_text_marker_sizes;

    var markers = $(".leaflet-marker-icon.text-marker");
    var mean_zoom_lvl = (map_to_fix.getMaxZoom() + map_to_fix.getMinZoom()) / 2;
    if(map_to_fix.getZoom() <= mean_zoom_lvl) {
        var stretch_factor = 1. - .3 * (mean_zoom_lvl-map_to_fix.getZoom()+1); // reduce size by 30% per zoom lvl
    } else {
        var stretch_factor = 1;
    }
    stretch_factor = Math.max(MIN_STRETCH_FACTOR, stretch_factor);

    markers.each(function (index, marker){
        marker.style['width']  = (base_sizes[0]*stretch_factor)+"px";
        marker.style['height'] = (base_sizes[1]*stretch_factor)+"px";
        marker.style['font-size'] = stretch_factor**1.1*100+"%";
    });
}

function fixZoomRouteLabelSize(map_to_fix) {

    $.each(globalVars.routelabels, function(){
        var mean_zoom_lvl = (map_to_fix.getMaxZoom() + map_to_fix.getMinZoom()) / 2;
        if(map_to_fix.getZoom() <= mean_zoom_lvl) {
            this[0].setIcon(this[1]);
        } else {
            this[0].setIcon(this[2]);
        }
    });
}

function fixZoomPolylineWidth(map_to_fix) {
    var currentZoom = map_to_fix.getZoom();
    $(".route-geom-polyline").css("stroke-width", 5 + Math.pow(1.5, currentZoom));
}

function fixZoomDrawRouteMarkersSize(map_to_fix) {
    var currentZoom = map_to_fix.getZoom();
    var edit_icon_width = 4 * currentZoom;
    $(".leaflet-editing-icon").css("width", edit_icon_width)
            .css("height", edit_icon_width)
            .css("border-radius", "50%")
            .css("margin-left", edit_icon_width / -2)
            .css("margin-top", edit_icon_width / -2);
}


function addRoutelabel(anchorpoint, label){

    var icon_size = new L.Point(20, 20);

    var myIcon = L.divIcon({
                iconSize: icon_size,
                html: label
            });
    var routelabel = L.marker(anchorpoint, {
        icon: myIcon,
    });

    routelabel.label = label;

    return routelabel;

}

function getRouteLabelIcon(iconSize, iconText){
    return L.divIcon({
        iconSize: iconSize,
        html: iconText,
        className: 'route-label text-center',   // Set class for CSS styling
        iconAnchor: [iconSize.x/2, 0],
    });
}

function addRoutelabelWithGrade(anchorpoint, label, grade_string){

    var bigIconSize = getRouteLabelSize(grade_string);
    var bigIcon = getRouteLabelIcon(
        bigIconSize,
        label + "<br><span class='route-label-grade'>" + grade_string + "</span>");

    var smallIconSize = new L.Point(20, 20);

    var smallIcon = L.divIcon({
                iconSize: smallIconSize,
                html: label
            });

    // let us put small icon by default
    var marker = L.marker(anchorpoint, {
        icon: smallIcon});

    marker.label = label;

    // store icons and marker for later use (zoom!) in array
    if(typeof(globalVars.routelabels) === 'undefined')
        globalVars.routelabels = [];
    globalVars.routelabels.push([marker, smallIcon, bigIcon]);

    return marker;

}

function getRouteLabelSize(grade_string){
    grade_string = $.trim(grade_string);
    var icon_size = new L.Point(30, 40);
    if(grade_string.length === 4 || grade_string.length === 5)
        icon_size = new L.Point(40, 40);
    else if(grade_string.length > 5)
        icon_size = new L.Point(50, 40);
    return icon_size;
}

function latlngToPoint(latlng){
    return 'POINT('+latlng.lat+' '+latlng.lng+')';
}

function newMarker(latlng, icon_config, iactive){
    var icon = L.icon(icon_config);
    return new L.marker(latlng, {
        icon: icon,
        interactive: iactive
    });
}

function newLabelMarker(latlng, icon_config, text, iactive){

    var idiv = $('<div>');
    idiv.append($('<div>', {
        class: "label label-info",
        text: text,
    }));
    // move img into div because IE applies some padding otherwise
    idiv.append($('<div>').append($('<img>', {
            width: icon_config.iconSize[0],
            height: icon_config.iconSize[1],
            src: icon_config.iconUrl,
    })));

    icon_config.html = idiv.html();
    icon_config.className = 'label-marker';
    icon_config.iconAnchor[1] += 15;  // FJ: put the anchor a bit down, I guess this is because the label offsets it a bit but I am not sure...
    var marker = L.marker(latlng, {
        icon: L.divIcon(icon_config),
        interactive: iactive
    });
    return marker
}

function newTextMarker(latlng, text, iactive){
    // The size is hardcoded here to the globalvars :(
    // I currently dont know how to circumvent that. Would be nicer to attach it to the object? But then how to retrieve it just from the DOM Element?
    globalVars.base_text_marker_sizes = [50, 40];
    var marker = L.marker(latlng, {
        icon: L.divIcon({
            className: 'text-marker',   // Set class for CSS styling
            html: text,
            iconSize: globalVars.base_text_marker_sizes,
            iconAnchor: [0, 0]
        }),
        interactive: iactive
    });
    return marker
}

function on_mouseover_marker(e){
    var marker = e.target;
    var popup = marker.getPopup();
    marker.openPopup();
    populate_popup(marker.options.popup_url, popup);
}

function populate_popup_default(url, popup){
    var container = $("<div id='popup_container_"+popup._leaflet_id+"'>");
    var marker = popup._source;

    container.load(url, function (text, statusText) {
        if (statusText === "success") {
            popup.setContent(container[0]);
            marker.content_loaded = true;
            popup.update();
            run_popup_js_code(popup);
        }
        else if(statusText === "error"){
            setTimeout( function() { // make a delay here because there seems to be race condition between content loading and page load of clicked wall
                popup.setContent('Error loading '+url+' :'+text);
                popup.update();
            }, 3000);
        }
    });

};

function async_load_popup_content(marker, options) {
    if (! marker.content_loaded) {
        if (options.populate_popup_callback) {
            // if a callback is specified, we call this with the popup as a parameter
            // to fill the content of the popup
            options.populate_popup_callback(options.popup_ajax_url, marker.getPopup());
            marker.content_loaded = true;
        } else if (options.popup_ajax_url) {
            populate_popup_default(options.popup_ajax_url, marker.getPopup());
        }
    }
    marker.getPopup().update();
    run_popup_js_code(marker.getPopup());
}

function run_popup_js_code(popup) {
    var content = popup.getContent();
    if(content.getElementsByClassName) {
        //setTimeout( function() { // have to wait a little until dom is ready
            var scripts = content.getElementsByClassName('popup_js_code');
            for (var i = 0; i < scripts.length; i++) {
                var s = scripts[i].innerHTML;
                eval(s);
            }
        //}, 200);
    }
}

function create_marker(latlng, options){
    /* This is the swiss army tool for marker creation.
    Can create markers with static and ajax content and handles
    default events (click and mouseover).
    Args:
        latlng (L.LatLng): coordinates of marker creation.
        options:
            icon_config: config object for leaflet icon.
            popup_content: static popup content. If given, overwrites all
                dynamic parameters.
            popup_ajax_url: url to fetch content via ajax.
            populate_popup_callback: function to populate the popup.
                Used to handle forms in popups etc.
                Is given the popup object as a parameter.
            on_click_url: URL to visit on marker click.
            open_popup_on_mouseover: Whether the popup should open on mouseover,
            marker_text: Replace the icon by a text box. If given, this text has precedence
                over icon_config.
            relocate_url: Url to be ajaxed when the marker is dragged to a new position.
    Returns:
        a marker object.
    */
    var defaults = {
        icon_config: {},
        popup_content: null,
        popup_ajax_url: null,
        populate_popup_callback: null,
        on_click_url: null,
        open_popup_on_mouseover: false,
        marker_text: null,
        label_text: null,
        relocate_url: null,
        interactive: false
    };
    options = $.extend(defaults, options);

    // do we have a popup?
    var has_popup = false;
    if(options.popup_content || options.populate_popup_callback || options.popup_ajax_url)
        has_popup = true;

    // we are interactive if we have a popup or are clickable.
    // then we show a "hand" when hovered
    var interactive = has_popup || options.on_click_url;
    // override (for location select)
    if (options.interactive)
        interactive = true;

    if(options.marker_text){
        var marker = newTextMarker(latlng, options.marker_text, interactive);
    }else if(options.label_text) {
        var marker = newLabelMarker(latlng, options.icon_config, options.label_text, interactive);
    }else {
        var marker = newMarker(latlng, options.icon_config, interactive);
    }

    // set initial popup content or placeholders for async content update
    if(options.popup_content){
        // if popup content is given, we just set and done
        marker.bindPopup(options.popup_content);
        marker.content_loaded = true;
    }else if(options.populate_popup_callback){
        // if a callback is specified, we call this with the popup as a parameter
        // to fill the content of the popup
        marker.bindPopup("This should be replaced by the callback function.");
        marker.content_loaded = false;
    }else if(options.popup_ajax_url){
        marker.bindPopup("<div class=\"loader\"></div>");
        marker.content_loaded = false;
    }

    if(has_popup){
        marker.on('preclick', function (e) {
            var marker = e.target;
            //async_load_popup_content(marker, options);
            if(marker.getPopup().isOpen()){
                if(options.on_click_url){
                    window.location.href = options.on_click_url;
                    // Here, we continually check if the popup is fully loaded... this should really be done with a promise... TODO: Al go for it!
                    var func_checking_loaded = setInterval(function(){
                        if(marker.content_loaded===true) {
                            clearInterval(func_checking_loaded);
                            var clickables = marker.getPopup().getContent().getElementsByClassName("clickable-popup");
                            if(clickables) { clickables[0].click(); }
                        }
                    }, 50);
                }
            } else {
                marker.openPopup();
            }
        });

        marker.on('click', function (e) {
            var marker = e.target;
            marker.openPopup();
            marker.update();
        });

        marker.on('popupopen', function (e) {
            var marker = e.target;
            async_load_popup_content(marker, options);
            marker.update();
        });

        if(options.open_popup_on_mouseover){
                        // 100 ms delay before popup is loaded due to mouseover...
                        // this prevents the popup to be loaded on mobile devices before we check in preclick what should happen...
                        var delay = 100;
                        var myTimeout;
                        marker.on('mouseover', function (e) {
                                myTimeout = setTimeout(function() {
                                        //async_load_popup_content(marker, options);
                                        marker.openPopup();
                                }, delay);
                        });
                        marker.on('mouseout', function () {
                                clearTimeout(myTimeout);
                        });
         }


        } else if(options.on_click_url){
                marker.on('click', function (e) {
                        window.location.href = options.on_click_url;
                });
        }


    if(options.relocate_url){
        marker.options.draggable = true;
        marker.on('dragend', (function (relocate_url) {
            return function (e) {
                //var posturl = replace_latlngs(relocate_url, e.target.getLatLng());
                console.log("Original ", {
                    lat: e.target.getLatLng().lat,
                    lng: e.target.getLatLng().lng
                });
                console.log("Projection ", window.map.project({
                    lat: e.target.getLatLng().lat,
                    lng: e.target.getLatLng().lng
                }));
                console.log("URL: ", relocate_url);

                verboseJsonAjax({
                    url: relocate_url,
                    data: {lat: e.target.getLatLng().lat, lng: e.target.getLatLng().lng},
                });
            };
        })(options.relocate_url));
    }

    return marker;

}


function create_marker_from_json(json_string, overwrite_fields){
    /* Convenience function to create a marker from a package of model properties.
       See generic_markers/models.py for documentation.
    */
    if(typeof(overwrite_fields) == 'undefined'){
        var overwrite_fields = {};
    }
    var defaults = JSON.parse(json_string);
    var json_data = $.extend(defaults, overwrite_fields);

    return create_marker(json_data.point, {
        'icon_config': json_data.icon_config,
        'popup_ajax_url': json_data.popup_url,
        'on_click_url': json_data.click_url,
        'open_popup_on_mouseover': json_data.popup_on_hover,
        'label_text': json_data.label_text,
        'marker_text': json_data.marker_text,
        'relocate_url': json_data.relocate_url,
        'popup_content': json_data.popup_content,
        'populate_popup_callback': json_data.populate_popup_callback,
        'interactive': json_data.interactive
    });

}

function latlng_from_geom(geom){
    /*
      Take geom, return a leaflet LatLng object.
    */
    return L.latLng([
        geom.coordinates[1],
        geom.coordinates[0]]);
    }

function add_latlngs(urlstring, latlng){
    /*
      Replace the placeholders in the URL templates for marker additions.
    */
    return urlstring+"?lat="+latlng.lat+"&lng="+latlng.lng;

}

function add_markers(map, options){
    /*
      Obtain a JSON list of marker JSONs (JSON in JSON, yes) via ajax
      and add them to featuregroup.

      Args:
          fgroup: required, featureGroup object to add the markers to.
          url: required, url to fetch the markers from.
          show: show markers on init.
          zoom_lvl: show markers above this zoom level.
          layerlabel: create a layerctrl overlay with this label.
    */
    var defaults = {
        show: true,
        zoom_lvl: null,
        layerctrl: null,
        layerlabel: null,
    };
    options = $.extend(defaults, options);

    // note that we use a closure here to store the map
    // object in the JSON handler
    // this is neccessary for publish wall template that hosts *two* maps
    return $.getJSON(options.url, (function (mymap){
        return function (response){
            var marker_data = JSON.parse(unescape(response));
            $.each(marker_data, function (index, marker_json){
                options.fgroup.addLayer(
                    create_marker_from_json(marker_json)
                )
            });
            if(options.fgroup.getLayers().length > 0){
                if(options.show){
                    mymap.addLayer(options.fgroup);
                }
                if(options.zoom_lvl == Number(options.zoom_lvl)){
                    set_show_zoom_lvl(map, options.fgroup, {
                        zoom_lvl: options.zoom_lvl
                    });
                }
                if(options.layerlabel){
                    options.layerctrl.addOverlay(options.fgroup, options.layerlabel);
                }
            }

        }
    })(map));

}


function set_show_zoom_lvl(map, featureGroup, options){
    /*
      Set a zoom lvl so that a featureGroup is removed from the map when
      zooming *below* this zoom level.
      Can be set relative to max_zoom or absolutely.

      Attrs:
          featureGroup: leaflet featureGroup
          options: options object with
              zoom_lvl (int): integer specifying the zoom level
              wrt_maxzoom (bool=false): whether zoom_lvl is measured from 0 (false) or from maxzoom (true).
    */
    if(options.wrt_maxzoom){
        var zoom_lvl = map.getMaxZoom() - options.zoom_lvl;
    }else{
        var zoom_lvl = options.zoom_lvl;
    }

    if(map.getZoom() >= zoom_lvl) {
        map.addLayer(featureGroup);
    } else if(map.getZoom() < zoom_lvl) {
        map.removeLayer(featureGroup);
    }

    map.on('zoomend', (function (fgroup) {
        return function (e) {
          if(!window.manual_marker_visibility){
            if(map.getZoom() >= zoom_lvl) {
                map.addLayer(fgroup);
                fixZoomTextMarkerSize(map);
            } else if(map.getZoom() < zoom_lvl) {
                map.removeLayer(fgroup);
            }
          }
        };
    })(featureGroup));
}

function add_overlay(layerctrl, fgroup, label){
    if(fgroup.getLayers().length > 0){
        layerctrl.addOverlay(fgroup, label);
    }
    if(layerctrl._layers.length > 0 && typeof(layerctrl._map) == 'undefined'){
        // we add the layerctrl to the map if neccessary
        layerctrl.addTo(map);
    }
}


function fit_bounds(markers, fallback){
    if(typeof(fallback) == 'undefined'){
        var fallback = {
            latlng: [48.137154, 11.576124],
            zoom_lvl: 10
        }
    }
    var bounds_fitted = false;

    $(document).ajaxComplete(function (){
        if (!bounds_fitted){
            try {
                map.fitBounds(markers.getBounds());
                bounds_fitted = true;
            }
            catch(err) {
                console.log('Can not fit bounds. No markers present?');
                map.setView(fallback.latlng, fallback.zoom_lvl);
            }
        }
    });
}

function toggle_locate_marker(urlstring, callback){
    /*
      Locate a simple marker, i.e., a marker that requires no form to create
      on a map. Suitable for parkings, bolts, belays.
      Intended to be used in a "togglish" way, that is, removes other on-click
      event handlers for the map object and adds his own.

      Args:
          urlstring (string): URL to obtain the marker json via ajax.
          callback (function): callback function to populate the popup after the
              marker is created. Is given two arguments: url and popup, see populate_popup_default
              in leaflet_base template.
    */
    window.map.off('click');
    window.map.on('click', function (e) {
        if(typeof(newly_created_marker) !== 'undefined'){
            newly_created_marker.removeFrom(map);
            delete newly_created_marker;
        }

        console.log("Original ", {
                lat: e.latlng.lat,
                lng: e.latlng.lng
        });
        console.log("Projection ", window.map.project({
                lat: e.latlng.lat,
                lng: e.latlng.lng
        }));

        verboseJsonAjax({
            url: urlstring,
            data: {
                lat: e.latlng.lat,
                lng: e.latlng.lng
            },
            success: function (response){
                response = JSON.parse(response);
                var marker = create_marker_from_json(unescape(response.data), {
                    populate_popup_callback: callback,
                });

                marker.addTo(map);
            }
        });

    });
    $('.leaflet-container').css('cursor','crosshair');

}

</script>
