@font-face {
  font-family: 'Grandstander-clean-font';
  src: url('../fonts/Grandstander-clean.otf?rg00ro') format('otf'),
       url('../fonts/Grandstander-clean.ttf?rg00ro') format('truetype');
  font-weight: normal;
  font-style: normal;
}
