@font-face {
  font-family: 'mitopo-font';
  src:  url('../fonts/mitopo-font.eot?rg00ro#iefix') format('embedded-opentype'),
      url('../fonts/mitopo-font.ttf?rg00ro') format('truetype'),
      url('../fonts/mitopo-font.woff?rg00ro') format('woff'),
      url('../fonts/mitopo-font.svg?rg00ro#mitopo-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mitopo-"], [class*=" mitopo-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'mitopo-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
//  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mitopo-wall:before {
  content: "\e900";
}
.mitopo-icon:before {
  content: "\e901";
}
.mitopo-hamburger:before {
  content: "\e902";
}
.mitopo-route:before {
  content: "\e903";
}
